.message-center {
    top: 25%;
}
.message-header {
    color: #fff;
    padding: 0px 5px 0px 5px;
    border-bottom: 1px solid #eee;
    background-color: #428bca;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.message-title {
    font-weight: 700 !important;
    margin-left: 5px;
    font-size: 15px;
    line-height: 2.0;
}
.message-body {
    padding: 15px;
}
.message-footer {
    padding: 10px 15px;
    border-bottom-right-radius: 3px;
}
/*.panel-body {
    padding-bottom: 0;
    padding-top: 0;
}*/

.message-footer {
    text-align: right;
}


