<style>
    .ui-select-match-close{
        background-image:none;
    }
    .mt-checkbox {
        margin-bottom: 0px !important;
    }
</style>
<div id="detailDocument">
    <div class="table-toolbar">
        <div class="row">
            <div class="col-md-5">
                <h1>{{'DID_TITLE_INFO_DOC' | translate}}</h1>
                <ul class="breadcrumb-title">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="#">{{'DID_LINK_HOME' | translate}}</a>
                        <span>&gt;</span>
                    </li>
                    <!--<li>
                        <a href="#/customer">Vào sổ văn bản</a>
                        <span>&gt;</span>
                    </li>-->
                    <li>
                        <div href="#/customer">{{'DID_LINK_INFO_DOC' | translate}}</div>
                    </li>
                </ul>
            </div>
            <div class="col-md-7">
                <div class="btn-group pull-right actions">
                    <a ng-click="cancel()" class="btn btn-default br4">
                        <span class=""><i class="fa fa-arrow-left"></i>&nbsp;{{'' | translate}}Quay lại</span>
                    </a>
                    <a ng-click="moveDocument()" class="btn btn-green br4">
                        <span><i class="fas fa-retweet"></i>&nbsp;{{'DID_DETAIL_BTN_MOVE_DOC' | translate}} </span>
                    </a>
                    <a ng-click="edit()" class="btn btn-print br4">
                        <span><i class="fas fa-sync-alt"></i>&nbsp;{{'DID_DETAIL_BTN_EDIT' | translate}} </span>
                    </a>
                    <a ng-click="delete()" class="btn btn-red br4">
                        <span><i class="fa fa-print"></i>&nbsp;{{'' | translate}} Xóa</span>
                    </a>
                    <a ng-click="print('detailDocument')" class="btn btn-print br4">
                        <span><i class="fa fa-print"></i>&nbsp;{{'DID_DETAIL_BTN_PRINT' | translate}} </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <h1 style="margin-bottom:-10px"><b>{{'DID_DETAIL_LBL_PUBLIC_DOC' | translate}}</b></h1>
    </div>
    <hr>
    <div class="col-md-12 mb10">
        <h2><u><b>{{'DID_DETAIL_LBL_INFO_DOC' | translate}}</b></u></h2>
    </div>
    <div class="col-md-12">
        <div class="col-md-4">
            <div class="form-group">
                <b class=" require">{{'DID_DETAIL_LBL_DOC_NAME' | translate}}:</b><span>&nbsp;{{model.DocumentName}}</span>
            </div>
            <div class="form-group">
                <b class="require">{{'DID_DETAIL_LBL_DOC_SYMBOL' | translate}}:</b><span>&nbsp;{{model.DocumentSymbol}}</span>
            </div>
            <div class="form-group">
                <b class="">{{'DID_DETAIL_LBL_DOC_FROM_DATE' | translate}}:</b><span>&nbsp;{{model.FromDate | date:'dd/MM/yyyy'}}</span>
            </div>
            <div class="form-group">
                <b class="">{{'DID_DETAIL_LBL_DOC_NOTE' | translate}}:</b><span>&nbsp;{{model.Note}}</span>
            </div>
            <div class="form-group">
                <b class="">{{'DID_DETAIL_LBL_DOC_ZONE' | translate}}:</b><span>&nbsp;{{model.DocumentZone}}</span>
            </div>
            <div class="form-group">
                <b class="">{{'DID_DETAIL_LBL_DOC_SIGNUSER' | translate}}:</b><span>&nbsp;{{model.SignUser}}</span>
            </div>
            <div class="form-group">
                <b class="">{{'DID_DETAIL_LBL_DOC_CONFIDENTIALITY' | translate}}:</b><span>&nbsp;{{model.Confidentiality}}</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <b class=" require">{{'DID_DETAIL_LBL_DOC_NUMBER' | translate}}: {{model.DocumentNumber}}</b>
            </div>
            <div class="form-group">
                <b class=" ">{{'DID_DETAIL_LBL_DOC_ORIGANIZATION' | translate}}: {{model.Origanization}}</b>
            </div>
            <div class="form-group">
                <b class="">{{'DID_DETAIL_LBL_DOC_PROMULGATEDATE' | translate}}:</b><span>&nbsp;{{model.PromulgateDate | date:'dd/MM/yyyy'}}</span>
            </div>

            <div class="form-group">
                <b class="">{{'DID_DETAIL_LBL_DOC_TYPE' | translate}}:</b><span>&nbsp;{{model.DocumentType}}</span>
            </div>
            <div class="form-group">
                <b class="">{{'DID_DETAIL_LBL_DOC_POSITION' | translate}}:</b><span>&nbsp;{{model.Position}}</span>
            </div>
            <div class="form-group">
                <b class="">{{'DID_DETAIL_LBL_DOC_GET_METHOD' | translate}}:</b><span>&nbsp;{{model.GetMothod}}</span>
            </div>
            <div class="form-group">
                <b class="">{{'DID_DETAIL_LBL_DOC_UNIT_EDITOR' | translate}}:</b><span>&nbsp;{{model.UnitEditor}}</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <b class="">{{'DID_DETAIL_LBL_DOC_CREATE_BY' | translate}}:</b><span>&nbsp;{{model.CreatedBy}}</span>
            </div>
            <div class="form-group">
                <b class="">{{'DID_DETAIL_LBL_DOC_REPLY' | translate}}:</b>
            </div>
            <div class="form-group">
                <b class="">{{'DID_DETAIL_LBL_DOC_IS_REPLY' | translate}}:</b><span>&nbsp;{{model.IsReply==true?"Có":"Không"}}</span>
            </div>
            <div class="form-group">
                <b class="">{{'DID_DETAIL_LBL_DOC_EXPERIED_REPLY' | translate}}:</b><span>&nbsp;{{model.ExperiedReply | date:'dd/MM/yyyy'}}</span>
            </div>
            <div class="form-group">
                <b class="">{{'DID_DETAIL_LBL_DOC_IS_PROCES' | translate}}</b><span>&nbsp;{{model.IsProcess==true?"Có":"Không"}}</span>
            </div>
            <div class="form-group">
                <b class="">{{'DID_DETAIL_LBL_DOC_REPLY_STATUS' | translate}}:</b><span>&nbsp;{{model.ReplyStatus}}</span>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <hr />
    </div>
    <div class="col-md-12">
        <h2><u><b>{{'DID_DETAIL_LBL_DOC_ATTACHMENTS' | translate}}</b></u></h2>
        <div class="col-lg-offset-3 col-md-9">
            <a>AA.txt</a>
        </div>
    </div>

    <div class="col-md-12">
        <h2><u><b>{{'DID_DETAIL_LBL_DOC_COMMENT' | translate}}</b></u></h2>
        <div class="col-lg-offset-3 col-md-9">
            <label>{{'DID_DETAIL_TITLE_DOC_NO_COMMENT' | translate}}</label>
        </div>
    </div>
    <div class="col-md-12">
        <h2><u><b>{{'DID_DETAIL_LBL_DOC_PROCESSING' | translate}}</b></u></h2>
        <div class="col-lg-offset-3 col-md-9">
            <label>{{'DID_DETAIL_TITLE_DOC_NO_PROCESS' | translate}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <h2><u><b>{{'DID_DETAIL_LBL_DOC_SEND_PROCESS' | translate}}</b></u></h2>
            </div>
            <div class="col-md-12 pb20">
                <div class="col-md-3">
                    <h2><b>{{'DID_DETAIL_LBL_DOC_COMMENT_PROCESS' | translate}}</b></h2>
                </div>
                <div class="col-md-9">
                    <textarea rows="3" class="form-control" ng-model="model1.Comment" type="text" placeholder="{{'DID_DETAIL_TXT_DOC_COMMENT_PROCESS' | translate}}..." autocomplete="off"></textarea>
                </div>
            </div>
            <div class="col-md-12 pb20">
                <div class="col-md-3">
                    <h2><b>{{'DID_DETAIL_LBL_DOC_USER_PROCESS' | translate}}</b></h2>
                </div>
                <div class="col-md-9">
                    <div class="col-md-12 pt15" style="border:1px solid #ccc;border-radius:4px">
                        <div class="row">
                            <div class="col-md-12">
                                <i>{{'DID_DETAIL_LBL_DOC_USER_IN_GROUP' | translate}}</i>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12 pb10" ng-show="UserInGroupData.length !=0">
                                <div class="col-md-6" ng-repeat="x in UserInGroupData">
                                    <div class="mt-checkbox-list pb-0 mb-0">
                                        <label class="mt-checkbox mt-checkbox-outline ">
                                            {{x.Name}}
                                            <input type="checkbox" id="UserInGroup_{{x.Id}}" ng-model="x.Selected">
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" ng-show="UserInGroupData.length ==0" style="padding: 10px 0px 10px 30px;">
                                <span class="text-danger">{{'DID_DETAIL_LBL_DOC_NO_USER_IN_GROUP' | translate}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <i>{{'DID_DETAIL_LBL_DOC_OTHER_USER_GROUP' | translate}}</i>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12 pb15">
                                <div class="col-md-6" ng-repeat="x in AllDepartment">
                                    <div class="mt-checkbox-list pb-0 mb-0">
                                        <label class="mt-checkbox mt-checkbox-outline ">
                                            {{x.Title}}
                                            <input type="checkbox" id="chkCustomer_{{x.GroupUserId}}" ng-model="x.Selected">
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 pb20">
                <div class="col-md-3">
                    <h2><b>{{'DID_DETAIL_LBL_DOC_REASION' | translate}}</b></h2>
                </div>
                <div class="col-md-9">
                    <textarea rows="3" class="form-control" ng-model="model1.Reason" type="text" placeholder="{{'DID_DETAIL_TXT_DOC_REASION' | translate}}..." autocomplete="off"></textarea>
                </div>
            </div>
            <div class="col-md-12 ">
                <div class="col-md-3">
                    <h2><b>{{'DID_DETAIL_LBL_DOC_DEADLINE' | translate}}</b></h2>
                </div>
                <div class="col-md-9">
                    <div class="input-group">
                        <input ng-model="model1.DeadLine" class="form-control" type="text" placeholder="{{'DID_DETAIL_TXT_DOC_DEADLINE' | translate}}..." id='DeadLine'/>
                        <span class="input-group-btn">
                            <button type="button" ng-click="model1.DeadLine=''" class="btn btn-default no-shadow">
                                <span class="fa fa-calendar"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <h2><u><b>{{'DID_DETAIL_LBL_DOC_LIST_COORDINATE' | translate}}</b></u></h2>
            </div>
            <div class="col-md-12 pb20">
                <div class="col-md-3">
                    <h2><b>{{'DID_DETAIL_LBL_DOC_COORDINATE' | translate}}</b></h2>
                </div>
                <div class="col-md-9">
                    <ui-select ng-model="model1.Coordinate" multiple theme="bootstrap" class="" style="width: 100%;">
                        <ui-select-match placeholder="{{'DID_DETAIL_TXT_DOC_COORDINATE' | translate}}...">{{$item.GivenName}}</ui-select-match>
                        <ui-select-choices repeat="x.Id as x in UserData | filter:$select.search">
                            {{x.GivenName}} 
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <h2><u><b>D{{'DID_DETAIL_LBL_DOC_LIST_RECEIVED' | translate}}</b></u></h2>
            </div>
            <div class="col-md-12 pb20">
                <div class="col-md-3">
                    <h2><b>{{'DID_DETAIL_LBL_DOC_RECEIVED' | translate}}</b></h2>
                </div>
                <div class="col-md-9">
                    <ui-select ng-model="model1.Received" multiple theme="bootstrap" class="" style="width: 100%;">
                        <ui-select-match placeholder="{{'DID_DETAIL_TXT_DOC_RECEIVED' | translate}}...">{{$item.GivenName}}</ui-select-match>
                        <ui-select-choices repeat="  x.Id as x in UserData | filter:$select.search">
                            {{x.GivenName}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
    </div>
</div>
