<div class="table-toolbar">
    <div class="row">
        <div class="col-md-4 ">
            <h1 class="bold mb-0">{{'DID_LBL_DID' | translate}}</h1>
            <ul class="breadcrumb-title">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="/">{{'DID_LINK_HOME' | translate}}</a>
                    <span>&gt;</span>
                </li>
                <li>
                    <a href="#">{{'DID_LINK_DID' | translate}}</a>
                    <span>&gt;</span>
                </li>
                <li>
                    <div>{{'DID_LINK_NUMBER_DOC' | translate}}</div>
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <div class="btn-group pull-right actions">
                <a ng-click="add()" class="btn btn-red br4">
                    <span class=""><i class="fa fa-plus"></i>&nbsp;{{'COM_BTN_ADD' | translate}}</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row pt10 mb15">
        <div class="col-md-3">
            <label class="control-label">{{'DID_CURD_LBL_DOCUMENT_NUMBER' | translate}}Số đến</label>
            <div class="input-group">
                <input ng-model="Modelsearch.Number" id="DocumentNumber" class="form-control" type="text" placeholder="{{'DID_CURD_TXT_DOCUMENT_NUMBER' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" onkeypress="return ((event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode == 8 || event.charCode == 32 || (event.charCode >= 48 && event.charCode <= 57));" />
                <span class="input-group-btn">
                    <button type="button" ng-click="Modelsearch.Number=''" class="btn btn-default no-shadow">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <label class="control-label">{{'DID_LBL_SEARCH_FROM_DATE' | translate}}</label>
            <div class="input-group">
                <input ng-model="Modelsearch.FromDate" class="form-control" type="text" placeholder="{{'DID_TXT_SEARCH_FROM_DATE' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" id="FromTo" autocomplete="off" />
                <span class="input-group-btn">
                    <button type="button" ng-click="Modelsearch.FromDate=''" class="btn btn-default no-shadow start-date">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <label class="control-label">{{'DID_LBL_SEARCH_TO_DATE' | translate}}</label>
            <div class="input-group">
                <input ng-model="Modelsearch.ToDate" class="form-control" type="text" placeholder="{{'DID_TXT_SEARCH_TO_DATE' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" id="DateTo" autocomplete="off" />
                <span class="input-group-btn">
                    <button type="button" ng-click="Modelsearch.ToDate=''" class="btn btn-default no-shadow end-date">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <label class="control-label">{{'DID_CURD_LBL_ORIGANIZATION' | translate}}</label>
            <div class="input-group">
                <input ng-model="Modelsearch.Origanization" class="form-control" type="text" placeholder="{{'DID_CURD_TXT_ORIGANIZATION' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                <span class="input-group-btn">
                    <button type="button" ng-click="Modelsearch.Origanization=''" class="btn btn-default no-shadow">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <label class="control-label">{{'DID_CURD_LBL_HEADER_DOCUMENT_SYMBOL' | translate}}</label>
            <div class="input-group">
                <input ng-model="Modelsearch.DocumentSymbol" class="form-control" type="text" placeholder="{{'DID_CURD_TXT_HEADER_DOCUMENT_SYMBOL' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                <span class="input-group-btn">
                    <button type="button" ng-click="Modelsearch.DocumentSymbol=''" class="btn btn-default no-shadow">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <label class="control-label">{{'DID_LBL_SEARCH_CREATED_TIME_FROM' | translate}}</label>
            <div class="input-group">
                <input ng-model="Modelsearch.CreatedTimeFrom" class="form-control" type="text" placeholder="{{'DID_TXT_SEARCH_CREATED_TIME_FROM' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" id="CreatedTimeFrom" autocomplete="off" />
                <span class="input-group-btn">
                    <button type="button" ng-click="Modelsearch.CreatedTimeFrom=''" class="btn btn-default no-shadow CreatedTime-From">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <label class="control-label">{{'DID_LBL_SEARCH_CREATED_TIME_TO' | translate}}</label>
            <div class="input-group">
                <input ng-model="Modelsearch.CreatedTimeTo" class="form-control" type="text" placeholder="{{'DID_TXT_SEARCH_CREATED_TIME_TO' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" id="CreatedTimeTo" autocomplete="off" />
                <span class="input-group-btn">
                    <button type="button" ng-click="Modelsearch.CreatedTimeTo=''" class="btn btn-default no-shadow CreatedTime-To">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <label class="control-label">{{'DID_CURD_LBL_NOTE' | translate}}</label>
            <div class="input-group">
                <input ng-model="Modelsearch.Note" class="form-control" type="text" placeholder="{{'DID_CURD_TXT_NOTE' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                <span class="input-group-btn">
                    <button type="button" ng-click="Modelsearch.Note=''" class="btn btn-default no-shadow">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <label class="control-label">T{{'DID_LBL_SEARCH_STATUS' | translate}}</label>
            <div class="input-group">
                <ui-select tagging ng-model="Modelsearch.Status" theme="bootstrap">
                    <ui-select-match placeholder="{{'DID_TXT_SEARCH_STATUS' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                    <ui-select-choices repeat="x.Code as x in Status | filter: $select.search">
                        {{x.Name}}
                    </ui-select-choices>
                </ui-select>
                <span class="input-group-btn">
                    <button type="button" ng-click="Modelsearch.Status=''" class="btn btn-default no-shadow">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <label class="control-label">{{'DID_LBL_SEARCH_YEAR' | translate}}</label>
            <div class="input-group">
                <ui-select tagging ng-model="Modelsearch.Year" theme="bootstrap">
                    <ui-select-match placeholder="{{'DID_COMBO_SEARCH_YEAR' | translate}}...">{{$select.selected}}</ui-select-match>
                    <ui-select-choices repeat="x as x in ListYearData | filter: $select.search">
                        {{x}}
                    </ui-select-choices>
                </ui-select>
                <span class="input-group-btn">
                    <button type="button" ng-click="Modelsearch.Year=''" class="btn btn-default no-shadow">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-3" style="padding-top:24px">
            <a ng-click="search()" class="btn btn-accent br4">
                <span class=""><i class="fa fa-search"></i> {{'COM_BTN_SEARCH' | translate}}</span>
            </a>
        </div>
        <!--<div class="col-md-3">
            <label class="control-label">Sổ/Ký hiệu</label>
            <div class="input-group">
                <input ng-model="model.DocumentSymbol" class="form-control" type="text" placeholder="Sổ/Ký hiệu..." ng-keydown="($event.keyCode == 13) && reload()" />
                <span class="input-group-btn">
                    <button type="button" ng-click="model.DocumentSymbol=''" class="btn btn-default no-shadow">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <label class="control-label">Từ ngày</label>
            <div class="input-group">
                <input ng-model="model.FromDate" class="form-control" type="text" placeholder="Từ ngày..." ng-keydown="($event.keyCode == 13) && reload()" autocomplete="off" id="FromDate" />
                <span class="input-group-btn">
                    <button type="button" ng-click="model.FromDate=''" class="btn btn-default no-shadow start-date">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <label class="control-label">Đến ngày</label>
            <div class="input-group">
                <input ng-model="model.ToDate" class="form-control" type="text" placeholder="Đến ngày..." ng-keydown="($event.keyCode == 13) && reload()" autocomplete="off" id="ToDate" />
                <span class="input-group-btn">
                    <button type="button" ng-click="model.ToDate=''" class="btn btn-default no-shadow end-date">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <label class="control-label">Người ký</label>
            <div class="input-group">
                <input ng-model="model.SignUser" class="form-control" type="text" placeholder="Người ký..." ng-keydown="($event.keyCode == 13) && reload()" />
                <span class="input-group-btn">
                    <button type="button" ng-click="model.SignUser=''" class="btn btn-default no-shadow">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <label class="control-label">Người soạn thảo</label>
            <div class="input-group">
                <ui-select tagging ng-model="model.CreatedUser" theme="bootstrap">
                    <ui-select-match placeholder="Người soạn thảo...">{{$select.selected.GivenName}}</ui-select-match>
                    <ui-select-choices repeat="x.Id as x in ListUserData | filter: $select.search">
                        {{x.GivenName}}
                    </ui-select-choices>
                </ui-select>
                <span class="input-group-btn">
                    <button type="button" ng-click="model.CreatedUser=''" class="btn btn-default no-shadow">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div>
        </div>-->
        <!--<div class="col-md-3">
            <label class="control-label">Hạn trả lời</label>
            <div class="input-group">
                <input ng-model="model.ExperiedReply" class="form-control" type="text" placeholder="Hạn trả lời..." ng-keydown="($event.keyCode == 13) && reload()" id="ExperiedReply" autocomplete="off" />
                <span class="input-group-btn">
                    <button type="button" ng-click="model.ExperiedReply=''" class="btn btn-default no-shadow">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div>
        </div>-->
        <!--<div class="col-md-3" style="padding-top:24px">
            <a ng-click="search()" class="btn btn-accent br4">
                <span class=""><i class="fa fa-search"></i> Tìm kiếm</span>
            </a>
        </div>-->
    </div>
    <div class="row">
        <div class="col-md-12">
            <span class="text-danger">{{'DID_LBL_GUIDE' | translate}}</span>
        </div>
    </div>
</div>
<style>
    .dataTables_wrapper .table-scrollable {
        border: 1px solid #e7ecf1 !important;
        border-radius: 5px;
        box-shadow: 0 2px 3px 2px rgba(0,0,0,.03);
    }

    .table-scrollable .dataTable .mt-checkbox {
        padding-left: 0px !important;
    }

    .table-scrollable .dataTable {
        padding: 10px;
    }

        .table-scrollable .dataTable th {
            text-align: center;
        }
</style>
<table class="table dataTable  table-hover table-striped"
       datatable
       dt-options="dtOptions"
       dt-columns="dtColumns"
       dt-instance="dtInstance"
       id="tblData"></table>
