@{
    ViewData["Title"] = "Phiếu thu - chi";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
<div id="contentMain" ng-app="App_ESEIM" ng-controller="Ctrl_ESEIM">
    <div  ng-view></div>
</div>
<script src="~/views/admin/materialPaymentTicket/controller.js" type="text/javascript"></script>
