<div class="modal-header">
    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>-->
    <span class="close icon-remove" style="margin:0 auto" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"></span>
    <h3 class="modal-title" id="modal-title"><i class="fa fa-user-times"></i>  {{'DEACTIVE' | translate}} {{'USER_USERNAME' | translate}}</h3>
</div>
<div class="modal-body no-space" id="modal-body">

    <div class="portlet-body form">
        <form name="deactiveform" class="form-horizontal  form-bordered" ng-validate="validationOptions">
            <div class="form-body">
                <!--<div class="form-group">
                    <label class="control-label col-md-3">{{'USER_USERNAME' | translate}}</label>
                    <div class="col-md-9">
                        <input type="text" disabled class="form-control" ng-model="model.UserName" name="UserName" />
                    </div>
                </div>-->
               
                <div class="form-group">
                    <div class="col-md-1">
                        <i class="fa fa-commenting-o fa-2x center-icon-popup" aria-hidden="true"></i>
                    </div>
                    <label class="control-label col-md-2">{{'REASON' | translate}}</label>
                    <div class="col-md-9">
                        <textarea type="text" class="form-control" placeholder="{{'INPUT' | translate}} {{'REASON' | translate}}..." ng-model="model.Reason" rows="3"></textarea>
                    </div>
                </div>
                
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <a data-dismiss="modal" class="btn   btn-default m-btn-cancel" href="javascript:;" ng-click="cancel()">
        {{'CLOSE' | translate}}
    </a>

    <a ng-click="submit()" class="btn  btn-primary  btn-default" href="javascript:;">
        <i class="fa fa-floppy-o"></i> {{'SAVE' | translate}}
    </a>
</div>
