<div class="modal-header">
    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>-->
    <span class="close icon-remove" style="margin:0 auto" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"></span>
    <h3 class="modal-title" id="modal-title"><i class="fa fa-users"></i>  {{'GROUP_ROLE_INFO' | translate}}</h3>
</div>
<div class="modal-body no-space" id="modal-body">

    <div class="portlet-body form">
        <form name="grouproleform" class="form-horizontal  form-bordered" ng-validate="validationOptions">
            <div class="form-body">
                <div class="form-group">
                    <div class="col-md-1">
                        <i class="fa fa-users fa-2x center-icon-popup" aria-hidden="true"></i>
                    </div>
                    <label class="control-label col-md-3">{{'GROUP_ROLE_INFO' | translate}}</label>
                    <div class="col-md-8">
                        <table class="table table-bordered text-center" style="background-color: ghostwhite">
                            <thead>
                            <tr>
                                <th class="text-center col-md-6">{{'GROUP_USERS' | translate}}</th>
                                <th class="text-center col-md-6">{{'ROLE' | translate}}</th>
                            </tr>
                            </thead>
                            <tbody ng-repeat="x in listGroupRole">
                            <tr>
                                <td>{{x.GroupUser}}</td>
                                <td>{{x.Role}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <a data-dismiss="modal" class="btn   btn-default m-btn-cancel" href="javascript:;" ng-click="cancel()">
        {{'CLOSE' | translate}}
    </a>

    <!--<a ng-click="submit()" class="btn  btn-primary  btn-default" href="javascript:;">
        <i class="fa fa-floppy-o"></i> {{'SAVE' | translate}}
    </a>-->
</div>
