<div class="table-toolbar">
    <div class="row">
        <div class="col-md-6">
            <h1 class="bold mb-0">{{'ADM_USER_LBL_USER' | translate}}</h1>
            <ul class="breadcrumb-title">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="/Admin">{{'ADM_USER_LINK_HOME' | translate}}</a>
                    <span>&gt;</span>
                </li>
                <li>
                    <a href="#">{{'ADM_USER_LINK_USER' | translate}}</a>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <div class="btn-group pull-right actions">
                <a class="btn btn-accent btnSearch">
                    <i class="fa fa-search"></i>
                    {{'COM_BTN_SEARCH' | translate}}
                </a>
                <a ng-click="add()" class="btn btn-green">
                    <i class="fa fa-plus"></i>
                    {{'COM_BTN_ADD' | translate}}
                </a>
            </div>
        </div>
    </div>
    <div class="portlet light bordered input-search mb5 hidden">
        <div class="portlet-body">
            <img class="pull-right h28 w28 close-input-search" role="button" title="Đóng" src="/images/default/close.png" />
            <div class="row pt5 mb5">
                <div class="col-md-3">
                    <label class="fw600 text-underline">{{'ADM_USER_CURD_LBL_ACCOUNT_NAME' | translate}}</label>
                    <div class="input-group">
                        <input ng-model="model.UserName" class="form-control" type="text" placeholder="{{'ADM_USER_CURD_TXT_ACCOUNT_NAME' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.UserName=''" class="btn btn-default no-shadow">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="fw600 text-underline">{{'ADM_USER_CURD_LBL_NAME' | translate}}</label>
                    <div class="input-group">
                        <input ng-model="model.GivenName" class="form-control" type="text" placeholder="{{'ADM_USER_CURD_TXT_NAME' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.GivenName=''" class="btn btn-default no-shadow">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="fw600 text-underline">{{'ADM_USER_CURD_LBL_EMAIL' | translate}}</label>
                    <div class="input-group">
                        <input ng-model="model.Email" class="form-control" type="text" placeholder="{{'ADM_USER_CURD_TXT_EMAIL' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.Email=''" class="btn btn-default no-shadow">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="fw600 text-underline">{{'ADM_USER_CURD_LBL_STATUS' | translate}}</label>
                    <div class="input-group">
                        <ui-select tagging ng-model="model.Status" theme="bootstrap">
                            <ui-select-match placeholder="{{'ADM_USER_CURD_COMBO_STATUS' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat=" x.Value as x in StatusData | filter: $select.search">
                                {{x.Name}}
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.Status=''" class="btn btn-default no-shadow">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="btn-group pull-right pt10">
                        <a class="btn btn-accent" ng-click="search()">
                            <span class=""><i class="fa fa-search"></i> {{'COM_BTN_SEARCH' | translate}}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<table class="table dataTable table-hover table-striped"
       datatable
       dt-options="dtOptions"
       dt-columns="dtColumns"
       dt-instance="dtInstance"
       id="tblData"></table>
