<div class="table-toolbar">
    <div class="row">
        <div class="col-md-12 ">
            <h1 class="bold mb-0">Thanh lý tài sản</h1>
            <ul class="breadcrumb-title">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="#">Trang chủ</a>
                    <span>&gt;</span>
                </li>
                <li>
                    <a href="/AssetsLiquidation">Thanh lý tài sản</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 portlet light bordered input-search mb5">
            <!--<img class="pull-right h28 w28 close-input-search" role="button" title="Đóng" src="/images/default/close.png" />-->
            <div class="row pt5 mb5">
                <div class="col-md-3">
                    <div class='input-group '>
                        <input ng-model="model.AssetCode" class="form-control" type="text" placeholder="Ngày lập..." ng-keydown="($event.keyCode == 13) && reload()" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.AssetCode='';" class="btn btn-default no-shadow end-date">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class='input-group '>
                        <input ng-model="model.AssetName" class="form-control" type="text" placeholder="Ngày thanh lý.." ng-keydown="($event.keyCode == 13) && reload()" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.AssetName='';" class="btn btn-default no-shadow end-date">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class='input-group '>
                        <ui-select tagging ng-model="model.Status">
                            <ui-select-match placeholder="Chi nhánh">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="x.Code as x in Status | filter: $select.search">
                                {{x.Name}}
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.Status='';" class="btn btn-default no-shadow">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class='input-group '>
                        <ui-select tagging ng-model="model.Status">
                            <ui-select-match placeholder="Người thanh lý">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="x.Code as x in Status | filter: $select.search">
                                {{x.Name}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="row pt10 mb15">
                <div class="col-md-3">
                    <div class='input-group '>
                        <ui-select tagging ng-model="model.Status">
                            <ui-select-match placeholder="Tài sản">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="x.Code as x in Status | filter: $select.search">
                                {{x.Name}}
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.Status='';" class="btn btn-default no-shadow">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class='input-group '>
                        <ui-select tagging ng-model="model.Status">
                            <ui-select-match placeholder="Nhóm">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="x.Code as x in Status | filter: $select.search">
                                {{x.Name}}
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.Status='';" class="btn btn-default no-shadow">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class='input-group '>
                        <ui-select tagging ng-model="model.Status">
                            <ui-select-match placeholder="Loại">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="x.Code as x in Status | filter: $select.search">
                                {{x.Name}}
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.Status='';" class="btn btn-default no-shadow">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="btn-group actions d-flex mr25">
                        <div class="pr10">
                            <a data-dismiss="modal" ng-click="search()" class="btn btn-icon-only btn-circle btn-outline purple-custom">
                                <span><i class="fa fa-search"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
                        </div>
                        <div class="text-center pr10">
                            <a ng-click="add()" class="btn btn-icon-only btn-circle btn-outline green-custom">
                                <span><i class="fa fa-plus"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD' | translate}}</p>
                        </div>
                        <div class="text-center">
                            <a class="btn btn-icon-only btn-circle btn-outline red-custom">
                                <span><i class="fa fa-trash"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_DELETE' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table dataTable table-hover table-striped"
           datatable
           dt-options="dtOptions"
           dt-columns="dtColumns"
           dt-instance="dtInstance"
           id="tblData"></table>
</div>
