<div class="modal-header">
    <img class="close icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fas fa-history icon-edit "></i>
    <span class="modal-title " id="modal-title">{{'FAE_TITLE_TRACK_REQUEST' | translate}}</span>
</div>

<div id="modal-body">
    <div class="portlet-body form">
        <form name="addform" method="post" ng-validate="validationOptions">
            <div class="form-body">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="col-md-1 text-center fw600 text-underline">{{'FAE_CLICK_AC_LIST_COL_USER' | translate}}</th>
                                    <th class="col-md-2 text-center fw600 text-underline">{{'FAE_CLICK_AC_LIST_COL_STATUS' | translate}}</th>
                                    <th class="col-md-2 text-center fw600 text-underline">{{'FAE_CLICK_AC_LIST_COL_CREADTED_TIME' | translate}}</th>
                                    <th class="col-md-5 text-center fw600 text-underline">{{'FAE_CLICK_AC_LIST_COL_NOTE' | translate}}</th>
                               
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in listAccEntryTracking">
                                    
                                    <td class="text-center">
                                        {{x.CreatedBy}}
                                    </td>
                                    <td class="text-center">
                                        {{x.Action}}
                                    </td>
                                    <td class="text-center">
                                        {{x.CreatedTime}}
                                    </td>
                                    <td class="text-center">
                                        {{x.Note}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
