<style>
    .dataTables_wrapper .table-scrollable {
        border: 1px solid #e7ecf1 !important;
    }

    .boxGreen {
        width: 20px;
        height: 20px;
        background: #2ecc71;
        margin-right: 5px;
    }

    .boxRed {
        width: 20px;
        height: 20px
        background: #e74c3c;
        margin-right: 5px;
    }

    .boxYellow {
        width: 20px;
        height: 20px;
        background: #f1c40f;
    }

    .h-60 {
        height: 60px;
    }

    .pl0 {
        padding-left: 0px;
    }

    .pt5 {
        padding-top: 5px;
    }

    .pr15 {
        padding-right: 15px;
    }

    .mt15 {
        margin-top: 15px;
    }

    .mt23 {
        margin-top: 23px;
    }

    .w-100-percent {
        width: 100%;
    }

    .w-30-percent {
        width: 30%;
    }

    .bgWhite {
        background: #fff;
    }

    .labelbodergroup {
        margin-left: 24px;
        margin-top: -12px;
        position: absolute;
        background: linear-gradient(to bottom,#f2eee6,#FBFCFC );
        border: 1px solid #e9dada;
        border-radius: 4px;
        font-size: 11px;
        padding: 3px 10px !important;
    }

    .table_body {
        background: linear-gradient(to bottom,#f2eee6,#FBFCFC );
        border-radius: 4px !important;
        border: 1px solid #e9dada;
        box-shadow: 0px 5px 10px 0px rgba(127, 143, 166,0.2) !important;
        padding-bottom: 15px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .labeladmin {
        padding-left: 30px;
        margin-top: 10px;
    }

    #tblFileRequest {
        max-height: 200px;
    }

        #tblFileRequest tbody tr td {
            max-width: 120px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    #box .file-body {
        overflow: auto;
        height: 150px;
        border-radius: 4px !important;
        border: 1px solid #e9dada;
        padding-top: 15px;
        background: #fffdfd;
    }

    #box .file-header {
        z-index: 1;
        margin-left: 36px;
        margin-top: -12px;
        position: absolute;
        background: linear-gradient(to bottom,#f1f1f1,#FBFCFC );
        border: 1px solid #cccccc;
        border-radius: 4px;
        font-size: 11px;
        padding: 3px 10px !important;
    }

    .btn-uploadFile {
        height: 26px;
        font-weight: 600;
        color: #f5244f;
        border-radius: 5px !important;
        padding: 5px !important;
    }

    #btn-delete {
        position: absolute;
        top: 0px;
    }
</style>
<div class="modal-header">
    <img class="close icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-plus-circle icon-insert  "></i>
    <div class="modal-title custom-title " id="modal-title"> {{'FAE_TITLE_ADD' | translate}} </div>
</div>
<div class="modal-body userFormAreaHeader" id="modal-body" style="padding-bottom: 0px;">
    <div class="portlet-body form">
        <form name="addform" class="form-horizontal " method="post" ng-validate="validationOptions">
            <div class="form-body pt-0">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="col-md-12 ">
                                <i class="fas fa-money-check-alt"></i>
                                <label class="control-label require">&nbsp;{{'FAE_CURD_LBL_AET_TYPE' | translate}}</label>
                            </div>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <ui-select ng-model="model.AetType" theme="bootstrap" ng-disabled="IsPermission">
                                        <ui-select-match placeholder="{{'FAE_CURD_TXT_AET_TYPE' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="x.Code as x in listAetType | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                        <button type="button" ng-click="model.AetType=''" class="btn btn-default no-shadow">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </span>
                                </div>
                                <span ng-show="errorAetType" class="label-color validation-message">
                                    {{'FAE_VALIDATE_AET_TYPE_NOT_BLANK' | translate}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <div class="col-md-12">
                                <i class="far fa-sticky-note" aria-hidden="true"></i>
                                <label class="control-label require">  {{'FAE_CURD_LBL_TITLE' | translate}} </label>
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" ng-model="model.Title" name="Title" placeholder=" {{'FAE_CURD_TXT_TITLE' | translate}}..." ng-disabled="IsPermission" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-12 ">
                                        <i class="fas fa-dollar-sign"></i>
                                        <label class="control-label require">&nbsp; {{'FAE_CURD_LBL_LIST_FUND' | translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <ui-select tagging ng-model="model.CatCode" theme="bootstrap" ng-disabled="IsPermission">
                                                <ui-select-match placeholder="{{'FAE_CURD_TXT_LIST_FUND' | translate}}...">{{$select.selected.Title}}  </ui-select-match>
                                                <ui-select-choices repeat="x.Code as x in treeData | filter: $select.search">
                                                    <div style="padding-left: {{15 * x.Level}}px">
                                                        <i ng-show="x.HasChild" class="fa fa-folder-open icon-state-warning"></i>
                                                        <i ng-show="!x.HasChild" class="fa fa-folder text-info"></i>
                                                        {{x.Title}}
                                                    </div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                <button type="button" ng-click="model.CatCode=''" class="btn btn-default no-shadow" style="">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                            </span>
                                        </div>
                                        <span ng-show="errorCatCode" class="label-color validation-message">
                                            {{'FAE_VALIDATE_CATEGORY' | translate}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <i class="far fa-money-bill-alt" aria-hidden="true"></i>
                                        <label class="control-label require">{{'FAE_CURD_LBL_TOTAL' | translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <input class="form-control text-danger" ng-model="model.Total " name="Total" placeholder="Số tiền..." num-thousand='true' awnum num-int='21' ng-disabled="IsPermission" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="col-md-12 ">
                                        <i class="fas fa-dollar-sign"></i>
                                        <label class="control-label">&nbsp;{{'PPAE_CURD_LBL_CURRENCY' | translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <input type="text" class="form-control " readonly ng-model="model.Currency" name="Currency" ng-disabled="IsPermission" />
                                        </div>
                                        <span ng-show="errorCurrency" class="label-color validation-message">
                                            {{'FAE_CURD_TXT_CURRENCY_NOT_BLANK' | translate}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-12 ">
                                        <i class="fas fa-sign-in-alt"></i>
                                        <label class="control-label">&nbsp;{{'FAE_CURD_LBL_STATUS' | translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <ui-select ng-model="model.Status" theme="bootstrap" ng-disabled="true">
                                                <ui-select-match placeholder="{{'FAE_CURD_TXT_STATUS' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat="x.Code as x in listStatus | filter: $select.search">
                                                    {{x.Name}}
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                <button type="button" ng-click="activity($AetCode)" class="btn btn-default no-shadow" style="margin-left:15px">
                                                    <span class="fas fa-history"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        <label class="control-label require">{{'FAE_CURD_LBL_DEADLINE' | translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <div class='input-group date' id='DeadLine'>
                                            <input type='text' class="form-control input-date" name="DeadLine" ng-model="model.DeadLine" placeholder="{{'FAE_CURD_TXT_DEADLINE' | translate}}..." ng-disabled="IsPermission" />
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" ng-class="{ 'has-error': errorGender}">
                                    <div class="col-md-12">
                                        <i class="fas fa-briefcase"></i>
                                        <label class="control-label">{{'FAE_CURD_LBL_FAE_RELATE' | translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <ui-select tagging ng-model="model.AetRelative" theme="bootstrap" ng-disabled="IsPermission">
                                                <ui-select-match placeholder="{{'FAE_CURD_TXT_FAE_RELATE' | translate}}...">{{$select.selected.Title}}</ui-select-match>
                                                <ui-select-choices repeat=" x.Title as x in listTitle | filter: $select.search">
                                                    {{x.Title}}
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                <button type="button" ng-click="model.AetRelative=''" class="btn btn-default no-shadow" style="">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="col-md-12 ">
                                        <i class="fas fa-balance-scale"></i>
                                        <label class="control-label">&nbsp;{{'FAE_CURD_LBL_RELATED_TYPE' | translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <ui-select ng-model="model.AetRelativeType" theme="bootstrap" ng-disabled="IsPermission">
                                                <ui-select-match placeholder="{{'FAE_CURD_TXT_RELATED_TYPE' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat="x.Code as x in listAetRelativeType | filter: $select.search">
                                                    {{x.Name}}
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                <button type="button" ng-click="model.AetRelativeType=''" class="btn btn-default no-shadow">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <i class="fa fa-map-marker"></i>
                                        <label class="control-label">{{'FAE_CURD_LBL_MAP' | translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-icon" style="margin-bottom: 0px">
                                            <i ng-click="openMap()" class="cursor fa fa-map-marker"></i>
                                            <input ng-click="openMap()" id="locationGPS" class="form-control" ng-model="model.GoogleMap" name="key" type="text" style="padding-left: 30px; width: 100%" ng-disabled="IsPermission" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <i class="fa fa-home"></i>
                                        <label class="control-label">{{'FAE_CURD_LBL_ADDRESS' | translate}} </label>
                                    </div>
                                    <div class="col-md-12">
                                        <textarea style="height: 35px" name="Address" id="textAreaAddress" class="form-control" ng-model="model.Address" type="text" placeholder="{{'FAE_CURD_TXT_ADDRESS' | translate}}..." ng-disabled="IsPermission"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <i class="fas fa-user-plus"></i>
                                        <label class="control-label">{{'FAE_CURD_LBL_RECEIVER' | translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <input type="text" class="form-control" ng-model="model.Receiptter" name="title" placeholder="{{'FAE_CURD_TXT_RECEIVER' | translate}}..." ng-disabled="IsPermission" />
                                            <span class="input-group-btn">
                                                <button type="button" ng-click="model.Receiptter=''" class="btn btn-default no-shadow" style="">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <i class="fas fa-user-minus"></i>
                                        <label class="control-label">{{'FAE_CURD_LBL_PAYER' | translate}}</label>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <input type="text" class="form-control" ng-model="model.Payer" name="title" placeholder="{{'FAE_CURD_TXT_PAYER' | translate}}..." ng-disabled="IsPermission" />
                                            <span class="input-group-btn">
                                                <button type="button" ng-click="model.Payer=''" class="btn btn-default no-shadow" style="">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row table_body">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <div class="col-md-12 labeladmin">
                                            <i class="fas fa-sign-in-alt"></i>
                                            <label class="control-label">&nbsp;{{'FAE_CURD_LBL_LEADERS_CONFIRM' | translate}}</label>
                                        </div>
                                        <div class="col-md-12 labeladmin">
                                            <div class="input-group">
                                                <ui-select ng-model="model.Action" theme="bootstrap" ng-disabled="true">
                                                    <ui-select-match placeholder="{{'FAE_CURD_TXT_LEADERS_CONFIRM' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                                    <ui-select-choices repeat="x.Code as x in listManagerStatus | filter: $select.search">
                                                        {{x.Name}}
                                                    </ui-select-choices>
                                                </ui-select>
                                                <span class="input-group-btn">
                                                    <button type="button" ng-click="model.Action=''" class="btn btn-default no-shadow">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="text-center pr10" style="padding-top: 10px;" ng-click="updateAccTracking()" ng-disabled="true">
                                        <a class="btn btn-icon-only btn-circle btn-outline green-custom">
                                            <span><i class="fa fa-save"></i></span>
                                        </a>
                                        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SAVE' | translate}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <i class="fa fa-info" aria-hidden="true"></i>
                                <label class="control-label ">{{'FAE_CURD_LBL_OPINION_LEADER'| translate}}</label>
                                <textarea name="Note" rows="3" class="form-control" ng-model="model.Note" type="text" placeholder="{{'FAE_CURD_TXT_OPINION_LEADER'| translate}}..." ng-disabled="true"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8" style="padding-left : 0px ; padding-right: 0px;">
                        <div class="col-md-12">
                            <i class="fa fa-info" aria-hidden="true"></i>
                            <label class="control-label ">{{'FAE_CURD_LBL_NOTE' |translate}}</label>
                            <textarea name="Note" rows="5" class="form-control" ng-model="model.AetDescription" type="text" placeholder="{{'FAE_CURD_TXT_NOTE' |translate}}..." ng-disabled="IsPermission"></textarea>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <!--<div class="row">
                            <div class="col-md-8">
                                <label class="file-header" style="padding-left:15px"><span><b>Danh sách tải tệp lên</b></span></label>
                            </div>
                            <div class="col-md-3" style="padding-left:30px;">
                                <div class="actions pull-right repository" id="tblFileRequest">
                                    <div class="btn btn-icon-only btn-circle btn-outline btn-default text-center">
                                        <i class="fas fa-upload"></i>
                                        <input type="file" class="btn-upload" custom-on-change="loadFileReq" />
                                    </div>
                                    <p class="text-underline fs9 mb5 pt3">Tải file</p>
                                </div>
                            </div>
                        </div>-->
                        <!--<div class="row table_file" style="max-height:200px; max-width:400px ; overflow-y:auto; padding-top:20px">
                            <div class="panel-heading height: 34px;">
                                <div class="table-toolbar file-body">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="col-md-1 text-center fw400 text-underline">Tên tệp</th>
                                                <th class="col-md-1 text-center fw400 text-underline"> &nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody ng-repeat="x in listFundFile">
                                            <tr>
                                                <td class="text-center">
                                                    <span style="max-width:50px">
                                                        <button type="button" class="btn" ng-click="viewFile(x)" style="margin-right:12px;margin-bottom:10px;">
                                                            {{x.FileName}} <i class="fa fa-times " id="btn-delete" ng-click="removeFileReq($index)"></i>
                                                        </button>
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>-->
                        <div class="form-group">
                            <label style="margin-left: 18px;">{{'FAE_CURD_LBL_LIST_FILE' | translate}}</label>
                            <div class="col-lg-11 boder-box h-100" style="margin-left:15px;">
                                <button type="button" class="tags-custom" ng-repeat="x in listFundFile">
                                    <i class="fa fa-times pull-right ic-remove" aria-hidden="true" ng-click="removeFileReq($index)"></i><span></span> {{x.FileName}}
                                </button>
                                <!--<button type="button" class="tags-custom" ng-repeat="x in listFundFile">
                                    <i class="fa fa-times" aria-hidden="true" id="btn-delete" ng-click="removeFileReq($index)"></i><span></span> {{x.FileName}}
                                </button>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <div class="btn-group pull-right actions d-flex">
        <div class="pr10">
            <div class="actions repository" id="tblFileRequest" ng-hide="IsPermission">
                <div class="btn btn-icon-only btn-circle btn-outline yellow-custom text-center">
                    <i class="fas fa-upload"></i>
                    <input type="file" class="btn-upload" custom-on-change="loadFileReq" />
                </div>
                <p class="text-underline fs9 mb5 pt3" style="text-align: center;">{{'FAE_BTN_UP_FILE' | translate}}</p>
            </div>
        </div>
        <div class="text-center pr10">
            <a ng-click="submit()" class="btn btn-icon-only btn-circle btn-outline green-custom" ng-disabled="IsPermission">
                <span><i class="fa fa-save"></i></span>
            </a>
            <p class="text-underline fs9 mb5 pt3" style="text-align: center;">{{'COM_BTN_SAVE' | translate}}</p>
        </div>
        <div class="pr10">
            <a data-dismiss="modal" ng-click="cancel()" class="btn btn-icon-only btn-circle btn-outline red-custom" ng-disabled="IsPermission">
                <span><i class="glyphicon glyphicon-remove"></i></span>
            </a>
            <p class="fs9 mb5 pt3" style="text-align: center;">{{'COM_CONFIRM_CANCEL' | translate}}</p>
        </div>
    </div>
</div>
