<div class="col-lg-12">
    <div class="form-group">
        <label class="control-label"> <i class="fa fa-file"></i>&nbsp;{{'COM_FILE' | translate}}</label>
        <div class="input-group input-file">
            <i class="fa fa-upload"></i>
            <input class="form-control inputFile pl30" name="File" placeholder="{{'COM_FILE' | translate}}..."></>
            <span class="input-group-btn">
                <span class="btn btn-default btn-choose" onclick="$(this).parent().find('input[type=file]').click();">Browse</span>
                <input class="form-control" id="File" onchange="$('.inputFile').val($(this).val().split('\\').pop());" style="display: none;" type="file">
            </span>
        </div>
    </div>
</div>
<div class="modal-footer">

</div>