<div ng-controller="assetAttribute">
    <div class="table-toolbar">
        <form name="addform" class="form-horizontal" method="post" ng-validate="validationOptions">
            <div class="col-lg-3 form-group mr5 mb5">
                <div class="input-group">
                    <input ng-model="model.AttrCode" name="AttrCode" class="form-control" placeholder="{{'ASSET_CURD_TAB_ATTRIBUTE_CURD_TXT_ATTR_CODE' | translate}}..." />
                    <span class="input-group-btn">
                        <button type="button" ng-click="model.AttrCode='';" class="btn btn-default no-shadow">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-lg-3 form-group mr5 mb5">
                <div class="input-group">
                    <input ng-model="model.AttrValue" name="AttrValue" class="form-control" placeholder="{{'ASSET_CURD_TAB_ATTRIBUTE_CURD_TXT_ATTR_VALUE' | translate}}..." />
                    <span class="input-group-btn">
                        <button type="button" ng-click="model.AttrValue='';" class="btn btn-default no-shadow">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-lg-6">
                <!--<div class="btn-group pull-left actions mb5" style="margin-top:-5px">
                    <a ng-click="search()" class="btn btn-accent br4">
                        <span class=""><i class="fa fa-search"></i>{{'COM_BTN_SEARCH' | translate}}</span>
                    </a>
                    <a ng-click="add()" class="btn btn-green br4">
                        <span><i class="fa fa-plus"></i>{{'COM_BTN_ADD' | translate}}</span>
                    </a>
                </div>-->
                <div class="btn-group actions d-flex pull-left actions mb5">
                    <div class="pr10">
                        <a data-dismiss="modal" ng-click="search()" class="btn btn-icon-only btn-circle btn-outline purple-custom">
                            <span><i class="fa fa-search"></i></span>
                        </a>
                        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
                    </div>
                    <div class="text-center" ng-click="add()">
                        <a class="btn btn-icon-only btn-circle btn-outline green-custom">
                            <span><i class="fa fa-plus"></i></span>
                        </a>
                        <p class="text-underline mb-0 fs9  pt3">{{'COM_BTN_ADD' | translate}}</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <table class="table dataTable table-hover table-striped"
           datatable
           dt-options="dtOptions"
           dt-columns="dtColumns"
           dt-instance="dtInstance"
           id="tblDataAttribute"></table>
</div>