<div class="modal-header">
    <img class="close icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-edit icon-edit "></i>
    <div class="modal-title  custom-title " id="modal-title">{{'ASSET_TITLE_EDIT_ATTRIBUTE' | translate}}</div>
</div>
<div class="modal-body pb-0" id="modal-body">
    <div class="portlet-body form">
        <form name="editformAssetAttribute" class="form-horizontal" method="post" ng-validate="validationOptionsAssetAttribute">
            <div class="form-body">
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fa fa-barcode"></i>
                        <label class="control-label require">{{'ASSET_CURD_TAB_ATTRIBUTE_CURD_LBL_ATTR_CODE' | translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" name="AttrCode" ng-model="model.AttrCode" placeholder="{{'ASSET_CURD_TAB_ATTRIBUTE_CURD_TXT_ATTR_CODE' | translate}}..." />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fa fa-code"></i>
                        <label class="control-label require">{{'ASSET_CURD_TAB_ATTRIBUTE_CURD_LBL_ATTR_VALUE' | translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <textarea class="form-control" name="AttrValue" rows="3"  ng-model="model.AttrValue" placeholder="{{'ASSET_CURD_TAB_ATTRIBUTE_CURD_TXT_ATTR_VALUE' | translate}}..."></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <a data-dismiss="modal" class="btn btn-red " href="javascript:;" ng-click="cancel()">
        {{'COM_BTN_CANCEL' | translate}}
    </a>
    <button ng-click="submit()" class="btn btn-green mr25">
        {{'COM_BTN_EDIT' | translate}}
    </button>
</div>