<style>
    #startPlace {
        margin-top: 10px;
        max-width: 50%;
        height: 8%;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px !important;
        border: none !important;
    }
    #map {
        max-height: 400px;
    }
</style>
<div class="modal-header">
    <img class="close icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-map-marker icon-insert" ></i>
    <span class="modal-title " id="modal-title">{{'ASSET_CURD_TITLE_MAP' | translate}}</span>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <form name="addform" class="form-horizontal" method="post" ng-validate="validationOptions">
            <div class="form-body pt-0">
                <input id="startPlace"  type="text" class="form-control">
                <div id="map" class="map" tabindex="0"></div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <a data-dismiss="modal" class="btn btn-red" href="javascript:;" ng-click="cancel()">
        {{'COM_BTN_CANCEL' | translate}}
    </a>
    <button ng-click="submit()" class="btn btn-red mr25" href="javascript:;">
        {{'COM_BTN_ADD' | translate}}
    </button>
</div>



