<style>
    .modal-header {
        background: #f1f1f1;
        color: black;
    }
</style>
<div class="modal-header">
    <img class="close icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-plus-circle icon-insert "></i>
    <div class="modal-title  custom-title " id="modal-title">Ảnh sơ đồ chi tiết </div>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <div class="row">
            <div class="col-md-12 pl-0">
                <img src="{{image}}" width="100%" height="500" />
            </div>
        </div>
    </div>
</div>
