<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="shortcut icon" href="~/swork.ico" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" type="text/css" href="~/lib/robust/css/bootstrap.css">
    <link href="/lib/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- font icons-->
    <!-- BEGIN ROBUST CSS-->
    <link href="/lib/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/robust/fonts/icomoon.css" rel="stylesheet" />
    <link href="~/lib/robust/fonts/flag-icon-css/css/flag-icon.css" rel="stylesheet" />
    <link href="~/lib/robust/extensions/pace.css" rel="stylesheet" />
    <link href="~/lib/robust/css/bootstrap-extended.css" rel="stylesheet" />
    <link href="~/lib/robust/css/app.css" rel="stylesheet" />
    <link href="~/lib/robust/css/core/menu/menu-types/vertical-menu.css" rel="stylesheet" />
    <link href="~/lib/robust/css/core/menu/menu-types/vertical-overlay-menu.css" rel="stylesheet" />

    <!-- END ROBUST CSS-->
    <!-- FontAwesome 4.3.0 -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"
          type="text/css" />

    <!-- BEGIN LAYOUT FIRST STYLES -->
    <link href="//fonts.googleapis.com/css?family=Oswald:400,300,700" rel="stylesheet" type="text/css" />
    <!-- END LAYOUT FIRST STYLES -->
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="/lib/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="/lib/assets/global/css/components-md.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="/lib/assets/global/css/plugins-md.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/global/css/custom-css.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->

    <link rel="stylesheet" type="text/css" href="/lib/assets/global/plugins/angularjs-datatable/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="/lib/assets/global/plugins/angularjs-datatable/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/lib/assets/global/plugins/angularjs-datatable/css/select.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="/lib/assets/global/plugins/angularjs-datatable/css/dataTables.scroller.css" />
    <link rel="stylesheet" type="text/css" href="/lib/assets/global/plugins/angularjs-datatable/css/dataTables.responsive.css" />
    <link rel="stylesheet" type="text/css" href="/lib/assets/global/plugins/angularjs-datatable/css/dataTables.colVis.css" />
    <link rel="stylesheet" type="text/css" href="/lib/assets/global/plugins/angularjs-datatable/css/dataTables.colReorder.css" />
    <link href="~/lib/assets/global/plugins/bootstrap-toastr/toastr.css" rel="stylesheet" />

    <link href="/lib/assets/global/plugins/angularjs-datatable/css/ext-all.css" rel="stylesheet" type="text/css" />
    <link href="/lib/assets/global/plugins/angularjs-datatable/css/extjs.css" rel="stylesheet" type="text/css" />
    <link href="/lib/assets/global/plugins/angularjs-datatable/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/lib/assets/global/plugins/angularjs-datatable/css/ol.css" rel="stylesheet" type="text/css" />

    <link href="/lib/assets/global/plugins/angularjs-datatable/css/ol3-popup.css" rel="stylesheet" type="text/css" />
    <link href="/lib/assets/global/plugins/magnific/magnific-popup.css" rel="stylesheet" type="text/css" />
    <link href="~/css/admin/sprite-dev-16.css" rel="stylesheet" />

    <link href="~/lib/assets/global/plugins/jstree/themes/default/style.min.css" rel="stylesheet" />

    <link href="/lib/assets/global/plugins/treegrid/treeGrid.css" rel="stylesheet" type="text/css" />
    <link href="/lib/assets/global/plugins/bootstrap-summernote/summernote.css" rel="stylesheet" type="text/css" />
    <link href="/lib/assets/global/plugins/ui-select/select.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">

    <link href="~/lib/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
    <link href="~/lib/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/lib/assets/global/plugins/flags/flags.min.css" rel="stylesheet" />
    @* <link href="~/css/helper.min.css" rel="stylesheet" />*@

    <link href="~/css/admin/helper.min.css" rel="stylesheet" />
    <link href="~/lib/assets/layouts/layout5/css/custom.css" rel="stylesheet" />
    <link href="~/css/front-end/site.css" rel="stylesheet" />


    <!-- /Custom css-->
    @*START DATATABLES*@
    <script src="~/lib/robust/core/libraries/jquery.min.js" type="text/javascript"></script>
    <script src="~/lib/robust/vendors/js/ui/tether.min.js" type="text/javascript"></script>
    <script src="~/lib/robust/vendors/js/ui/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <script src="~/lib/robust/vendors/js/ui/unison.min.js" type="text/javascript"></script>
    <script src="~/lib/robust/vendors/js/ui/blockUI.min.js" type="text/javascript"></script>
    <script src="~/lib/robust/vendors/js/ui/jquery.matchHeight-min.js" type="text/javascript"></script>
    <script src="~/lib/robust/vendors/js/ui/screenfull.min.js" type="text/javascript"></script>
    <script src="~/lib/robust/vendors/js/extensions/pace.min.js" type="text/javascript"></script>


    <script src="~/lib/assets/global/scripts/ui.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.jqueryui.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.jqueryui.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @*END DATATABLES*@
    <script src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="~/lib/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>


    <script src="~/lib/assets/global/plugins/angularjs/angular.min.js" type="text/javascript"></script>

    <script src="/lib/assets/global/plugins/angularjs/angular-sanitize.min.js" type="text/javascript"></script>
    <script src="/lib/assets/global/plugins/angularjs/angular-touch.min.js" type="text/javascript"></script>
    <script src="/lib/assets/global/plugins/angularjs/angular-route.js"></script>
    <script src="/lib/assets/global/plugins/angularjs/angular-cookies.min.js"></script>
    <script src="/lib/assets/global/plugins/angularjs/plugins/angular-ui-router.min.js"></script>
    <script src="/lib/assets/global/plugins/angularjs/plugins/ocLazyLoad.min.js"></script>
    <script src="/lib/assets/global/plugins/angularjs/plugins/ui-bootstrap-tpls.min.js"></script>
    <script src="~/lib/assets/global/plugins/angular-translate/angular-cookies.js"></script>
    <script src="~/lib/assets/global/plugins/angular-translate/angular-translate.js"></script>
    <script src="~/lib/assets/global/plugins/angular-translate/angular-translate-interpolation-messageformat.js"></script>
    <script src="~/lib/assets/global/plugins/angular-translate/angular-translate-storage-cookie.js"></script>
    <script src="~/lib/assets/global/plugins/angular-translate/angular-translate-storage-local.js"></script>
    <script src="~/lib/assets/global/plugins/angular-translate/angular-translate-loader-url.js"></script>
    <script src="/lib/assets/global/plugins/underscore.js" type="text/javascript"></script>
    <script src="~/lib/assets/global/plugins/jquery-perfect-slimscroll/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/lib/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/lib/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    @* <script src="~/lib/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>*@
    <script type="text/javascript" src="/lib/assets/global/plugins/angularjs-datatable/js/ol.js"></script>
    <script type="text/javascript" src="/lib/assets/global/plugins/angularjs-datatable/js/ol3-popup.js"></script>
    <script type="text/javascript" src="/lib/assets/global/plugins/angularjs-datatable/js/polyline.js"></script>
    <script type="text/javascript" src="/lib/assets/global/plugins/angularjs-datatable/js/render_view_ol3.js"></script>
    <script type="text/javascript" src="/lib/assets/global/plugins/angularjs-datatable/js/hn-polygon.js"></script>
    <script type="text/javascript" src="/lib/assets/global/plugins/magnific/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="~/lib/assets/global/plugins/angularjs/plugins/dynamic-number.min.js"></script>
    <!--Plugins js-->

    <script src="/lib/assets/global/plugins/jquery-validation/jquery.validate.min.js" type="text/javascript"></script>
    <script src="/lib/assets/global/plugins/jquery-validation/angular-validate.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/lib/assets/global/plugins/angularjs-datatable/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/lib/assets/global/plugins/angularjs-datatable/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/assets/global/plugins/angularjs-datatable/js/dataTables.select.js"></script>
    <script type="text/javascript" src="/lib/assets/global/plugins/angularjs-datatable/js/dataTables.scroller.js"></script>
    <script type="text/javascript" src="/lib/assets/global/plugins/angularjs-datatable/js/dataTables.responsive.js"></script>
    <script type="text/javascript" src="/lib/assets/global/plugins/angularjs-datatable/js/dataTables.colVis.js"></script>
    <script type="text/javascript" src="/lib/assets/global/plugins/angularjs-datatable/js/dataTables.columnFilter.js"></script>
    <script type="text/javascript" src="/lib/assets/global/plugins/angularjs-datatable/js/dataTables.colReorder.js"></script>
    <script type="text/javascript" src="/lib/assets/global/plugins/angularjs-datatable/js/angular-datatables.js"></script>
    <script type="text/javascript" src="/lib/assets/global/plugins/angularjs-datatable/js/angular-datatables.instances.js"></script>
    <script type="text/javascript" src="/lib/assets/global/plugins/angularjs-datatable/js/angular-datatables.factory.js"></script>
    <script type="text/javascript" src="/lib/assets/global/plugins/angularjs-datatable/js/angular-datatables.directive.js"></script>
    <script type="text/javascript" src="/lib/assets/global/plugins/angularjs-datatable/js/angular-datatables.options.js"></script>
    <script type="text/javascript" src="/lib/assets/global/plugins/angularjs-datatable/js/angular-datatables.renderer.js"></script>
    <script type="text/javascript" src="/lib/assets/global/plugins/angularjs-datatable/js/angular-datatables.util.js"></script>
    <script type="text/javascript" src="/lib/assets/global/plugins/angularjs-datatable/js/angular-datatables.bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/assets/global/plugins/angularjs-datatable/js/angular-datatables.select.js"></script>
    <script type="text/javascript" src="/lib/assets/global/plugins/angularjs-datatable/js/angular-datatables.scroller.js"></script>
    <script type="text/javascript" src="/lib/assets/global/plugins/angularjs-datatable/js/angular-datatables.colvis.js"></script>
    <script type="text/javascript" src="/lib/assets/global/plugins/angularjs-datatable/js/angular-datatables.columnfilter.js"></script>
    <script type="text/javascript" src="/lib/assets/global/plugins/angularjs-datatable/js/angular-datatables.colreorder.js"></script>

    <script src="/lib/assets/global/plugins/moment/moment.min.js" type="text/javascript"></script>
    <script src="/lib/assets/global/plugins/moment/angular-moment.min.js" type="text/javascript"></script>
    <script src="/lib/assets/global/plugins/bootstrap-summernote/summernote.min.js" type="text/javascript"></script>
    <script src="/lib/assets/global/plugins/bootstrap-summernote/angular-summernote.min.js" type="text/javascript"></script>
    <script src="/lib/assets/global/plugins/angularjs/plugins/angular-file-upload/angular-file-upload.min.js" type="text/javascript"></script>
    <script src="/lib/assets/global/plugins/bootstrap-growl/jquery.bootstrap-growl.min.js" type="text/javascript"></script>
    <script src="/lib/assets/global/plugins/ui-select/select.js" type="text/javascript"></script>
    <script src="/lib/assets/global/plugins/angularjs-datetime/angularjs-datetime-picker.js" type="text/javascript"></script>
    <script src="/lib/assets/global/plugins/jstree/jstree.js" type="text/javascript"></script>
    <script src="/lib/assets/global/plugins/jstree/ngJsTree.js" type="text/javascript"></script>
    <script src="/lib/assets/global/plugins/treegrid/tree-grid-directive.js" type="text/javascript"></script>
    <script src="~/lib/assets/global/plugins/bootstrap-toastr/toastr.js"></script>
    <script src="/lib/assets/global/plugins/sticky.js" type="text/javascript"></script>
    <script src="/lib/assets/global/plugins/base64.js" type="text/javascript"></script>
    <script src="/lib/assets/global/plugins/directive.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.0/lodash.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-dropdown-multiselect/1.2.0/angularjs-dropdown-multiselect.min.js"></script>
    <script src="~/lib/assets/global/plugins/multiselect/angularjs-dropdown-multiselect.min.js"></script>
    <script src="~/lib/assets/global/plugins/multiselect/lodash.js"></script>
    @RenderSection("plugin_style", false)


    @RenderSection("plugin_script", false)
    <script src="/lib/assets/global/scripts/app.js" type="text/javascript"></script>
    <script src="~/js/front-end/site.js"></script>
    @* <script src="~/js/site.js"></script>*@
</head>
<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns  fixed-navbar">
    <div class="container">
        <div class="content-wrapper">
            @RenderBody()
        </div>
    </div>
    <script src="~/lib/robust/core/app-menu.js" type="text/javascript"></script>
    <script src="~/lib/robust/core/app.js" type="text/javascript"></script>
</body>
</html>
