<div class="table-toolbar" ng-show="IsTranslate">
    <div class="row">
        <div class="col-md-6 ">
            <h1 class="bold mb-0">Quản lý Banner</h1>
            <ul class="breadcrumb-title">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="#">{{'COM_LINK_HOME' | translate}}</a>
                    <span>&gt;</span>
                </li>
                <li>
                    <a href="ManagementSlide">Quản lý Banner</a>
                </li>
            </ul>
        </div>
        <!--<div class="col-md-6 text-center">
            <div class="btn-group pull-right actions">
                <a class="btn btn-accent btnSearch">
                    <i class="fa fa-search"></i> {{'COM_BTN_SEARCH' | translate}}
                </a>
                <a ng-click="add()" class="btn btn-green">
                    <i class="fa fa-plus"></i> {{'COM_BTN_ADD' | translate}}
                </a>
            </div>
        </div>-->
    </div>
    <div class="portlet light bordered input-search mb5 ">
        <div class="portlet-body">
            <div class="row pt5 mb5">
                <div class="col-md-3">
                    <!--<label class="fw600 text-underline">{{'AA_CURD_LBL_SEARCH_ACTTITLE' | translate}}</label>-->
                    <div class='input-group '>
                        <select id="Trash" name="Trash" class="form-control">
                            <option value="false">Hiện tại đang dùng</option>
                            <option value="true">Đã xóa </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <!--<label class="fw600 text-underline">{{'AA_CURD_LBL_SEARCH_ACTTITLE' | translate}}</label>-->
                    <div class='input-group '>
                        <select id="Published" name="Published" class="form-control">
                            <option value="">--- Chọn Publishing ---</option>
                            <option value="true">Hiển thị</option>
                            <option value="false">Không hiển thị</option>
                        </select>
                    </div>
                </div>

                <style>
                    .pl20.text-center {
                        float: left;
                    }
                </style>
                <div class="col-md-3">
                    <!--<label class="fw600 text-underline">{{'AA_CURD_LBL_SEARCH_ACTTITLE' | translate}}</label>-->
                    <div class="pl20 text-center">
                        <a class="btn btn-icon-only btn-circle btn-outline purple-custom" ng-click="search()">
                            <span><i class="fa fa-search"></i></span>
                        </a>
                        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
                    </div>
                    <div class="pl20 text-center">
                        <a class="btn btn-icon-only btn-circle btn-outline green-custom" ng-click="add()" style="right:5px">
                            <span><i class="fa fa-plus"></i></span>
                        </a>
                        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD' | translate}}</p>
                    </div>
                    <!--<div class="pl20 text-center">
            <a class="btn btn-icon-only btn-circle btn-outline blue-custom" ng-click="add()" style="right:5px">
                <span><i class="glyphicon glyphicon-eye-open"></i></span>
            </a>
            <p class="text-underline fs9 mb5 pt3">Hiển thị</p>
        </div>
        <div class="pl20 text-center">
            <a class="btn btn-icon-only btn-circle btn-outline red-custom" ng-click="add()" style="right:5px">
                <span><i class="glyphicon glyphicon-eye-close"></i></span>
            </a>
            <p class="text-underline fs9 mb5 pt3">Ẩn</p>
        </div>-->
                </div>
                <!--<div class="col-md-3">
        <label class="fw600 text-underline">{{'AA_CURD_LBL_SEARCH_ACTTYPE' | translate}}</label>
        <div class='input-group'>
            <ui-select tagging ng-model="model.ActType" theme="bootstrap">
                <ui-select-match placeholder="{{'AA_CURD_COMBO_SEARCH_ACTTYPE' | translate}}">{{$select.selected.Name}}</ui-select-match>
                <ui-select-choices repeat="x.Code as x in ActivityType | filter: $select.search">
                    {{x.Name}}
                </ui-select-choices>
            </ui-select>
            <span class="input-group-btn">
                <button type="button" ng-click="model.ActType='';" class="btn btn-default no-shadow end-date">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </span>
        </div>
    </div>-->
                <!--<div class="col-md-3">
        <label class="fw600 text-underline">{{'AA_CURD_LBL_SEARCH_ACTNOTE' | translate}}</label>
        <div class='input-group'>
            <input ng-model="model.ActNote" class="form-control" type="text" placeholder="{{'AA_CURD_TXT_SEARCH_ACTNOTE' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
            <span class="input-group-btn">
                <button type="button" ng-click="model.ActNote='';" class="btn btn-default no-shadow end-date">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </span>
        </div>
    </div>-->
                <div class="col-md-12">
                    <!--<div class="btn-group pull-right pt10">
            <a class="btn btn-accent" ng-click="search()">
                <span class=""><i class="fa fa-search"></i> {{'COM_BTN_SEARCH' | translate}}</span>
            </a>
        </div>-->
                    <div class="btn-group pull-right pt10 actions d-flex">

                        <!--<div class="text-center">
                <a class="btn btn-icon-only btn-circle btn-outline purple-custom" ng-click="search()">
                    <span><i class="fa fa-search"></i></span>
                </a>
                <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
            </div>-->
                        <!--<div class="pl20 text-center">
                            <a class="btn btn-icon-only btn-circle btn-outline green-custom" ng-click="add()" style="right:5px">
                                <span><i class="fa fa-plus"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD' | translate}}</p>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<table class="table dataTable table-hover table-striped"
       datatable
       dt-options="dtOptions"
       dt-columns="dtColumns"
       dt-instance="dtInstance"
       id="tblData"></table>
