<style type="text/css">
    .ui-select-match-close {
        background-image: none;
    }

    .btn-system {
        background-color: #37bc9b;
        color: #ffffff;
        font-family: Arial;
        font-weight: bold;
    }

        .btn-system:hover {
            color: #428bca;
        }
</style>
<div class="modal-header">
    <img class="close icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-plus-circle icon-insert "></i>
    <span class="modal-title" id="modal-title"> Thêm Extra Field Group</span>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <form name="addform" class="form-horizontal userFormAreaHeader" method="post" ng-validate="validationOptions">
            <div class="form-body" style="padding: 10px;">
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="control-label require">Name</label>
                    </div>
                    <div class="col-md-8">
                        <div class='input-group'>
                            <input class="form-control pTip-top-left-alt" data-val="true" data-val-required="Tên không được để trống" id="Title" name="name" placeholder="Tên..." type="text">
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <!--<a data-dismiss="modal" class="btn btn-red" href="javascript:;" ng-click="cancel()">
        {{'COM_BTN_CANCEL' | translate}}
    </a>
    <button ng-click="submit()" class="btn btn-green mr5" href="javascript:;">
        {{'COM_BTN_ADD' | translate}}
    </button>-->
    <div class="btn-group actions d-flex pull-right">
        <div class="text-center pl20">
            <a class="btn btn-icon-only btn-circle btn-outline green-custom" ng-click="submit()" href="javascript:;">
                <span><i class="fa fa-plus"></i></span>
            </a>
            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD' | translate}}</p>
        </div>
        <div class="text-center pl20">
            <a class="btn btn-icon-only btn-circle btn-outline red-custom" ng-click="cancel()">
                <span><i class="fa fa-close"></i></span>
            </a>
            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_CANCEL' | translate}}</p>
        </div>
    </div>
</div>
