@using ESEIM.Utils

@{
    ViewData["Title"] = "Hồ sơ tài sản";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
@section plugin_script {
    <script src="../../lib/assets/global/plugins/angularjs-datatable/js/polyline.js"></script>
    <script src="../../lib/assets/global/plugins/angularjs-datatable/js/render_view_ol3.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAn-5Fd7KH4e78m1X7SNj5gayFcJKDoUow&libraries=places"
            type="text/javascript"></script>
}
<div id="contentMain" ng-app="App_ESEIM" ng-controller="Ctrl_ESEIM">
    <div  ng-view></div>
</div>
<script src="~/views/admin/assetProfile/controller.js" type="text/javascript"></script>
