<div class="modal-header">
    <img class="close icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-plus-circle icon-insert "></i>
    <div class="modal-title custom-title" id="modal-title">{{'DDT_TITLE_ADD_DDT' | translate}}</div>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <form name="addform" class="form-horizontal" method="post" ng-validate="validationOptions">
            <div class="form-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="col-md-4 ">
                                <i class="fa fa-barcode"></i>
                                <label class="control-label ">{{'DDT_CURD_LBL_ADD_SYMBOL' | translate}} (*)</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="model.Code" name="Code" placeholder="{{'DDT_CURD_TXT_ADD_SYMBOL'| translate}}..." />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 ">
                                <i class="fas fa-info-circle"></i>
                                <label class="control-label ">{{'DDT_CURD_LBL_NAME_TYPE_OF_TEXT' | translate}} (*)</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="model.Name" name="Name" placeholder="{{'DDT_CURD_TXT_NAME_TYPE_OF_TEXT' | translate}}..." />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <a data-dismiss="modal" class="btn  btn-default " href="javascript:;" ng-click="cancel()">
        {{'COM_BTN_CANCEL' | translate}}
    </a>
    <button ng-click="submit()" class="btn btn-red mr25 " href="javascript:;">
        {{'COM_BTN_ADD' | translate}}
    </button>
</div>

