<div class="table-toolbar">
    <div class="row">
        <div class="col-md-6">
            <h1 class="bold mb-0">{{'DDT_TITLE_DDT' | translate}}</h1>
            <ul class="breadcrumb-title">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="/">{{'DDT_LINK_HOME' | translate}}</a>
                    <span>&gt;</span>
                </li>
                <li>
                    <a href="#">{{'DDT_LINK_DDT' | translate}}</a>
                    <span>&gt;</span>
                </li>
                <li>
                    <div>{{'DDT_TITLE_DDT' | translate}}</div>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <div class="btn-group pull-right actions">
                <a ng-click="add()" class="btn btn-green br4">
                    <span class=""><i class="fa fa-plus"></i> {{'COM_BTN_ADD' | translate}}</span>
                </a>
                <a ng-click="deleteList()" class="btn btn-red br4" style="padding: 8px 35px;">
                    <span><i class="fas fa-trash-alt"></i> {{'COM_BTN_DELETE' | translate}}</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row pt10 mb15">
        <div class="col-md-3">
            <label class="control-label">{{'DDT_CURD_LBL_SEARCH_SYMBOL' | translate}} </label>
            <div class="input-group">
                <input ng-model="model.Code" class="form-control" type="text" placeholder="{{'DDT_CURD_TXT_SEARCH_SYMBOL' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                <span class="input-group-btn">
                    <button type="button" ng-click="model.Code=''" class="btn btn-default no-shadow">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <label class="control-label">{{'DDT_CURD_LBL_NAME_TYPE_OF_TEXT' | translate}}</label>
            <div class="input-group">
                <input ng-model="model.Name" class="form-control" type="text" placeholder="{{'DDT_CURD_TXT_NAME_TYPE_OF_TEXT' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                <span class="input-group-btn">
                    <button type="button" ng-click="model.Name=''" class="btn btn-default no-shadow">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-2 pt25">
            <a ng-click="search()" class="btn btn-accent br4">
                <span class=""><i class="fa fa-search"></i> {{'COM_BTN_SEARCH' | translate}}</span>
            </a>
        </div>
    </div>
</div>
<div class="col-md-12 text-center"><h2 class="uppercase blue">{{'DDT_TITLE_DISPATCHES_DOCUMENT_TYPE' | translate}}</h2></div>
<div class="portlet light bordered">
    <div class="portlet-body">
        <table class="table dataTable table-hover table-striped"
               datatable
               dt-options="dtOptions"
               dt-columns="dtColumns"
               dt-instance="dtInstance"
               id="tblDataContract"></table>
    </div>
</div>
