<link href="../../css/message-box/style.css" rel="stylesheet" />

<div class="message-header">
    <img class="close icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <div class="message-title" id="message-title">Xác nhận</div>
</div>
<div class="message-body">
    <!--<div class="portlet-body form">
        <div class="form-body">-->
            <img src="../../images/message/update.png" class="h-40" /><span>&nbsp;&nbsp;&nbsp;{{message}}</span>
        <!--</div>
    </div>-->
</div>
<div class="message-footer">
    <a ng-click="ok()" class="btn btn-green">
        <i class="fas fa-check"></i>&nbsp;Xác nhận
    </a>
</div>

