<div style="margin: 50px 0px 0px 5px;">
    <div class="table-toolbar">
        <div class="row">
            <div class="col-lg-6 ">
                <h1 class="bold mb-0">Danh mục vật tư</h1>
                <ul class="breadcrumb-title">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="#">Trang chủ</a>
                        <span>&gt;</span>
                    </li>
                    <li>
                        <a href="/EDMSCategoryMaterial">Danh mục vật tư</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 text-center">
                <div class="btn-group pull-right actions">
                    <a class="btn btn-accent btnSearch">
                        <span class=""><i class="fa fa-search"></i> Tìm kiếm</span>
                    </a>
                    <a ng-click="add()" class="btn btn-green">
                        <span class=""><i class="fa fa-plus"></i> Thêm mới</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="portlet light bordered input-search mb5 hidden">
            <div class="portlet-body">
                <img class="pull-right h28 w28 close-input-search" role="button" title="Đóng" src="/images/appIcon/close.png" />
                <div class="row pt5 mb5">
                    <div class="col-md-3">
                        <label class="fw600 text-underline">Mã vật tư</label>
                        <div class="input-group">
                            <input ng-model="model.Code" class="form-control" type="text" placeholder="Mã vật tư..." ng-keydown="($event.keyCode == 13) && reload()" />
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.Code='';" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="fw600 text-underline">Tên vật tư</label>
                        <div class="input-group">
                            <input ng-model="model.Name" class="form-control" type="text" placeholder="Tên vật tư..." ng-keydown="($event.keyCode == 13) && reload()" />
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.Name='';" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="fw600 text-underline">Từ ngày</label>
                        <div class="input-group">
                            <input ng-model="model.FromTo" autocomplete="off" class="form-control" type="text" placeholder="Từ ngày..." ng-keydown="($event.keyCode == 13) && reload()" id='FromTo' />
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.FromTo='';" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="fw600 text-underline">Đến ngày</label>
                        <div class="input-group">
                            <input ng-model="model.DateTo" autocomplete="off" class="form-control" type="text" placeholder="Đến ngày..." ng-keydown="($event.keyCode == 13) && reload()" id='DateTo' />
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.DateTo='';" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="btn-group pull-right pt10">
                            <a class="btn btn-accent" ng-click="search()">
                                <span class=""><i class="fa fa-search"></i> Tìm kiếm</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table dataTable table-hover table-striped"
           datatable
           dt-options="dtOptions"
           dt-columns="dtColumns"
           dt-instance="dtInstance"
           id="tblData"></table>
</div>