<div class="modal-header">
    <img class="close icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-th" style="color: white;font-size: 20px;padding: 10px 0px 10px 10px;"></i>
    <span class="modal-title white" id="modal-title">{{'AAS_ADD_APP_ADDON' | translate}}</span>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form pt5">
        <div class="portlet-body form">
            <div class="row ">
                <div class="col-md-12 row mb5">
                    <div class="col-md-3">
                        <div class="input-group">
                            <ui-select tagging ng-model="model.AppCode" theme="bootstrap" on-select="changleSelect('CusGroup')">
                                <ui-select-match placeholder="{{'AAS_CURD_TXT_APP' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="x.Code as x in AppData | filter: $select.search">
                                    {{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.AppCode=''" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <ui-select tagging ng-model="model.AppVendorCode" theme="bootstrap" on-select="changleSelect('CusGroup')">
                                <ui-select-match placeholder="{{'AAS_CURD_TXT_PARTNER' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="x.Code as x in VendorData | filter: $select.search">
                                    {{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.AppVendorCode=''" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12 mb10 row">
                    <form name="addForm"  method="post" ng-validate="validationOptions">
                        <div class="col-md-3 form-group">
                            <div class="input-group">
                                <input ng-model="model.ServerCode" name="ServerCode" class="form-control" type="text" placeholder="{{'AAS_CURD_TXT_CODE' | translate}}..." />
                                <span class="input-group-btn">
                                    <button type="button" ng-click="model.ServerCode='';" class="btn btn-default no-shadow">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-3 form-group">
                            <div class="input-group">
                                <input ng-model="model.ServerAddress" name="ServerAddress" class="form-control" type="text" placeholder="{{'AAS_CURD_TXT_ADDRESS' | translate}}..." />
                                <span class="input-group-btn">
                                    <button type="button" ng-click="model.ServerAddress='';" class="btn btn-default no-shadow">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-3 form-group">
                            <div class="input-group">
                                <input ng-model="model.Note" name="Note" class="form-control" type="text" placeholder="{{'AAS_CURD_TXT_NOTE' | translate}}..." />
                                <span class="input-group-btn">
                                    <button type="button" ng-click="model.Note='';" class="btn btn-default no-shadow">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button ng-click="addAppVendor()" class="btn btn-green mr5" href="javascript:;">
                                <i class="fa fa-plus"></i>&nbsp;{{'COM_BTN_ADD' | translate}}
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-md-12">
                    <table class="table table-bordered" style="margin-bottom: 0;">
                        <thead>
                            <tr>
                                <th class="col-md-1 text-center">{{'AAS_LIST_COL_CODE' | translate}}</th>
                                <th class="col-md-1 text-center">{{'AAS_LIST_COL_ADDRESS' | translate}}</th>
                                <th class="col-md-1 text-center">{{'AAS_LIST_COL_NOTE' | translate}}</th>
                                <th class="col-md-1 text-center">{{'AAS_LIST_COL_DELETE' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in listAppVendor">
                                <td class="text-center">
                                    {{x.ServerCode}}
                                </td>
                                <td class="text-center">
                                    {{x.ServerAddress}}
                                </td>
                                <td class="text-center">
                                    {{x.Note}}
                                </td>
                                <td class="text-center">
                                    <i role="button" class="fa fa-minus-circle pt5" ng-click="deleteAppVendor($index)" title="{{'AAS_LIST_COL_DELETE' | translate}}" style="color:red !important;font-size: 25px"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a data-dismiss="modal" class="btn btn-red" href="javascript:;" ng-click="cancel()">
        {{'COM_BTN_CANCEL' | translate}}
    </a>
    <button ng-click="submit()" class="btn btn-green">
        <i class="fa fa-floppy-o"></i> {{'COM_BTN_SAVE' | translate}}
    </button>
</div>
