<div class="modal-header">
    <img class="close icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-edit icon-edit "></i>
    <div class="modal-title custom-title " id="modal-title"> {{'AAS_EDIT_APP_ADDON' | translate}}</div>
</div>
<div class="modal-body pb-0" id="modal-body">
    <div class="portlet-body form">
        <form name="editForm" class="form-horizontal" method="post" ng-validate="validationOptions">
            <div class="form-body">
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fa fa-barcode" aria-hidden="true"></i>
                        <label class="control-label require">{{'AAS_CURD_LBL_CODE' | translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="model.ServerCode" name="ServerCode" placeholder="{{'AAS_CURD_TXT_CODE' | translate}}..." />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <label class="control-label require">{{'AAS_CURD_LBL_ADDRESS' | translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="model.ServerAddress" name="ServerAddress" placeholder="{{'AAS_CURD_TXT_ADDRESS' | translate}}..." />
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': errorAppCode}">
                    <div class="col-md-4">
                        <i class="fab fa-apple" aria-hidden="true"></i>
                        <label class="control-label require">Ứng dụng app</label>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group">
                            <ui-select tagging ng-model="model.AppCode" theme="bootstrap" on-select="changleSelect('AppCode')">
                                <ui-select-match placeholder="{{'AAS_CURD_TXT_APP' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="x.Code as x in AppData | filter: $select.search">
                                    {{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.AppCode=''" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                        <span ng-show="errorAppCode" class="label-color validation-message">
                            {{'AAS_VALIDATE_APP_NOT_BLANK' | translate}}
                        </span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': errorAppVendorCode}">
                    <div class="col-md-4">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <label class="control-label require">{{'AAS_CURD_LBL_PARTNER' | translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group">
                            <ui-select tagging ng-model="model.AppVendorCode" theme="bootstrap" on-select="changleSelect('AppVendorCode')">
                                <ui-select-match placeholder="{{'AAS_CURD_TXT_PARTNER' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="x.Code as x in VendorData | filter: $select.search">
                                    {{x.Name}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.AppVendorCode=''" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                        <span ng-show="errorAppVendorCode" class="label-color validation-message">
                           {{'AAS_VALIDATE_PARTNER_NOT_BLANK' | translate}}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="far fa-comments" aria-hidden="true"></i>
                        <label class="control-label ">{{'AAS_CURD_LBL_NOTE' | translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <textarea style="height: 110px" class="form-control" ng-model="model.Describe" placeholder="{{'AAS_CURD_TXT_NOTE' | translate}}..."></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <a data-dismiss="modal" class="btn btn-red" href="javascript:;" ng-click="cancel()">
        {{'COM_BTN_CANCEL' | translate}}
    </a>
    <button ng-click="submit()" class="btn btn-green mr25" href="javascript:;">
       {{'COM_BTN_SAVE' | translate}}
    </button>
</div>
