<div class="table-toolbar">
    <div class="row">
        <div class="col-md-5">
            <h1 class="bold mb-0">{{'AAS_TITLE_ADMIN' | translate}}</h1>
            <ul class="breadcrumb-title">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="/">{{'COM_LINK_HOME' | translate}}</a>
                    <span>&gt;</span>
                </li>
                <li>
                    <a href="/Admin/AddonAppServer">{{'AAS_LINK_ADMIN' | translate}}</a>
                </li>
            </ul>
        </div>
        <div class="col-md-7">
            <div class="btn-group pull-right actions">
                <a class="btn btn-accent btnSearch">
                    <span class=""><i class="fa fa-search"></i> {{'COM_BTN_SEARCH' | translate}}</span>
                </a>
                <a ng-click="add()" class="btn btn-green">
                    <span class=""><i class="fa fa-plus"></i> {{'COM_BTN_ADD' | translate}}</span>
                </a>
            </div>
        </div>
    </div>
    <div class="portlet light bordered input-search mb5 hidden">
        <div class="portlet-body">
            <img class="pull-right h28 w28 close-input-search" role="button" title="Đóng" src="/images/default/close.png" />
            <div class="row pt5 mb5">
                <div class="col-md-3">
                    <label class="fw600 text-underline">{{'AAS_CURD_LBL_CODE' | translate}}</label>
                    <div class="input-group">
                        <input type="text" autocomplete="off" class="form-control" placeholder="{{'AAS_CURD_TXT_CODE' | translate}}..." ng-model="model.ServerCode">
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.ServerCode='';" class="btn btn-default no-shadow">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="fw600 text-underline">{{'AAS_CURD_LBL_ADDRESS' | translate}}</label>
                    <div class='input-group '>
                        <input type='text' autocomplete="off" class="form-control " ng-model="model.ServerAddress" placeholder="{{'AAS_CURD_TXT_ADDRESS' | translate}}..." />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.ServerAddress='';" class="btn btn-default no-shadow">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="fw600 text-underline">{{'AAS_CURD_LBL_NOTE' | translate}}</label>
                    <div class="input-group">
                        <input ng-model="model.Note" class="form-control" type="text" placeholder="{{'AAS_CURD_TXT_NOTE' | translate}}..." />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.Note='';" class="btn btn-default no-shadow ">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3 pt20">
                    <button ng-click="search()" class="btn btn-accent">
                        <i class="fa fa-search"></i>
                        {{'COM_BTN_SEARCH' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<table class="table dataTable table-hover table-striped"
       datatable
       dt-options="dtOptions"
       dt-columns="dtColumns"
       dt-instance="dtInstance"
       id="tblData"></table>
