<div class="table-toolbar">
    <div class="row">
        <div class="col-md-6">
            <h1 class="bold mb-0">{{'PFW_TITLE_PFW' | translate}}</h1>
            <ul class="breadcrumb-title">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="#">{{'COM_LINK_HOME' | translate}}</a>
                    <span>&gt;</span>
                </li>
                <li>
                    <a href="#/ParamForWarning">{{'PFW_LINK_PFW' | translate}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row pt10 mb15">
            <div class="col-md-2">
                <label class="fw600 text-underline">{{'PFW_LBL_TOTAL' | translate}}</label>
                <div class="input-group">
                    <input ng-model="model.Total" class="form-control" type="text" placeholder="{{'PFW_TXT_TOTAL' | translate}}" ng-keydown="($event.keyCode == 13) && reload()" num-thousand='true' awnum num-int='21' />
                    <span class="input-group-btn">
                        <button type="button" ng-click="model.Total=''" class="btn btn-default no-shadow" style="">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                <label class="fw600 text-underline">{{'PFW_LBL_CURRENCY' | translate}}</label>
                <div class="input-group">
                    <input ng-model="model.Curency" class="form-control" type="text" placeholder="{{'PFW_TXT_CURRENCY' | translate}}" ng-keydown="($event.keyCode == 13) && reload()" />
                    <span class="input-group-btn">
                        <button type="button" ng-click="model.Curency=''" class="btn btn-default no-shadow" style="">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                <label class="fw600 text-underline">{{'PFW_LBL_FROM_TIME' | translate}}</label>
                <div class="input-group">
                    <div class='input-group date' id='Fromtime'>
                        <input ng-model="model.FromTime" autocomplete="off" class="form-control" type="text" placeholder="{{'PFW_TXT_FROM_TIME' | translate}}" ng-keydown="($event.keyCode == 13) && reload()" id='FromTime' />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.FromTime=''" class="btn btn-default no-shadow start-date">
                                <span class="fa fa-calendar"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <label class="fw600 text-underline">{{'PFW_LBL_TO_TIME' | translate}}</label>
                <div class="input-group">
                    <div class='input-group date' id='Totime'>
                        <input ng-model="model.ToTime" autocomplete="off" class="form-control" type="text" placeholder="{{'PFW_TXT_TO_TIME' | translate}}" ng-keydown="($event.keyCode == 13) && reload()" id='ToTime' />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.ToTime=''" class="btn btn-default no-shadow start-date">
                                <span class="fa fa-calendar"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="btn-group pull-right actions d-flex">
                    <div class="text-center pr10" style="padding-top: 15px;">
                        <a ng-click="search()" class=" btn btn-icon-only btn-circle btn-outline purple-custom">
                            <span><i class="fa fa-search"></i></span>
                        </a>
                        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
                    </div>
                    <div class="text-center pr10" style="padding-top: 15px;">
                        <a ng-click="add()" class="btn btn-icon-only btn-circle btn-outline green-custom">
                            <span><i class="fa fa-plus"></i></span>
                        </a>
                        <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD' | translate}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<table class="table dataTable table-hover table-striped"
       datatable
       dt-options="dtOptions"
       dt-columns="dtColumns"
       dt-instance="dtInstance"
       id="tblData"></table>
