@using ESEIM.Utils
@{
    ViewData["Title"] = "Quản lý cài đặt thuộc tính";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
<div id="contentMain" ng-app="App_ESEIM" ng-controller="Ctrl_ESEIM">
    <div  ng-view></div>
</div>
<script src="~/views/admin/commonSetting/controller.js" type="text/javascript"></script>
<script>
    var isContract = false;
    var isProject = false;
    var isSupplier = false;
    var isCustomer = false;
    var isFile = false;
    var isService = false;
    var isAsset = true;
    var isPayment = false;
    var isCardJob = false;
    var isPublish = false;
    var isWarehouse = false;
    var isFund = false;
    var isCMS = false;
</script>