<div class="modal-header">
    <img class="close icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-edit icon-edit"></i>
    <div class="modal-title custom-title" id="modal-title">{{'DCD_TITLE_EDIT_DCD' | translate}}</div>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <form name="editform" class="form-horizontal" method="post" ng-validate="validationOptions">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-4 ">
                                <i class="fa fa-barcode"></i>
                                <label class="control-label require">&nbsp;{{'DCD_CURE_LBL_CODE' | translate}}</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="model.Code" name="Code" placeholder="{{'DCD_CURE_TXT_CODE' | translate}}..." readonly/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 ">
                                <i class="fa fa-user"></i>
                                <label class="control-label require">&nbsp;{{'DCD_CURE_LBL_NAME' | translate}}</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="model.Name" name="Name" placeholder="{{'DCD_CURE_TXT_NAME' | translate}}..." />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 ">
                                <i class="fa fa-user"></i>
                                <label class="control-label require">&nbsp;{{'DCD_CURE_LBL_NUMBER' | translate}}</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="NumberCreator" class="form-control" ng-model="model.NumberCreator" name="NumberCreator" placeholder="{{'DCD_CURE_TXT_NUMBER' | translate}}..." onkeypress="return ((event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode == 8 || event.charCode == 32 || (event.charCode >= 48 && event.charCode <= 57));" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 ">
                                <i class="fas fa-sort-numeric-up"></i>
                                <label class="control-label">&nbsp;{{'DCD_CURE_LBL_TYPE' | translate}}</label>
                            </div>
                            <div class="col-md-8">
                                <!-- <label class="control-label require">{{model.TypeMS}}</label>-->
                                <input readonly type="text" id="NumberCreator" class="form-control" value="{{model.TypeMS}}" />

                                <!--<div class="input-group">

        <ui-select ng-model="model.TypeM" theme="bootstrap">
            <ui-select-match placeholder="Loại văn bản...">{{$select.selected.Name}}</ui-select-match>
            <ui-select-choices repeat="x.Code as x in ListLoaiVanBan | filter: $select.search">
                {{x.Name}}
            </ui-select-choices>
        </ui-select>
        <span class="input-group-btn">
            <button type="button" ng-click="model.TypeM=''" class="btn btn-default no-shadow">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </span>
    </div>-->
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 ">
                                <i class="fa fa-user"></i>
                                <label class="control-label">&nbsp;{{'DCD_CURE_LBL_TEXT_NOTATION' | translate}}</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="model.DocumentSymbol" name="DocumentSymbol" placeholder="{{'DCD_CURE_TXT_TEXT_NOTATION' | translate}}..."/>
                            </div>
                        </div>
                        <!--<div class="form-group">
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-8">
                                <div class="mt-checkbox-list pt10">
                                    <label class="mt-checkbox" style="margin-bottom: 0; width: 30px;display:inline">
                                        <input type="checkbox" ng-model="model.IsYearBefore" ng-checked="model.IsYearBefore"> Điền năm hiện tại trước ký hiệu
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <a data-dismiss="modal" class="btn  btn-default " href="javascript:;" ng-click="cancel()">
     {{'COM_BTN_CANCEL' | translate}}
    </a>
    <button ng-click="submit()" class="btn btn-blue mr25 " href="javascript:;">
       {{'COM_BTN_EDIT' | translate}}
    </button>
</div>

