<div ng-controller="attribute">
    <div class="row">
        <form name="addformAttribute" method="post" ng-validate="validationOptionsAttribute">
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="control-label">{{'MLP_CURD_LBL_PROPETIES_NAME' | translate}} (*)</label>
                    <input ng-model="model.Attribute" name="Attribute" class="form-control" type="text" placeholder="{{'MLP_CURD_TXT_PROPETIES_NAME' | translate}}..." />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="control-label">{{'MLP_CURD_LBL_PROPETIES_VALUDE' | translate}} (*)</label>
                    <input ng-model="model.AttributeValue" name="AttributeValue" class="form-control" type="text" placeholder="{{'MLP_CURD_TXT_PROPETIES_VALUDE' | translate}}..." />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="control-label">{{'MLP_CURD_LBL_PROPETIES_NOTE' | translate}}</label>
                    <input ng-model="model.Note" name="Note" class="form-control" type="text" placeholder="{{'MLP_CURD_TXT_PROPETIES_NOTE' | translate}}..." />
                </div>
            </div>
            <div class="col-lg-3" style="padding-top:23px">
                <div class="form-group">
                    <button ng-click="add()" type="submit" class="btn btn-green">
                        <i class="fa fa-plus mr5"></i>
                     {{'COM_BTN_ADD' | translate}}
                    </button>
                </div>
            </div>
        </form>
    </div>
    <table class="table dataTable table-hover table-striped"
           datatable
           dt-options="dtOptions"
           dt-columns="dtColumns"
           dt-instance="dtInstance"
           id="tblDataAttribute"></table>
</div>
