<div class="modal-header">
    <img class="close icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-edit icon-edit "></i>
    <div class="modal-title custom-title " id="modal-title"> {{'MLP_CURD_TITLE_EDIT_PROPERTIES' | translate}}</div>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <form name="edtiformAttribute" class="form-horizontal" method="post" ng-validate="validationOptionsAttribute">
            <div class="form-body" style="padding-top:0px">
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fa fa-barcode" aria-hidden="true"></i>
                        <label class="control-label ">{{'MLP_CURD_LBL_PROPETIES_NAME' | translate}} (*)</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="model.Attribute" name="Attribute" id="ServiceCode" placeholder="{{'MLP_CURD_TXT_PROPETIES_NAME' | translate}}..." />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        <label class="control-label ">{{'MLP_CURD_LBL_PROPETIES_VALUDE' | translate}} (*)</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="model.AttributeValue" name="AttributeValue" placeholder="{{'MLP_CURD_TXT_PROPETIES_VALUDE' | translate}}..." />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fa fa-comment" aria-hidden="true"></i>
                        <label class="control-label ">{{'MLP_CURD_LBL_PROPETIES_NOTE' | translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <textarea type="text" class="form-control" ng-model="model.Note" rows="3" placeholder="{{'MLP_CURD_TXT_PROPETIES_NOTE' | translate}}..." name="Note"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <a data-dismiss="modal" class="btn btn-red " href="javascript:;" style="border-radius:5px" ng-click="cancel()">
     {{'COM_BTN_CANCEL' | translate}}
    </a>
    <button ng-click="submit()" class="btn btn-green" href="javascript:;" style="font-weight:bold;margin-right:25px">
       {{'COM_BTN_EDIT' | translate}}
    </button>
</div>
