<div class="modal-header">
    <img class="close icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-edit icon-edit "></i>
    <div class="modal-title custom-title " id="modal-title"> {{'MLP_CURD_TITLE_EDIT_FILE' | translate}}</div>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <form name="editformfile" class="form-horizontal" method="post" ng-validate="validationOptionsFile">
            <div class="form-body" style="padding-top:0px">
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fa fa-barcode" aria-hidden="true"></i>
                        <label class="control-label require">{{'MLP_CURD_LBL_FILE_NAME' | translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="model.Name" name="Name" placeholder="{{'MLP_CURD_TXT_FILE_NAME' | translate}}..." />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        <label class="control-label require">{{'MLP_CURD_LBL_FILE_CHOSE' | translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group input-file">
                            <i class="fa fa-upload"></i>
                            <input class="form-control border-top-left-4radius border-bottom-left-4radius inputFile pl30" placeholder='{{'MLP_CURD_TXT_FILE_CHOSE' | translate}}...' readonly></>
                            <span class="input-group-btn">
                                <span style="height: 34px;" class="btn btn-default btn-choose" onclick="$(this).parent().find('input[type=file]').click();">Browse</span>
                                <input class="form-control" id="File" custom-on-change="loadFile" onchange="$('.inputFile').val($(this).val().split('\\').pop());" style="display: none;" type="file">
                            </span>
                        </div>
                        <a href="{{model.Soure}}">{{'MLP_CURD_LBL_FILE_CHOSE' | translate}}:{{FileName}}</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <a data-dismiss="modal" class="btn btn-red" href="javascript:;" ng-click="cancel()">
      {{'COM_BTN_CANCEL' | translate}}
    </a>
    <button ng-click="submit()" class="btn btn-green mr20" href="javascript:;">
   {{'COM_BTN_EDIT' | translate}}
    </button>
</div>
