<div class="modal-header pb10">
    <img class="close icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-plus-circle icon-insert "></i>
    <div class="modal-title custom-title " id="modal-title">{{'CONTRACT_CURD_TITLE_ADD_CARD_JOB' | translate}}</div>
</div>

<div id="modal-body">
    <div class="portlet-body form">
        <form class="form-horizontal" name="addform" method="post" ng-validate="validationOptions">
            <div class="form-body pb-0 pt-0">
                <div class="row mt-action-5">
                    <div class="col-md-6 mt5">
                        <ui-select tagging ng-model="model.Team" on-select="teamSelect(model.Team)" theme="bootstrap">
                            <ui-select-match placeholder="{{'CONTRACT_CURD_TXT_TEAM' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="x.Code as x in Teams | filter: $select.search">
                                {{x.Name}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-md-6 mt5">
                        <ui-select tagging ng-model="model.Board" on-select="boardSelect(model.Board)" theme="bootstrap">
                            <ui-select-match placeholder="{{'CONTRACT_CURD_TXT_BOARD' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="x.Code as x in Boards | filter: $select.search">
                                {{x.Name}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-md-6 mt5">
                        <ui-select tagging ng-model="model.List" on-select="listSelect(model.List)" theme="bootstrap">
                            <ui-select-match placeholder="{{'CONTRACT_CURD_TXT_LIST' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="x.Code as x in Lists | filter: $select.search">
                                {{x.Name}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-md-6 mt5">
                        <ui-select tagging ng-model="model.Relative" theme="bootstrap">
                            <ui-select-match placeholder="{{'CONTRACT_CURD_TXT_RELATIVE' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="x.Code as x in relative | filter: $select.search">
                                {{x.Name}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-md-6 mt5">
                        <input class="form-control" ng-model="model.CardName" placeholder="{{'CONTRACT_CURD_TXT_CARD_NAME' | translate}}" />
                    </div>
                    <div class="col-md-6 mt5 text-right">
                        <button class="btn btn-red" ng-click="add()">Thêm</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    
</div>
