<div ng-controller="contractTabCardJob">
    <!--<div class="row">
        <div class="col-md-2">
            <ui-select tagging ng-model="model.Team" on-select="teamSelect(model.Team)" theme="bootstrap">
                <ui-select-match placeholder="Chọn team...">{{$select.selected.TeamName}}</ui-select-match>
                <ui-select-choices repeat="x.TeamCode as x in Teams | filter: $select.search">
                    {{x.TeamName}}
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-md-2">
            <ui-select tagging ng-model="model.Board" on-select="boardSelect(model.Board)" theme="bootstrap">
                <ui-select-match placeholder="Chọn bảng...">{{$select.selected.Name}}</ui-select-match>
                <ui-select-choices repeat="x.Code as x in Boards | filter: $select.search">
                    {{x.Name}}
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-md-2">
            <ui-select tagging ng-model="model.List" on-select="listSelect(model.List)" theme="bootstrap">
                <ui-select-match placeholder="Chọn danh sách...">{{$select.selected.Name}}</ui-select-match>
                <ui-select-choices repeat="x.Code as x in Lists | filter: $select.search">
                    {{x.Name}}
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-md-2">
            <ui-select tagging ng-model="model.Card" theme="bootstrap">
                <ui-select-match placeholder="Chọn thẻ...">{{$select.selected.Name}}</ui-select-match>
                <ui-select-choices repeat="x.Code as x in Cards | filter: $select.search">
                    {{x.Name}}
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-md-2">
            <ui-select tagging ng-model="model.Relative" theme="bootstrap">
                <ui-select-match placeholder="Chọn quan hệ...">{{$select.selected.Name}}</ui-select-match>
                <ui-select-choices repeat="x.Code as x in relative | filter: $select.search">
                    {{x.Name}}
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="col-md-2">
            <button class="btn btn-red" ng-click="add()">Thêm</button>
        </div>
    </div>-->
    <div class="mt5" style="background-color: #fff; border-radius: 5px;">
        <table class="table dataTable table-hover table-striped"
               datatable
               dt-options="dtOptions"
               dt-columns="dtColumns"
               dt-instance="dtInstance"
               id="tblDataCardJob"></table>
    </div>
</div>