<div ng-controller="contractTabPayment">
    <div class="row">
        <form name="search" method="post">
            <div class="col-md-2">
                <div class="form-group mb5">
                    <input class="form-control" ng-model="model.PaymentName" name="Title" type="text" placeholder="{{'CONTRACT_CURD_TAB_PAYMENT_TXT_SEARCH_PAYMENT_NAME' | translate}}..." />
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <ui-select tagging ng-model="model.PaymentType" theme="bootstrap">
                        <ui-select-match placeholder="{{'CONTRACT_CURD_TAB_PAYMENT_TXT_SEARCH_PAYMENT_TYPE' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                        <ui-select-choices repeat="x.Value as x in PaymentType | filter: $select.search">
                            {{x.Name}}
                        </ui-select-choices>
                    </ui-select>
                    <span class="input-group-btn">
                        <button type="button" ng-click="model.PaymentType=''" class="btn btn-default no-shadow">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                <div class='input-group date' id='FromTo'>
                    <input type='text' class="form-control input-date" ng-model="model.FromTo" placeholder="{{'CONTRACT_CURD_TAB_PAYMENT_TXT_SEARCH_FROM_TO' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                    <span class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                <div class='input-group date' id='DateTo'>
                    <input type='text' class="form-control input-date" ng-model="model.DateTo" placeholder="{{'CONTRACT_CURD_TAB_PAYMENT_TXT_SEARCH_DATE_TO' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                    <span class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group mb5">
                    <button ng-click="reload()" type="submit" class="btn btn-accent">
                        <i class="fa fa-search"></i>
                        {{'COM_BTN_SEARCH' | translate}}
                    </button>
                    <button ng-click="add()" type="submit" class="btn btn-green ml25">
                        <i class="fa fa-plus"></i>
                        {{'COM_BTN_ADD' | translate}}
                    </button>
                </div>
            </div>
        </form>
    </div>
    <table class="table dataTable table-hover table-striped"
           datatable
           dt-options="dtOptions"
           dt-columns="dtColumns"
           dt-instance="dtInstance"
           id="tblDataPayment">
        <tfoot>
            <tr>
                <th colspan="3" class="pl10">{{'CONTRACT_CURD_TAB_PAYMENT_LIST_COL_TOTAL' | translate}}</th>
                <th colspan="1" class="pl10"><span> {{'CONTRACT_CURD_TAB_PAYMENT_LIST_COL_TOTAL_RECEIPTS' | translate}} - </span><span class="text-success">{{totalReceipts | number : fractionSize}}</span></th>
                <th colspan="1" class="pl10">{{'CONTRACT_CURD_TAB_PAYMENT_LIST_COL_TOTAL_PAYMENT_SLIP' | translate}} - <span class="text-danger">{{totalPaymentSlip | number : fractionSize}}</span></th>
            </tr>
        </tfoot>
    </table>
</div>