<div class="modal-header">
    <img class="close icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-plus-circle icon-insert "></i>
    <div class="modal-title custom-title " id="modal-title">{{'CONTRACT_CURD_TAB_DETAIL_CURD_TITLE_ADD_DETAIL' | translate}}</div>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <form name="addformDetail" class="form-horizontal" method="post" ng-validate="validationOptionsDetail">
            <div class="form-body">
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fa fa-barcode" aria-hidden="true"></i>
                        <label class="control-label require">{{'CONTRACT_CURD_TAB_DETAIL_CURD_LBL_ITEM_CODE' | translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="model.ItemCode" name="ItemCode" placeholder="{{'CONTRACT_CURD_TAB_DETAIL_CURD_TXT_ITEM_CODE' | translate}}..." />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <label class="control-label require">{{'CONTRACT_CURD_TAB_DETAIL_CURD_LBL_ITEM_NAME' | translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="model.ItemName" name="ItemName" placeholder="{{'CONTRACT_CURD_TAB_DETAIL_CURD_TXT_ITEM_NAME' | translate}}..." />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>
                        <label class="control-label require">{{'CONTRACT_CURD_TAB_DETAIL_CURD_LBL_QUATITY' | translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="model.Quatity" name="Quatity" placeholder="{{'CONTRACT_CURD_TAB_DETAIL_CURD_LBL_QUATITY' | translate}}..." num-thousand='true' awnum num-int='21' />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fa fa-money" aria-hidden="true"></i>
                        <label class="control-label require">{{'CONTRACT_CURD_TAB_DETAIL_CURD_LBL_COST' | translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="model.Cost" name="Cost" placeholder="{{'CONTRACT_CURD_TAB_DETAIL_CURD_TXT_COST' | translate}}..." num-thousand='true' awnum num-int='21' />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fa fa-comment" aria-hidden="true"></i>
                        <label class="control-label ">{{'CONTRACT_CURD_TAB_DETAIL_CURD_LBL_NOTE' | translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <textarea name="Note" rows="5" class="form-control" ng-model="model.Note" type="text" placeholder="{{'CONTRACT_CURD_TAB_DETAIL_CURD_TXT_NOTE' | translate}}..."></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <a data-dismiss="modal" class="btn btn-red" href="javascript:;" ng-click="cancel()">
        {{'COM_BTN_CANCEL' | translate}}
    </a>
    <button ng-click="submit()" class="btn btn-green mr25" href="javascript:;">
        {{'COM_BTN_ADD' | translate}}
    </button>
</div>
