<div class="modal-header">
    <img class="close icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-file-text-o  icon-insert "></i>
    <span class="modal-title " id="modal-title">{{'CONTRACT_CURD_TITLE_NOTE' | translate}}</span>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <form name="addformNote" class="form-horizontal" method="post" ng-validate="validationOptionsNote">
            <div class="form-body" style="padding-top:0px">
                <div class="form-group">
                    <div class="col-md-3">
                        <i class="fa fa-barcode" aria-hidden="true"></i>
                        <label class="control-label require">{{'CONTRACT_CURD_LBL_CONTRACT_CODE' | translate}}</label>
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control" ng-model="model.ContractCode" name="ContractCode" placeholder="{{'CONTRACT_CURD_TXT_CONTRACT_CODE' | translate}}..." readonly />
                    </div>
                    <div class="col-md-4">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <label class="control-label">{{'CONTRACT_CURD_LBL_USER' | translate}} :<span>{{UserName}}</span>  </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        <label class="control-label require">{{'CONTRACT_CURD_LBL_TITLE' | translate}} </label>
                    </div>
                    <div class="col-md-9">
                        <textarea type="text" class="form-control" ng-model="model.Title" rows="1" placeholder="{{'CONTRACT_CURD_TXT_TITLE' | translate}}..." name="Title"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <i class="fa fa-comment" aria-hidden="true"></i>
                        <label class="control-label require">{{'CONTRACT_CURD_LBL_NOTE' | translate}}</label>
                    </div>
                    <div class="col-md-9">
                        <textarea type="text" class="form-control" ng-model="model.Note" rows="3" placeholder="{{'CONTRACT_CURD_TXT_NOTE' | translate}}..." name="Note"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <i class="fa fa-tags" aria-hidden="true"></i>
                        <label class="control-label ">{{'CONTRACT_CURD_LBL_TAGS' | translate}} </label>
                    </div>
                    <div class="col-md-9">
                        <textarea type="text" class="form-control" ng-model="model.Tags" rows="3" placeholder="{{'CONTRACT_CURD_TXT_TAGS' | translate}}..." name="Tags"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-green pull-right" ng-click="submit()"><i class="fa fa-plus"></i> {{'COM_BTN_ADD' | translate}}</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <table class="table dataTable table-hover table-striped"
                               datatable
                               dt-options="dtOptions"
                               dt-columns="dtColumns"
                               dt-instance="dtInstance"
                               id="tblDataContractNote"></table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
