@using ESEIM.Utils
@{
    ViewData["Title"] = "CardJob";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

@section plugin_style{
    @*<link rel="stylesheet" href="~/css/cardJob/board.css" />
        <link rel="stylesheet" href="~/css/cardJob/plugin.css" />*@
    <link href="~/css/admin/cardJob/board.css" rel="stylesheet" />
    <link href="~/css/admin/cardJob/plugin.css" rel="stylesheet" />
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
          rel="stylesheet">
}

@section plugin_script{
    @*<script src="~/js/cardjob/popover.js"></script>
    <script src="~/js/cardjob/tooltip.js"></script>*@
    <script src="~/js/admin/cardjob/popover.js" type="text/javascript"></script>
    <script src="~/js/admin/cardjob/tooltip.js" type="text/javascript"></script>
    @*<script src="~/js/fullcalendar.min.js"></script>*@
    <script src="~/js/admin/cardjob/fullcalendar.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   @* <script type="text/javascript" src="~/js/sortable.js"></script>*@
    <script src="~/js/admin/cardjob/sortable.js" type="text/javascript"></script>
}
<div id="contentMain" ng-app="App_ESEIM" ng-controller="Ctrl_ESEIM">
    <div style="min-height:100px" ng-view></div>
</div>
<script src="~/views/admin/cardJob/controller.js" type="text/javascript"></script>