<style>
    .dataTables_wrapper .table-scrollable {
        border: 1px solid #e7ecf1 !important;
    }

    @media (min-width:992px) and (max-width:1200px) {
        .modal-80 {
            width: 80%;
        }
    }

    @media (min-width:1201px) and (max-width:1400px) {
        .modal-80 {
            width: 70%;
        }
    }

    @media (min-width:1400px) {
        .modal-80 {
            width: 60%;
        }
    }
</style>
<div class="modal-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-plus-circle icon-insert "></i>
    <span class="modal-title" id="modal-title">{{'Thêm mới danh mục' | translate}}</span>
</div>
<div class="modal-body pb-0" id="modal-body">
    <div class="portlet-body form">
        <form name="addform" class="form-horizontal userFormAreaHeader" method="post" ng-validate="validationOptions">
            <div class="form-body pt-0">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="col-md-4">
                                <i class="fa fa-barcode"></i>
                                <label class="control-label require">{{'Tên chuyên mục' | translate}}</label>
                            </div>
                            <div class="col-md-8">
                                <input class="form-control" name="Name" ng-model="model.name" type="text" placeholder="{{'Nhập tên chuyên mục' | translate}}..." />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <i class="fas fa-info-circle"></i>
                                <label class="control-label">{{'Chọn templte hiển thị' | translate}}</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <ui-select tagging ng-model="model.PrjType" theme="bootstrap" on-select="changleSelect('PrjType')">
                                        <ui-select-match placeholder="{{'Chọn templte hiển thị' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="x.Code as x in projectType | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn no-shadow btn-default" style="">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <i class="far fa-money-bill-alt"></i>
                                <label class="control-label require">{{'Alias' | translate}}</label>
                            </div>
                            <div class="col-md-8">
                                <input class="form-control" name="ProjectCode" ng-model="model.ProjectCode" type="text" placeholder="{{'Nhập tên chuyên mục' | translate}}..." />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <i class="far fa-money-bill-alt"></i>
                                <label class="control-label">{{'Odering' | translate}}</label>
                            </div>
                            <div class="col-md-8">
                                <input class="form-control" name="ProjectCode" ng-model="model.ProjectCode" type="text" placeholder="{{'Nhập tên chuyên mục' | translate}}..." />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="col-md-4">
                                <i class="fa fa-user"></i>
                                <label class="control-label ">{{'Parent Category' | translate}}</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <ui-select tagging ng-model="model.CustomerCode" theme="bootstrap" on-select="changleSelect('CustomerCode')">
                                        <ui-select-match placeholder="{{'Chuyên mục cha' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="x.Code as x  in Customers | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                        <button type="button" ng-click="model.CustomerCode=''" class="btn btn-default no-shadow" style="">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </span>

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <i class="fa fa-user"></i>
                                <label class="control-label ">{{'ExtraField Group' | translate}}</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <ui-select tagging ng-model="model.CaseWorker" theme="bootstrap" on-select="changleSelect('CaseWorker')">
                                        <ui-select-match placeholder="{{'Nhóm' | translate}}...">{{$select.selected.GivenName}}</ui-select-match>
                                        <ui-select-choices repeat="x.UserId as x in listUser | filter: $select.search">
                                            {{x.GivenName}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                        <button type="button" ng-click="model.CaseWorker='';" class="btn btn-default no-shadow">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 pr-0">
                                <i class="fa fa-money" aria-hidden="true"></i>
                                <label class="control-label ">{{'Published' | translate}}</label>
                            </div>
                            <div class="col-md-8 d-flex pr-0">
                                <label class="control-label text-left ng-binding">Yes</label>
                                <div class="mt-checkbox-list pt5 pl10">
                                    <label class="mt-checkbox mt-checkbox-outline mb10">
                                        <input type="checkbox" name="IsEnabled" ng-model="IsEnabledImportLot" ng-click="checkedImportLot(IsEnabledImportLot)" ng-checked="IsEnabledImportLot" class="ng-valid ng-dirty ng-valid-parse ng-touched ng-empty">
                                        <span></span>
                                    </label>
                                </div>
                                <label class="control-label text-left ng-binding">No</label>
                                <div class="mt-checkbox-list pt5 pl10">
                                    <label class="mt-checkbox mt-checkbox-outline mb10">
                                        <input type="checkbox" name="IsEnabled" ng-model="IsEnabledImportLot" ng-click="checkedImportLot(IsEnabledImportLot)" ng-checked="IsEnabledImportLot" class="ng-valid ng-dirty ng-valid-parse ng-touched ng-empty">
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <i class="fa fa-user"></i>
                                <label class="control-label ">{{'Ngôn ngữ' | translate}}</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <ui-select tagging ng-model="model.CaseWorker" theme="bootstrap" on-select="changleSelect('CaseWorker')">
                                        <ui-select-match placeholder="{{'Chọn ngôn ngữ' | translate}}...">{{$select.selected.GivenName}}</ui-select-match>
                                        <ui-select-choices repeat="x.UserId as x in listUser | filter: $select.search">
                                            {{x.GivenName}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                        <button type="button" ng-click="model.CaseWorker='';" class="btn btn-default no-shadow">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-12">
            <uib-tabset active="active">
                <uib-tab class="mt5" index="0" heading="{{'Mô tả' | translate}}" disable="Object.SupplierId == ''" ng-click="chkSubTab()">
                    <textarea ng-model="model.Description" ui-tinymce="tinymceOptions"></textarea>
                </uib-tab>
                <uib-tab class="mt5" index="1" heading="{{'Ảnh' | translate}}">
                    <div ng-include="'../views/admin/cmsCategory/image.html'"></div>
                </uib-tab>
                <div class="pull-right">
                    <div class="btn-group actions d-flex">
                        <div class="pr10">
                            <a data-dismiss="modal" ng-click="cancel()" class="btn btn-icon-only btn-circle btn-outline red-custom">
                                <span><i class="glyphicon glyphicon-remove"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_CANCEL' | translate}}</p>
                        </div>
                        <div class="text-center pl20" ng-click="submit()">
                            <a class="btn btn-icon-only btn-circle btn-outline green-custom">
                                <span><i class="fa fa-plus"></i></span>
                            </a>
                            <p class="text-underline mb-0 fs9  pt3">{{'COM_BTN_ADD' | translate}}</p>
                        </div>
                    </div>
                </div>
            </uib-tabset>
        </div>
    </div>
</div>

