<div class="table-toolbar">
    <div class="row">
        <div class="col-md-6 ">
            <h1 class="bold mb-0">{{'Danh mục' | translate}}</h1>
            <ul class="breadcrumb-title">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="#">{{'FCC_LINK_HOME' | translate}}</a>
                    <span>&gt;</span>
                </li>
                <li>
                    <a href="#/AssetActivity">{{'Danh mục' | translate}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="portlet light bordered input-search mt5 p10">
        <div class="row">
            <div class="col-lg-3">
                <label class="fw600 text-underline">{{'Tên chuyên mục' | translate}}</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="{{'Tên chuyên mục' | translate}}..." ng-model="model.CurrencyCode" name="CurrencyCode" ng-keydown="($event.keyCode == 13) && reload()" />
                    <span class="input-group-btn">
                        <button type="button" ng-click="model.CurrencyCode=''" class="btn btn-default no-shadow" style="border-bottom-left-radius: 0px;border-top-left-radius: 0px;height: 34px">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <label class="fw600 text-underline">{{'Nhóm mở rộng' | translate}}</label>
                    <div class="input-group">
                        <ui-select ng-model="model.DefaultPayment" theme="bootstrap">
                            <ui-select-match placeholder="{{'Nhóm mở rộng' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="x.Code as x in listDefaultPayment | filter: $select.search">
                                {{x.Name}}
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.DefaultPayment='';" class="btn btn-default no-shadow end-date">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <!--<label class="fw600 text-underline">{{'FAE_CURD_SEARCH_LBL_STATUS' | translate}}</label>-->
                    <label class="fw600 text-underline">{{'State' | translate}}</label>
                    <div class="input-group">
                        <ui-select ng-model="model.DefaultPayment" theme="bootstrap">
                            <ui-select-match placeholder="{{'State' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="x.Code as x in listDefaultPayment | filter: $select.search">
                                {{x.Name}}
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.DefaultPayment='';" class="btn btn-default no-shadow end-date">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="btn-group actions d-flex pt5">
                <div class="text-center pr10" style="width:50px">
                    <a ng-click="search()" class=" btn btn-icon-only btn-circle btn-outline purple-custom">
                        <span><i class="fa fa-search"></i></span>
                    </a>
                    <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
                </div>
                <div class="text-center pr10">
                    <a ng-click="add()" class="btn btn-icon-only btn-circle btn-outline green-custom">
                        <span><i class="fa fa-plus"></i></span>
                    </a>
                    <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD' | translate}}</p>
                </div>
            </div>
        </div>

    </div>
    </div>
    <table class="table dataTable table-hover table-striped"
           datatable
           dt-options="dtOptions"
           dt-columns="dtColumns"
           dt-instance="dtInstance"
           id="tblData"></table>
