<div class="portlet-body" style="min-height: 300px;">
    <div class="table-toolbar">
        <div class="row">
            <div class="col-md-6 ">
                <h1 class="bold mb-0">{{'ADM_BRANCH_LBL_BRANCH' | translate}}</h1>
                <ul class="breadcrumb-title">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="#">{{'ADM_BRANCH_LINK_HOME' | translate}}</a>
                        <span>&gt;</span>
                    </li>
                    <!--<li>
                        <a href="#">Admin</a>
                        <span>&gt;</span>
                    </li>-->
                    <li>
                        <a href="/GroupUser">{{'ADM_BRANCH_LINK_BRANCH' | translate}}</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="row mt10">
                    <div class="col-md-5">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="{{'ADM_BRANCH_TXT_BRANCH_NAME' | translate}}..." ng-model="model.Name" name="Name" autocomplete="off" ng-change="loadFullBranch()" ng-keydown="($event.keyCode == 13) && searchBranch()" />
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.Name=''" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <button class="btn btn-accent" ng-click="searchBranch()"><i class="fa fa-search"></i> {{'COM_BTN_SEARCH' | translate}}</button>
                      <!--  <button class="btn btn-red" ng-click="add()"><i class="fa fa-plus"> Thêm mới</i></button>-->
                       <!-- <button class="btn btn-blue" ng-click="edit()"><i class="fa fa-edit"> Sửa</i></button>-->
                    </div>
                </div>



                <!--<div class="col-md-6">
            <div class="form-group">-->
                <!--<label class="control-label col-md-4">{{'SELECT_ORGANIZATION_TYPE' | translate}}</label>-->
                <!--<div class="col-md-12">-->
                <!--<div class="input-group">
                <ui-select ng-model="model.Id" class="" style="width: 100%;" ng-change="reload()">
                    <ui-select-match placeholder="{{'SELECT_ORGANIZATION_TYPE' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                    <ui-select-choices repeat="x.Id as x in organizationType | filter:$select.search">
                        {{x.Name}}
                    </ui-select-choices>
                </ui-select>
                <span class="input-group-btn">
                    <button type="button" ng-click="clear()" class="btn btn-default no-shadow" style="font-size:13px">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div>-->
                <!--</div>-->
                <!--</div>
            </div>-->
            </div>
            <div class="col-md-6" ng-show="showUserInOrg">
                <div class="row mt10">
                    <div class="col-md-6">
                        <div class="input-group">
                            <ui-select ng-model="model.GroupUserCode" class="" ng-change="loadUserOutOrg()">
                                <ui-select-match placeholder="{{'ADM_BRANCH_COMBO_DEPARTMENT' | translate}}...">{{ $select.selected.Title }}</ui-select-match>
                                <ui-select-choices repeat="x.Id as x in groupUserData | filter:$select.search">
                                    {{ x.Title }}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="model.GroupUserCode='';loadUserOutOrg();" class="btn btn-default no-shadow">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <ui-select ng-model="model.UserOutOrg">
                                <ui-select-match placeholder="{{'ADM_BRANCH_COMBO_ACCOUNT' | translate}}...">
                                    {{$select.selected.UserName}} - {{$select.selected.FullName}}
                                </ui-select-match>
                                <ui-select-choices refresh="fetchAccount($select)"
                                                   refresh-delay="300"
                                                   repeat="user in listUserOutOrg | filter: $select.search">
                                    {{user.UserName}} - {{user.FullName}}
                                    <div ng-if="$index == listUserOutOrg.length - 1 && showButtonLoadMore">
                                        <button class="btn btn-xs btn-success"
                                                style="width: 100%; margin-top: 5px;"
                                                ng-click="fetchAccount($select, $event);"
                                                ng-disabled="loading">
                                            Load more...
                                        </button>
                                    </div>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button type="button" ng-click="clickAddAccountToBranch()" class="btn btn-default no-shadow badge-success" title="Add account to Branch" style="color:white">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="text-danger">{{'COM_MSG_BRANCH_GUIDE' | translate}}</span>
            </div>
        </div>
    </div>
    <!--<div class="" ng-init="initData()">
        <tree-grid tree-data="tree_data" tree-control="my_tree" col-defs="col_defs" expand-on="expanding_property"
                   on-select="my_tree_handler(branch)" expand-level="4" icon-leaf="glyphicon glyphicon-adjust"></tree-grid>
    </div>-->
    <div class="row">
        <div class="col-md-6" id="contentMainTree">
            <div id="treeDiv" class="block-tree-branch" js-tree="treeConfig" should-apply="ac()" ng-model="treeData" tree="treeInstance" tree-events-obj="treeEventsObjBranch"></div>
        </div>
        <div class="col-md-6 " ng-show="showUserInOrg">
            <div class="table-responsive table-box-shadow table-height-scroll">
                <table class="table table-bordered table-striped table-hover no-margin">
                    <thead>
                        <tr class="table-header">
                            <!--<th width="30"><label class="mt-checkbox"><input type="checkbox" ng-model="selectAllUserInOrg" ng-change="addOrRemoveUserInOrg(null, selectAllUserInOrg)" /><span></span></label></th>-->
                            <th width="25">#</th>
                            <th>{{'ADM_BRANCH_USER_NAME' | translate}}</th>
                            <th>{{'ADM_BRANCH_USER_FULLNAME' | translate}}</th>
                            <th>{{'ADM_BRANCH_USER_EMAIL' | translate}}</th>
                            <th width="25">
                                <span class="fa fa-times fa-2x text-danger cursor" title="Delete All User" ng-click="removeUserInOrg(null)"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in userInOrgs">
                            <!--<td><label class="mt-checkbox"><input type="checkbox" ng-model="selectUserInOrg[$index]" ng-change="addOrRemoveUserInOrg(user, selectUserInOrg[$index])" /><span></span></label></td>-->
                            <td>{{ $index + 1 }}</td>
                            <td>{{ user.UserName }}</td>
                            <td>{{ user.FullName }}</td>
                            <td>{{ user.Email }}</td>
                            <td class="text-center">
                                <span class="fa fa-times fa-2x text-danger cursor" title="Delete User" ng-click="removeUserInOrg(user)"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-right mt20">
                <button type="button" class="btn btn-default" ng-click="refreshUserInOrg()">
                    <i class="fa fa-refresh"></i> {{'COM_BTN_REFRESH' | translate}}
                </button>
                <button type="button" class="btn btn-green " ng-click="updateUserInOrg()" ng-disabled="model.OrgAddonCode == ''">
                    <i class="fa fa-save"></i> {{'COM_BTN_SAVE' | translate}}
                </button>
            </div>
        </div>
    </div>

    <!--<table class="table dataTable table-bordered table-hover table-striped"
           datatable
           dt-options="dtOptions"
           dt-columns="dtColumns"
           dt-instance="dtInstance"
           id="tblData"></table>-->
</div>
