<div class="table-toolbar">
    <div class="row">
        <div class="col-lg-6">
            <h1 class="bold mb-0">{{'DDC_TITLE_DDC' | translate}}</h1>
            <ul class="breadcrumb-title">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="/">{{'COM_LINK_HOME' | translate}}</a>
                    <span>&gt;</span>
                </li>
                <li>
                    <a href="#">{{'COM_TITLE_ADMIN_CATEGORY' | translate}}</a>
                    <span>&gt;</span>
                </li>
                <li>
                    <div>{{'DDC_TITLE_DDC' | translate}}</div>
                </li>
            </ul>
        </div>
        <div class="col-lg-6">
            <div class="btn-group pull-right actions">
                <a ng-click="add()" class="btn btn-green br4">
                    <span class=""><i class="fa fa-plus"></i> {{'COM_BTN_ADD' | translate}}</span>
                </a>
                <a ng-click="deleteList()" class="btn btn-red br4" style="padding: 8px 35px;">
                    <span><i class="fas fa-trash-alt"></i> {{'COM_BTN_DELETE' | translate}}</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row pt10 mb15">
        <div class="col-lg-3">
            <label class="control-label">{{'DDC_CURE_LBL_CODE' | translate}} </label>
            <div class="input-group">
                <input ng-model="model.Code" class="form-control" type="text" placeholder="{{'DDC_CURE_TXT_CODE' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                <span class="input-group-btn">
                    <button type="button" ng-click="model.Code=''" class="btn btn-default no-shadow">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-lg-3">
            <label class="control-label">{{'DDC_CURE_LBL_NAME' | translate}}</label>
            <div class="input-group">
                <input ng-model="model.Name" class="form-control" type="text" placeholder="{{'DDC_CURE_TXT_NAME' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                <span class="input-group-btn">
                    <button type="button" ng-click="model.Name=''" class="btn btn-default no-shadow">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-lg-3" style="padding-top:24px">
            <a ng-click="search()" class="btn btn-accent br4">
                <span class=""><i class="fa fa-search"></i> {{'COM_BTN_SEARCH' | translate}}</span>
            </a>
        </div>
    </div>
</div>
<div class="col-lg-12 text-center"><h2 class="uppercase blue">{{'DDC_TITLE_DDC_CATEGORY' | translate}}</h2></div>
<div class="portlet light bordered">
    <div class="portlet-body">
        <table class="table dataTable table-hover table-striped"
               datatable
               dt-options="dtOptions"
               dt-columns="dtColumns"
               dt-instance="dtInstance"
               id="tblDataContract"></table>
    </div>
</div>
