<div class="modal-header">
    <img class="close icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-plus-circle icon-insert "></i>
    <div class="modal-title custom-title " id="modal-title"> {{'SVC_TITLE_ADD_CATEGORY' | translate}}</div>
</div>
<div class="modal-body pb-0" id="modal-body">
    <div class="portlet-body form">
        <form name="addform" class="form-horizontal userFormAreaHeader" method="post" ng-validate="validationOptions">
            <div class="form-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-4">
                            <i class="fa fa-barcode" aria-hidden="true"></i>
                            <label class="control-label require">{{'SVC_CURE_LBL_CODE' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="model.ServiceCode" name="ServiceCode" id="ServiceCode" placeholder="{{'SVC_CURE_TXT_CODE' | translate}}..." />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <i class="fas fa-info-circle" aria-hidden="true"></i>
                            <label class="control-label require">{{'SVC_CURE_LBL_NAME' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="model.ServiceName" name="ServiceName" placeholder="{{'SVC_CURE_TXT_NAME' | translate}}..." />
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': errorServiceGroup}">
                        <div class="col-md-4">
                            <i class="fas fa-project-diagram" aria-hidden="true"></i>
                            <label class="control-label require">{{'SVC_CURE_LBL_GROUP' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <div class="input-group">
                                <ui-select tagging ng-model="model.ServiceGroup" theme="bootstrap" on-select="changleSelect('ServiceGroup')">
                                    <ui-select-match placeholder="{{'SVC_CURE_TXT_GROUP' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="x.Code as x in ServiceGroupData | filter: $select.search">
                                        {{x.Name}}
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="model.ServiceGroup=''" class="btn btn-default no-shadow" style="">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                            <span ng-show="errorServiceGroup" class="label-color validation-message">
                               {{'SVC_MSG_NOT_GROUP' | translate}}
                            </span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': errorUnit}">
                        <div class="col-md-4">
                            <i class="far fa-money-bill-alt" aria-hidden="true"></i>
                            <label class="control-label require">{{'SVC_CURE_LBL_UNIT' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <div class="input-group">
                                <ui-select tagging ng-model="model.Unit" theme="bootstrap" on-select="changleSelect('Unit')">
                                    <ui-select-match placeholder="{{'SVC_CURE_TXT_UNIT' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="x.Code as x in ServiceUnitData | filter: $select.search">
                                        {{x.Name}}
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="model.Unit=''" class="btn btn-default no-shadow" style="">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                            </div>
                            <span ng-show="errorUnit" class="label-color validation-message">
                                {{'SVC_MSG_NOT_UNIT' | translate}}
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <i class="fa fa-comment" aria-hidden="true"></i>
                            <label class="control-label ">{{'SVC_CURE_LBL_ACTION' | translate}}</label>
                        </div>
                        <div class="col-md-8">
                            <textarea type="text" class="form-control" ng-model="model.Note" rows="3" placeholder="{{'SVC_CURE_TXT_ACTION' | translate}}..." name="Note"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <a data-dismiss="modal" class="btn btn-red" href="javascript:;" ng-click="cancel()">
      {{'COM_BTN_CANCEL' | translate}}
    </a>
    <button ng-click="submit()" class="btn  btn-green mr5">
       {{'COM_BTN_ADD' | translate}}
    </button>
</div>
