<div class="modal-header">
    <img class="close icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-info-circle icon-detail" aria-hidden="true"></i>
    <span class="modal-title " id="modal-title"> {{'SVC_TITLE_INFORMATION' | translate}}</span>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <form name="addform" class="form-horizontal" method="post" ng-validate="validationOptions">
            <div class="form-body">
                <div class="form-group">
                    <div class="col-md-12">
                        <span style="color:darkgray"><i class="fa fa-barcode" aria-hidden="true"></i> {{'SVC_CURE_LBL_CODE' | translate}} :</span>
                        &nbsp;{{model.ServiceCode}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <span style="color:darkgray"><i class="fas fa-info-circle" aria-hidden="true"></i> {{'SVC_CURE_LBL_NAME' | translate}} :</span>
                        &nbsp;{{model.ServiceName}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <span style="color:darkgray"><i class="far fa-money-bill-alt" aria-hidden="true"></i> {{'SVC_CURE_LBL_UNIT' | translate}} :</span>
                        &nbsp;{{model.Unit}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <span style="color:darkgray"><i class="fas fa-project-diagram" aria-hidden="true"></i> {{'SVC_CURE_LBL_GROUP' | translate}} :</span>
                        &nbsp;{{model.ServiceGroup}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <span style="color:darkgray"><i class="fas fa-comment" aria-hidden="true"></i> {{'SVC_CURE_LBL_ACTION' | translate}} :</span>
                        &nbsp;{{model.Note}}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <a data-dismiss="modal" class="btn  btn-default no-boxshadow" href="javascript:;" style="border-radius:5px" ng-click="cancel()">
        {{'COM_BTN_CLOSE' | translate}}
    </a>
</div>
