<div class="table-toolbar">
    <div class="row">
        <div class="col-lg-4 ">
            <h1 class="bold mb-0">{{'SVC_TITLE_CATEGORY' | translate}}</h1>
            <ul class="breadcrumb-title">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="/">{{'SVC_LINK_HOME' | translate}}</a>
                    <span>&gt;</span>
                </li>
                <li>
                    <a href="ServiceCategory#">{{'SVC_LINK_CATEGORY' | translate}}</a>
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <div class="btn-group pull-right actions">
                <a class="btn  btn-accent btnSearch">
                    <span class=""><i class="fa fa-search"></i> {{'COM_BTN_SEARCH' | translate}}</span>
                </a>
                <a ng-click="add()" class="btn btn-green ">
                    <span class=""><i class="fa fa-plus"></i> {{'COM_BTN_ADD' | translate}}</span>
                </a>
            </div>
        </div>
    </div>
    <div class="portlet light bordered input-search mb5 hidden">
        <div class="portlet-body">
            <img class="pull-right h28 w28 close-input-search" role="button" title="Đóng" src="/images/default/close.png" />
            <div class="row pt5 mb5">
                <div class="col-md-3">
                    <label class="fw600 text-underline">{{'SVC_CURE_LBL_CODE' | translate}}</label>
                    <div class="input-group">
                        <input ng-model="model.servicecode" class="form-control" type="text" placeholder="{{'SVC_CURE_TXT_CODE' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.servicecode=''" class="btn btn-default no-shadow" style="">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="fw600 text-underline">{{'SVC_CURE_LBL_NAME' | translate}}</label>
                    <div class="input-group">
                        <input ng-model="model.servicename" class="form-control" type="text" placeholder="{{'SVC_CURE_TXT_NAME' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.servicename=''" class="btn btn-default no-shadow" style="">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="fw600 text-underline">{{'SVC_CURE_LBL_GROUP' | translate}}</label>
                    <div class="input-group">
                        <ui-select tagging ng-model="model.servicegroup" theme="bootstrap">
                            <ui-select-match placeholder="{{'SVC_CURE_TXT_GROUP' | translate}}">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="x.Code as x in ServiceGroupData | filter: $select.search">
                                {{x.Name}}
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.servicegroup=''" class="btn btn-default no-shadow" style="">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="fw600 text-underline">{{'SVC_CURE_LBL_UNIT' | translate}}</label>
                    <div class="input-group">
                        <ui-select tagging ng-model="model.unit" theme="bootstrap">
                            <ui-select-match placeholder="{{'SVC_CURE_TXT_NAME' | translate}}">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="x.Code as x in ServiceUnitData | filter:$select.Unit| filter: $select.search">
                                {{x.Name}}
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.unit=''" class="btn btn-default no-shadow" style="">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="btn-group pull-right pt10">
                        <a class="btn btn-accent" ng-click="search()">
                            <span class=""><i class="fa fa-search"></i>{{'COM_BTN_SEARCH' | translate}}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<table class="table dataTable table-hover table-striped"
       datatable
       dt-options="dtOptions"
       dt-columns="dtColumns"
       dt-instance="dtInstance"
       id="tblData"></table>
