@using ESEIM.Utils
@{
    ViewData["Title"] = "Danh sách tiện ích";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";

}
<div id="contentMain" ng-app="App_ESEIM" ng-controller="Ctrl_ESEIM">
    <div ng-view></div>
</div>
<script src="~/views/admin/cmsManagementUtilities/controller.js" type="text/javascript"></script>

