<div class="modal-header">
    <img class="close icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-plus-circle icon-insert "></i>
    <div class="modal-title custom-title " id="modal-title">{{'ADM_DAYOFF_CURD_TITLE_ADD_DAY_OFF' | translate}}</div>
</div>
<div class="modal-body pb-0" id="modal-body">
    <div class="portlet-body form">
        <form name="addForm" class="form-horizontal" method="post" ng-validate="validationOptions">
            <div class="form-body">
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="far fa-clock"></i>
                        <label class="control-label require">{{'ADM_DAYOFF_CURD_LBL_DAYOFF_DAY_OFF' | translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group date" id="calendarDay">
                            <input type="text" class="form-control" ng-model="model.CalendarDay" name="CalendarDay" placeholder="{{'ADM_DAYOFF_CURD_TXT_DAYOFF_DAY_OFF' | translate}}..." ng-change="getData(model.CalendarDay)" />
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fas fa-calendar"></i>
                        <label class="control-label require">{{'ADM_DAYOFF_CURD_LBL_DAYOFF_LUNAR_DAY' | translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="model.LunarDay" name="LunarDay" placeholder="{{'ADM_DAYOFF_CURD_TXT_DAYOFF_LUNAR_DAY' | translate}}..." readonly />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fas fa-calendar"></i>
                        <label class="control-label require">{{'ADM_DAYOFF_CURD_LBL_DAYOFF_DAY_OF_THE_WEEK' | translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="model.DayOfWeek" name="DayOfWeek" placeholder="{{'ADM_DAYOFF_CURD_TXT_DAYOFF_DAY_OF_THE_WEEK' | translate}}..." readonly />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="far fa-comments" aria-hidden="true"></i>
                        <label class="control-label ">{{'ADM_DAYOFF_CURD_LBL_DAYOFF_DESCRIPTION' | translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <textarea style="height: 110px" class="form-control" ng-model="model.Note" placeholder="{{'ADM_DAYOFF_CURD_TXT_DAYOFF_DESCRIPTION' | translate}}..."></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <a data-dismiss="modal" class="btn btn-red" href="javascript:;" ng-click="cancel()">
        {{'COM_BTN_CANCEL' | translate}}
       
    </a>
    <button ng-click="submit()" class="btn btn-green mr25" href="javascript:;">
        {{'COM_BTN_ADD' | translate}}
        <!-- Lưu lại-->
    </button>
</div>
