<style>
    .dataTables_wrapper .table-scrollable {
        border: 1px solid #e7ecf1 !important;
    }

</style>
<div class="modal-header">
    <img class="close icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="far fa-file-alt icon-insert" style="color:#3598dc"></i>
    <div class="modal-title custom-title " id="modal-title"> {{'AUTHORING_ADD_WAITING_TEXT_FOR_AUTHORIZATION' | translate}}: "<span>{{user}}</span>"</div>
</div>
<div class="modal-body pt-0" id="modal-body">
    <div class="portlet-body form">
        <div class="form-group">
            <div class="col-md-12">
                <span class="text-danger">{{'AUTHORING_VALIDATE_GUIDE' | translate}}</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <table class="table dataTable table-bordered table-hover table-striped"
                       datatable
                       dt-options="dtOptions"
                       dt-columns="dtColumns"
                       dt-instance="dtInstance"
                       id="tblDataDocument"></table>
            </div>
        </div>

    </div>
</div>
<div class="modal-footer">
    <a data-dismiss="modal" class="btn btn-default mr20" href="javascript:;" ng-click="cancel()">
        {{'COM_BTN_CANCEL' | translate}}
    </a>
</div>
