<div class="table-toolbar">
    <div class="row">
        <div class="col-lg-6">
            <h1 class="bold mb-0">{{'AUTHORING_TITLE_AUTHORING' | translate}}</h1>
            <ul class="breadcrumb-title">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="#">{{'AUTHORING_LINK_HOME' | translate}}</a>
                    <span>&gt;</span>
                </li>
                <li>
                    <a href="/Authoring">{{'AUTHORING_LINK_AUTHORING' | translate}}</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-6 ">
            <div class="btn-group pull-right actions">
                <button ng-click="add()" type="submit" class="btn btn-red br4">
                    <i class="fa fa-plus"></i>
                    {{'COM_BTN_ADD' | translate}}
                </button>
            </div>
        </div>
    </div>
    <div class="row pt10 mb15">
        <div class="col-lg-4">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="{{'AUTHORING_CURD_TXT_NAME_OF_AUTHORIZED_PERSON' | translate}}..." ng-model="model.UserName" name="GroupName" ng-keydown="($event.keyCode == 13) && reload()" />
                <span class="input-group-btn">
                    <button type="button" ng-click="model.UserName=''" class="btn btn-default no-shadow" style="border-bottom-left-radius: 0px;border-top-left-radius: 0px;height: 34px">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-lg-3">
            <button class="btn btn-accent br4" ng-click="reload()">
                <i class="fa fa-search"></i>
                {{'COM_BTN_SEARCH' | translate}}
            </button>
        </div>
    </div>
</div>
<div class="portlet light bordered">
    <div class="portlet-body">
        <table class="table dataTable table-hover table-striped"
               datatable
               dt-options="dtOptions"
               dt-columns="dtColumns"
               dt-instance="dtInstance"
               id="tblData"></table>
    </div>
</div>
