<div class="modal-header">
    <span class="close icon-remove" style="margin:0 auto" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"></span>
    <h3 class="modal-title" id="modal-title" style="    font-weight: bold;"><i class="glyphicon glyphicon-plus" style="font-size: 15px;color:aliceblue;padding-top:5px"></i> THÊM MỚI CẤP HỌC</h3>
</div>
<div class="row nt" style="<!--margin-top:30px;-->">
    <div class="col-md-6" style="margin-left:50px">
        <table class="table dataTable table-bordered table-hover table-striped"
               datatable
               dt-options="dtOptions"
               dt-columns="dtColumns"
               dt-instance="dtInstance"
               id="tblData" style="width:100%"></table>
    </div>
    <div class="col-md-5" style="    margin-top: 50px;background-color: #f8f5f1; border: 1px solid #e9dada;">

        <div class="modal-body no-space" id="modal-body">

            <div class="portlet-body form" >
                <form name="addform" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions">
                    <div class="form-body">

                        <div class="form-group" style="border:none" ng-show="show">
                            <label class="control-label col-md-3 text-left"><i class="glyphicon glyphicon-certificate"></i> Mã </label>
                            <div class="col-md-9" style="border:none">
                                <input type="text" class="form-control" ng-model="model.code" name="code" placeholder="Mã" />
                            </div>
                        </div>
                        <div class="form-group" style="border:none" ng-show="hide" >
                            <label class="control-label col-md-3 text-left"><i class="glyphicon glyphicon-certificate"></i> Mã </label>
                            <div class="col-md-9" style="border:none">
                                <input disabled type="text" class="form-control" ng-model="model.code" name="code" placeholder="Mã" />
                            </div>
                        </div>
                        <div class="form-group" style="border:none">
                            <label class="control-label col-md-3 text-left"><i class="glyphicon glyphicon-tint"></i> Giá trị</label>
                            <div class="col-md-9" style="border:none">
                                <input type="text" class="form-control" ng-model="model.value" name="value" placeholder="Giá trị" />
                            </div>
                        </div>


                        <div class="form-group" style="border:none">
                            <label class="control-label col-md-3 text-left"> <i class="glyphicon glyphicon-leaf"></i> Nhóm cha</label>
                            <div class="col-md-9 form-col-control" style=" border:none;   ">
                                <div class="bs-component">
                                    <div class="input-group col-md-12" style=" border:none">
                                        <ui-select ng-model="model.parent_id" class="" ui-select-required>
                                            <ui-select-match placeholder="Nhóm cha...">{{$select.selected.value}}</ui-select-match>
                                            <ui-select-choices repeat="x.id as x in treedataParent_id | filter:$select.value| filter:$select.search">
                                                {{x.value}}
                                            </ui-select-choices>
                                        </ui-select>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="border:none">
                            <label class="control-label col-md-3 text-left"><i class="glyphicon glyphicon-tint"></i> Thứ tự</label>
                            <div class="col-md-9" style="border:none">
                                <input type="number" class="form-control" ng-model="model.order" name="order" placeholder="Thứ tự" />
                            </div>
                        </div>

                        <div class="form-group pull-right" style="margin-top:10px;margin-right:69px;border:none; margin-bottom:10px">
                            <button type="submit" style="border-radius: 4px !important;border-color:silver;width:89px;text-align:center;background-color:#dbd3d3;   border: 1px solid #B8B8B8;height:30px" ng-click="submit()" ng-show="enableadd" ><i class="fa fa-floppy-o"></i> Thêm mới</button>
                            <button type="submit" style="border-radius: 4px !important;border-color:silver;width:89px;text-align:center;background-color:#dbd3d3;   border: 1px solid #B8B8B8;height:30px" ng-click="edit()" ng-show="enableedit"><i class="fa fa-floppy-o"></i> Lưu</button>
                            <button type="submit" style="border-radius: 4px !important;border-color:silver;width:89px;text-align:center;background-color:#dbd3d3;   border: 1px solid #B8B8B8;height:30px" ng-click="delete()" ng-show="enableedit"><i class="fa fa-times"></i> Xoá bỏ</button>
                            
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
