<div class="table-toolbar">
    <div class="row">
        <div class="col-md-6">
            <h1 class="bold mb-0">Nhóm tài sản</h1>
            <ul class="breadcrumb-title">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="#">{{'MPG_LINK_HOME' | translate}}</a>
                    <span>&gt;</span>
                </li>
                <li>
                    <a href="#/student">Nhóm tài sản</a>
                </li>
            </ul>
        </div>
        <div class="col-md-6 ">
            <!--<div class="btn-group pull-right actions  d-flex">
                <div class="text-center pr10 btnSearch">
                    <a class="btn btn-icon-only btn-circle btn-outline purple-custom">
                        <span><i class="fa fa-search"></i></span>
                    </a>
                    <p class="text-underline fs12 mb5 pt3 ">Tìm kiếm</p>
                </div>
                <div class="text-center pr10" ng-click="add()">
                    <a class="btn btn-icon-only btn-circle btn-outline green-custom">
                        <span><i class="fa fa-plus"></i></span>
                    </a>
                    <p class="text-underline fs12 mb5 pt3">Thêm mới</p>
                </div>
            </div>-->
        </div>
    </div>
    <div class="portlet light bordered input-search mb5">
        <div class="portlet-body">
            <div class="row pt5 mb5">
                <div class="col-md-3">
                    <label class="fw600 text-underline">Mã nhóm tài sản</label>
                    <div class="input-group">
                        <input ng-model="model.code" class="form-control" type="text" placeholder="Mã nhóm tài sản" ng-keydown="($event.keyCode == 13) && reload()" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.code=''" class="btn btn-default no-shadow" style="">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="fw600 text-underline">Tên nhóm tài sản</label>
                    <div class="input-group">
                        <input ng-model="model.name" class="form-control" type="text" placeholder="Tên nhóm tài sản" ng-keydown="($event.keyCode == 13) && reload()" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.name=''" class="btn btn-default no-shadow" style="">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="fw600 text-underline">{{'MPG_CURD_LBL_MPG_FATHER_GROUP' | translate}}</label>
                    <div class="input-group">
                        <ui-select tagging ng-model="model.parenid" theme="bootstrap">
                            <ui-select-match placeholder="{{'MPG_CURD_COMBO_MPG_FATHER_GROUP' | translate}}">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="x.Id as x in treedataLevel | filter:$select.Name| filter: $select.search">
                                {{x.Name}}
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.parenid=''" class="btn btn-default no-shadow" style="">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3 pt10">
                    <!--<div class="text-center pr10 pull-right mt15" ng-click="reload()">
                        <a class="btn btn-icon-only btn-circle btn-outline purple-custom">
                            <span><i class="fa fa-search"></i></span>
                        </a>
                    </div>-->
                    <div class="btn-group actions  d-flex">
                        
                        <div class="text-center pr10 pull-right" ng-click="reload()">
                            <a class="btn btn-icon-only btn-circle btn-outline purple-custom">
                                <span><i class="fa fa-search"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
                        </div>
                        <div class="text-center pr10" ng-click="add()">
                            <a class="btn btn-icon-only btn-circle btn-outline green-custom">
                                <span><i class="fa fa-plus"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<table class="table dataTable table-hover table-striped"
       datatable
       dt-options="dtOptions"
       dt-columns="dtColumns"
       dt-instance="dtInstance"
       id="tblData"></table>
