
<style>
    .form-group select, .input-group select, .form-group textarea, .input-group input {
        font-size: 12px;
        color: #b2b2b2;
    }

    .shadow {
        border-radius: 4px !important;
        background-color: #E63C5F;
        color: #fff !important;
        background: #E63C5F;
        background-image: none;
        border-color: #E63C5F;
        box-shadow: 0px 5px 10px 2px rgba(255, 69, 121, 0.2) !important;
    }

    .fl-r-ma-ce10-ma-lf10-cl-red {
        float: right;
        color: #E63C5F;
        font-size: 30px;
    }

    body {
        font-family: "Open Sans", sans-serif !important;
        font-size: 12px;
    }

    .modal-dialog {
        width: 50%;
    }

    .modal-content {
        border-radius: 1% !important;
    }

    .form-bordered .form-group .col-md-8 input[type="text"] {
        border-radius: 5px !important;
    }

    .modal-header {
        padding: 7px;
        border-bottom: none;
        background-color: #2980b9;
        border-radius: 4px;
        color: white;
    }

        .modal-header .fa-plus-circle {
            background: white;
            color: red;
            font-size: 25px;
            float: left;
            margin-top: 10px;
            margin-left: 13px;
            border-radius: 50%;
        }

    .modal-footer {
        margin-top: -50px;
        padding-bottom: 0 !important;
        margin-right: -2px;
    }

    .btnedit {
        border-color: silver;
        background-color: #668cff;
        box-shadow: 0px 5px 10px 2px #ccd9ff !important;
    }

    .btnadd {
        border-radius: 4px !important;
        border-color: silver;
        width: 100px;
        text-align: center;
        height: 34px;
    }

    button.close {
        opacity: 9;
    }

    .del {
        background: white;
        height: 34px;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
    }



    .icon-remove {
        display: block;
        opacity: 1;
        width: 25px;
        height: 25px;
        float: right;
        margin-top: 3;
    }

    .modal_header {
        margin-left: -5px;
        margin-right: 3px;
    }

    .modal_title {
        font-size: 13px;
        line-height: 2.5;
    }

    .form-body .col-md-6:nth-child(1) {
        padding-left: 10px;
    }

    .form-body .col-md-6:nth-child(2) {
        padding-right: 12px;
    }

    .form-body .col-md-6 .form-group .control-label {
        padding-right: 7px;
        margin-bottom: -7px;
    }

    .form-body .col-md-6 .form-group .col-md-8 {
        padding-left: 0px;
    }

    .h34 {
        height: 34PX !important;
    }

    .m_l_10 {
        margin-left: 10px;
    }

    .c999999 {
        color: #999999;
    }

    .m10 {
        margin: 10px;
    }

    .p0 {
        padding: 0px;
    }

    .table-toolbar {
        margin-right: 0;
        margin-left: 17px;
        padding: 10px;
        border-radius: 4px !important;
    }

    .border {
        border: 1px solid #ccc;
        margin-top: -20px !important;
        border-radius: 5px;
        margin-right: 0;
        padding: 10px 0;
        box-shadow: 0px 5px 10px 2px rgba(127, 143, 166,0.2) !important;
        background: linear-gradient(to bottom,#f2eee6,#FBFCFC );
    }

    .mrr20-mrb5 {
        margin-right: 20px !important;
        margin-bottom: 5px;
    }

    .mrr0-mrb5 {
        margin-right: 6px !important;
        margin-bottom: 5px;
    }

    .t-a-l {
        text-align: left !important;
    }

    .b-r-4 {
        border-radius: 4px !important;
    }

    .b-n {
        border: none;
    }

    .mt-12 {
        margin-top: -12px;
    }

    .btn-blue {
        background-color: #55A8FD;
        color: white !important;
        -webkit-box-shadow: 0 5px 10px 0 rgba(230,60,95,0.45) !important;
        box-shadow: 0 5px 10px 0 rgba(85,168,253,0.45) !important;
        height: 36px;
        padding: 5px 10px;
        min-width: 100px;
        text-align: center;
        border-radius: 4px;
        font-weight: bold;
    }

    .btn-red {
        background-color: #E63C5F !important;
        color: white !important;
        -webkit-box-shadow: 0 5px 10px 0 rgba(230,60,95,0.45) !important;
        box-shadow: 0 5px 10px 0 rgba(230,60,95,0.45) !important;
        height: 36px;
        padding: 5px 10px;
        min-width: 100px;
        text-align: center;
        border-radius: 4px;
        font-weight: bold;
    }

    .b-t-n {
        border-top: none;
    }

    .text_area {
        resize: none;
    }

    .mrt16 {
        margin-top: 16px;
    }

    .m-20 {
        margin-right: -20px;
    }

    .labelbodergroup {
        margin-left: 45px;
        margin-bottom: -10px;
        font-weight: 700;
        background-color: #f1f2f6;
        border: 2px solid #e9dada;
        border-radius: 4px;
        font-size: 11px;
        padding: 3px 10px !important
    }
</style>
<body>
    <div class="table-toolbar">
        <div class="row">
            <div class="col-md-4 ">
                <h1>Học bạ học viên</h1>
                <ul class="breadcrumbTitle" style="margin-left: -5px; margin-top: -5px;">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="#">Học bạ học viên</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8 text-center">
                <div class="btn-group pull-right actions">
                    <button  type="submit" class="btn btn-custom red" data-toggle="modal" data-target="#myModal" ng-click="add()">
                        <i class="fa fa-plus mr5"></i>
                        Thêm
                    </button>
                </div>
            </div>
        </div>
        
    </div>
    <div style="background-color: #fff; padding:5px 15px; border-radius: 5px;">
        <table class="table dataTable table-bordered table-hover table-striped"
               datatable
               dt-options="dtOptions"
               dt-columns="dtColumns"
               dt-instance="dtInstance"
               id="tblData" style="width:100%"></table>
    </div>
</body>