<div class="table-toolbar">
    <div class="row">
        <div class="col-md-6 ">
            <h1 class="bold mb-0">{{'MPT_TITLE_MPT' | translate}}</h1>
            <ul class="breadcrumb-title">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="#">{{'MPT_LINK_HOME' | translate}}</a>
                    <span>&gt;</span>
                </li>
                <li>
                    <a href="/EDMSMaterialInvoice">{{'MPT_LINK_MPT' | translate}}</a>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <div class="btn-group pull-right actions">
                <a class="btn btn-accent btnSearch">
                    <i class="fa fa-search"></i>
                    {{'COM_BTN_SEARCH' | translate}} 
                </a>
                <a ng-click="add()" class="btn btn-green">
                    <i class="fa fa-plus"></i>
                    {{'COM_BTN_ADD' | translate}} 
                </a>
            </div>
        </div>
    </div>
    <div class="portlet light bordered input-search mb5 hidden">
        <div class="portlet-body">
            <img class="pull-right h28 w28 close-input-search" role="button" title="Đóng" src="/images/default/close.png" />
            <div class="row pt5 mb5">
                <div class="col-md-4">
                    <label class="fw600 text-underline">{{'MPT_CURD_LBL_MPT_PAY_TITLE' | translate}}</label>
                    <div class='input-group '>
                        <input ng-model="model.PayTitle" class="form-control" type="text" placeholder="{{'MPT_CURD_TXT_MPT_PAY_TITLE' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.PayTitle=''" class="btn btn-default no-shadow">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="fw600 text-underline">{{'MPT_CURD_LBL_MPT_PAY_TYPE' | translate}}</label>
                    <div class='input-group '>
                        <ui-select tagging ng-model="model.PayType" theme="bootstrap" on-select="changleSelect('PayType')">
                            <ui-select-match placeholder="--{{'MPT_CURD_COMBO_MPT_PAY_TYPE' | translate}}--">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="x.Value as x in PaymentType | filter: $select.search">
                                {{x.Name}}
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.PayType=''" class="btn btn-default no-shadow">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="fw600 text-underline">{{'MPT_CURD_LBL_MPT_CONTRACT_NAME' | translate}}</label>
                    <div class='input-group '>
                        <input ng-model="model.ContractName" class="form-control" type="text" placeholder="{{'MPT_CURD_TXT_MPT_PAY_CONTRACT_NAME' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.ContractName=''" class="btn btn-default no-shadow">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="fw600 text-underline">{{'MPT_CURD_LBL_MPT_FROM_DATE' | translate}}</label>
                    <div class='input-group '>
                        <input type='text' class="form-control input-date" ng-model="model.FromDate" placeholder="{{'MPT_CURD_TXT_MPT_PAY_FROM_DATE' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" id="FromDate" autocomplete="off" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.FromDate=''" class="btn btn-default no-shadow">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="fw600 text-underline">{{'MPT_CURD_LBL_MPT_TO_DATE' | translate}}</label>
                    <div class='input-group '>
                        <input type='text' class="form-control input-date" ng-model="model.ToDate" placeholder="{{'MPT_CURD_TXT_MPT_PAY_TO_DATE' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" id='DateTo' autocomplete="off" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.ToDate=''" class="btn btn-default no-shadow">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-4 pt25">
                    <button class="btn btn-accent" ng-click="reload()">
                        <i class="fa fa-search"></i>
                        {{'COM_BTN_SEARCH' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<table class="table dataTable table-hover table-striped"
       datatable
       dt-options="dtOptions"
       dt-columns="dtColumns"
       dt-instance="dtInstance"
       id="tblData"></table>
