<div class="modal-header">
    <img class="close icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-plus-circle icon-insert "></i>
    <div class="modal-title  custom-title " id="modal-title"> {{'CUS_CURD_TAB_MORE_TITLE_ADD_MORE' | translate}}</div>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <form name="addform" class="form-horizontal userFormAreaHeader" method="post" ng-validate="validationOptionsmore">
            <div class="form-body pt-0">
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fa fa-barcode"></i>
                        <label class="control-label require">{{'SUP_CURD_TAB_MORE_CURD_LBL_CODE' | translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" name="ext_code" ng-model="model.ext_code" placeholder="{{'SUP_CURD_TAB_MORE_CURD_TXT_CODE' | translate}}..." />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <i class="fa fa-code"></i>
                        <label class="control-label require">{{'SUP_CURD_TAB_MORE_CURD_LBL_VALUE' | translate}}</label>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" name="ext_value" ng-model="model.ext_value" placeholder="{{'SUP_CURD_TAB_MORE_CURD_TXT_VALUE' | translate}}..." />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <a data-dismiss="modal" class="btn btn-red" href="javascript:;" ng-click="cancel()">
        {{'COM_BTN_CANCEL' | translate}}
    </a>
    <button ng-click="submit()" class="btn btn-green mr5">
        {{'COM_BTN_ADD' | translate}}
    </button>
</div>