/*.table-hover > tbody > tr:hover, .table-hover > tbody > tr:hover > td {
    background: #f3f4f6 !important;
    font-weight: bold;
}*/

#webmenu {
    width: 340px;
}

#map {
    width: 100%;
    height: 90%;
}

/*#go_to_field {
            position: absolute;
            top: 10px;
            left: 165px;
        }*/

#idlistpark {
    width: 250px;
    top: 10px;
    left: 10px;
    background: none repeat scroll 0 0 white;
}

#idlistpark2 {
    width: 250px;
    top: 10px;
    left: 10px;
    background: none repeat scroll 0 0 white;
}

#idlistpark3 {
    width: 250px;
    top: 10px;
    left: 10px;
    background: none repeat scroll 0 0 white;
}

#popup {
    min-width: 420px;
}

.popover {
    max-width: 900px;
    min-width: 470px;
    position: absolute;
}

.arrow {
    position: relative;
    background: #fff;
    border: 1px solid #003c88;
}

    .arrow:after, .arrow:before {
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .arrow:after {
        border-color: rgba(255, 255, 255, 0);
        border-top-color: #fff;
        border-width: 10px;
        margin-left: -10px;
    }

    .arrow:before {
        border-color: rgba(153, 153, 153, 0);
        border-top-color: #003c88;
        border-width: 11px;
        margin-left: -11px;
    }

.rightPanel {
    position: absolute;
    top: 0;
    right: 0;
    /* box-shadow: -5px -5px 5px #666; */
    /*box-shadow: -4px -4px 6px rgb(84, 82, 82);
            -moz-box-shadow: -4px -4px 6px rgb(84, 82, 82);
            -webkit-box-shadow: -4px -4px 6px rgb(84, 82, 82);*/
}

.rightPanel1 {
    border-radius: 7px;
    background: none repeat scroll 0 0 rgba(0,0,0,.5);
    color: #fff;
    padding: 5px;
    float: right;
    z-index: 0;
    position: absolute;
    top: 55px;
    right: 10px;
    font-size: 12px;
}

.tab-content {
    margin-top: 40px;
    /*z-index: 999 !important;*/
    /*position: absolute;*/
    /*margin-left: 100px;
    right: 0;*/
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.list-group-item {
    background: none repeat scroll 0 0 rgba(0,0,0,.5);
}

.dual-list .list-group {
    margin-top: 8px;
}

.list-left li, .list-right li {
    cursor: pointer;
}

.list-arrows {
    padding-top: 100px;
}

    .list-arrows button {
        margin-bottom: 20px;
    }

h3 {
    text-transform: uppercase;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

    .dropbtn:hover, .dropbtn:focus {
        background-color: #3e8e41;
    }

.dropdown {
    position: relative;
    /*display: inline-block;*/
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

.dropdown a:hover {
    background-color: #f1f1f1
}

.show {
    display: block;
}


.mini-submenu {
    padding: 9px;
}

/*.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 2px;
}*/

.mini-submenu:hover {
    cursor: pointer;
}

.mini-submenu .icon-bar {
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
    margin-top: 3px;
    background-color: #000;
}



#slide-submenu {
    cursor: pointer;
}

p {
    color: black;
}

.btn-label {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0,0,0,0.15);
    border-radius: 3px 0 0 3px;
}

.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}

    .btn-labeled:focus {
        color: aqua;
    }

.menu {
    background-color: #00547E;
    border-bottom: 4px solid #04A3ED;
    width: 100%;
    height: auto;
    padding: 0 10px;
    position: absolute;
    margin-right: 10px;
    z-index: 1;
    opacity: 0.9;
}


.popup:after, .popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.popup:after {
    border-top-color: white;
    border-width: 10px;
    right: 120px;
}

.popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    right: 120px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.menu .navbar-nav > .active > a {
    background-color: #04A3ED;
    color: white;
    font-weight: bold;
}

.menu .navbar-nav > li > a {
    font-size: 13px;
    color: white;
    padding: 10px 35px;
}

    .menu .navbar-nav > li > a:hover {
        background-color: #226c20;
    }

.navbar-header > a {
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 5px 30px;
}

    .navbar-header > a:hover {
        text-decoration: none;
        color: #04A3ED;
    }

.form-bordered {
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.2);
    background: #f2f5ebc4;
    border-radius: 4px;
    /* padding-left: 5px; */
}

/*.ab:focus {
    position: relative;
    -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 1px 0px rgba(21,73,155,1), 0px -2px 25px rgba(0,0,0,.7);
    color: blanchedalmond;
    text-decoration: none;
    background-color: #337ab7;
    display: block;
    letter-spacing: 1px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-align: center;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}

.ab {
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 1px 0px rgba(21,73,155,1), 0px -2px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
    letter-spacing: 1px;
    color: black;
    background-color: cornflowerblue;
    font-family: 'Yanone Kaffeesatz';
    font-weight: 700;
    font-size: 1.2em;
    padding: 4px;
    margin: -9px auto;
    width: 77px;
}*/

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border-color: #999;
}

.nav-tabs > li.active {
    background-color: white !important;
    color: white;
}
/*.tab-pane {
    height: 600px;
    overflow-y: scroll;
}*/
.input-group-addon {
    padding: 0px 10px;
}

.nav-tabs > li > a {
    font-weight: bold;
    /* border-top-left-radius: 10px; */
    /* border-top-right-radius: 10px; */
    background: white;
    color: black;
    border: 1px solid #999;
    margin: 0px;
    font-size: 15px;
    padding: 8px 20px;
}

    .nav-tabs > li > a:hover {
        background: rgba(0, 0, 0, 0.3);
        color: white;
        border-color: #999;
    }

.nav-tabs > li.active {
    background: #296a27;
    color: white;
}


.table-toolbar {
    padding: 10px;
    background-color: #fff;
    border-radius: 4px !important;
    border: 1px solid #c1bfbf;
    /*margin-top: 8%;*/
    /*height: 605px;*/
    width: 485px;
    /*padding-left: 13px !important;*/
}


.table-toolbar-no-padding {
    background-color: #ecf0f1;
    border-radius: 4px !important;
    border: 2px solid #ccc;
    margin-bottom: -44px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    background: linear-gradient(to bottom,#f2eee6,#FBFCFC );
    box-shadow: 2px 5px 1pc #0a070947;
}

div.tab button:hover {
    background-color: #296a27;
}

button.tablinks.active {
    background-color: #296a27;
    color: white;
}

.table > thead > tr > th {
    color: darkgreen;
}
