
<style>
    .modal-footer {
        padding-right: 25px !important;
    }
</style>

<div class="modal-header no-color">
    <!--<img class="close icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-edit icon-edit"></i>-->
    <div class="modal-title custom-title black" id="modal-title"> Chi tiết tiến độ công việc</div>
</div>
<div class="modal-body pt20" id="modal-body">
    <div class="portlet-body form">

        <div class="clearfix form-group">
            <div class="col-md-12">
                <table class="table table-hover table-bordered table-striped ">
                    <thead class="title">
                        <tr>
                            <th class="text-center col-md-3">Nhân viên</th>
                            <th class="text-center col-md-3">NPP/Đlý/Cửa hàng</th>
                            <th class="text-center col-md-3">Tình trạng</th>
                        </tr>
                    </thead>
                    <!--<tbody>
                        <tr ng-repeat="x in model.ListData">
                            <td class="text-center">
                                <label>{{x.BandView}}</label>
                            </td>
                            <td class="text-center">
                                <label>{{x.Date}}</label>
                            </td>
                            <td class="text-center">
                                <label>{{x.Seq01Qty}}</label>
                            </td>
                        </tr>
                    </tbody>-->
                    <tbody>
                        <tr>
                            <td class="text-center">
                                <label>Phạm Thu Quỳnh</label>
                            </td>
                            <td class="text-center">
                                <label>Lân Huế</label>
                            </td>
                            <td class="text-center">
                                <label>Đã xong</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <label>Phạm Thu Quỳnh</label>
                            </td>
                            <td class="text-center">
                                <label>Hà Phát</label>
                            </td>
                            <td class="text-center">
                                <label>Đang nhập liệu</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <label>Phạm Thu Quỳnh</label>
                            </td>
                            <td class="text-center">
                                <label>Đỗ Văn Quỳnh</label>
                            </td>
                            <td class="text-center">
                                <label>Chưa đến</label>
                            </td>
                        </tr>
                    </tbody>
                    <!--<tfoot class="title">
                        <tr>
                            <th class="text-center"></th>
                            <th class="text-center">TOTAL</th>
                            <th class="text-center">{{model.Seq01QtyTotal}}</th>
                            <th class="text-center">{{model.Seq02QtyTotal}}</th>
                            <th class="text-center">{{model.Seq03QtyTotal}}</th>
                            <th class="text-center">{{model.Seq04QtyTotal}}</th>
                            <th class="text-center">{{model.Seq05QtyTotal}}</th>
                            <th class="text-center">{{model.Seq06QtyTotal}}</th>
                            <th class="text-center">{{model.Seq07QtyTotal}}</th>
                        </tr>
                    </tfoot>-->
                </table>
            </div>
        </div>

    </div>
</div>
<div class="modal-footer">
    <a data-dismiss="modal" class="btn  btn-default " href="javascript:;" ng-click="cancel()">
        Hủy bỏ
    </a>
    <!--<button ng-click="submit()" class="btn blue no-boxshadow mr25" href="javascript:;" style="font-weight:bold;margin-right:25px">
        Chỉnh sửa
    </button>-->
</div>




<!--Xử lý upload ảnh-->
<!--<div class="col-md-4">
    <div class="form-group">
        <div class="col-md-12" style="margin-top:5px">
            <div class="thumbnail " style="border: 0; box-shadow: none">
                <input id="File" accept=".png,.jpg,.jpeg,.gif,.tif" type="file" style="display:none" />
                <img src="{{model.Pic}}" ng-click="uploadImage()" id="imageId" class="rounded-circle height-150 width-150 cursor-pointer" alt="Card image" />
            </div>
        </div>
    </div>
</div>-->
<!--Xử lý bắt điều kiện người dùng tự tạo-->
<!--<div class="form-group" ng-class="{ 'has-error': errorSex}">
    <div class="col-md-12">
        <i class="fa fa-transgender" aria-hidden="true"></i>
        <label class="control-label require">Giới tính</label>
    </div>
    <div class="col-md-12">
        <div class="input-group">
            <ui-select tagging ng-model="model.Sex" theme="bootstrap" on-select="changleSelect('Sex')">
                <ui-select-match placeholder="Chọn giới tính...">{{$select.selected.Name}}</ui-select-match>
                <ui-select-choices repeat="x.Code as x in ListSex | filter: $select.search">
                    {{x.Name}}
                </ui-select-choices>
            </ui-select>
        </div>
        <span ng-show="errorSex" class="label-color validation-message">
            Chọn giới tính!
        </span>
    </div>
</div>-->
<!--Hiển thị datepicker-->
<!--<div class="form-group" ng-class="{ 'has-error': errorBirthday}">
    <div class="col-md-12">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <label class="control-label require">Ngày sinh</label>
    </div>
    <div class="col-md-12">
        <div class="input-group date" id="birthday">
            <input type="text" class="form-control input-date" ng-model="model.Birthday" ng-readonly="isEnalePatient" name="Birthday" placeholder="Chọn ngày sinh..." ng-change="changleSelect('Birthday')" />
            <span class="input-group-addon">
                <span class="fa fa-calendar"></span>
            </span>
        </div>
        <span ng-show="errorBirthday" class="label-color validation-message">
            Ngày sinh sai định dạng!
        </span>
    </div>
</div>-->
<!--Hiển thị định dạng ngày tháng trên html combobox-->
<!--<div class="input-group">
    <ui-select tagging ng-model="modelSearchParent.Parent" theme="bootstrap" on-select="selectComboboxParent(modelSearchParent.Parent)" ng-disabled="isEnaleComboboxParent">
        <ui-select-match placeholder="Tìm kiếm theo mã, tên, số điện thoại, email, facebook, địa chỉ">{{$select.selected.ParentName}} - {{$select.selected.Birthday | date: 'dd/MM/yyyy'}} - {{$select.selected.Phone}} - {{$select.selected.Email}} - {{$select.selected.Facebook}} - {{$select.selected.Address}}</ui-select-match>
        <ui-select-choices repeat="x in ListParentCombobox | filter: $select.search">
            {{x.ParentCode}} - {{x.ParentName}} - {{x.Birthday | date: 'dd/MM/yyyy'}} - {{x.Phone}} - {{x.Email}} - {{x.Facebook}} - {{x.Address}}
        </ui-select-choices>
    </ui-select>
    <span class="input-group-btn">
        <button type="button" ng-click="deleteComboboxParent()" class="btn btn-default no-shadow" style="">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </span>
</div>-->
