<div class="portlet-body" style="    padding: 10px;">
    <div class="table-toolbar" style="padding-bottom: 15px;">
        <div class="col-md-12">
            <div class="btn-group pull-right actions">
                <a ng-click="export()" class="btn btn-info br4">
                    <span class=""><i class="glyphicon glyphicon-export"></i> Xuất excel</span>
                </a>
            </div>
        </div>
        <div class="col-md-12" style="padding:0">
            <div class="col-md-3" style="padding-left:0">
                <label class="labelSearch"> Nhân viên</label>
                <input type="text" class="form-control" placeholder="Nhân viên..." ng-model="model.Name" />
            </div>
            <div class="col-md-3" style="padding-left:0">
                <label class="labelSearch"> Mã công việc</label>
                <input type="text" placeholder="Mã công việc..." ng-model="model.WpCode" class="form-control" />
            </div>
            <div class="col-md-3" style="padding-left:0">
                <label class="labelSearch"> Tình trạng</label>
                <div class="input-group">
                    <select ng-model="model.CurrentStatus" tabindex="-1" aria-hidden="true" ng-change="reload()"
                            class="form-control select2-multiple select2-hidden-accessible">
                        <option value="">Tất cả tình trạng</option>
                        <option ng-repeat="x in ListCurrentStatus" value="{{x.Name}}">{{x.Name}}</option>
                    </select>
                    <span class="input-group-btn">
                        <button type="button" ng-click="model.CurrentStatus=''" class="btn btn-default no-shadow">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                </div>
            </div>

            <div class="col-md-3">
                <button class="btn btn-primary" style="margin-top: 26px; border-radius:5px !important;" ng-click="reload()"><i class="fa fa-search"></i> Tìm kiếm </button>
            </div>
        </div>
    </div>
    <div class="col-md-12" style="padding:10px; background:white">
        <table class="table dataTable table-hover table-striped"
               datatable
               dt-options="dtOptions"
               dt-columns="dtColumns"
               dt-instance="dtInstance"
               id="tbldata"></table>
    </div>
</div>

