<style>
    .btn.btn-image {
        padding: 0px 14px 0px 0px !important;
        background-color: transparent;
    }

        .btn.btn-image img {
            width: 32px;
            height: 32px;
        }

    .temp {
        font-size: 16px;
        font-weight: 700;
        color: #fff;
    }

    .tempRed {
        font-size: 18px;
        font-weight: 700;
        color: #e74c3c;
    }

    .hum {
        font-size: 16px;
        font-weight: 700;
        color: #d0ad00;
    }

    .humRed {
        font-size: 18px;
        font-weight: 700;
        color: #e74c3c;
    }

    .color-blue {
        color: #3498db;
    }

    .bg-blue {
        background: #1C86C4;
    }

    .boder-right-2 {
        border-right: white 2px solid;
    }

    .h-60 {
        height: 60px;
    }
</style>
<div class="modal-header">
    <img class="close icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-info-circle icon-edit "></i>
    <span class="modal-title " id="modal-title">Thông tin người / vật</span>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form mt15">
        <label class="bold uppercase text-underline hidden">Thông tin người / vật</label>
        <div class="row">
            <div class="col-md-12 mt5">
                <div class="col-lg-3">
                    <label class="bold">Vị trí : </label><br />
                    <label class="bold">Face ID : </label><br />
                    <label class="bold">Tên người / vật: </label><br />
                    <label class="bold">Thời gian : </label><br />
                    <label class="bold">Hình ảnh : </label><br />
                </div>
                <!--<div class="form-group">
                    <div class="col-md-4">
                        <i class="fa fa-barcode" aria-hidden="true"></i>
                        <label class="control-label">Vị trí</label>
                    </div>
                </div>-->
                <div class="col-lg-5">
                    <label class="color-blue bold">Kho hàng K_001</label><br />
                    <label class="color-blue bold">F_001</label><br />
                    <label class="color-blue bold">Nguyễn Văn B</label><br />
                    <label class="color-blue bold">19:36:34 &nbsp &nbsp  28/3/2019</label><br />
                </div>
            </div>
            <div class="col-md-12 mt5">
                <div class="col-md-3">
                    <div class="img-thumbnail">
                        <img src="http://lapdatcameraanninh.net/upload/images/lap-dat-camera-quan-sat-kho-hang-194222230217.png" class="h-100 w-100" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="img-thumbnail">
                        <img src="http://lapdatcameraanninh.net/upload/images/lap-dat-camera-quan-sat-kho-hang-194222230217.png" class="h-100 w-100" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="img-thumbnail">
                        <img src="http://lapdatcameraanninh.net/upload/images/lap-dat-camera-quan-sat-kho-hang-194222230217.png" class="h-100 w-100" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="img-thumbnail">
                        <img src="http://lapdatcameraanninh.net/upload/images/lap-dat-camera-quan-sat-kho-hang-194222230217.png" class="h-100 w-100" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="img-thumbnail">
                        <img src="http://lapdatcameraanninh.net/upload/images/lap-dat-camera-quan-sat-kho-hang-194222230217.png" class="h-100 w-100" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="img-thumbnail">
                        <img src="http://lapdatcameraanninh.net/upload/images/lap-dat-camera-quan-sat-kho-hang-194222230217.png" class="h-100 w-100" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="img-thumbnail">
                        <img src="http://lapdatcameraanninh.net/upload/images/lap-dat-camera-quan-sat-kho-hang-194222230217.png" class="h-100 w-100" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="img-thumbnail">
                        <img src="http://lapdatcameraanninh.net/upload/images/lap-dat-camera-quan-sat-kho-hang-194222230217.png" class="h-100 w-100" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>