<style>
    .btn.btn-image {
        padding: 0px 14px 0px 0px !important;
        background-color: transparent;
    }

        .btn.btn-image img {
            width: 32px;
            height: 32px;
        }

    .temp {
        font-size: 16px;
        font-weight: 700;
        color: #fff;
    }

    .tempRed {
        font-size: 18px;
        font-weight: 700;
        color: #e74c3c;
    }

    .hum {
        font-size: 16px;
        font-weight: 700;
        color: #d0ad00;
    }

    .humRed {
        font-size: 18px;
        font-weight: 700;
        color: #e74c3c;
    }

    .color-blue {
        color: #3498db;
    }

    .bg-blue {
        background: #1C86C4;
    }

    .boder-right-2 {
        border-right: white 2px solid;
    }
</style>
<div class="modal-header">
    <img class="close icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-info-circle icon-edit "></i>
    <span class="modal-title " id="modal-title">Thông tin quan trắc</span>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form mt15">
        <label class="bold uppercase text-underline hidden">Thông tin quan trắc</label>
        <form name="addForm" class="form-horizontal bg-blue" method="post" ng-validate="validationOptions">
            <div class="form-body pt-0">
                <div class="row mt-action-5">
                    <div class="row">
                        <div class="col-md-6 text-center boder-right-2">
                            <div class="form-group">
                                <div class="col-md-3 ml25">
                                    <div class="h-50 text-center pt15">
                                        <img src="../../../images/temp/temp.png" height="50" width="50" />
                                    </div>
                                </div>
                                <div class="col-md-4 pt5">
                                    <label class="control-label temp">30 &deg;C</label><br />
                                    <label class="control-label temp">30 &deg;F</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 text-center">
                            <div class="form-group">
                                <div class="col-md-3 ml25">
                                    <div class="h-50 text-center pt20">
                                        <img src="../../../images/temp/humi.png" height="40" width="70" />
                                    </div>
                                </div>
                                <div class="col-md-5 pt20">
                                    <label class="control-label temp">70 %</label><br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-12 text-center mt15">
                <img src="../../../images/temp/device.png" height="100" width="100" />
            </div>
            <div class="col-md-12 mt5">
                <label class="bold fs15">Thông tin thiết bị</label><br />
            </div>
            <div class="col-md-12 mt5">
                <label class="bold">1) Cảm biến nhiệt độ NTC </label><br />
                <label class="color-blue bold">Dải đo: -10 ~ +70 °C</label><br />
                <label class="color-blue bold">Độ chính xác: ±0.5 °C</label>
            </div>
            <div class="col-md-12 mt5">
                <label class="bold">2) Độ ẩm </label><br />
                <label class="color-blue bold">Dải đo: 2~ 98 %rH</label><br />
                <label class="color-blue bold">Độ chính xác: ±2 %rH</label>
            </div>
            <div class="col-md-12 mt5">
                <label class="bold">3) Thông số chung </label><br />
                <label class="color-blue bold">Tốc độ đo: 18 giây</label><br />
                <label class="color-blue bold">Màn hình: LCD</label><br />
                <label class="color-blue bold">Pin: pin khối 9V, 6F22, thời lượng 1 năm</label><br />
                <label class="color-blue bold">Kích thước: 111 x 90 x 40 mm</label><br />
                <label class="color-blue bold">Trọng lượng: 168 g</label><br />
                <label class="color-blue bold">Phụ kiện kèm theo: Máy chính testo 608-H2 và pin</label><br />
            </div>
        </div>
    </div>
</div>
