<div class="table-toolbar">
    <div class="row">
        <div class="col-md-6 ">
            <h1 class="bold mb-0">Dữ liệu quan trắc</h1>
            <ul class="breadcrumb-title">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="#">{{'COM_LINK_HOME' | translate}}</a>
                    <span>&gt;</span>
                </li>
                <li>
                    <a href="#/IOTParamaterConfiguration">Dữ liệu quan trắc</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row pt10 mb15">
        <div class="col-md-2">
            <label class="control-label">&nbsp;Từ ngày</label>
            <div class="input-group">
                <div class='input-group date' id='FromDate'>
                    <input ng-model="model.FromDate" autocomplete="off" class="form-control" type="text" placeholder="Từ ngày..." ng-keydown="($event.keyCode == 13) && reload()" id='FromDate' />
                    <span class="input-group-btn">
                        <button type="button" ng-click="model.FromDate=''" class="btn btn-default no-shadow start-date">
                            <span class="fa fa-calendar"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form group ml-3">
            <div class="col-md-2">
                <label class="control-label">&nbsp;Đến ngày</label>
                <div class="input-group">
                    <div class='input-group date' id='ToDate'>
                        <input ng-model="model.ToDate" autocomplete="off" class="form-control" type="text" placeholder="Đến ngày..." ng-keydown="($event.keyCode == 13) && reload()" id='ToDate' />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.ToDate=''" class="btn btn-default no-shadow start-date">
                                <span class="fa fa-calendar"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="control-label">&nbsp;Tên thiết bị</label>
            <div class='input-group '>
                <input ng-model="model.DeviceName" class="form-control" type="text" placeholder="Thiết bị..." ng-keydown="($event.keyCode == 13) && reload()" />
                <span class="input-group-btn">
                    <button type="button" ng-click="model.DeviceName='';" class="btn btn-default no-shadow end-date">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div>
        </div>
        <!--<div class="col-md-3">
            <label class="control-label">&nbsp;Vị trí</label>
            <div class='input-group'>
                <ui-select tagging ng-model="model.Location" theme="bootstrap">
                    <ui-select-match placeholder="Vị trí">{{$select.selected.Name}}</ui-select-match>
                    <ui-select-choices repeat="x.Code as x in ActivityType | filter: $select.search">
                        {{x.Name}}
                    </ui-select-choices>
                </ui-select>
                <span class="input-group-btn">
                    <button type="button" ng-click="model.Location='';" class="btn btn-default no-shadow end-date">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div>
        </div>-->
        <div class="col-md-1">
            <div class="btn-group pull-right actions d-flex">
                <div class="text-center pr10" style="padding-top: 15px;">
                    <a ng-click="search()" class=" btn btn-icon-only btn-circle btn-outline purple-custom">
                        <span><i class="fa fa-search"></i></span>
                    </a>
                    <p class="text-underline fs9 mb5 pt3">Tìm kiếm</p>
                </div>
            </div>
        </div>
    </div>
</div>
<table class="table dataTable table-hover table-striped"
       datatable
       dt-options="dtOptions"
       dt-columns="dtColumns"
       dt-instance="dtInstance"
       id="tblData"></table>
