<style>
    .board-main-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-right: 0;
        transition: margin .1s ease-in;
    }

    .board-header {
        flex: none;
        height: auto;
        overflow: hidden;
        padding: 8px 4px 8px 8px;
        position: relative;
        transition: padding .1s ease-in;
    }

    .divider {
        border-left: 1px solid #000000;
        height: 16px;
        margin: 8px 4px 0 0;
    }

    .dark-hover:hover {
        background-color: #CDD2D4 !important;
    }

    a:hover {
        text-decoration: none;
    }

    .card {
        background-color: #EDEFF0;
        border-radius: 5px;
        padding: 10px;
        width: 260px;
        margin-bottom: 10px;
        margin-left: 10px;
    }

    .p0 {
        padding: 0px
    }

    .gray {
        color: gray;
    }

    .white {
        color: white !important;
    }

    .tag-item {
        background: #fff;
        display: block;
        box-shadow: 0 1px 0 #ccc;
        background-color: #ffffff;
        border-radius: 3px;
        padding: 7px;
    }

        .tag-item:hover {
            background-color: #fbfbfb;
        }

        .tag-item .edit {
            float: right;
            border: 0;
            /* margin-top: 0px; */
            /* margin-left: 89%; */
            position: relative;
            /* width: 30px; */
            height: 30px;
        }

        .tag-item .contents {
            cursor: pointer;
            margin-top: -30px;
            margin-bottom: 0px !important;
        }

    .new-category {
        display: block;
        color: white;
        font-size: 12px;
        background-color: rgba(0,0,0,0.15)
    }

        .new-category:hover {
            color: white;
            background-color: rgba(0,0,0,0.3)
        }

    .new-tag {
        color: #8c8c8c;
        display: block;
        font-size: 12px;
    }

        .new-tag:hover {
            background-color: #EDEFF0;
        }

    .form-control {
        border-radius: 5px;
    }

    .disable {
        display: none;
    }

    .category-title {
        border: 0;
        font-weight: bold;
        background-color: #EDEFF0;
    }

        .category-title:focus {
            border: 1px;
            border-radius: 5px;
            background-color: #FFFFFF;
        }



    /*css Menu */
    /*Những thứ cần thử (đây là một danh sách)*/
    .form-horizontal .form-group {
        margin-left: 0;
        margin-right: 0;
    }

    .img-thumbnail {
        border: 0px solid #ddd;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    @media (min-width: 1200px) {
        .col-lg-3 {
            width: 20%;
        }
    }

    .content-wrapper {
        background: #4bbf6b;
    }

    .list-menu {
        background: #e2e4e6;
        border-radius: 5px;
    }

    .list-header {
        padding: 8px 0px 10px 8px;
    }

    .list-body::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

    .list-body::-webkit-scrollbar {
        width: 10px;
        background-color: #c4c9cc;
    }

    .list-body::-webkit-scrollbar-thumb {
        background-color: #c4c9cc;
    }

    .list-body {
        overflow-x: hidden;
        overflow-y: visible;
        max-height: 460px;
    }

        .list-body textarea {
            padding: 6px 0px 20px;
            width: 100%;
            border: none;
        }

            .list-body textarea:focus {
                outline: none;
            }

        .list-body .hover:hover {
            background-color: #edeff0;
        }

    .list-detail {
        cursor: pointer;
        border-radius: 3px;
        background: #fff;
        display: block;
        box-shadow: 0 1px 0 #ccc;
    }

        .list-detail label {
            cursor: pointer;
        }

    .list-footer {
        cursor: pointer;
        padding: 10px 0px 15px;
        color: #8c8c8c;
    }

        .list-footer span:hover {
            color: #000000;
            text-decoration: underline;
        }

        .list-footer button {
            font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
            border-radius: 3px !important;
            font-weight: 700;
            opacity: 0.9;
            background: #5aac44;
            box-shadow: 0 1px 0 #519839;
            color: #fff;
            transition: background .3s ease;
        }

            .list-footer button:hover {
                color: white;
                background: #519839 100%
            }

            .list-footer button:focus {
                color: white;
            }

        .list-footer a {
            font-size: 10px !important;
            box-shadow: none !important;
            color: #999;
        }
</style>
<div class="container-fluid">
    <div class="row header">
        <div class="col-md-6">
            <a class="" href="#" style="font-size: 18px; font-weight:bold">AAA</a>
            <a class="" href="#" style="font-size: 14px; padding: 0px 10px 0px 20px">
                <span class="fa fa-star-o"></span>
            </a>
            <span class="divider"></span>
            <a class="" href="#" style="padding: 0px 5px 0px 5px">Cá nhân</a>
            <span class="divider"></span>
            <a class="" href="#" style="padding: 0px 5px 0px 5px">
                <i class="fa fa-lock"></i>
                Riêng tư
            </a>
            <span class="divider"></span>
            <button class="btn btn-circle btn-icon-only" style="margin: 0px 0px 5px 5px; padding: 0px; width: 30px; height: 30px; font-weight:bold">
                NB
            </button>
            <a class="" href="#" style="padding-left: 10px">
                <i class="fa fa-user-plus"></i>
            </a>
        </div>
        <div class="col-md-6 text-right">
            <a ng-click="menuRight()" class="">
                <i class="fa fa-ellipsis-h"></i>
                Hiện menu
            </a>
        </div>
    </div>
    <div class="row body" style="margin-top: 5px">
        <div id="categories">
            <div class="list-menu col-md-3">
                <div class="list-header">
                    <i class="fa fa-bars"></i><b> Những thứ cần thử (đây là một danh sách)</b>
                </div>
                <div class="list-body">
                    <div class="form-horizontal">
                        <div class="form-body" ng-repeat="x in listDetail">
                            <div class="form-group">
                                <div class="col-md-12 list-detail" ng-class="{ 'hover': x.Save}">
                                    <div ng-click="editTag(x.Id)">
                                        <img ng-if="x.Id=='2'" src="../../images/taco.png" class="img-thumbnail" />
                                        <label ng-if="x.Save" class="mt10 mb10 ">
                                            {{x.Title}}
                                        </label>
                                    </div>
                                    <textarea autofocus ng-model="x.Title" placeholder="Nhập tiêu đề cho bảng này..." ng-if="!x.Save"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-footer" ng-if="!menuSave">
                    <button class="btn" ng-click="saveMenu()">Thêm thẻ</button>
                    <a class="btn" ng-click="closeMenu()"><i class="fa fa-times fa-2x"></i> </a>
                </div>
                <div class="list-footer" ng-click="addMenu()" ng-if="menuSave">
                    <i class="fa fa-plus"></i><span> Thêm thẻ khác</span>
                </div>
            </div>
        </div>
        <div id="addCategoryDiv" class="col-md-2 text-center">
            <div id="addCategoryBox" class="card col-md-12 disable" style="padding: 3px">
                <div class="col-md-12 p0">
                    <input id="addCateroryTitle" class="form-control" type="text" placeholder="Nhập tiêu đề danh sách..." />
                </div>
                <div class="col-md-12 p0 text-left" style="margin-top: 3px">
                    <button class="btn btn-success bold" ng-click="addCategory()">
                        Thêm danh sách
                    </button>
                </div>
            </div>
            <a id="addCategory" class="new-category" onclick="addCategory()" style="padding: 10px">
                <i class="fa fa-plus"></i>
                Thêm danh sách khác
            </a>
        </div>
    </div>
</div>


<script src="/views/cardJob/Trash/main.js"></script>