<style>
    .dataTables_wrapper .table-scrollable {
        border: 1px solid #e7ecf1 !important;
    }

    @media (min-width:992px) and (max-width:1200px) {
        .modal-80 {
            width: 80%;
        }
    }

    @media (min-width:1201px) and (max-width:1400px) {
        .modal-80 {
            width: 70%;
        }
    }

    @media (min-width:1400px) {
        .modal-80 {
            width: 60%;
        }
    }
</style>
<div class="modal-header">
    <img class="icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-plus-circle icon-insert "></i>
    <span class="modal-title" id="modal-title">{{'Sửa danh sách bài viết' | translate}}</span>
</div>
<div class="modal-body pb-0" id="modal-body">
    <div class="portlet-body form">
        <form name="addform" class="form-horizontal userFormAreaHeader" method="post" ng-validate="validationOptions">
            <div class="form-body pt-0">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="col-md-4">
                                <i class="fa fa-barcode"></i>
                                <label class="control-label require">{{'Tiêu đề' | translate}}</label>
                            </div>
                            <div class="col-md-8">
                                <input class="form-control" name="ProjectCode" ng-model="model.ProjectCode" type="text" placeholder="{{'Tiêu đề' | translate}}..." />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <i class="fa fa-barcode"></i>
                                <label class="control-label require">{{'Đường dẫn' | translate}}</label>
                            </div>
                            <div class="col-md-8">
                                <input class="form-control" name="ProjectCode" ng-model="model.ProjectCode" type="text" placeholder="{{'Đường dẫn' | translate}}..." />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <i class="fa fa-user"></i>
                                <label class="control-label require">{{'Chuyên mục' | translate}}</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <ui-select tagging ng-model="model.CustomerCode" theme="bootstrap" on-select="changleSelect('CustomerCode')">
                                        <ui-select-match placeholder="{{'Chuyên mục' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="x.Code as x  in Customers | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                        <button type="button" ng-click="model.CustomerCode=''" class="btn btn-default no-shadow" style="">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </span>

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <i class="fa fa-user"></i>
                                <label class="control-label">{{'Mô tả' | translate}}</label>
                            </div>
                            <div class="col-md-8">
                                <textarea name="Note" rows="5" class="form-control" ng-model="model.AetDescription" type="text" placeholder="{{'FAE_CURD_TXT_NOTE' |translate}}..." ng-disabled="IsPermission"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-md-4 text-left"><i class="fas fa-gift"></i>&nbsp;{{'Ngày đăng' | translate}}</label>
                            <div class="col-md-8">
                                <div class='input-group date' id='date-birthday'>
                                    <input type='text' class="form-control input-date" name="birthday" ng-model="model.birthday" placeholder="{{'Ngày đăng' | translate}}..." />
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 pr-0">
                                <i class="fa fa-money" aria-hidden="true"></i>
                                <label class="control-label ">{{'Kiểu bài viết' | translate}}</label>
                            </div>
                            <div class="col-md-8 d-flex pr-0">
                                <label class="control-label text-left ng-binding">Bài viết thường</label>
                                <div class="mt-checkbox-list pt5 pl10">
                                    <label class="mt-checkbox mt-checkbox-outline mb10">
                                        <input type="checkbox" name="IsEnabled" ng-model="IsEnabledImportLot" ng-click="checkedImportLot(IsEnabledImportLot)" ng-checked="IsEnabledImportLot" class="ng-valid ng-dirty ng-valid-parse ng-touched ng-empty">
                                        <span></span>
                                    </label>
                                </div>
                                <label class="control-label text-left ng-binding">Tiêu điểm</label>
                                <div class="mt-checkbox-list pt5 pl10">
                                    <label class="mt-checkbox mt-checkbox-outline mb10">
                                        <input type="checkbox" name="IsEnabled" ng-model="IsEnabledImportLot" ng-click="checkedImportLot(IsEnabledImportLot)" ng-checked="IsEnabledImportLot" class="ng-valid ng-dirty ng-valid-parse ng-touched ng-empty">
                                        <span></span>
                                    </label>
                                </div>
                                <label class="control-label text-left ng-binding">Bài nổi bật</label>
                                <div class="mt-checkbox-list pt5 pl10">
                                    <label class="mt-checkbox mt-checkbox-outline mb10">
                                        <input type="checkbox" name="IsEnabled" ng-model="IsEnabledImportLot" ng-click="checkedImportLot(IsEnabledImportLot)" ng-checked="IsEnabledImportLot" class="ng-valid ng-dirty ng-valid-parse ng-touched ng-empty">
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <i class="fas fa-info-circle"></i>
                                <label class="control-label">{{'Chọn templte hiển thị' | translate}}</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <ui-select tagging ng-model="model.PrjType" theme="bootstrap" on-select="changleSelect('PrjType')">
                                        <ui-select-match placeholder="{{'Chọn templte hiển thị' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="x.Code as x in projectType | filter: $select.search">
                                            {{x.Name}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn no-shadow btn-default" style="">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <i class="fa fa-user"></i>
                                <label class="control-label ">{{'Ngôn ngữ' | translate}}</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <ui-select tagging ng-model="model.CaseWorker" theme="bootstrap" on-select="changleSelect('CaseWorker')">
                                        <ui-select-match placeholder="{{'Chọn ngôn ngữ' | translate}}...">{{$select.selected.GivenName}}</ui-select-match>
                                        <ui-select-choices repeat="x.UserId as x in listUser | filter: $select.search">
                                            {{x.GivenName}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                        <button type="button" ng-click="model.CaseWorker='';" class="btn btn-default no-shadow">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <i class="fa fa-barcode"></i>
                                <label class="control-label">{{'Tags' | translate}}</label>
                            </div>
                            <div class="col-md-8">
                                <input class="form-control" name="ProjectCode" ng-model="model.ProjectCode" type="text" placeholder="{{'Tags' | translate}}..." />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-12">
            <uib-tabset active="active">
                <uib-tab class="mt5" index="0" heading="{{'Nội dung' | translate}}" disable="Object.SupplierId == ''" ng-click="chkSubTab()">
                    <textarea ng-model="model.Description" ui-tinymce="tinymceOptions"></textarea>
                </uib-tab>
                <uib-tab class="mt5" index="1" heading="{{'Ảnh' | translate}}">
                    <div ng-include="'../views/admin/cmsItem/image.html'"></div>
                </uib-tab>
                <uib-tab class="mt5" index="2" heading="{{'File đính kèm' | translate}}">
                    <div ng-include="'../views/admin/cmsItem/file.html'"></div>
                </uib-tab>
                <div class="pull-right">
                    <div class="btn-group actions d-flex">
                        <div class="pr10">
                            <a data-dismiss="modal" ng-click="cancel()" class="btn btn-icon-only btn-circle btn-outline red-custom">
                                <span><i class="glyphicon glyphicon-remove"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_CANCEL' | translate}}</p>
                        </div>
                        <div class="text-center pl20" ng-click="submit()">
                            <a class="btn btn-icon-only btn-circle btn-outline green-custom">
                                <span><i class="fa fa-plus"></i></span>
                            </a>
                            <p class="text-underline mb-0 fs9  pt3">{{'COM_BTN_ADD' | translate}}</p>
                        </div>
                    </div>
                </div>
            </uib-tabset>
        </div>
    </div>
</div>
