<div id="tab_image" class="tab-pane admin-form">
    <div class="row">
        <div class="col-lg-7">
            <div class="fileupload fileupload-new mh15" data-provides="fileupload" id="block-upload-image" style="width: 500px; height: 380px; margin: 0 auto !important;">
                <div class="form-group">
                    <div class="fileupload-new thumbnail pb-0" style="border:0; box-shadow: none;background:none;">
                        <input id="file" accept=".png,.jpg,.jpeg,.gif,.tif" type="file" style="display:none" />
                        <img id="picture" ng-click="loadImage()" class="h-300 w-170 br-n" onerror="this.src='/images/default/cmscategory.png'" ng-src="{{model.picture==null ? '/images/default/cmscategory.png' : model.picture}}" role="button" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-3">
                        <a href="#" class="btn btn-system btn-block fileupload-exists" data-dismiss="fileupload">Chọn ảnh</a>
                    </div>
                    <div class="col-xs-3">
                        <input id="ImageServer" name="ImageServer" type="hidden" value="" />
                        <a href="javascript:void(0);"
                           data-href="#modal-panel-frame"
                           class="btn btn-system btn-block"
                           data-event="popup-modal"
                           data-iframe-href="/assets/vendor/filemanager/dialog.php?type=1&amp;field_id=ImageServer"
                           data-iframe-title="Responsive Filemanager"
                           data-iframe-height="500">
                            Browse server...
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-5">
            <div class="form-group">
                <i class="far fa-sticky-note" aria-hidden="true"></i>
                <label class="control-label require">  {{'Image Caption' | translate}} </label>
                <input type="text" class="form-control" ng-model="model.Title" name="Title" placeholder=" {{'Image Caption' | translate}}..." ng-disabled="IsPermission" />
            </div>
            <div class="form-group">
                <i class="far fa-sticky-note" aria-hidden="true"></i>
                <label class="control-label require">  {{'Image Credits' | translate}} </label>
                <input type="text" class="form-control" ng-model="model.Title" name="Title" placeholder=" {{'Image Credits' | translate}}..." ng-disabled="IsPermission" />
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">

</div>
