<div class="table-toolbar">
    <div class="row">
        <div class="col-md-6 ">
            <h1 class="bold mb-0">{{'Danh sách bài viết' | translate}}</h1>
            <ul class="breadcrumb-title">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="#">{{'FCC_LINK_HOME' | translate}}</a>
                    <span>&gt;</span>
                </li>
                <li>
                    <a href="#/AssetActivity">{{'Danh sách bài viết' | translate}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="portlet light bordered input-search mb5">
        <div class="portlet-body">
            <div class="row pt5 mb5">
                <div class="col-md-4">
                    <label class="fw600 text-underline">{{'Trạng thái' | translate}}</label>
                    <div class="input-group">
                        <ui-select tagging ng-model="model.ProjectType" theme="bootstrap">
                            <ui-select-match placeholder="{{'Trạng thái' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="x.Code as x in projectType | filter: $select.search">
                                {{x.Name}}
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.ProjectType='';" class="btn btn-default no-shadow start-date">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="fw600 text-underline">{{'publish' | translate}}</label>
                    <div class="input-group">
                        <ui-select tagging ng-model="model.ProjectType" theme="bootstrap">
                            <ui-select-match placeholder="{{'publish' | translate}}...">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="x.Code as x in projectType | filter: $select.search">
                                {{x.Name}}
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.ProjectType='';" class="btn btn-default no-shadow start-date">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="btn-group pt10 actions d-flex">
                        <div class="text-center">
                            <a class="btn btn-icon-only btn-circle btn-outline purple-custom" ng-click="search()">
                                <span><i class="fa fa-search"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
                        </div>
                        <div class="pl20 text-center">
                            <a class="btn btn-icon-only btn-circle btn-outline green-custom" ng-click="add()">
                                <span><i class="fa fa-plus"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<table class="table dataTable table-hover table-striped"
       datatable
       dt-options="dtOptions"
       dt-columns="dtColumns"
       dt-instance="dtInstance"
       id="tblData"></table>
