@charset "utf-8";

body {
    background: url(../images/Background.png);
    background-size: cover;
    /* margin-left: 500px; */
    /* background: #364150; */
}

.wapter {
    /*margin-top: 50px;*/
    width: 100%;
    height: auto
}

#login_workload_logo_image {
    max-width: 300px;
    max-height: 60px
}

@font-face {
    font-family: 'maturasc';
    src: url('font/maturasc.ttf') format('truetype');
}

@font-face {
    font-family: 'impact';
    src: url('font/impact.ttf') format('truetype');
}

.s-wrok {
    text-shadow: 2px 2px #ccc;
    font-size: 50px;
    color: #3498db;
    font-family: fantasy;
}

.logistic {
    text-shadow: 1px 1px #ccc;
    font-size: 20px;
    color: #3498db;
    font-family: fantasy;
    position: relative;
    top: -18px;
}

.fa-user {
    position: absolute;
    padding: 12px;
    color: #ccc;
}

.fa-lock {
    position: absolute;
    padding: 12px;
    color: #ccc;
}

.login_panel {
    border-radius: 6px;
    /* box-shadow: 5px 5px; */
    padding: 0 40px;
    background: #0591E6;
    /* height: 100%; */
    width: 46%;
    margin: 0 auto;
    z-index: 1;
    /* -webkit-box-shadow: 1px 1px 6px #fdf6f6; */
    -moz-box-shadow: 0 15px 10px #777;
    /* box-shadow: 0 3px 50px #777; */
    /* -webkit-transform: rotate(3deg); */
    /*-moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);*/
    /* transform: rotate(3deg); */
}

.login_panel_layout {
    margin: 0 auto;
    text-align: left
}

.login_inner_container {
    min-height: 80%;
    width: 100%;
}

input.login_textfield {
    height: 37px;
    padding-left: 30px;
    margin: 0px;
    z-index: 3;
    /* background: transparent; */
    color: #000000;
    border-radius: 5px;
}

/*.button {
    border-radius: 5px !important;
    font-weight: bold;
    background: #4ad041;
    border: 1px solid #fff;
    color: #ffffff;
    width: 100%;
    cursor: pointer;
    margin-right: 4px;
    transition: background 1s;
    -moz-transition: background 1s;
    -webkit-transition: background 1s;
    -o-transition: background 1s;
    transition-property: background;
    transition-duration: 1s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    border-radius: 0;
    height: 45px;
}*/

.button:hover {
    background: #8bd5f7;
    color: #fff;
    border: none;
}

@media only screen and (max-height: 820px),(max-device-height: 820px) {
    .inner_container {
        padding-top: 45px
    }

    .spacer {
        padding-top: 30px
    }
}

@media only screen and (max-height: 600px),(max-device-height: 600px) {
    .inner_container {
        padding-top: 30px
    }

    .spacer {
        padding-top: 10px
    }
}

@media only screen and (max-height: 575px),(max-device-height: 575px) {
    .inner_container {
        padding-top: 30px
    }

    .spacer {
        padding-top: 0
    }
}

@media only screen and (max-width: 600px),(max-device-width: 600px) {
    html {
        background: #FFF;
        overflow: hidden
    }

    .icon-3i {
        display: none;
    }

    body {
        background: #FFF
    }

    .login_panel {
        float: none;
        height: 100%;
        width: 100%;
        min-width: 100%;
        margin: 0;
        padding: 0 20px;
        z-index: 999;
        padding-top: 0;
        overflow: auto
    }

    #login_panel {
        border-left: 0
    }

    #login_panel_center {
        width: 400px
    }
}


@media only screen and (max-width: 420px),(max-device-width: 420px) {
    .login_panel {
        float: none;
        height: 100%;
        width: 100%;
        min-width: 100%;
        margin: 0;
        padding: 0 20px;
        z-index: 1;
        padding-top: 0;
        overflow: auto
    }

    #login_panel_center {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%
    }

    img.workload_img {
        max-width: 280px;
        width: auto
    }
}

.validation-summary-errors ul, .validation-summary-errors li {
    list-style: none;
    display: inline;
    padding: 0;
}

.input-validation-error {
    border: 1px solid #a94442 !important;
}

.ui_logo3i {
    bottom: 0;
    position: fixed;
    padding-bottom: 1%;
}

.ui_img_logo {
    width: 100px;
    height: 100px;
}

.container_logo_store {
    position: fixed;
    left: 0;
}

.ui_applestore {
    width: 90%;
}

.ui_chplay {
    width: 90%;
}

.checkbox-default label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
    font-weight: 400;
    color: #ffffff;
}

    .checkbox-default label::before {
        cursor: pointer;
        content: "";
        display: inline-block;
        position: absolute;
        width: 17px;
        height: 17px;
        left: 0;
        margin-left: -20px;
        border: 1px solid darkgray;
        background-color: #fff;
        -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    }

    .checkbox-default label::after {
        display: inline-block;
        position: absolute;
        width: 16px;
        height: 16px;
        left: -16px;
        top: 0;
        /*margin-left: -20px;
        padding-left: 3px;*/
        padding-top: 1px;
        font-size: 11px;
        color: #999;
    }

.checkbox-default input[type="checkbox"] {
    opacity: 0;
}

    .checkbox-default input[type="checkbox"]:focus + label::before {
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
        outline: 0;
    }

    .checkbox-default input[type="checkbox"]:hover + label::before {
        background: #eee;
    }

    .checkbox-default input[type="checkbox"]:checked + label::after {
        font-family: 'FontAwesome';
        content: "\f00c";
    }

    .checkbox-default input[type="checkbox"]:disabled + label {
        opacity: 0.65;
    }

        .checkbox-default input[type="checkbox"]:disabled + label::before {
            background-color: #eeeeee;
            cursor: not-allowed;
        }

.ui_applestore {
}

.ui_chplay {
}

.forget-password {
    color: #fff;
}

.icon {
    color: #0591E6;
}

.logo_swork {
    background: none !important;
    border: 0 !important;
}

.btn-login {
    background-image: linear-gradient(to bottom, #78e477, #008a27);
    font-weight: bold;
    border: none;
    color: #ffffff;
    width: 100%;
    -moz-transition: background 1s;
    -o-transition: background 1s;
    transition-property: background;
    transition-duration: 1s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    height: 45px;
}

    .btn-login:hover {
        border-color: #F7F7F7;
        color: #ffffff;
        background-color: #1EFF1C;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#1EFF1C), to(#055937));
        background-image: -webkit-linear-gradient(top, #1EFF1C, #055937);
        background-image: -moz-linear-gradient(top, #1EFF1C, #055937);
        /*background-image: -ms-linear-gradient(top, #1EFF1C, #055937);*/
        background-image: -o-linear-gradient(top, #1EFF1C, #055937);
        background-image: linear-gradient(to bottom, #1EFF1C, #055937);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1EFF1C, endColorstr=#055937);
    }

.text-danger {
    color: #f5f5f5;
}

.navbar-inverse {
    /* background-color: #3498DB !important; */
    /* border-color: #3498DB !important; */
}

    .navbar-inverse .navbar-nav > li > a {
        color: #000;
    }

    .navbar-inverse .navbar-brand {
        color: #000;
    }

.navbar {
    min-height: 0px !important;
}
