<div class="row">
    <div class="col-md-6 ">
        <h1 class="bold mb-0">{{'ADM_PERMISSION_LBL_PERMISSION' | translate}}</h1>
        <ul class="breadcrumb-title">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{'ADM_PERMISSION_LINK_HOME' | translate}}</a>
                <span>&gt;</span>
            </li>
            <!--<li>
                <a href="#">Admin</a>
                <span>&gt;</span>
            </li>-->
            <li>
                <a href="/Permission">{{'ADM_PERMISSION_LINK_PERMISSION' | translate}}</a>
            </li>
        </ul>
    </div>
</div>
<div class="mb10 pt5">
    <input type="checkbox" class="make-switch" data-size="small" data-on-text="<i class='fa fa-unlock'></i>" data-off-text="<i class='fa fa-lock'></i>" data-on-color="success" data-off-color="danger" name="LockChecked" ng-model="lockCheckGroupUser" ng-change="changeLockCheckGroup()" title="Lock / Unlock function" />
    <span class="text-danger">{{'ADM_PERMISSION_GUIDE_LBL_LOCK' | translate}}</span> / <span class="text-success">{{'ADM_PERMISSION_GUIDE_LBL_UNLOCK' | translate}}</span>
</div>

<div class="todo-ui row">
    <style>
        tr.highlight-row {
            background: #c7ecfc !important;
            color: #333 !important;
        }

        .table-hover > tbody > tr.highlight-row:hover, .table-hover > tbody > tr.highlight-row:hover > td {
            background: #c7ecfc !important;
        }

        tr.selected-row {
            background: #c7ecfc !important;
            color: #333 !important;
            font-weight: bold !important;
        }

        .ui-select-toggle {
            border-radius: 0 !important;
            border-bottom-left-radius: 4px !important;
            border-top-left-radius: 4px !important;
        }

        .table-hover > tbody > tr.selected-row:hover, .table-hover > tbody > tr.selected-row:hover > td {
            background: #c7ecfc !important;
        }

        .count-highlight {
            color: #333;
        }

        .count-selected {
            color: #333;
        }

        .block-table-group > .fixed-table-container {
            height: 375px;
            padding-bottom: 30px;
        }

        .block-table-function > .fixed-table-container {
            height: 375px;
            padding-bottom: 30px;
        }

        .block-table-resource > .fixed-table-container {
            height: 468px;
            padding-bottom: 30px;
        }

        .block-table-group .fixed-table-body tbody td:hover,
        .block-table-function .fixed-table-body tbody td:hover {
            cursor: pointer;
        }

        .table-height-scroll {
            display: block;
            height: 375px;
            overflow: auto;
            border: 1px solid #e7ecf1;
        }

        .table-height-scroll1 {
            display: block;
            height: 468px !important;
            overflow: auto;
            margin-bottom: 0 !important;
        }

        /*.table-height-scroll2 {
            display: block;
            height: 375px !important;
            overflow: hidden;
        }*/

        .table-height-scroll2 {
            overflow: auto;
            height: 375px !important;
            border: 1px solid #e7ecf1;
        }

        .table-resource .mt-checkbox {
            padding-left: 18px;
        }

        .bootstrap-table table label.mt-checkbox span {
            background: #fff !important;
            border: 1px solid #CFCFCF !important;
        }

        @media only screen and (min-width : 992px) {
            .res-pa-h0 {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
        }

        .todo-ui .portlet.light {
            padding: 5px 12px 15px;
            margin-bottom: 5px;
        }

            .todo-ui .portlet.light > .portlet-title > .caption {
                padding: 7px 0;
            }

            .todo-ui .portlet.light > .portlet-title {
                min-height: 40px;
            }

            .todo-ui .portlet.light .portlet-body {
                padding-top: 0px;
            }

        .portlet.light > .portlet-title > .caption {
            color: #333;
        }
    </style>

    <div class="col-md-3 col-sm-6" id="contentMainGroupUser">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-sharp hide"></i>
                    <span class="caption-subject bold uppercase">{{'ADM_PERMISSION_LBL_ROLE' | translate}} / {{'ADM_PERMISSION_LBL_DEPT' | translate}}</span>
                </div>
            </div>

            <div class="portlet-body todo-project-list-content">
                <div class="form-group">
                    <div class="input-group">
                        <ui-select ng-model="model.RoleId" ng-change="changeRole();">
                            <ui-select-match placeholder="{{'ADM_PERMISSION_COMBO_ROLE' | translate}}...">Vai trò : {{$select.selected.Title}}</ui-select-match>
                            <ui-select-choices repeat="x.Id as x in listRoles | filter:$select.search">
                                {{x.Title}}
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.RoleId = '';changeRole();" class="btn btn-default no-shadow">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="mb10">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="{{'ADM_PERMISSION_TXT_DEPT' | translate}}..." ng-model="model.SearchGroup" name="SearchGroup" ng-keydown="($event.keyCode == 13) && SearchGroupUser()" />
                        <!--<span class="input-group-btn">
                            <button type="button" ng-click="clearSearchGroupUser();" class="btn btn-default no-shadow" title="Clear search">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>-->
                        <span class="input-group-btn">
                            <button type="button" ng-click="SearchGroupUser();" class="btn btn-default no-shadow">
                                <span class="fa fa-search"></span>
                            </button>
                        </span>
                    </div>
                </div>

                <div class="bootstrap-table block-table-group">
                    <div class="fixed-table-container">
                        <div class="fixed-table-header">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center bs-checkbox" style="width: 34px; padding: 5px 0;">
                                            <label class="mt-checkbox" style="padding-left: 18px;" title="Select All" ng-show="listGroupUser.length > 0 && lockCheckGroupUser">
                                                <input type="checkbox" ng-model="selectAllGroupUser" ng-click="clickSelectAllGroupUser(selectAllGroupUser)" /><span></span>
                                            </label>
                                        </th>
                                        <th class="text-center" style="padding: 5px 0;">
                                            {{'ADM_PERMISSION_LBL_DEPT' | translate}}&nbsp;
                                            <!--<span class="count-selected" title="Count all checked">({{ getCountGroupUserLength() }})</span>&nbsp;-->
                                            <span class="" title="Count all highlight">({{ getCountGroupUserHighlight() }})</span>
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="fixed-table-body">
                            <table class="table table-hover table-condensed">
                                <tbody>
                                    <tr ng-repeat="item in listGroupUser" ng-class="{ 'selected-row': item.IsChecked, 'highlight-row': item.IsEnabled }">
                                        <td class="text-center bs-checkbox" style="width: 34px;">
                                            <label class="mt-checkbox" style="padding-left: 18px;">
                                                <input type="checkbox" ng-model="item.IsChecked" ng-click="clickSelectOneGroupUser(item, 0)" /><span></span>
                                            </label>
                                        </td>
                                        <!--<td nowrap ng-click="clickSelectOneGroupUser(item, 1)">
                                            {{ item.Ord == 2 || item.Ord == 4 ? "&nbsp;&nbsp;&nbsp;&nbsp;" : item.Ord == 3 || item.Ord == 5 ? "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" : "" }}
                                            <i class="icon-lg fa " ng-class="{'fa-folder-open icon-state-warning': item.Ord == 1 || item.Ord == 2 || item.Ord == 4, 'fa-folder': item.Ord == 3 || item.Ord == 5, 'text-info': item.Ord == 3, 'font-green-sharp': item.Ord == 5}"></i>&nbsp;
                                            {{ item.Title }}
                                        </td>-->
                                        <td nowrap ng-click="clickSelectOneGroupUser(item, 1)">
                                            <div style="padding-left: {{15 * item.Level}}px">
                                                <i ng-show="item.HasChild" class="fa fa-folder-open icon-state-warning"></i>
                                                <i ng-show="!item.HasChild" class="fa fa-folder text-info"></i>
                                                {{item.Title}}
                                            </div>
                                            <!--{{ item.Ord == 2 || item.Ord == 4 ? "&nbsp;&nbsp;&nbsp;&nbsp;" : item.Ord == 3 || item.Ord == 5 ? "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" : "" }}
                                            <i class="icon-lg fa " ng-class="{'fa-folder-open icon-state-warning': item.Ord == 1 || item.Ord == 2 || item.Ord == 4, 'fa-folder': item.Ord == 3 || item.Ord == 5, 'text-info': item.Ord == 3, 'font-green-sharp': item.Ord == 5}"></i>&nbsp;
                                            {{ item.Title }}-->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--<div class="table-height-scroll">
                    <div id="treeDiv" js-tree="treeConfig" should-apply="ac()" ng-model="treeData" tree="treeInstance" tree-events-obj="treeEventsObj"></div>
                </div>-->
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 res-pa-h0" id="contentMainAppFunc">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-sharp hide"></i>
                    <span class="caption-subject bold uppercase">{{'ADM_PERMISSION_LBL_APP' | translate}} / {{'ADM_PERMISSION_LBL_FUNC' | translate}}</span>
                </div>
                <div class="pull-right" style="padding: 2px 0;">
                    <!--<label class="mt-checkbox mt-checkbox-outline" style="margin-bottom: 0; padding-left: 22px;">
                        <b>Lock</b>
                        <input type="checkbox" value="1" name="LockChecked" ng-model="lockCheckGroupUser" ng-change="changeLockCheckGroup()"/>
                        <span></span>
                    </label>-->
                </div>
            </div>

            <div class="portlet-body todo-project-list-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="input-group">
                                <ui-select ng-model="model.ApplicationId" class="" ng-change="changeApplication()">
                                    <ui-select-match placeholder="{{'ADM_PERMISSION_COMBO_APP' | translate }}...">Application : {{$select.selected.Title}}</ui-select-match>
                                    <ui-select-choices repeat="x.Code as x in applicationData | filter:$select.search">
                                        {{x.Title}}
                                    </ui-select-choices>
                                </ui-select>
                                <!--<span class="input-group-btn">
                                    <button type="button" ng-click="clearApplication()" class="btn btn-default no-shadow">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>-->
                                <span class="input-group-btn">
                                    <button type="button" ng-click="clearApplication();" class="btn btn-default no-shadow">
                                        <span class="fa fa-times"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group mb10">
                            <div class="input-group">
                                <ui-select ng-model="model.Function" class="" ng-change="changeFunction()">
                                    <ui-select-match placeholder="{{'ADM_PERMISSION_COMBO_FUNC' | translate }}...">Chức năng : {{$select.selected.Title}}</ui-select-match>
                                    <ui-select-choices repeat="x in ddlFunction | filter:$select.search">
                                        {{x.Title}}
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="clearFunction();" class="btn btn-default no-shadow">
                                        <span class="fa fa-times"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bootstrap-table block-table-function">
                    <div class="fixed-table-container">
                        <div class="fixed-table-header">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center bs-checkbox" style="width: 28px; padding: 5px 0;">
                                            <label class="mt-checkbox" style="padding-left: 18px;" title="Select All" ng-show="listFunction.length > 0">
                                                <input type="checkbox" ng-model="selectAllFunction" ng-click="clickSelectAllFunction(selectAllFunction)" /><span></span>
                                            </label>
                                        </th>
                                        <th class="text-center" style="padding: 5px 0;">
                                            {{'ADM_PERMISSION_LBL_FUNC' | translate}}&nbsp;
                                            <span>({{ getCountFunctionLength() }})</span>
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="fixed-table-body">
                            <table class="table table-hover table-condensed">
                                <tbody>
                                    <tr ng-repeat="item in listFunction" ng-class="{'selected-row': item.IsChecked}">
                                        <td class="text-center bs-checkbox" style="width: 34px;">
                                            <label class="mt-checkbox" style="padding-left: 18px;">
                                                <input type="checkbox" ng-model="item.IsChecked" ng-click="clickSelectOneFunction(item, 0)" /><span></span>
                                            </label>
                                        </td>
                                        <td nowrap ng-click="clickSelectOneFunction(item, 1)">
                                            {{ item.Ord == 2 ? "&nbsp;&nbsp;&nbsp;&nbsp;" : item.Ord == 3 ? "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" : "" }}
                                            <i class="icon-state-warning icon-lg fa " ng-class="item.Ord == 3 ? 'fa-folder' : 'fa-folder-open'"></i>&nbsp;
                                            {{ item.Title }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!--<div id="contentMainTree2" class="table-height-scroll2">
                    <div id="treeDiv1" js-tree="treeConfig1" should-apply="applyModelChanges()" ng-model="treeData1" tree="treeInstance" tree-events-obj="treeEventsObj1"></div>
                </div>-->
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12" id="contentMainResourceApi">
        <div class="portlet light bordered">
            <!-- PROJECT HEAD -->
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-sharp hide"></i>
                    <span class="caption-subject bold uppercase">
                        {{"ADM_PERMISSION_LBL_RESOURCE" | translate }}&nbsp;
                        <span>({{ getCountResourceLength() }})</span>
                    </span>
                </div>
                <div class="pull-right" ng-show="showSelectPermission && model.Resources.length > 0">
                    <a ng-click="saveResource()" title="{{'COM_BTN_SAVE' | translate }}" data-toggle="modal" class="btn btn-circle btn-icon-only btn-default blue" ng-show="showSelectPermission">
                        <i class="fa fa-floppy-o"></i>
                    </a>
                    <a ng-click="refreshResource()" title="Refresh" class="btn btn-circle btn-icon-only btn-default">
                        <i class="fa fa-refresh"></i>
                    </a>
                </div>
            </div>
            <!-- end PROJECT HEAD -->
            <div class="portlet-body">
                <div class="">
                    <div class="table-scrollable table-height-scroll1">
                        <table class="table table-bordered table-hover table-resource">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        <label class="mt-checkbox mt-checkbox-outline" ng-show="showSelectPermission && model.Resources.length > 0">
                                            <input type="checkbox" ng-model="selectAll" ng-click="selectAllResource(selectAll)" /><span style="border: 1px solid #CFCFCF !important;"></span>
                                        </label>
                                    </th>
                                    <th class="text-center">{{'ADM_PERMISSION_LIST_COL_RESOURCE_NAME' | translate }}</th>
                                    <th class="text-center">{{'ADM_PERMISSION_LIST_COL_RESOURCE_DESCRIPTION' | translate }}</th>
                                    <th class="text-center">{{'ADM_PERMISSION_LIST_COL_RESOURCE_API' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in model.Resources" ng-click="checked(item)">
                                    <td colspan="4" ng-if="item.IsFunction">
                                        Chức năng: <b>{{ item.FunctionName }}</b>
                                    </td>
                                    <td class="text-center" ng-if="!item.IsFunction">
                                        <button type="button" class="btn btn-icon-only green" style="margin-right: 0px !important" ng-class="{ green: item.HasPermission, red: !item.HasPermission}" ng-click="selectOneResource(item)" ng-show="showSelectPermission">
                                            <i class="fa fa-check" ng-class="{ 'fa-check': item.HasPermission, 'fa-remove': !item.HasPermission }"></i>
                                        </button>
                                    </td>
                                    <td ng-if="!item.IsFunction">{{ item.Title}}</td>
                                    <td ng-if="!item.IsFunction">{{ item.Description }}</td>
                                    <td ng-if="!item.IsFunction">{{ item.Api }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!--<div class="bootstrap-table block-table-resource">
                        <div class="fixed-table-container">
                            <div class="fixed-table-header">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th class="text-center bs-checkbox" style="width: 50px; padding: 5px 0;">
                                            <label class="mt-checkbox" style="padding-left: 18px;">
                                                <input type="checkbox" ng-model="selectAll" ng-click="selectAllResource(selectAll)" ng-show="showSelectPermission"/><span ng-show="showSelectPermission"></span>
                                            </label>
                                        </th>
                                        <th class="text-center" style="padding: 5px 0;">{{'RESOURCE_NAME' | translate }}</th>
                                        <th class="text-center" style="padding: 5px 0;">{{'DESCRIPTION' | translate }}</th>
                                        <th class="text-center" style="padding: 5px 0;">{{'API' | translate }}</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="fixed-table-body">
                                <table class="table table-hover">
                                    <tbody>
                                    <tr ng-repeat="item in model.Resources">
                                        <td colspan="4" ng-if="item.IsFunction">
                                            Function: <b>{{ item.FunctionName }}</b>
                                        </td>
                                        <td class="text-center" ng-if="!item.IsFunction">
                                            <button type="button" class="btn btn-icon-only green" style="margin-right: 0px !important" ng-class="{ green: item.HasPermission, red: !item.HasPermission}" ng-click="selectOneResource(item)" ng-show="showSelectPermission">
                                                <i class="fa fa-check" ng-class="{ 'fa-check': item.HasPermission, 'fa-remove': !item.HasPermission }"></i>
                                            </button>
                                        </td>
                                        <td ng-if="!item.IsFunction">{{ item.Title}}</td>
                                        <td ng-if="!item.IsFunction">{{ item.Description }}</td>
                                        <td ng-if="!item.IsFunction">{{ item.Api }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>
