<div class="modal-header">
    <img class="close icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="icon-diamond" style="color: white;font-size: 20px;padding: 10px 0px 10px 10px;"></i>
    <span class="modal-title white" id="modal-title"> {{"ADD_RESOURCE_FOR_FUNC" | translate }} Api: <span>"{{Func}}"</span></span>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form pt5">
        <style>
            @media only screen and (max-width : 992px) {
                .btn-group-vertical.margin-top-40 {
                    margin-top: 0 !important;
                    margin-bottom: 15px;
                    display: inline-block;
                }
               
                .btn-group-vertical.margin-top-40 > .btn {
                    display: inline-block;
                    width: auto;
                }
            }
            .ui-select-toggle {
                border-radius: 0 !important;
                border-bottom-left-radius: 4px !important;
                border-top-left-radius: 4px !important;
            }
            .table-box-shadow {
                box-shadow: 0 1px 3px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.18);
            }
        </style>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    <div class="col-md-8">
                        <div class="input-group col-md-10">
                            <ui-select ng-model="model.Resource" class="" style="width: 500px !important">
                                <ui-select-match placeholder="{{'SELECT_RESOURCE' | translate }}...">{{$select.selected.TitleJoin}}</ui-select-match>
                                <ui-select-choices repeat="x in treeData | filter:$select.search">
                                    {{x.TitleJoin}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-addon" ng-click="model.Resource= undefined;">
                                <span class="fa fa-times"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-green" ng-click="addFuncResource()" type="button"><i class="fa fa-plus"></i> {{"RESOURCE_ADD" | translate }}</button>
                        <button type="button" class="btn btn-default" ng-click="refreshFuncResource()">
                            <i class="fa fa-refresh"></i> {{'REFRESH' | translate}}
                        </button>
                    </div>
                </div>
                
                <table class="table dataTable table-bordered table-hover table-striped"
                       datatable
                       dt-options="dtOptions"
                       dt-columns="dtColumns"
                       dt-instance="dtInstance"
                       id="tblDataRes"></table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a data-dismiss="modal" class="btn btn-red " href="javascript:;" ng-click="cancel()">
        {{"CLOSE" | translate }}
    </a>
    <button ng-click="saveFuncResource()" class="btn btn-green">
        <i class="fa fa-floppy-o"></i> {{'SAVE' | translate}}
    </button>
</div>
