<style>
    .button-red {
        background-color: #E63C5F;
        color: white;
    }

    .form-horizontal .form-group {
        margin: 0;
    }
    .form-section {
        background: #e0e0e0;
        border-radius:4px;
        margin-bottom:10px!important;
    }
</style>
<form name="forms.basicForm" method="post" class="form-horizontal" ng-validate="validationOptions">
    <div class="form-body">
        <h4 class="form-section fw600 text-center">
            <span class="pull-right" style="margin: -4px;padding: 5px 10px 0px 0px;">
                <a ng-click="openMap()" title="Bản đồ" class="btn btn-circle btn-icon-only btn-round-red">
                    <i class="fas fa-map-marker-alt fs15"></i>
                </a>
            </span>
            <b class="fs20">Đăng ký lịch làm việc</b>
        </h4>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">
                        <label class="control-label text-left require col-md-12">Mã đăng ký</label>
                        <div class="col-md-5">
                            <div class="col-md-9 row">
                                <input id="CandidateCode" ng-model="modelInfo.CandidateCode" name="CandidateCode" type="text" class="form-control" placeholder="Mã đăng ký..." ng-disabled="Type==0" autocomplete="off" />
                            </div>
                            <div class="col-md-3">
                                <a  class="btn btn-default" ng-click="createdSearchCandiateCode(Type)">
                                    <span class="fs10"><i class=" fas " ng-class="Type == 0 ? 'fa-long-arrow-alt-down' : 'fa-search'"></i> {{Type==0 ? 'Lấy mã' : 'Tìm kiếm'}}</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <label class="checkbox-inline pb5"><input ng-model="Type"  value="0" class="mr5" type="radio" name="type" checked>Đăng ký</label>
                            <label class="checkbox-inline pb5" ><input ng-model="Type" value="1" class="mr5" type="radio" name="type" >Sửa thông tin</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label require">Họ tên</label>
                    <input type="text" name="Fullname" ng-model="modelInfo.Fullname" class="form-control" placeholder="Nhập họ tên...">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Giới tính</label>
                    <label class="checkbox-inline pb5"><input ng-model="modelInfo.Sex" value="1" class="mr5" type="radio" name="gt" checked>Nam </label>
                    <label class="checkbox-inline pb5"><input ng-model="modelInfo.Sex" value="0" class="mr5" type="radio" name="gt">Nữ</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Hôn nhân</label>
                    <label class="checkbox-inline pb5"><input ng-model="modelInfo.Married" value="1" class="mr5" type="radio" name="RadioMaried">Kết hôn</label>
                    <label class="checkbox-inline pb5"><input ng-model="modelInfo.Married" value="0" class="mr5" type="radio" name="RadioMaried" checked>Độc thân</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label require">Địa chỉ</label>
                    <input type="text" name="Address" ng-model="modelInfo.Address" class="form-control" placeholder="Nhập địa chỉ..." >
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" ng-class="{ 'has-error': errorPhone}">
                    <label class="control-label require">Số điện thoại</label>
                    <input name="MobilePhone" ng-model="modelInfo.Phone" class="form-control" placeholder="Nhập số điện thoại..."  step="1" ng-change="changleSelect('Phone')" />
                    <span ng-show="errorPhone" class="label-color validation-message">
                        Số điện thoại sai định dạng!
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label require">Email</label>
                    <input type="text" name="Email" ng-model="modelInfo.Email" class="form-control " placeholder="Nhập email...">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label require">Ngày sinh</label>
                    <div class='input-group date' id="date-birthday">
                        <input type='text' ng-model="modelInfo.Birthday" class="form-control" placeholder="Ngày sinh..." />
                        <span class="input-group-addon" style="border: 1px solid #ccc; border-left: 0px">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Tên skype</label>
                    <input type="text" name="Skype" ng-model="modelInfo.Skype" class="form-control" placeholder="Nhập tên skype...">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label require">Tải CV</label>
                    <div class="input-group input-file">
                        <input name="FileCV" class="form-control inputFile" placeholder='Chọn tệp (docx, doc, pdf)' />
                        <span class="input-group-btn">
                            <span class="btn btn-default btn-choose" style="height:33px;box-shadow:none" onclick="$(this).parent().find('input[type=file]').click();">Chọn</span>
                            <input class="form-control" id="File" accept=".docx,.doc,.pdf" onchange="$('.inputFile').val($(this).val().split('\\').pop());" style="display:none" type="file">
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Mục tiêu</label>
            <textarea id="projectinput8" rows="5" class="form-control" ng-model="modelInfo.Targeting" name="comment" placeholder="Nhập mục tiêu"></textarea>
        </div>
        <div class="row">
            <div class="col-md-12 text-right mt10">
                <a class="btn btn-red" ng-click="nextTab(1)">
                    <span><i class="fas fa-arrow-right"></i>&nbsp;Tiếp tục</span>
                </a>
            </div>
        </div>
    </div>
</form>
