<style>
    .line {
        width: 50px;
        border: 2px solid #ccc;
    }

    .tab .nav-tabs {
        margin-bottom: 0px;
    }

        .tab .nav-tabs li {
            border-right: 1px solid #ddd;
        }

            .tab .nav-tabs li:last-child {
                border-right: 0px solid #ddd;
            }

            .tab .nav-tabs li:first-child div {
                border-left: 1px solid #ddd;
            }

            .tab .nav-tabs li div {
                color: #868686;
                background: #fff;
                border-radius: 0;
                margin-right: -1px;
                padding: 5.5px 30px;
                border-top: 1px solid #d3d3d3;
                border-bottom: 1px solid #d3d3d3;
            }

    .nav-tabs li:first-child div {
        border-radius: 5px 0 0 0px;
    }

    .nav-tabs li:last-child div {
        border-radius: 0 5px 0px 0;
        border-right: 1px solid #d3d3d3;
    }

    .tab .nav-tabs li div:hover {
        background: #eee;
    }

        .tab .nav-tabs li div:hover:before {
            border-left: 15px solid #eee;
        }

    .tab .nav-tabs li.active div:after,
    .tab .nav-tabs li div:after {
        content: "";
        border-left: 17px solid #ff007a;
        border-top: 17px solid transparent;
        border-bottom: 17px solid transparent;
        position: absolute;
        top: 1px;
        right: -18px;
        z-index: 1;
    }

    .tab .nav-tabs li div:after {
        border-left: 17px solid #d3d3d3;
    }

    .tab .nav-tabs li.active div:before {
        border-left: 17px solid #ff007a;
    }

    .tab .nav-tabs li div:before {
        border-bottom: 15px solid rgba(0, 0, 0, 0);
        border-left: 15px solid #fff;
        border-top: 15px solid rgba(0, 0, 0, 0);
        content: "";
        position: absolute;
        right: -15px;
        top: 2px;
        z-index: 2;
    }

    .tab .nav-tabs li.active > div,
    .tab .nav-tabs > li.active > div:focus,
    .tab .nav-tabs > li.active > div:hover {
        border: none;
        color: #fff;
        background: #FF007A;
        border-top: 1px solid #d3d3d3;
        border-bottom: 1px solid #d3d3d3;
        font-weight: 600;
    }

    .tab .nav-tabs li:last-child.active div:after,
    .tab .nav-tabs li:last-child div:after {
        border: none;
    }

    .tab .nav-tabs li:last-child div:after,
    .tab .nav-tabs li:last-child div:hover:before,
    .tab .nav-tabs li:last-child.active div:before,
    .tab .nav-tabs li:last-child div:before {
        border-left: none;
    }

    .tab .tab-content {
        font-size: 14px;
        border: 1px solid #d3d3d3;
        border-top: none;
        padding: 15px;
    }

    .form .form-body, .portlet-form .form-body {
        padding: 0;
    }
</style>
<div id="index-calendar">
    <div class="col-md-12 tab pb40" role="tabpanel">
        <div class="tab" role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <div href="#Section1" aria-controls="home" role="button" data-toggle="tab">1. Thông tin ứng viên</div>
                </li>
                <li role="presentation" class="disabled stepNext">
                    <div href="#Section2" aria-controls="profile" role="button" data-toggle="tab">
                        2. Thông tin bổ sung
                    </div>
                </li>
                <li role="presentation" class="disabled stepNext">
                    <div href="#Section3" aria-controls="messages" role="button" data-toggle="tab">3. Đăng ký lịch làm việc</div>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                    <div ng-include="'../views/front-end/calendarRegistration/candidate-basic.html'"></div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="Section2">
                    <div ng-include="'../views/front-end/calendarRegistration/advanced-info.html'"></div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="Section3">
                    <div ng-include="'../views/front-end/calendarRegistration/duration.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>
