<div class="modal-header">
    <img class="close icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-plus-circle icon-insert "></i>
    <div class="modal-title custom-title " id="modal-title"> {{'ORR_CURD_TITLE_ADD_ORR' | translate}}</div>
</div>
<div class="modal-body pt-0 pb-0" id="modal-body">
    <div class="portlet-body form">
        <form name="addform" class="form-horizontal" method="post" ng-validate="validationOptions">
            <div class="form-body pt0 pb-0">
                <div class="form-group">
                    <div class="col-md-3">
                        <i class="fas fa-info-circle" aria-hidden="true"></i>
                        <label class="control-label require">{{'ORR_CURD_LBL_ORR_TITLE' | translate}}</label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="model.Title" name="Title" placeholder="{{'ORR_CURD_TXT_ORR_TITLE' | translate}}..." />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <i class="far fa-comments" aria-hidden="true"></i>
                        <label class="control-label require">{{'ORR_CURD_LBL_ORR_CONTENT' | translate}}</label>
                    </div>
                    <div class="col-md-9">
                        <textarea class="form-control" rows="3" name="Content" ng-model="model.Content" placeholder="{{'ORR_CURD_TXT_ORR_CONTENT' | translate}}..."></textarea>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': errorPhone}">
                    <div class="col-md-3">
                        <i class="fas fa-phone" aria-hidden="true"></i>
                        <label class="control-label ">{{'ORR_CURD_LBL_ORR_PHONE' | translate}}</label>
                    </div>
                    <div class="col-md-4">
                        <!--<input type="text" class="form-control" ng-model="model.Phone" name="Phone" placeholder="Số điện thoại..." id="Phone" onkeypress="return ((event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode == 8 || event.charCode == 32 || (event.charCode >= 48 && event.charCode <= 57));" ng-change="changleSelect('Phone')" />-->
                        <input type="text" class="form-control" ng-model="model.Phone" name="Phone" placeholder="{{'ORR_CURD_TXT_ORR_PHONE' | translate}}..." id="Phone"  ng-change="changleSelect('Phone')" />
                        <span ng-show="errorPhone" class="label-color validation-message">
                            {{'ORR_CURD_VALIDATE_PHONE' | translate}}!
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <i class="fas fa-at" aria-hidden="true"></i>
                        <label class="control-label ">{{'ORR_CURD_LBL_ORR_MAIL' | translate}}</label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" ng-model="model.Email" name="Email" placeholder="{{'ORR_CURD_TXT_ORR_MAIL' | translate}}..." ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" />
                        <span class="text-danger" ng-show="addform.Email.$error.pattern">
                            {{'ORR_CURD_VALIDATE_MAIL' | translate}}!
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <i class="fas fa-file" aria-hidden="true"></i>
                        <label class="control-label">{{'ORR_CURD_LBL_ORR_FILE' | translate}}</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group input-file">
                            <i class="fa fa-upload"></i>
                            <input class="form-control br4 inputFile pl30" placeholder='{{'ORR_CURD_TXT_ORR_FILE' | translate}}...' readonly></>
                            <span class="input-group-btn pl10">
                                <span class="btn btn-green br4" onclick="$(this).parent().find('input[type=file]').click();"><i class="fas fa-long-arrow-alt-down"></i>{{'ORR_CURD_BTN_ADD_FILE' | translate}}</span>
                                <input class="form-control" id="File" onchange="$('.inputFile').val($(this).val().split('\\').pop());" style="display: none;" type="file">
                            </span>
                        </div>
                    </div>
                </div>
                <!--<div class="form-group">
                    <div class="col-md-3">
                        <i class="fas fa-file" aria-hidden="true"></i>
                        <label class="control-label">Tệp đính kèm 2</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group input-file">
                            <i class="fa fa-upload"></i>
                            <input class="form-control br4 inputFile2 pl30" placeholder='Chọn tệp tin 2...' readonly></>
                            <span class="input-group-btn pl10">
                                <span class="btn btn-green br4" onclick="$(this).parent().find('input[type=file]').click();"><i class="fas fa-long-arrow-alt-down"></i>Chọn tệp</span>
                                <input class="form-control" id="File2" onchange="$('.inputFile2').val($(this).val().split('\\').pop());" style="display: none;" type="file">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <i class="fas fa-file" aria-hidden="true"></i>
                        <label class="control-label">Tệp đính kèm 3</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group input-file">
                            <i class="fa fa-upload"></i>
                            <input class="form-control br4 inputFile3 pl30" placeholder='Chọn tệp tin 3...' readonly></>
                            <span class="input-group-btn pl10">
                                <span class="btn btn-green br4" onclick="$(this).parent().find('input[type=file]').click();"><i class="fas fa-long-arrow-alt-down"></i>Chọn tệp</span>
                                <input class="form-control" id="File3" onchange="$('.inputFile3').val($(this).val().split('\\').pop());" style="display: none;" type="file">
                            </span>
                        </div>
                    </div>
                </div>-->
                <div class="form-group">
                    <div class="col-md-3">
                        <i class="fas fa-exclamation" aria-hidden="true"></i>
                        <label class="control-label ">{{'ORR_CURD_LBL_ORR_PRIORITY' | translate}}</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <div class="input-group">
                                <label ng-repeat="x in entities" class="mt-checkbox mt-checkbox-outline fs12" style="margin: 6px 0 0 15px!important;">
                                    <input type="checkbox" ng-model="x.checked" ng-click="updateSelection($index, entities)"> {{x.name}}
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <i class="far fa-clock" aria-hidden="true"></i>
                        <label class="control-label ">{{'ORR_CURD_LBL_ORR_REQUESTTIME' | translate}}</label>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group date" id="requestTime">
                            <input type="text" class="form-control " ng-model="model.RequestTime" name="RequestTime" placeholder="{{'ORR_CURD_TXT_ORR_REQUESTTIME' | translate}}..." autocomplete="off"  />
                            <span class="input-group-addon" >
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <i class="fab fa-google" aria-hidden="true"></i>
                        <label class="control-label ">{{'ORR_CURD_LBL_ORR_KEY' | translate}}</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group">
                            <input type="text" class="form-control br4" id="key" placeholder="{{'ORR_CURD_TXT_ORR_KEY' | translate}}..." ng-change="googleSearch('key')" ng-model="key" />
                            <span class="input-group-btn pl10">
                                <button class="btn btn-green br4" ng-click="addKey()"><i class="fas fa-plus"></i>{{'ORR_CURD_BTN_ORR_ADD' | translate}}</button>
                            </span>
                        </div>
                        <div class="example example_markup">
                            <div class="bs-example" id="Key">
                                <input type="text" name="Key" class="tag-input" ng-model="model.Keyword" value="" data-role="tagsinput">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <a data-dismiss="modal" class="btn btn-red " href="javascript:;" ng-click="cancel()">
        {{'COM_BTN_CANCEL' | translate}}
    </a>
    <button ng-click="submit()" class="btn btn-green mr25" href="javascript:;">
        {{'COM_BTN_ADD' | translate}}
    </button>
</div>
