<div class="table-toolbar">
    <div class="row">
        <div class="col-md-4">
            <h1 class="bold mb-0">Yêu cầu sửa chữa bảo dưỡng</h1>
            <ul class="breadcrumb-title">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="/">Trang Chủ</a>
                    <span>&gt;</span>
                </li>
                <li>
                    <a href="/Contact">Yêu cầu sửa chữa bảo dưỡng</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="portlet light bordered input-search mb5">
        <div class="portlet-body">
            <div class="row pt5 mb5">
                <div class="col-md-2">
                    <label class="fw600 text-underline">Từ ngày</label>
                    <div class='input-group '>
                        <input ng-model="model.FromDate" class="form-control" type="text" placeholder="Từ ngày..." ng-keydown="($event.keyCode == 13) && reload()" id="FromTo" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.FromDate='';" class="btn btn-default no-shadow start-date">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="fw600 text-underline">Đến ngày</label>
                    <div class='input-group '>
                        <input ng-model="model.ToDate" class="form-control" type="text" placeholder="Đến ngày.." ng-keydown="($event.keyCode == 13) && reload()" id="DateTo" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.ToDate='';" class="btn btn-default no-shadow end-date">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="fw600 text-underline">Mã yêu cầu</label>
                    <div class='input-group '>
                        <input ng-model="model.RqCode" class="form-control" type="text" placeholder="Mã yêu cầu..." ng-keydown="($event.keyCode == 13) && reload()" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.RqCode='';" class="btn btn-default no-shadow">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="fw600 text-underline">Tên yêu cầu</label>
                    <div class='input-group '>
                        <input ng-model="model.RqName" class="form-control" type="text" placeholder="Tên yêu cầu.." ng-keydown="($event.keyCode == 13) && reload()" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.RqName='';" class="btn btn-default no-shadow">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="fw600 text-underline">Chi nhánh</label>
                    <div class="input-group">
                        <ui-select tagging ng-model="model.Branch" theme="bootstrap">
                            <ui-select-match placeholder="{{'Chi nhánh' | translate}}">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="x.Code as x in listBranch | filter: $select.search">
                                {{x.Name}}
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.Branch=''" class="btn btn-default no-shadow" style="">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="btn-group actions d-flex pt20">
                        <div class="text-center pr10">
                            <a data-dismiss="modal" ng-click="search()" class="btn btn-icon-only btn-circle btn-outline purple-custom">
                                <span><i class="fa fa-search"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
                        </div>
                        <div class="text-center">
                            <a ng-click="add()" class="btn btn-icon-only btn-circle btn-outline green-custom">
                                <span><i class="fa fa-plus"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<table class="table dataTable table-hover table-striped"
       datatable
       dt-options="dtOptions"
       dt-columns="dtColumns"
       dt-instance="dtInstance"
       id="tblDataIndex"></table>
