<div class="table-toolbar">
    <div class="row">
        <div class="col-md-6 ">
            <h1 class="bold mb-0">{{'NTC_TITLE_INFORMATION' | translate}}</h1>
            <ul class="breadcrumb-title">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="#">{{'COM_LINK_HOME' | translate}}</a>
                    <span>&gt;</span>
                </li>
                <li>
                    <a href="/Notification">{{'NTC_LINK_INFORMATION' | translate}}</a>
                </li>
            </ul>
        </div>
        <div class="col-md-6 ">
            <div class="btn-group pull-right actions">
                <a class="btn  btn-accent btnSearch">
                    <span class=""><i class="fa fa-search"></i> {{'COM_BTN_SEARCH' | translate}}</span>
                </a>
                <a ng-click="add()" class="btn btn-green">
                    <i class="fa fa-plus "></i>
                   {{'COM_BTN_ADD' | translate}}
                </a>
            </div>
        </div>
    </div>
    <div class="portlet light bordered input-search mb5 hidden">
        <div class="portlet-body">
            <img class="pull-right h28 w28 close-input-search" role="button" title="Đóng" src="/images/default/close.png" />
            <div class="row pt5 m5">
                <div class="col-md-3">
                    <label>{{'NTC_CURD_LBL_TITLE' | translate}}</label>
                    <div class="input-group">
                        <input ng-model="model.Name" class="form-control" type="text" placeholder="{{'NTC_CURD_TXT_TITLE' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.Name='';" class="btn btn-default no-shadow end-date">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <label>{{'NTC_CURD_LBL_START_DAY' | translate}}</label>
                    <div class="input-group date">
                        <input type='text' class="form-control input-date" ng-model="model.FromDate" placeholder="{{'NTC_CURD_TXT_START_DAY' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" id='FromTo' />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.FromDate='';" class="btn btn-default no-shadow end-date">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <label>{{'NTC_CURD_LBL_END_DAY' | translate}}</label>
                    <div class="input-group date">
                        <input type='text' class="form-control input-date" ng-model="model.ToDate" placeholder="{{'NTC_CURD_TXT_END_DAY' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" id='DateTo' />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.ToDate='';" class="btn btn-default no-shadow end-date">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3" style="padding-top:23px">
                    <button class="btn btn-accent" ng-click="reload()">
                        <i class="fa fa-search"></i>
                        {{'COM_BTN_SEARCH' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<table class="table dataTable table-hover table-striped"
       datatable
       dt-options="dtOptions"
       dt-columns="dtColumns"
       dt-instance="dtInstance"
       id="tblData"></table>
