<div class="modal-header no-color">
    <i class="far fa-comments" style="font-size: 25px;padding-top: 10px;color: black;"></i>
    <div class="modal-title custom-title black" id="modal-title"> {{'DIDP_TITLE_LIST_OF_CARRIER' | translate}}</div>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <form class="form-horizontal" method="post" ng-validate="validationOptions">
            <div class="form-body" style="border: 1px solid #efefef;">
                <table class="table table-bordered" style="margin-bottom: 0;">
                    <thead>
                        <tr>
                            <th class="col-lg-2 text-center">{{'DIDP_LIST_COL_RECEIVER' | translate}}</th>
                            <th class="col-lg-2 text-center">{{'DIDP_LIST_COL_ROLE' | translate}}</th>
                            <th class="col-lg-2 text-center">{{'DIDP_LIST_COL_COMMENT' | translate}}</th>
                            <th class="col-lg-2 text-center">{{'DIDP_LIST_COL_DELIVERY_DATE' | translate}}</th>
                            <th class="col-lg-2 text-center">{{'DIDP_LIST_COL_DEAD_LINE_SEND_USER' | translate}}</th>
                            <th class="col-lg-1 text-center">{{'DIDP_LIST_COL_STATUS' | translate}}</th>
                            <th class="col-lg-1 text-center">{{'DIDP_LIST_COL_DAY_VIEW' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                            
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <a data-dismiss="modal" class="btn btn-default mr5" href="javascript:;" ng-click="cancel()">
        {{'COM_BTN_CLOSE' | translate}}
    </a>
</div>
