<div class="modal-header no-color">
    <!--<img class="close icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />-->
    <i class="far fa-comments" style="font-size: 25px;padding-top: 10px;color: black;"></i>
    <div class="modal-title custom-title black" id="modal-title">{{'DIDP_TITLE_OPINION' | translate}}</div>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <form class="form-horizontal" method="post" ng-validate="validationOptions">
            <div class="form-body" style="border: 1px solid #efefef;">
                <span>{{comment}}</span>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <a data-dismiss="modal" class="btn btn-default mr5" href="javascript:;" ng-click="cancel()">
        {{'COM_BTN_CLOSE' | translate}}
    </a>
</div>
