<div class="modal-header no-color">
    <!--<img class="close icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />-->
    <i class="far fa-comments" style="font-size: 25px;padding-top: 10px;color: black;"></i>
    <div class="modal-title custom-title black" id="modal-title">{{'DIDP_TITLE_OPINION' | translate}}</div>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <form class="form-horizontal" method="post" ng-validate="validationOptions">
            <div class="form-body pt-0 pb-0">
                <div class="row">
                    <textarea class="form-control" rows="6" ng-model="comment" autocomplete="off" type="text" placeholder="{{'DIDP_CURD_TXT_ENTER_OPINION' | translate}}..." />
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <a data-dismiss="modal" class="btn btn-default " href="javascript:;" ng-click="cancel()">
        {{'COM_BTN_CLOSE' | translate}}
    </a>
    <button ng-click="submit()" class="btn btn-red mr10" href="javascript:;">
        {{'COM_BTN_SAVE' | translate}}
    </button>
</div>
