<div class="modal-header no-color">
    <img class="close icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-plus-circle icon-insert"></i>
    <div class="modal-title custom-title black" id="modal-title">{{'DIDP_TITLE_EXPORT_EXCEL' |translate}}</div>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <form name="addform" class="form-horizontal" method="post" ng-validate="validationOptions">
            <div class="form-body pt-0">
                <div class="row mt-action-5">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="col-md-4 text-right">
                                <i class="fas fa-sort-numeric-up"></i>
                                <label class="control-label require">{{'DIDP_CURD_LBL_FROM_DATE' | translate}}</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="FromDate" ng-model="model.FromDate" name="FromDate" placeholder="{{'DIDP_CURD_TXT_FROM_DATE' | translate}}..." />
                                    <span class="input-group-btn">
                                        <button type="button" ng-click="model.FromDate='';clearFromDate()" class="btn btn-default no-shadow">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 text-right">
                                <i class="fas fa-sort-numeric-up"></i>
                                <label class="control-label require">{{'DIDP_CURD_LBL_TO_DATE' | translate}}</label>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="ToDate" ng-model="model.ToDate" name="ToDate" placeholder="{{'DIDP_CURD_TXT_TO_DATE' | translate}}..." />
                                    <span class="input-group-btn">
                                        <button type="button" ng-click="model.ToDate='';clearToDate()" class="btn btn-default no-shadow">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 text-right">
                                
                            </div>
                            <div class="col-md-8">
                                <span class="text-danger">{{'DIDP_CURD_TXT_DEFAULT_IS_TODAY' | translate}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <a data-dismiss="modal" class="btn  btn-default " href="javascript:;" ng-click="cancel()">
        {{'COM_BTN_CANCEL'|translate}}
    </a>
    <button ng-click="submit()" class="btn btn-red mr25 " href="javascript:;">
        {{'DIDP_BTN_EXPORT_EXCEL' | translate}}
    </button>
</div>
