.boards .card {
    border-radius: 5px;
    padding: 5px;
    border: 1px;
    box-shadow: initial;
    color: #ffffff;
    height: 70px;
}

.boards .add-card {
    color: gray;
    background: #ccc;
    height: 70px;
    border-radius: 5px;
    line-height: 70px;
    text-align: center;
    vertical-align: middle;
}

.board-main-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 0;
    transition: margin .1s ease-in;
}

.board-header {
    flex: none;
    height: auto;
    overflow: hidden;
    padding: 8px 4px 8px 8px;
    position: relative;
    transition: padding .1s ease-in;
}

.board-header-commom {
    /*color: #656161 !important;*/
    padding: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 18px;
    font-weight: 700;
    text-decoration: underline;
}

.selected-item a, .selected-item span {
    color: #009432;
}

.board-selected {
    background-color: #61bd4f !important;
}

.divider {
    border-left: 1px solid #000000;
    height: 16px;
    margin: 8px 4px 0 0;
}

.header a {
    /*color: #ffffff !important;*/
}

.dark-hover:hover {
    background-color: #CDD2D4 !important;
}

a:hover {
    text-decoration: none;
}

/*.card {
    border: none;
    background-color: #DFE3EA;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    display: inline-block;
    float: none;
    vertical-align: top;
}*/

.card {
    border: none;
    background-color: #DFE3EA;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    display: inline-block;
    float: none;
    vertical-align: top;
    /* height: 100%; */
    background-color: #dfe3e6;
    border-radius: 3px;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    max-height: 95%;
}

.p0 {
    padding: 0px
}

.gray {
    color: gray;
}

.white {
    color: white !important;
}

.form-control.code {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom: 0px !important;
}

.form-control.name {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.tag-item {
    background: #fff;
    display: block;
    box-shadow: 0 3px 0 #ccc;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 7px;
}
    /*.tag-item:hover {
        background-color: #fbfbfb;
    }*/

    .tag-item .edit {
        /*float: right;*/
        border: 0;
        /* margin-top: 0px; */
        /* margin-left: 89%; */
        position: absolute;
        right: 0;
        /* width: 30px; */
        height: 30px;
    }

    .tag-item .contents {
        cursor: pointer;
        /*margin-top: -30px;*/
        margin-bottom: 0px !important;
    }

.new-category {
    display: block;
    color: white;
    font-size: 12px;
    background-color: rgba(0,0,0,0.15)
}

    .new-category:hover {
        color: white;
        background-color: rgba(0,0,0,0.3)
    }

.new-tag {
    /*color: #8c8c8c;*/
    display: block;
    font-size: 12px;
    flex: 0 0 auto;
    position: relative;
}

    .new-tag:hover {
        background-color: #EDEFF0;
    }

/*.form-control {
    border-radius: 5px;
}*/

.disable {
    display: none;
}

.list-header-target {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#BoardDetailMain {
    height: calc(100%);
    white-space: nowrap;
    width: 100%;
}

.list-card-pagination {
    position: fixed;
    right: 0;
    bottom: 5px;
}

@media (min-width: 2235px) and (max-width:2550px) {
    .list-card {
        width: 1925px;
    }
}

@media (min-width: 1915px) and (max-width:2235px) {
    .list-card {
        width: 1600px;
    }
}

@media (min-width: 1595px) and (max-width:1915px) {
    .list-card {
        width: 1280px;
    }
}

@media (min-width: 1295px) and (max-width:1595px) {
    .list-card {
        width: 960px;
    }
}

@media (min-width: 975px) and (max-width:1295px) {
    .list-card {
        width: 645px;
    }
}
/*css Menu */
/*Những thứ cần thử (đây là một danh sách)*/
/*.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.img-thumbnail {
    border: 0px solid #ddd;
    -webkit-box-shadow: none;
    box-shadow: none;
}

@media (min-width: 1200px) {
    .col-lg-3 {
        width: 20%;
    }
}*/
/*.list-menu {
    background: #e2e4e6;
    border-radius: 5px;
}

.list-header {
    padding: 8px 0px 10px 8px;
}

.list-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.list-body::-webkit-scrollbar {
    width: 10px;
    background-color: #c4c9cc;
}

.list-body::-webkit-scrollbar-thumb {
    background-color: #c4c9cc;
}

.list-body {
    overflow-x: hidden;
    overflow-y: visible;
    max-height: 400px;
    min-height: 10px;
}

    .list-body textarea {
        padding: 6px 0px 20px;
        width: 100%;
        border: none;
    }

        .list-body textarea:focus {
            outline: none;
        }

    .list-body .hover:hover {
        background-color: #edeff0;
    }

.list-footer {
    cursor: pointer;
    color: #8c8c8c;
}

    .list-footer span:hover {
        color: #000000;
        text-decoration: underline;
    }

    .list-footer button {
        font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
        border-radius: 3px !important;
        font-weight: 700;
        opacity: 0.9;
        background: #5aac44;
        box-shadow: 0 1px 0 #519839;
        color: #fff;
        transition: background .3s ease;
    }

        .list-footer button:hover {
            color: white;
            background: #519839 100%
        }

        .list-footer button:focus {
            color: white;
        }

    .list-footer a {
        font-size: 10px !important;
        box-shadow: none !important;
        color: #999;
    }*/
/*.edit-tag a {
    
}*/
.edit-tag i {
    color: gray;
}

.modal .modal-content::-webkit-scrollbar-thumb {
    background-color: #c4c9cc;
}

.header {
    font-size: 20px;
    color: black !important;
}

.description {
    border-radius: 5px !important;
    background-color: #e6e8e8
}

.comment {
    border-radius: 5px !important;
}

/*.clearfix button {
    width: 100%;
    border-radius: 2px;
    background-color: #e2e4e6;
    margin-top: 7px;
    text-align: left;
    font-weight: bold;
}

    .clearfix button:hover {
        background-color: #cdd2d4;
    }

.clearfix i {
    color: #ccc;
    margin-left: 10px;
}*/

.card-detail div {
    display: inline-block;
}

.avatar {
    display: inline-block;
}

    .avatar img {
        border-radius: 25em;
        width: 30px;
        height: 30px;
    }

    .avatar button {
        text-align: center;
        padding: 0px !important;
        width: 30px;
        height: 30px;
        background-color: #e6e8e8;
    }

.color button {
    width: 40px;
    height: 30px;
}

.active:hover {
    /*background-color: #d6dadc;*/
    cursor: pointer;
}

.active-title {
    background-color: #d6dadc;
    border-radius: 25em;
    color: #444;
    cursor: pointer;
    display: block;
    float: left;
    height: 32px;
    margin: 0 4px 4px 0;
    overflow: visible;
    position: relative;
    width: 32px;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 0;
}

.member-initials {
    display: block;
    font-size: 12px;
    font-weight: 700;
    height: 32px;
    left: 0;
    line-height: 32px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.active-show-more a {
    color: #8c8c8c;
    text-decoration: underline;
}

.list {
    width: 309px;
}

/*.testimonial-group > .row {
    white-space: nowrap;
}

    .testimonial-group > .row

    .testimonial-group > .row > .col-md-2 {
        display: inline-block;
        float: none;
    }*/

.rotate {
    transform: rotate(5deg);
}

.border-red {
    background-color: #fab1a0;
    border: none;
}

.task-board {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /* display: flex; */
    flex: 0 0 auto;
    padding: 10px 8px 8px;
    position: relative;
    min-height: 20px;
}

.ui-sortable-placeholder {
    background-color: #ccc;
    visibility: visible !important;
}

/*.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}*/

.ui-select-dropdown {
    height: auto !important;
}



.dataTable > thead > tr th {
    text-decoration: underline;
}


/*add board*/
.dataTable > thead > tr th {
    text-decoration: underline;
}

.modal-title {
    display: inline-block;
    padding-top: 5px;
}

._3dza {
    margin-right: 5px;
    padding: 2px;
}

._6kld {
    border-radius: 25px;
    height: 50px;
    width: 50px;
}

._6kle {
    border-radius: 25px;
    height: 50px;
    width: 50px;
}

.check-color {
    display: inline;
    top: 15px;
    left: 17px;
    color: white;
    font-size: 15px;
    position: relative;
}

table > tbody > tr > td {
    outline: none !important;
}

.blockElement {
    top: 25% !important;
}

#BoardDetail {
    transition: 0s none;
    -webkit-transition: 0s none;
    animation: 0s none;
    -webkit-animation: 0s none;
}

/*.modal-content {
    display: block;
}*/
.next-page {
    position: absolute !important;
    right: 0;
    top: 50%;
    z-index: 200;
    border-radius: 24px;
    width: 35px;
    height: 35px;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
}

.previous-page {
    position: absolute !important;
    top: 50%;
    z-index: 200;
    border-radius: 24px;
    width: 35px;
    height: 35px;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
}
