
.edit-tag a {
    /*text-decoration: underline;*/
}

.edit-tag i {
    color: gray;
}

.modal .modal-content::-webkit-scrollbar-thumb {
    background-color: #c4c9cc;
}

.modal-content {
    border-radius: 5px;
}

.header {
    font-size: 20px;
    color: black !important;
}

.description {
    border-radius: 5px !important;
    background-color: #e6e8e8
}

/*.comment {
    border-radius: 5px !important;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-right: 0 !important;
}*/

.clearfix button {
    width: 100%;
    border-radius: 2px;
    background-color: #e2e4e6;
    margin-top: 7px;
    text-align: left;
    font-weight: bold;
}

    .clearfix button:hover {
        background-color: #cdd2d4;
    }

.clearfix i {
    color: #ccc;
    margin-left: 10px;
}

.card-detail div {
    display: inline-block;
}

.avatar {
    display: inline-block;
}

    .avatar img {
        border-radius: 25em;
        width: 30px;
        height: 30px;
    }

    .avatar button {
        text-align: center;
        padding: 0px !important;
        width: 30px;
        height: 30px;
        background-color: #e6e8e8;
    }

.color button {
    width: 40px;
    height: 30px;
    margin-right: 5px;
}

.active:hover {
    background-color: #d6dadc;
    cursor: pointer;
}

.active-title {
    background-color: #d6dadc;
    border-radius: 25em;
    color: #444;
    cursor: pointer;
    display: block;
    float: left;
    height: 32px;
    margin: 0 4px 4px 0;
    overflow: visible;
    position: relative;
    width: 32px;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 0;
}

.member-initials {
    display: block;
    font-size: 12px;
    font-weight: 700;
    height: 32px;
    left: 0;
    line-height: 32px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.active-show-more a {
    color: #8c8c8c;
    text-decoration: underline;
}

.close {
    background-image: none !important;
}

.list-color .color {
    display: inline;
}
.category-detail-header {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
/*24-10-1028*/
