@using ESEIM.Utils
@{
    ViewData["Title"] = "Danh mục tin nội bộ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
<style>
    .alway-show {
        position: fixed !important;
        bottom: 10px;
        right: 10px;
        z-index: 1000000;
    }

    .color-white {
        color: #fff;
    }
</style>
<div id="contentMain" ng-app="App_ESEIM" ng-controller="Ctrl_ESEIM">
    <div ng-view></div>
</div>
<script src="~/views/admin/JnanaNewsCat/controller.js" type="text/javascript"></script>