<div class="modal-header no-color">
    <img class="close icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-file" style="padding-top: 10px;color:black"></i>
    <span class="modal-title black" id="modal-title">Thêm tệp tin</span>
</div>
<div class="modal-body pt-0" id="modal-body">
    <form name="checklist" method="post" ng-validate="validationOptions">
        <div class="row mt5">
            <div class="form-group">
                <div class="col-md-12">
                    <div class="input-group input-file">
                        <div class="form-group">
                            <!--<i class="fa fa-file"></i>
                            <label class="control-label require">Chọn tệp tin</label>-->
                            <div class="input-group input-file">
                                <i class="fa fa-upload"></i>
                                <input class="form-control inputFile pl30" placeholder='Choose a file...'></>
                                <span class="input-group-btn">
                                    <span class="btn btn-default btn-choose" onclick="$(this).parent().find('input[type=file]').click();">Browse</span>
                                    <input class="form-control" id="FileAttachment" onchange="$('.inputFile').val($(this).val().split('\\').pop());" style="display: none;" type="file">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <button class="btn btn-default" ng-click="cancel()">
                    Hủy
                </button>
                <button class="btn btn-red" ng-click="submit()">
                    Thêm
                </button>
            </div>
        </div>
    </form>
</div>