<div class="row">
    <div class="col-md-2">
        <div class="input-group">
            <ui-select tagging ng-model="model.ListCode" theme="bootstrap">
                <ui-select-match placeholder="Danh sách...">{{$select.selected.ListName}}</ui-select-match>
                <ui-select-choices style="height: auto" repeat="x.ListCode as x in lists | filter: $select.search">
                    {{x.ListName}}
                </ui-select-choices>
            </ui-select>
            <span class="input-group-addon" ng-click="model.ListCode = ''">
                <span class="fa fa-times"></span>
            </span>
        </div>
    </div>
    <div class="col-md-2">
        <input class="form-control" ng-model="model.CardName" placeholder="Tên thẻ..." />
    </div>
    <div class="col-md-2">
        <div class="input-group">
            <ui-select tagging ng-model="model.Member" theme="bootstrap">
                <ui-select-match placeholder="Người được giao...">{{$select.selected.UserName}}</ui-select-match>
                <ui-select-choices style="height: auto" repeat="x.UserName as x in listUser | filter: $select.search">
                    {{x.UserName}}
                </ui-select-choices>
            </ui-select>
            <span class="input-group-addon" ng-click="model.Member = ''">
                <span class="fa fa-times"></span>
            </span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="input-group date" id="FromDateGrid">
            <input class="form-control input-date" ng-model="model.Fromdate" placeholder="Từ ngày..." />
            <span class="input-group-addon">
                <span class="fa fa-calendar"></span>
            </span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="input-group date" id="ToDateGrid">
            <input class="form-control" ng-model="model.Todate" placeholder="Đến ngày..." />
            <span class="input-group-addon">
                <span class="fa fa-calendar"></span>
            </span>
        </div>
    </div>
    <div class="col-md-2">
        <button class="btn btn-accent" ng-click="search()">Tìm</button>
        <a class="btn btn-red" id="popover-create" my-popover="options" tooltip>Thêm thẻ</a>
    </div>
</div>
<table class="table dataTable table-hover"
       datatable
       dt-options="table.dtOptions"
       dt-columns="table.dtColumns"
       dt-instance="table.dtInstance"
       id="tblData"></table>