<style>
    .modal .modal-dialog {
        position: fixed;
        margin: auto;
        width: 320px;
        height: 100%;
        -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
        -o-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);
    }

    .modal .modal-content::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

    .modal .modal-content::-webkit-scrollbar {
        width: 10px;
        background-color: #c4c9cc;
    }

    .modal .modal-content::-webkit-scrollbar-thumb {
        background-color: #c4c9cc;
    }

    .modal .modal-content {
        height: 100%;
        overflow-y: auto;
        background: #edeff0;
    }

    /*Right*/
    .modal.fade .modal-dialog {
        right: -320px;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }

    .modal.fade.in .modal-dialog {
        right: 0;
    }

    .modal-header {
        background: #edeff0;
        padding: 14px;
        border-bottom-color: #d6dadc !important;
        border-bottom: 1px solid #d6dadc;
    }

    .close {
        opacity: 2;
        width: 15px;
        height: 15px;
    }

    .menu li b {
        padding: 6px 6px 7px 38px;
        font-weight: 700;
        line-height: 20px;
        text-decoration: none;
        display: block;
        padding-left: 1em;
        text-indent: -.7em;
        font-size: 14px;
    }

    .menu .menu-list li {
        cursor: pointer;
    }

        .menu .menu-list li:hover {
            background-color: #d6dadc;
        }

    .menu .menu-list i {
        font-size: 16px;
        height: 20px;
        line-height: 20px;
        color: #999;
    }

    .active:hover {
        background-color: #d6dadc;
        cursor: pointer;
    }

    .active-title {
        background-color: #d6dadc;
        border-radius: 25em;
        color: #444;
        cursor: pointer;
        display: block;
        float: left;
        height: 32px;
        margin: 0 4px 4px 0;
        overflow: visible;
        position: relative;
        width: 32px;
        text-decoration: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 0;
    }

    .member-initials {
        display: block;
        font-size: 12px;
        font-weight: 700;
        height: 32px;
        left: 0;
        line-height: 32px;
        overflow: hidden;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
    }

    .active-hr {
        margin: 15px 0 -15px 35px;
        border-top: 1px solid #d6dadc;
    }

    .active-show-more a {
        color: #8c8c8c;
        text-decoration: underline;
    }

    .fa-arrow-left {
        padding: 14px 0 0 15px;
    }
</style>
<!--Menu-->
<!--<div class="menu-right">
    <div class="menu">
        <ul class="menu-list">
            <li class="">
                <b><i style="color:#0079bf" class="fa fa-square"></i>&nbsp; Thay đổi hình nền</b>
            </li>
            <li class="" ng-click="test()">
                <b><i class="fa fa-filter"></i>&nbsp; Thẻ lọc bảng</b>
            </li>
            <li class="">
                <b><i class="fa fa-rocket"></i>&nbsp; Tính năng mở rộng</b>
            </li>
            <li class="">
                <b><i class="fa fa-circle"></i>&nbsp; Các nhãn dãn</b>
            </li>
            <li class="">
                <b><i class="fa fa-ellipsis-h"></i>&nbsp; Thêm</b>
            </li>
        </ul>
    </div>
    <hr style="border-top: 1px solid #d6dadc;" />
    <div class="active">
        <b style="font-size: 15px;"><i class="fa fa-align-center"></i>&nbsp; Hoạt động</b>
    </div>
    <div class="active-detail" ng-repeat="x in model.listActive">
        <div class="form-group pt20">
            <div class="active-title">
                <span class="member-initials">
                    <span>{{x.User}}</span>
                </span>
            </div>
            <div class="active-body pl35">
                <b>{{x.UserName}}</b>
                <span> {{x.Title}}</span>
            </div>
            <div class="active-time pl35">
                <a style="color:#8c8c8c">{{x.Time}}</a>
            </div>
            <hr class="active-hr" />
        </div>
    </div>
    <div class="active-show-more pl35 pt20">
        <a>Xem toàn bộ hoạt động</a>
    </div>
</div>-->
<ons-navigator swipeable  var="myNavigator" page="page1.html"></ons-navigator>
<ons-template id="page1.html">
    <ons-page>
        <div class="modal-header">
            <span class="close" ng-click="cancel()" title="Đóng Menu."></span>
            <h5 class="modal-title text-center" style="color:#333;font-size:14px">Menu</h5>
        </div>
        <div class="modal-body" id="modal-body">
            <div class="menu-right">
                <div class="menu">
                    <ul class="menu-list">
                        <li class="">
                            <b><i style="color:#0079bf" class="fa fa-square"></i>&nbsp; Thay đổi hình nền</b>
                        </li>
                        <li class="" ng-click="test()">
                            <b><i class="fa fa-filter"></i>&nbsp; Thẻ lọc bảng</b>
                        </li>
                        <li class="">
                            <b><i class="fa fa-rocket"></i>&nbsp; Tính năng mở rộng</b>
                        </li>
                        <li class="">
                            <b><i class="fa fa-circle"></i>&nbsp; Các nhãn dãn</b>
                        </li>
                        <li class="">
                            <b><i class="fa fa-ellipsis-h"></i>&nbsp; Thêm</b>
                        </li>
                    </ul>
                </div>
                <hr style="border-top: 1px solid #d6dadc;" />
                <div class="active">
                    <b style="font-size: 15px;"><i class="fa fa-align-center"></i>&nbsp; Hoạt động</b>
                </div>
                <div class="active-detail" ng-repeat="x in model.listActive">
                    <div class="form-group pt20">
                        <div class="active-title">
                            <span class="member-initials">
                                <span>{{x.User}}</span>
                            </span>
                        </div>
                        <div class="active-body pl35">
                            <b>{{x.UserName}}</b>
                            <span> {{x.Title}}</span>
                        </div>
                        <div class="active-time pl35">
                            <a style="color:#8c8c8c">{{x.Time}}</a>
                        </div>
                        <hr class="active-hr" />
                    </div>
                </div>
                <div class="active-show-more pl35 pt20">
                    <a>Xem toàn bộ hoạt động</a>
                </div>
            </div>
        </div>
    </ons-page>
</ons-template>
<ons-template id="page2.html">
    <ons-page>
        <div class="background">
            <i class="fa fa-arrow-left" ng-click="back()"></i>
        </div>
    </ons-page>
</ons-template>
<!--<ons-navigator var="myNavigator">
    <ons-page>
        <div class="modal-header">
            <span class="close" ng-click="cancel()" title="Đóng Menu."></span>
            <h5 class="modal-title text-center" style="color:#333;font-size:14px">Menu</h5>
        </div>
        <div class="modal-body" id="modal-body">
            <div class="menu-right">
                <div class="menu">
                    <ul class="menu-list">
                        <li class="">
                            <b><i style="color:#0079bf" class="fa fa-square"></i>&nbsp; Thay đổi hình nền</b>
                        </li>
                        <li class="" ng-click="test()">
                            <b><i class="fa fa-filter"></i>&nbsp; Thẻ lọc bảng</b>
                        </li>
                        <li class="">
                            <b><i class="fa fa-rocket"></i>&nbsp; Tính năng mở rộng</b>
                        </li>
                        <li class="">
                            <b><i class="fa fa-circle"></i>&nbsp; Các nhãn dãn</b>
                        </li>
                        <li class="">
                            <b><i class="fa fa-ellipsis-h"></i>&nbsp; Thêm</b>
                        </li>
                    </ul>
                </div>
                <hr style="border-top: 1px solid #d6dadc;" />
                <div class="active">
                    <b style="font-size: 15px;"><i class="fa fa-align-center"></i>&nbsp; Hoạt động</b>
                </div>
                <div class="active-detail" ng-repeat="x in model.listActive">
                    <div class="form-group pt20">
                        <div class="active-title">
                            <span class="member-initials">
                                <span>{{x.User}}</span>
                            </span>
                        </div>
                        <div class="active-body pl35">
                            <b>{{x.UserName}}</b>
                            <span> {{x.Title}}</span>
                        </div>
                        <div class="active-time pl35">
                            <a style="color:#8c8c8c">{{x.Time}}</a>
                        </div>
                        <hr class="active-hr" />
                    </div>
                </div>
                <div class="active-show-more pl35 pt20">
                    <a>Xem toàn bộ hoạt động</a>
                </div>
            </div>
        </div>
    </ons-page>
    <ons-template id="page2.html">
        <ons-page>
            <div class="background">
                <i class="fa fa-arrow-left" ng-click="back()"></i>
            </div>
        </ons-page>
    </ons-template>
</ons-navigator>-->
<!--<ons-template id="page1.html">

</ons-template>-->
<!--Thay đổi nền-->
