<style>
    .modal .modal-dialog {
        position: fixed;
        margin: auto;
        width: 320px;
        height: 100%;
        -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
        -o-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);
    }

    .modal .modal-content::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

    .modal .modal-content::-webkit-scrollbar {
        width: 10px;
        background-color: #c4c9cc;
    }

    .modal .modal-content::-webkit-scrollbar-thumb {
        background-color: #c4c9cc;
    }

    .modal .modal-content {
        height: 100%;
        overflow-y: auto;
        background: #edeff0;
    }

    /*Right*/
    .modal.fade .modal-dialog {
        right: -320px;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }

    .modal.fade.in .modal-dialog {
        right: 0;
    }

    .modal-header {
        background: #edeff0;
        padding: 14px;
        border-bottom-color: #d6dadc !important;
        border-bottom: 1px solid #d6dadc;
    }

    .close {
        opacity: 2;
        width: 15px;
        height: 15px;
    }

    .menu li b {
        padding: 6px 6px 7px 38px;
        font-weight: 700;
        line-height: 20px;
        text-decoration: none;
        display: block;
        padding-left: 1em;
        text-indent: -.7em;
        font-size: 14px;
    }
    .menu .menu-list li{
        cursor:pointer;
    }
        .menu .menu-list li:hover {
            background-color: #d6dadc;
        }
</style>
<div class="modal-header">
    <span class="close" ng-click="cancel()" title="Đóng Menu."></span>
    <h5 class="modal-title text-center" style="color:#333;font-size:14px">Menu</h5>
</div>
<div class="modal-body" id="modal-body">
    <div class="menu">
        <ul class="menu-list">
            <li class="">
                <b><span class=""></span>&nbsp; Thay đổi hình nền</b>
            </li>
            <li class="">
                <b><span></span>&nbsp; Thẻ lọc bảng</b>
            </li>
            <li class="">
                <b><span></span>&nbsp; Tính năng mở rộng</b>
            </li>
            <li class="">
                <b><span></span>&nbsp; Các nhãn dãn</b>
            </li>
            <li class="">
                <b><span></span>&nbsp; Thêm</b>
            </li>
        </ul>
    </div>
</div>


