<a class="go2top ">
    <i class="far fa-arrow-alt-circle-up"></i>
</a>
<footer class="footer footer-static footer-light navbar-border">
    <p class="clearfix text-muted text-sm-center mb-0 px-2 fs15"><span class="float-md-left d-xs-block d-md-inline-block">Copyright  &copy; 2018 <a href="http://3i.com.vn/" target="_blank" class="text-bold-800 grey darken-2">3i.com.vn </a>.</span><span class="float-md-right d-xs-block d-md-inline-block">outsourceinvietnam@gmail.com <i class="icon-heart5 pink"></i></span></p>
</footer>
