<style>
    .dataTables_wrapper .table-scrollable {
        border: 1px solid #e7ecf1 !important;
    }

    .h-60 {
        height: 60px;
    }

    .pl0 {
        padding-left: 10px;
    }

    .p25 {
        padding-left: 25px;
    }

    .pt5 {
        padding-top: 5px;
    }

    .pr15 {
        padding-right: 10px;
    }

    .pr15 {
        padding-right: 15px;
    }

    .pr20 {
        padding-right: 20px;
    }

    .pr5 {
        padding-right: 5px;
    }

    .mt5 {
        margin-top: 5px;
    }

    .mt15 {
        margin-top: 15px;
    }

    .ml15 {
        margin-left: 15px;
    }

    .mt23 {
        margin-right: 60px;
    }

    .mt25 {
        margin-top: 25px;
    }

    .w-100-percent {
        width: 100%;
    }

    .w-30-percent {
        width: 30%;
    }

    .bgWhite {
        background: #FFF;
    }

    .labelbodergroup {
        margin-left: 24px;
        margin-top: -12px;
        position: absolute;
        background: linear-gradient(to bottom,#f2eee6,#FBFCFC );
        border: 1px solid #e9dada;
        border-radius: 4px;
        font-size: 11px;
        padding: 3px 10px !important;
    }

    .table_body {
        background: linear-gradient(to bottom,#f2eee6,#FBFCFC );
        border-radius: 4px !important;
        border: 1px solid #e9dada;
        padding-top: 15px;
        box-shadow: 0px 5px 10px 2px rgba(127, 143, 166,0.2) !important;
        padding-bottom: 15px;
    }
</style>
<div class="modal-header">
    <img class="close icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-plus-circle icon-insert  "></i>
    <span class="modal-title custom-title " id="modal-title"> Thêm phiếu hủy tài sản</span>
</div>
<div class="modal-body userFormAreaHeader" id="modal-body">
    <div class="portlet-body form">
        <form name="editform" class="form-horizontal " method="post" ng-validate="validationOptions">
            <div class="form-body pt-0 pl-0 pr-0">
                <div class="row ">
                    <div class="col-lg-9 col-md-8">
                        <div class="row">
                            <!--Mã  Phiếu-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <i class="fa fa-barcode" aria-hidden="true"></i>
                                        <label class="control-label require">Mã phiếu</label>
                                    </div>
                                    <div class="col-md-12">
                                        <input type="text" name="TicketCode" class="form-control" ng-model="model.TicketCode" placeholder="Nhập mã phiếu..." ng-readonly="true" />
                                    </div>
                                </div>
                            </div>
                            <!--Tiêu đề-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <i class="fa fa-comment" aria-hidden="true"></i>
                                        <label class="control-label require">Tiêu đề thanh lý</label>
                                    </div>
                                    <div class="col-md-12">
                                        <input type="text" name="Title" class="form-control" ng-model="model.Title" placeholder="Nhập tiêu đề thanh lý..." />
                                    </div>
                                </div>
                            </div>
                            <!--Status-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-12 ">
                                        <i class="fa fa-flag"></i>
                                        <label class="control-label">&nbsp;Trạng thái</label>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <ui-select ng-model="model.Status" theme="bootstrap" on-select="changleSelect('Status')">
                                                <ui-select-match placeholder="Trạng thái...">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat="x.Code as x in ListStatus | filter: $select.search">
                                                    {{x.Name}}
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                <button type="button" ng-click="model.Status=''" class="btn btn-default no-shadow">
                                                    <span><img src="https://img.icons8.com/material/18/000000/log.png"></span>
                                                </button>
                                            </span>
                                        </div>
                                        <span ng-show="errorStatus" class="label-color validation-message">
                                            Trạng thái không được để trống!
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <!--chi nhánh-->
                            <div class="col-md-4">
                                <div class="form-group" ng-class="{ 'has-error': errorGender}">
                                    <div class="col-md-12">
                                        <i class="fa fa-building"></i>
                                        <label class="control-label require">Chi nhánh</label>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <ui-select tagging ng-model="model.Branch" theme="bootstrap" on-select="changleSelect('Branch')">
                                                <ui-select-match placeholder="Chi nhánh...">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat=" x.Code as x in ListBranch | filter: $select.search">
                                                    {{x.Name}}
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                <button type="button" ng-click="model.Branch=''" class="btn btn-default no-shadow" style="">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                            </span>
                                        </div>
                                        <span ng-show="errorBranch" class="label-color validation-message">
                                            Chi nhánh không được để trống!
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!--số lượng hủy-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <i class="fa fa-list-alt" aria-hidden="true"></i>
                                        <label class="control-label require">Số lượng hủy</label>
                                    </div>
                                    <div class="col-md-12">
                                        <input type="number" name="Quantity" class="form-control" ng-model="model.Quantity" placeholder="Số lượng hủy..." />
                                    </div>
                                </div>
                            </div>
                            <!--ngày hủy-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        <label class="control-label require ">Ngày hủy</label>
                                    </div>
                                    <div class="col-md-12">
                                        <div class='input-group date' id='CancelTime'>
                                            <input type='text' class="form-control input-date" name="CancelTime" ng-model="model.liquidation" placeholder="Ngày hủy..." />
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!--Người chịu trách  nhiệm-->
                            <div class="col-md-4">
                                <div class="form-group" ng-class="{ 'has-error': errorGender}">
                                    <div class="col-md-12">
                                        <i class="fa fa-user"></i>
                                        <label class="control-label require">Người chịu trách nhiệm</label>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <ui-select tagging ng-model="model.Responsible" theme="bootstrap" on-select="changleSelect('Responsible')">
                                                <ui-select-match placeholder="Người chịu trách nhiệm...">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat=" x.Code as x in ListResponsible | filter: $select.search">
                                                    {{x.Name}}
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                <button type="button" ng-click="model.Responsible=''" class="btn btn-default no-shadow" style="">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                            </span>
                                        </div>
                                        <span ng-show="errorResponsible" class="label-color validation-message">
                                            Người chịu trách nhiệm không được để trống!
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!--Địa điểm hủy-->
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <label class="control-label require">Địa điểm hủy</label>
                                    </div>
                                    <div class="col-md-12">
                                        <input type="text" name="Adress" class="form-control" ng-model="model.Adress" placeholder="Địa điểm hủy..." />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!--Mô tả-->
                            <div class="col-md-12">
                                <i class="fa fa-comment" aria-hidden="true"></i>
                                <label class="control-label ">Mô tả</label>
                                <textarea name="Note" rows="3" class="form-control" ng-model="model.Note" type="text" placeholder="Mô tả..."></textarea>
                            </div>
                        </div>
                    </div>
                    <!--Danh sách tải ảnh-->
                    <div class="col-lg-3 col-md-4">

                        <div class="col-md-12 pr-0 pl-0" style="margin-top: 4%">
                            <label class="">Danh sách ảnh tài sản</label>
                            <div class="col-md-12 boder-box h-100-srcoll">
                                <button type="button" class="tags-custom" ng-repeat="x in model.ListFileReceipt">
                                    <i class="fa fa-times pull-right ic-remove" aria-hidden="true" ng-click="removeFileReq($index,x.FileID)"></i><span></span><a title="{{x.FileName}}" ng-click="download(x.FileCode)" {{x.FileName}}</a>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-12 pr5" style="margin-top: 6%">
                            <div class="btn-group actions d-flex pull-right">
                                <div class="text-center pr20">
                                    <a class="btn btn-icon-only btn-circle btn-outline green-custom" ng-click="addFileReq()">
                                        <span><i class="fa fa-upload"></i></span>
                                    </a>
                                    <p class="text-underline fs9 mb5 pt3">Tải tệp</p>
                                </div>
                                <div class="text-center pr20">
                                    <a data-dismiss="modal" ng-click="deleteList()" class="btn btn-icon-only btn-circle btn-outline red-custom">
                                        <span><i class="glyphicon glyphicon-remove"></i></span>
                                    </a>
                                    <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_DELETE' | translate}}</p>
                                </div>
                                <div class="btn-group pull-right actions d-flex">
                                    <div class="text-center pr10">
                                        <a ng-click="submit()" class="btn btn-icon-only btn-circle btn-outline green-custom">
                                            <span><i class="fa fa-save"></i></span>
                                        </a>
                                        <p class="text-underline fs9 mb5 pt3"> {{'COM_BTN_SAVE' | translate}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!---------------->
                <div class="row pt5">
                    <!--Table-->
                    <div class="col-md-12 pl-0 pr-0">
                        <div class="tabbable">
                            <uib-tabset active="active">

                                <div ng-include="'../views/admin/assetCancel/CancelAddTable.html'"></div>

                            </uib-tabset>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="modal-footer hidden">
    <a data-dismiss="modal" class="btn btn-red" href="javascript:;" ng-click="cancel()">
        Hủy bỏ
    </a>
    <button ng-click="submit()" class="btn btn-green mr25" href="javascript:;">
        Thêm mới
    </button>
</div>

