<div class="table-toolbar">
    <div class="row">
        <div class="col-md-4 ">
            <h1 class="bold mb-0">Phiếu hủy tài sản</h1>
            <ul class="breadcrumb-title">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="#">{{'ASSET_LINK_HOME' | translate}}</a>
                    <span>&gt;</span>
                </li>
                <li>
                    <a href="/Asset">Phiếu hủy tài sản</a>
                </li>
            </ul>
        </div>

    </div>
    <div class="portlet light bordered input-search mb5">
        <div class="portlet-body">
            <div class="row pt5 mb5">
                <div class="col-md-3">
                    <label class="fw600 text-underline">{{'ASSET_CURD_LBL_ASSET_CODE' | translate}}</label>
                    <div class='input-group '>
                        <input ng-model="model.AssetCode" class="form-control" type="text" placeholder="{{'ASSET_CURD_TXT_ASSET_CODE' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.AssetCode='';" class="btn btn-default no-shadow end-date">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="fw600 text-underline">{{'ASSET_CURD_LBL_ASSET_NAME' | translate}}</label>
                    <div class='input-group '>
                        <input ng-model="model.AssetName" class="form-control" type="text" placeholder="{{'ASSET_CURD_TXT_ASSET_NAME' | translate}}.." ng-keydown="($event.keyCode == 13) && reload()" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.AssetName='';" class="btn btn-default no-shadow end-date">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="fw600 text-underline">{{'ASSET_CURD_LBL_STATUS' | translate}}</label>
                    <div class='input-group '>
                        <ui-select tagging ng-model="model.Status">
                            <ui-select-match placeholder="{{'ASSET_CURD_TXT_STATUS' | translate}}">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="x.Code as x in Status | filter: $select.search">
                                {{x.Name}}
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.Status='';" class="btn btn-default no-shadow">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="btn-group actions d-flex mr25">
                        <div class="pr10">
                            <a data-dismiss="modal" ng-click="search()" class="btn btn-icon-only btn-circle btn-outline purple-custom">
                                <span><i class="fa fa-search"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_SEARCH' | translate}}</p>
                        </div>
                        <div class="text-center pr10">
                            <a ng-click="add()" class="btn btn-icon-only btn-circle btn-outline green-custom">
                                <span><i class="fa fa-plus"></i></span>
                            </a>
                            <p class="text-underline fs9 mb5 pt3">{{'COM_BTN_ADD' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tabbable">
        <uib-tabset active="active">
            <div ng-include="'../views/admin/assetCancel/AssetCancel.html'"></div>
        </uib-tabset>
    </div>
</div>


