<div class="table-toolbar">
    <div class="row">
        <div class="col-md-6 ">
            <h1 class="bold mb-0">Lịch đăng ký</h1>
            <ul class="breadcrumb-title">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="#">Trang chủ</a>
                    <span>&gt;</span>
                </li>
                <li>
                    <a href="#/customer">Lịch đăng ký</a>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <div class="btn-group pull-right actions">
                <a class="btn btn-accent btnSearch">
                    <i class="fa fa-search"></i>
                    Tìm kiếm
                </a>
            </div>
        </div>
    </div>
    <div class="portlet light bordered input-search mb5 hidden">
        <div class="portlet-body">
            <img class="pull-right h28 w28 close-input-search" role="button" title="Đóng" src="/images/default/close.png" />
            <div class="row pt5 pb5">
                <!--<div class="col-md-3">
                    <label class="fw600 text-underline">Ứng viên</label>
                    <div class='input-group '>
                        <ui-select tagging ng-model="model.MemberId" theme="bootstrap">
                            <ui-select-match placeholder="Tất cả ứng viên">{{$select.selected.Fullname}}</ui-select-match>
                            <ui-select-choices repeat="x.CandidateCode as x in listCandidateData | filter: $select.search">
                                {{x.Fullname}}
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.MemberId='';reloadTable();reloadCalender()" class="btn btn-default no-shadow">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>-->
                <div class="col-md-3">
                    <label class="fw600 text-underline">Từ ngày</label>
                    <div class='input-group '>
                        <input ng-model="model.FromDate" type='text' class="form-control" placeholder="Từ ngày" id="datefrom" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.FromDate=''" class="btn btn-default no-shadow start-date">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="fw600 text-underline">Đến ngày</label>
                    <div class='input-group '>
                        <input ng-model="model.ToDate" type='text' class="form-control" placeholder="Đến ngày" id="dateto" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.ToDate=''" class="btn btn-default no-shadow end-date">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3 pt20">
                    <button class="btn btn-accent" ng-click="reloadCalender()"><i class="fa fa-search"></i>Tìm kiếm</button>
                </div>
            </div>
        </div>
    </div>
    <div id="index-calendar pt20">
        <div id="calendar"></div>
    </div>
</div>
