<style>
    .form-group {
        margin-bottom: 0px !important;
    }

    .thumbnail {
        border: 0px solid !important;
    }
</style>
<div class="modal-header">
    <img class="close icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-edit icon-edit"></i>
    <div class="modal-title custom-title black" id="modal-title">Sửa liên hệ </div>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <form name="editForm" method="post" ng-validate="validationOptionsContact">
            <div class="form-body pt-0 pb-0">
                <div class="row ">
                    <div class="col-md-4">
                        <div class="form-group">
                            <i class="fa fa-paper-plane"></i>
                            <label class="control-label require">Tên liên hệ</label>
                            <input class="form-control" name="ContactName" ng-model="model.ContactName" placeholder="Contact name..." />
                        </div>
                        <div class="form-group">
                            <i class="fa fa-mail-forward"></i>
                            <label class="control-label require">Thư điện tử</label>
                            <input class="form-control" name="Email" ng-model="model.Email" placeholder="Email..." />
                        </div>
                        <div class="form-group">
                            <i class="fa fa-paperclip"></i>
                            <label class="control-label">Chức vụ</label>
                            <input class="form-control" ng-model="model.Title" placeholder="Position Title..." />
                        </div>
                        <div class="form-group">
                            <i class="fa fa-paragraph"></i>
                            <label class="control-label">Phụ trách</label>
                            <input class="form-control" ng-model="model.InChargeOf" placeholder="In charge of..." />
                        </div>
                        <div class="form-group">
                            <i class="fa fa-map-marker"></i>
                            <label class="control-label">Địa chỉ</label>
                            <input class="form-control" ng-model="model.Address" placeholder="Address..." />
                        </div>
                        <div class="form-group">
                            <i class="fa fa-phone"></i>
                            <label class="control-label">Điện thoại</label>
                            <input class="form-control" ng-model="model.Telephone" placeholder="Phone..." />
                        </div>
                        <div class="form-group">
                            <i class="fa fa-mobile-phone"></i>
                            <label class="control-label require">Điện thoai di động</label>
                            <input class="form-control" name="Mobile" ng-model="model.MobilePhone" placeholder="Mobile phone...." />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <i class="fa fa-fax"></i>
                            <label class="control-label">Fax</label>
                            <input class="form-control" ng-model="model.Fax" placeholder="Fax..." />
                        </div>
                        <div class="form-group">
                            <i class="fa fa-facebook"></i>
                            <label class="control-label">Facebook</label>
                            <input class="form-control" ng-model="model.Facebook" placeholder="Facebook..." />
                        </div>
                        <div class="form-group">
                            <i class="fa fa-google-plus"></i>
                            <label class="control-label">GooglePlus</label>
                            <input class="form-control" ng-model="model.GooglePlus" placeholder="Google+..." />
                        </div>
                        <div class="form-group">
                            <i class="fa fa-twitter"></i>
                            <label class="control-label">Twitter</label>
                            <input class="form-control" ng-model="model.Twitter" placeholder="Twitter..." />
                        </div>
                        <div class="form-group">
                            <i class="fa fa-skype"></i>
                            <label class="control-label">Skype</label>
                            <input class="form-control" ng-model="model.Skype" placeholder="Skype..." />
                        </div>
                        <div class=" form-group">
                            <i class="fa fa-code"></i>
                            <label class="control-labl">Chú thích</label>
                            <textarea class="form-control" ng-model="model.Note" style="height: 100px" placeholder="Note..."></textarea>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group pt25">
                            <div class="thumbnail" style="cursor:pointer;border:0px !important">
                                <input id="File" accept=".png,.jpg,.jpeg,.gif,.tif" type="file" style="display:none" />
                                <img id="image" ng-click="loadImage()" class="img-circle " style="height: 200px; width: 200px;cursor: pointer" ng-src="{{model.FilePath}}" alt="Hình ảnh" />
                            </div>
                        </div>
                        <div class="col-md-12 text-center" style="margin-top: -20px;">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                            <label class="control-label ">Ảnh đại diện</label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <a data-dismiss="modal" class="btn btn-red" href="javascript:;" ng-click="cancel()">
        Hủy bỏ
    </a>
    <button ng-click="submit()" class="btn btn-green mr15" href="javascript:;">
        Chỉnh sửa
    </button>
</div>

