<style>
    .form-group {
        margin-bottom: 0px !important;
    }

    .thumbnail {
        border: 0px !important;
    }
</style>
<div class="modal-header">
    <img class="close icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-plus-circle icon-insert white"></i>
    <div class="modal-title  custom-title white" id="modal-title">{{'CUS_CURD_TAB_CONTACT_TITLE_ADD_CONTACT' | translate}} </div>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <form name="addForm" class="form-horizontal userFormAreaHeader" method="post" ng-validate="validationOptionsContact">
            <div class="form-body pt-0 pb-0">
                <div class="row mb5" >
                    <div class="col-md-4 pl15">
                        <div class="form-group">
                            <i class="fa fa-paper-plane"></i>
                            <label class="control-label require">{{'CUS_CURD_TAB_CONTACT_CURD_LBL_CONTACTNAME' | translate}}</label>
                            <input class="form-control" name="ContactName" ng-model="model.ContactName" placeholder="{{'CUS_CURD_TAB_CONTACT_CURD_TXT_CONTACTNAME' | translate}}..." />
                        </div>
                        <div class="form-group">
                            <i class="fa fa-mail-forward"></i>
                            <label class="control-label require">{{'CUS_CURD_TAB_CONTACT_CURD_LBL_EMAIL' | translate}}</label>
                            <input class="form-control" type="email" name="Email" ng-model="model.Email" placeholder="{{'CUS_CURD_TAB_CONTACT_CURD_TXT_EMAIL' | translate}}" />
                        </div>
                        <div class="form-group">
                            <i class="fa fa-paperclip"></i>
                            <label class="control-label">{{'CUS_CURD_TAB_CONTACT_CURD_LBL_POSITION' | translate}}</label>
                            <input class="form-control" ng-model="model.Title" name="Title" placeholder="{{'CUS_CURD_TAB_CONTACT_CURD_TXT_POSITION' | translate}}..." />
                        </div>
                        <div class="form-group">
                            <i class="fa fa-paragraph"></i>
                            <label class="control-label">{{'CUS_CURD_TAB_CONTACT_CURD_LBL_INCHARGEOF' | translate}}</label>
                            <input class="form-control" ng-model="model.InChargeOf" name="InChargeOf" placeholder="{{'CUS_CURD_TAB_CONTACT_CURD_TXT_INCHARGEOF' | translate}}..." />
                        </div>
                        <div class="form-group">
                            <i class="fa fa-map-marker"></i>
                            <label class="control-label">{{'CUS_CURD_TAB_CONTACT_CURD_LBL_ADDRESS' | translate}}</label>
                            <input class="form-control" ng-model="model.Address" name="Address" placeholder="{{'CUS_CURD_TAB_CONTACT_CURD_TXT_ADDRESS' | translate}}..." />
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': errorTelephone}">
                            <i class="fa fa-phone"></i>
                            <label class="control-label">{{'CUS_CURD_TAB_CONTACT_CURD_LBL_TELEPHONE' | translate}}</label>
                            <input class="form-control" ng-model="model.Telephone" name="Telephone" placeholder="{{'CUS_CURD_TAB_CONTACT_CURD_TXT_TELEPHONE' | translate}}..." ng-change="changleSelect('Telephone')" />
                            <span ng-show="errorTelephone" class="label-color validation-message">
                                {{'CUS_CURD_TAB_CONTACT_VALIDATE_MOBIEPHONE_NUMBER' | translate}}!
                            </span>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': errorMobilePhone}">
                            <i class="fa fa-mobile-phone"></i>
                            <label class="control-label require">{{'CUS_CURD_TAB_CONTACT_CURD_LBL_MOBIEPHONE' | translate}}</label>
                            <input class="form-control" name="Mobile" ng-model="model.MobilePhone" minlength="10" placeholder="{{'CUS_CURD_TAB_CONTACT_CURD_TXT_MOBIEPHONE' | translate}}...." ng-change="changleSelect('MobilePhone')"/>
                            <span ng-show="errorMobilePhone" class="label-color validation-message">
                                {{'CUS_CURD_TAB_CONTACT_VALIDATE_MOBIEPHONE_FOMAT' | translate}}!
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4 pl20">
                        <div class="form-group" ng-class="{ 'has-error': errorFax}">
                            <i class="fa fa-fax"></i>
                            <label class="control-label">{{'CUS_CURD_TAB_CONTACT_CURD_LBL_FAX' | translate}}</label>
                            <input class="form-control" ng-model="model.Fax" name="Fax" placeholder="{{'CUS_CURD_TAB_CONTACT_CURD_TXT_FAX' | translate}}..." ng-change="changleSelect('Fax')"/>
                            <span ng-show="errorFax" class="label-color validation-message">
                                {{'CUS_CURD_TAB_CONTACT_VALIDATE_FAX' | translate}}!
                            </span>
                        </div>
                        <div class="form-group">
                            <i class="fa fa-facebook"></i>
                            <label class="control-label">{{'CUS_CURD_TAB_CONTACT_CURD_LBL_FACEBOOK' | translate}}</label>
                            <input class="form-control" ng-model="model.Facebook" name="Facebook" placeholder="{{'CUS_CURD_TAB_CONTACT_CURD_TXT_FACEBOOK' | translate}}..." />
                        </div>
                        <div class="form-group">
                            <i class="fa fa-google-plus"></i>
                            <label class="control-label">{{'CUS_CURD_TAB_CONTACT_CURD_LBL_GOOGLEPLUS' | translate}}</label>
                            <input class="form-control" ng-model="model.GooglePlus" name="GooglePlus" placeholder="{{'CUS_CURD_TAB_CONTACT_CURD_TXT_GOOGLEPLUS' | translate}}..." />
                        </div>
                        <div class="form-group">
                            <i class="fa fa-twitter"></i>
                            <label class="control-label">{{'CUS_CURD_TAB_CONTACT_CURD_LBL_TWITTER' | translate}}</label>
                            <input class="form-control" ng-model="model.Twitter" name="Twitter" placeholder="{{'CUS_CURD_TAB_CONTACT_CURD_TXT_TWITTER' | translate}}..." />
                        </div>
                        <div class="form-group">
                            <i class="fa fa-skype"></i>
                            <label class="control-label">{{'CUS_CURD_TAB_CONTACT_CURD_LBL_SKYPE' | translate}}</label>
                            <input class="form-control" ng-model="model.Skype" name="Skype" placeholder="{{'CUS_CURD_TAB_CONTACT_CURD_TXT_SKYPE' | translate}}..." />
                        </div>
                        <div class=" form-group" style="padding-top:7px">
                            <i class="fa fa-code"></i>
                            <label class="control-labl">{{'CUS_CURD_TAB_CONTACT_CURD_LBL_NOTE' | translate}}</label>
                            <textarea class="form-control" ng-model="model.Note" style="margin-top:-5px;height:93px"  name="Note" placeholder="{{'CUS_CURD_TAB_CONTACT_CURD_TXT_NOTE' | translate}}..."></textarea>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group pt25">
                            <div class="thumbnail" style="cursor:pointer">
                                <input id="File" accept=".png,.jpg,.jpeg,.gif,.tif" type="file" style="display:none" />
                                <img id="image" ng-click="loadImage()" class="img-circle " style="height: 200px; width: 200px;cursor: pointer" src="/images/default/uploadimg.png" alt="Hình ảnh" />
                            </div>
                        </div>
                        <div class="col-md-12 text-center" style="margin-top: -20px;">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                            <label class="control-label ">{{'CUS_CURD_TAB_CONTACT_CURD_LBL_IMAGE' | translate}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <a data-dismiss="modal" class="btn btn-red" href="javascript:;" ng-click="cancel()">
        {{'COM_BTN_CANCEL' | translate}}
    </a>
    <button ng-click="submit()" class="btn btn-green mr5" href="javascript:;">
        {{'COM_BTN_ADD' | translate}}
    </button>
</div>