<script src="../../lib/assets/global/plugins/angularjs-datatable/js/polyline.js"></script>
<link href="../../lib/assets/global/plugins/angularjs-datatable/css/ol.css" rel="stylesheet" />
<script src="../../lib/assets/global/plugins/angularjs-datatable/js/render_view_ol3.js"></script>
<style>
    .pac-container {
        z-index: 10000 !important;
    }

    .hidden {
        display: none;
    }
    #startPlace {
        width: 66%;
        top: 13px!important;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px !important;
        border: none !important;
    }
    #map {
        max-height: 500px;
    }
</style>
<div class="modal-header">
    <img class="close icon-remove" title="Close" src="/images/default/close.png" ng-click="cancel()" />
    <i class="fa fa-map-marker icon-insert" style="color:#3598dc"></i>
    <div class="modal-title custom-title white" id="modal-title">{{'CUS_CURD_CLICK_CUS_GOOGLEMAP_TITLE' | translate}}</div>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <form name="addform" class="form-horizontal" method="post" ng-validate="validationOptions">
            <div class="form-body pt-0" >
                <input id="startPlace" ng-model="model.Start_name" type="text" class="form-control pac-container">
                <div id="map" class="map" tabindex="0"></div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <a data-dismiss="modal" class="btn  btn-red" href="javascript:;" ng-click="cancel()">
        {{'COM_BTN_CANCEL' | translate}}
    </a>
    <button ng-click="submit()" class="btn btn-green mr25" href="javascript:;">
        {{'COM_BTN_ADD' | translate}}
    </button>
</div>
