
<div ng-controller="more">
    <div class="table-toolbar">
        <form name="searchform" class="form-horizontal" method="post" ng-validate="validationOptions">
            <div class="mt-action-5">
                <div class="col-lg-3  form-group mr5 ">
                    <label class="control-label">{{'CUS_CURD_TAB_MORE_LBL_EXTVALUE' | translate}}</label>
                    <div class="input-group">
                        <input ng-model="model.Extvalue" class="form-control" type="text" placeholder="{{'CUS_CURD_TAB_MORE_TXT_EXTVALUE' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.Extvalue=''" class="btn btn-default no-shadow">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 form-group mr5">
                    <label class="control-label">{{'CUS_CURD_TAB_MORE_LBL_FROMDATE' | translate}}</label>
                    <div class='input-group date'>
                        <input type='text' class="form-control input-date" ng-model="model.FromDate" placeholder="{{'CUS_CURD_TAB_MORE_TXT_FROMDATE' | translate}}..." id='datefrommore' ng-keydown="($event.keyCode == 13) && reload()" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.FromDate=''" class="btn btn-default no-shadow">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 form-group mr5">
                    <label class="control-label">{{'CUS_CURD_TAB_MORE_LBL_TODATE' | translate}}</label>
                    <div class='input-group date'>
                        <input type='text' class="form-control input-date" ng-model="model.ToDate" placeholder="{{'CUS_CURD_TAB_MORE_TXT_TODATE' | translate}}..." id='datetomore' ng-keydown="($event.keyCode == 13) && reload()" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.ToDate=''" class="btn btn-default no-shadow">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="row">
                        <div class="col-lg-6 pl-0  pt25">
                            <a ng-click="search()" class="btn btn-accent">
                                <i class="fa fa-search"></i>
                                {{'COM_BTN_SEARCH' | translate}}
                            </a>
                        </div>
                        <div class="col-lg-6 pl-0 pt25">
                            <a ng-click="add()" class="btn br4 btn-green">
                                <i class="fa fa-plus mr5"></i>
                                {{'COM_BTN_ADD' | translate}}
                            </a>
                        </div>
                    </div>

                </div>

            </div>
        </form>
       
    </div>
    <table class="table dataTable table-hover table-striped"
           datatable
           dt-options="dtOptions"
           dt-columns="dtColumns"
           dt-instance="dtInstance"
           id="tblData"></table>
</div>
