<div class="table-toolbar">
    <div class="row">
        <div class="col-lg-6 ">
            <h1 class="bold mb-0">Tỷ trọng</h1>
            <ul class="breadcrumb-title">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="#">Trang chủ</a>
                    <span>&gt;</span>
                </li>
                <li>
                    <a href="#">Quản lý thị trường</a>
                    <span>&gt;</span>
                </li>
                <li>
                    <a href="#">Báo cáo</a>
                    <span>&gt;</span>
                </li>
                <li>
                    <a href="/Admin/ProporCurrent">Tỷ trọng</a>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <div class="btn-group pull-right actions">
                <a class="btn btn-accent btnSearch">
                    <i class="fa fa-search"></i>
                    Tìm kiếm
                </a>
                <!--<a ng-click="add()" class="btn btn-green">
                    <i class="fa fa-plus"></i>
                    Thêm mới
                </a>-->
                <a ng-click="export()" class="btn btn-info">
                    <span class=""><i class="glyphicon glyphicon-export"></i> Xuất excel</span>
                </a>
            </div>
        </div>
    </div>
    <div class="portlet light bordered input-search mb5 hidden">
        <div class="portlet-body">
            <img class="pull-right h28 w28 close-input-search" role="button" title="Đóng" src="/images/appIcon/close.png" />
            <div class="row pt5 mb5">
                <div class="col-md-2">
                    <label class="fw600 text-underline">NPP/Đại lý/Cửa hàng</label>
                    <div class="input-group">
                        <input ng-model="model.CustomerName" class="form-control" type="text" placeholder="NPP/Đại lý/Cửa hàng..." ng-keydown="($event.keyCode == 13) && reload()" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.CustomerName=''" class="btn btn-default no-shadow" style="">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="fw600 text-underline">Khu vực</label>
                    <div class="input-group">
                        <ui-select tagging ng-model="model.Area" theme="bootstrap" ng-change="reload()">
                            <ui-select-match placeholder="Tất cả tình trạng">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="x.Code as x in ListArea | filter: $select.search">
                                {{x.Name}}
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.Area='';" class="btn btn-default no-shadow start-date">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="fw600 text-underline">Nhân viên nhập liệu</label>
                    <div class="input-group">
                        <input ng-model="model.Staff" class="form-control" type="text" placeholder="Nhân viên nhập liệu..." ng-keydown="($event.keyCode == 13) && reload()" />
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.Staff=''" class="btn btn-default no-shadow" style="">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2 pt23">
                    <button class="btn btn-accent" ng-click="reload()">
                        <i class="fa fa-search"></i>
                        Tìm kiếm
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<table class="table dataTable table-hover table-striped"
       datatable
       dt-options="dtOptions"
       dt-columns="dtColumns"
       dt-instance="dtInstance"
       id="tblData"></table>
