<style>
    .table thead {
        background: #f8f5f1;
    }

    table label.mt-checkbox span {
        background: #fff !important;
        border: 1px solid #CFCFCF !important;
    }

    .table-height-scroll1 {
        display: block;
        height: 225px !important;
        overflow: auto;
        margin-bottom: 0 !important;
    }

    .tree_user {
        border: 1px solid rgb(231, 236, 241);
        border-radius: 4px;
        height: 350px;
        max-height: 547px;
        overflow-y: auto;
        padding: 20px;
    }

    .groupUser .btn {
        margin: 10px 5px 10px 0;
        background: #fff;
        border-radius: 2px !important;
        padding: 2px 0px 2px 5px !important;
        min-width: 88px;
        font-size: 13px !important;
    }

        .groupUser .btn:hover {
            background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
            border: none;
        }

    tr.selected-row {
        background: #c7ecfc !important;
        color: #333 !important;
        font-weight: bold !important;
    }


    .portlet.light > .portlet-title > .caption {
        padding: 7px 0;
    }

    .portlet.light > .portlet-title {
        min-height: 40px;
    }

    .portlet {
        box-shadow: none !important;
    }

    #treeDiv {
        border: 1px solid rgb(231, 236, 241);
        border-radius: 4px;
        height: 350px;
        max-height: 547px;
        overflow-y: auto;
        padding: 20px;
    }
</style>
<div class="table-toolbar">
    <div class="row">
        <div class="col-lg-5">
            <h1 class="bold mb-0">{{'DODP_TITLE_DODP' | translate}}</h1>
            <ul class="breadcrumb-title">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="#">{{'DODP_LINK_HOME' | translate}}</a>
                    <span>&gt;</span>
                </li>
                <li>
                    <a href="#">{{'DODP_LINK_TXT_GOES' | translate}}</a>
                    <span>&gt;</span>
                </li>
                <li>
                    <div>{{'DODP_LINK_DOCUMENT_GOES' | translate}}</div>
                </li>
            </ul>
        </div>
        <div class="col-lg-7">
            <div class="btn-group pull-right actions">
                <a ng-click="cancel()" class="btn btn-default br4">
                    <span class=""><i class="fa fa-arrow-left"></i>&nbsp;{{'COM_BTN_BACK' | translate}}</span>
                </a>
                <a ng-click="submit()" class="btn btn-blue br4">
                    <span class=""><i class="fas fa-retweet"></i>&nbsp;{{'COM_BTN_CONTINUE' | translate}}</span>
                </a>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="col-lg-12">
    <div class="col-lg-4">
        <div class="form-group">
            <b class=" require">{{'DODP_CURD_LBL_DOCUMENT_NUMBER' | translate}}:</b><span>&nbsp;{{model.Header.DocumentName}}</span>
        </div>
        <div class="form-group">
            <b class="">{{'DODP_CURD_LBL_NUMBER_SYMBOl' | translate}}:</b><span>&nbsp;{{model.Header.DocumentSymbol}}</span>
        </div>
        <div class="form-group">
            <b class="">{{'DODP_CURD_LBL_SIGNUSER' | translate}}:</b><span>&nbsp;{{model.Header.SignUser}}</span>
        </div>
        <div class="form-group">
            <b class="">{{'DODP_CURD_LBL_DRAFTER' | translate}}:</b><span>&nbsp;{{model.Header.CreatedEditor}}</span>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <b class="">{{'DODP_CURD_LBL_DOCUMENT_NUMBER' | translate}}:</b><span>&nbsp;{{model.Header.DocumentNumber}}</span>
        </div>
        <div class="form-group">
            <b class="">{{'DODP_CURD_LBL_DATE_ISSUED' | translate}}:</b><span>&nbsp;{{model.Header.PromulgateDate | date:'dd/MM/yyyy'}}</span>
        </div>
        <div class="form-group">
            <b class="">{{'DODP_CURD_LBL_POSITION' | translate}}:</b><span>&nbsp;{{model.Header.Position}}</span>
        </div>
        <div class="form-group">
            <b class="">{{'DODP_CURD_LBL_UNIT_EDITOR' | translate}}:</b><span>&nbsp;{{model.Header.UnitEditor}}</span>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <b class="require">{{'DODP_CURD_LBL_DOCUMENT_SYMBOL' | translate}}:</b><span>&nbsp;{{model.Header.DocumentSymbols}}</span>
        </div>
        <div class="form-group">
            <b class="">{{'DODP_CURD_LBL_SIGN_DAY' | translate}}:</b><span>&nbsp;{{model.Header.SignDate}}</span>
        </div>
        <div class="form-group">
            <b class="">{{'DODP_CURD_LBL_CREATED_USER' | translate}}:</b><span>&nbsp;{{model.Header.CreatedUser }}</span>
        </div>

        <div class="form-group">
            <b class="">{{'DODP_CURD_LBL_SECURITY_LEVEL' | translate}}:</b><span>&nbsp;{{model.Header.SecurityLevel}}</span>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="form-group">
            <b class="">{{'DODP_CURD_LBL_NOTE' | translate}}:</b><span>&nbsp;{{model.Header.Note}}</span>
        </div>
    </div>
</div>
<div class="col-lg-12 ">
    <h2><u><b>{{'COM_ATTACHED_FILE' | translate}}</b></u></h2>
</div>
<div class="col-lg-12  pb20">
    <div class="col-lg-offset-2 col-lg-10 col-sm-12" id="contentFile">
        <table class="table table-bordered" style="margin-bottom: 0;">
            <thead>
                <tr>
                    <th class="col-lg-4 text-center">{{'COM_NAME_FILE' | translate}}</th>
                    <th class="col-lg-4 text-center">{{'COM_MSG_DOWLOAD' | translate}}</th>
                    <th class="col-lg-4 text-center">{{'COM_PREVIEW' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in model.Detail.ListFile">
                    <td class="text-center">{{x.FileName}}</td>
                    <td class="text-center">
                        <i ng-show="x.IsShow" role="button" class="fa fa-minus-circle pt5" ng-click="deleteFile($index,x.Id)" title="Xóa" style="color:red !important;font-size: 25px"></i>
                        <a href="{{x.Source}}" target="_blank" download>
                            <i role="button" hr class="fa fa-download pl10 pt5" title="Tải xuống" style="color:#147aa9!important;font-size: 25px"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a ng-click="view(x.Source)" ng-if="x.Fomart==4">
                           {{'COM_PREVIEW' | translate}}
                        </a>
                        <label ng-if="x.Fomart!=4">
                            {{'COM_MSG_FILE_SUPPORT_PREVIEW' | translate}}
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="col-lg-12  pb20">
    <div class="col-lg-12">
        <h2><u><b>{{'DODP_CURD_RECEIVER' | translate}}</b></u></h2>
    </div>
    <div class="col-lg-offset-2 col-lg-10 col-sm-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-sharp hide"></i>
                    <span class="caption-subject bold">{{'DODP_CURD_DEPARTMENT' | translate}}</span>
                </div>
                <div class="tools">
                    <a class="fullscreen" data-container="false" title="Toàn màn hình">
                        <i class="fas fa-arrows-alt"></i>
                    </a>
                    <a class="question" data-toggle="popover" data-placement="left" data-content="{{''DODP_VALIDATE_CHOOSE_DEPARTMENT_USER'' | translate}}" data-trigger="hover" data-original-title="{{''DODP_TUTORIAL_DEPARTMENT'' | translate}}">
                        <i class="fas fa-question"></i>
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-lg-7 col-sm-6">
                        <div id="treeDiv" tree="treeInstance" js-tree="treeConfig" should-apply="ac()" ng-model="treeData" tree-events-obj="treeEvents"></div>
                    </div>
                    <div class="col-lg-5 col-sm-6 tree_user">
                        <div class="portlet light bordered">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-bar-chart font-green-sharp hide"></i>
                                    <span class="caption-subject bold">{{'COM_USER' | translate}}</span>
                                </div>
                                <div class="pull-right">
                                    <a ng-click="saveUser(selectAll)" title="Save" data-toggle="modal" class="btn btn-circle btn-icon-only btn-default blue">
                                        <i class="fas fa-save"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="table-scrollable table-height-scroll1">
                                    <table class="table table-bordered table-hover table-resource">
                                        <thead>
                                            <tr>
                                                <th class="text-center bs-checkbox" style="width: 28px; padding: 5px 0;">
                                                    <label class="mt-checkbox" style="padding-left: 18px;" title="Chọn tất cả">
                                                        <input type="checkbox" ng-model="selectAll" ng-click="selectAllUser(selectAll)" /><span></span>
                                                    </label>
                                                </th>
                                                <th class="">
                                                    {{'COM_LIST_USER' | translate}}&nbsp;
                                                    <span>
                                                        {{lengthMemberSelect}}/{{lengthMember}}
                                                    </span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="x in ListSearchMember" ng-class="{ 'selected-row': x.IsChecked, 'highlight-row': x.IsEnabled }">
                                                <td class="text-center bs-checkbox" style="width: 34px;">
                                                    <label class="mt-checkbox" style="padding-left: 18px;">
                                                        <input type="checkbox" ng-model="x.IsChecked" ng-click="clickSelectOneUser(x, 0)" /><span></span>
                                                    </label>
                                                </td>
                                                <td nowrap ng-click="clickSelectOneUser(x, 1)" role="button">
                                                    <div ng-class="{'bold': x.IsPermision}">
                                                        {{x.Name}}<i ng-show="x.IsPermision" class="fas fa-award pl20"></i>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--start member-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-green-sharp hide"></i>
                    <span class="caption-subject bold">{{'COM_RECEIVER' | translate}}</span>
                </div>
            </div>
            <div class="portlet-body todo-project-list-content ">
                <div class="row">
                    <div class="col-md-12 groupUser">
                        <button type="button" class="btn" ng-repeat="x in ListGroup">
                            <i class="fa fa-times float-right" aria-hidden="true" ng-show="x.IsShow" ng-click="removeGroup($index,x.GroupUserCode)"></i><span class="bold"></span> {{x.Name}}
                        </button>
                    </div>
                    <div class="col-md-12 groupUser">
                        <button type="button" class="btn" ng-repeat="x in ListMember | filter:{ IsShowSend: false }">
                            {{x.Name}}
                        </button>
                    </div>
                </div>
                <!--Start chuyển tiếp-->
                <div class="row" ng-if="(ListMember|filter:{IsShowSend:true}).length != 0">
                    <div class="col-md-12 groupUser">
                        <div class="br4" style="border: 1px solid #e7ecf1;">
                            <div class="" style="padding:15px">
                                <u><b><i>{{'COM_NEXT' | translate}}</i></b></u>
                                <br />
                                <button type="button" class="btn" ng-repeat="x in ListMember | filter:{ IsShowSend: true }" ng-class="{'bold': x.IsPermision}">
                                    <i class="fa fa-times float-right" aria-hidden="true" ng-show="x.IsShowDelete" ng-click="removeUser(x.UserId)"></i>{{x.Name}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End chuyển tiếp-->
            </div>
        </div>
        <!--end member-->

    </div>
</div>
<div class="col-lg-12  pb20">
    <div class="col-lg-12">
        <h2><u><b>{{'COM_ACTIVITY' | translate}}</b></u></h2>
    </div>
    <div class="col-lg-offset-2 col-lg-10 col-sm-12 pb20">
        <table class="table table-bordered" style="margin-bottom: 0;">
            <thead>
                <tr>
                    <th class="text-center">{{'DODP_PEOPLE_ACTIVITY' | translate}}</th>
                    <th class="text-center">{{'COM_ACTIVITY' | translate}}</th>
                    <th class="text-center">{{'COM_TIME' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in ActivityData">
                    <td class="text-center">{{x.User}}</td>
                    <td class="text-center">
                        <span ng-if="x.Action=='CREATED'">{{'DODP_CREATED_DOCUMENT' | translate}}</span>
                        <span ng-if="x.Action=='UPDATED'">{{'DODP_UPDATED_DOCUMENT' | translate}}</span>
                        <span ng-if="x.Action=='REVIEW'">{{'DODP_REVIEW_DOCUMENT' | translate}}</span>
                        <span ng-if="x.Action=='SEND'">{{'DODP_SEND_DOCUMENT' | translate}}</span>
                    </td>
                    <td class="text-center">{{x.CreatedTime | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-12 pb20 ">
        <div class="btn-group pull-right actions">
            <a ng-click="cancel()" class="btn btn-default br4">
                <span class=""><i class="fa fa-arrow-left"></i> {{'COM_BTN_BACK' | translate}}</span>
            </a>
            <a ng-click="submit()" class="btn btn-blue ml5 br4">
                <span class=""><i class="fas fa-retweet"></i> {{'COM_NEXT' | translate}}</span>
            </a>
        </div>
    </div>
</div>
