@using ESEIM.Utils
@{
    ViewData["Title"] = "Xếp hạng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<style>
    /*th {
        background: linear-gradient(#04A3ED,rgba(21,73,155,1)) !important;
        color: white;
    }*/
</style>
<div id="contentMain" ng-app="App_ESEIM" ng-controller="Ctrl_ESEIM">
    <div style="min-height:100px" ng-view></div>
</div>
<script src="/views/Admin/task010/controller.js" type="text/javascript"></script>
