<div ng-controller="supplier">
    <div class="row mb15">
        <div class="col-md-2">
            <label>{{'COM_SET_CURD_LBL_CODE_SET' | translate}}</label>
            <div class="input-group">
                <input ng-model="model.SettingCode" class="form-control" type="text" placeholder="{{'COM_SET_CURD_TXT_CODE_SET' | translate}}.." ng-keydown="($event.keyCode == 13) && reload()" />
                <span class="input-group-btn">
                    <button type="button" ng-click="model.SettingCode=''" class="btn btn-default no-shadow">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-2">
            <label>{{'COM_SET_CURD_LBL_VALUE_SET' | translate}}</label>
            <div class="input-group">
                <input ng-model="model.SettingValue" class="form-control" type="text" placeholder="{{'COM_SET_CURD_TXT_VALUE_SET' | translate}}..." ng-keydown="($event.keyCode == 13) && reload()" />
                <span class="input-group-btn">
                    <button type="button" ng-click="model.SettingValue=''" class="btn btn-default no-shadow">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-2 pt23">
            <button class="btn btn-accent" ng-click="reload()">
                <i class="fa fa-search"></i>
                {{'COM_BTN_SEARCH' | translate}}
            </button>
        </div>
    </div>
    <table class="table dataTable table-bordered table-hover table-striped"
           datatable
           dt-options="dtOptions"
           dt-columns="dtColumns"
           dt-instance="dtInstance"
           id="tblDataAsset"></table>
</div>

