/*.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: white !important;
    background-color: #4b73b9 !important;
    font-weight: bold;
}*/






/*.logo-center {
    color: white;
    font-size: 20px;
    margin: 5px 0px 0px 350px;
}*/



/*.nav-pills > li > a, .nav-tabs > li > a {
    font-size: 13px !important;
}*/





/*---------------------jstree-------------------*/
@font-face {
    font-family: 'maturasc';
    src: url('font/maturasc.ttf') format('truetype');
}

@font-face {
    font-family: 'impact';
    src: url('font/impact.ttf') format('truetype');
}

.angular-bootstrap-contextmenu {
    max-height: inherit !important;
}

.jstree-anchor > .jstree-checkbox-disabled {
    display: none;
}

.sprite-technology:active {
    background-color: red !important;
}

.jstree-contextmenu {
    z-index: 10;
}
/*@media (max-width: 1360px) and (min-width: 1200px) {
    .custom-lg-5 {
        width: 45.66667% !important;
    }
}

@media (max-width: 1360px) and (min-width: 1200px) {
    .custom-lg-7 {
        width: 54.3% !important;
    }
}*/
/*.form-horizontal .mt-action-5 .form-group {
    margin-bottom: 5px !important
}*/
/*----------------------tab,table--------------------------*/
.nav > li.disabled > a {
    color: white !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: white !important;
    /*//background-color: #4b73b9 !important;*/
    font-weight: 700;
    background: #FF8000;
    /*background-image: none !important;*/
    /*background-image: linear-gradient(to bottom, #016833, #016833) !important;*/
}

.nav > li > a:focus, .nav > li > a:hover {
    /* background: #bbdbff !important; */
    /* background-image: linear-gradient(to right, #b0d4ff, #4a90e6) !important; */
    background-image: linear-gradient(to right, #91c0f9 0%, #156dda 51%, #bbd7f9 100%);
    color: white !important;
    /* font-weight: 600; */
    background-position: right center;
}

@media (min-width: 768px) {
    .navbar-nav {
        display: inline-flex;
    }
}

.nav-tabs .nav-link {
    background: #428bca;
    /* background-color: #CEE3F6 !important; */
    /* background-image: linear-gradient(to bottom, #CEE3F6, #7EC3FF) !important; */
    /* background-image: linear-gradient(to bottom, #95C5FF, #0061BC); */
    /* background-image: linear-gradient(to right, #91c0f9 0%, #156dda 51%, #bbd7f9 100%); */
    /* background-image: linear-gradient(to right, #b1ccec 0%, #0061BC 51%, #95C5FF 100%); */
    /* background-image: linear-gradient(to right, #87b8f3 0%, #2a73e2 51%, #87b8f3 100%); */
    transition: 0.5s;
    background-size: 200% auto;
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
    font-size: 14px;
    color: white;
    padding: 10px;
}



/*.table-header > th {
    background: #00c5dc;
    text-shadow: 1px 1px 1px #1c3156;
    color: #fff;
}*/

/*table.dataTable thead td, table.dataTable thead th {
    border-bottom: 0;
}*/

ul.pagination li {
    padding: 0px 4px !important;
}
/*.textColor > div > ul > li > a {
    color: white !important;
}*/
/*a{
    color:white ;
}*/
/*--------------------- modal----------------------*/
.modal .modal-title {
    position: absolute;
    padding-top: 5px;
    padding-left: 10px;
    font-weight: bold !important;
}

/*.modal .custom-title {
    margin: -29px 0px 6px 18px;
}*/

.modal-body .control-label {
    font-size: 11px !important;
}

.modal-footer {
    padding-bottom: 20px !important;
}

body.modal-open {
    overflow: visible !important;
}
.modal-content {
    border-radius: 4px !important;
    overflow: initial !important;
}
/*.modal.fade .modal-dialog {
    -webkit-transform: translate(0, 0%);
    -ms-transform: translate(0, 0%);
    transform: translate(0, 0%);
}*/

/*------------------- DataTable---------------------*/

table.dataTable label.mt-checkbox span {
    background: #fff !important;
    border: 1px solid #CFCFCF !important;
}

.dataTable thead tr th {
    /*padding-bottom: 5px !important;*/
    padding-left: 10px !important;
    color: black !important;
    text-decoration: underline;
    border-bottom: 0;
}

table.dataTable thead {
    opacity: 0.75;
}

table.dataTable tbody {
    font-weight: 600;
}

    table.dataTable tbody > tr.selected, table.dataTable tbody > tr > .selected {
        background: #c7ecfc !important;
    }

.dataTables_wrapper .table-scrollable {
    border: 1px solid #e7ecf1 !important;
    border-radius: 4px;
    box-shadow: 0 2px 3px 2px rgba(0,0,0,.03);
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    white-space: initial;
}



/*---------table footer page round*/
.pagination > li > a {
    cursor: pointer !important;
    display: inline-block !important;
    height: 33px !important;
    min-width: 33px !important;
    vertical-align: middle !important;
    padding: .5rem !important;
    border-radius: 50% !important;
    text-align: center !important;
    position: relative !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    text-align: center !important;
    font-size: 1rem !important;
    line-height: 1rem !important;
    font-weight: 400 !important;
}

.pagination > li > a {
    border: none !important;
}

/*.dataTables_wrapper .table-scrollable {
    border: none !important;
}*/



table.dataTable.no-footer {
    border-bottom: 1px solid #ccc !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: none !important;
    background: none !important;
}

.pagination > li > a:hover {
    color: white !important;
    background-color: #55A8FD !important;
    -webkit-box-shadow: 0 5px 10px 0 rgba(85,168,253,0.45);
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #308cea !important;
    box-shadow: 0 5px 10px 0 rgba(85,168,253,0.45);
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    box-shadow: none !important;
}





/*------------breadcrumbHeader------------------*/
.breadcrumb-title {
    margin: -5px 0 0 -5px;
}

    .breadcrumb-title li {
        float: left;
        padding: 10px 0 0 5px;
        font-size: 12px;
    }

        .breadcrumb-title li a {
            color: gray;
        }

        .breadcrumb-title li span {
            color: gray;
            font-size: 10px;
        }



/*--------------- menu---------------------*/

/*#navbar-menu {
    background: #3e5c9a !important;
}*/

.navbar-wrapper {
    background-image: url(/images/menu/Background.png);
}

/*.header-navbar.navbar-semi-dark .navbar-header {
    background: none;
}*/

.nav > li > .none-hover, .nav > li > .none-hover:hover, .nav > li > .none-hover:focus {
    background: none !important;
    background-color: none !important;
    color: white !important;
}

#navbar-menu ul > li > a {
    color: white;
}

.app-menu {
    padding: 10px 1px 30px 32px;
}

.app-content {
    min-height: calc(100% - 40px);
}

.fa-tachometer-alt:before {
    font-size: 15px !important;
}

.go2top i, .go2top i:focus {
    right: 3px;
    bottom: 52px;
    width: 38px;
    height: 38px;
    z-index: 999;
    line-height: 1;
    font-size: 35px;
    position: fixed;
    color: #706969;
}






/*---------------- publish-----------------------*/
.no-color {
    background: none !important;
}


.black {
    color: #333 !important;
}

.disabled-element {
    pointer-events: none;
    opacity: 0.6;
}

body {
    font-family: "Open Sans", sans-serif !important;
}

.border-top-left-4radius {
    border-top-left-radius: 4px !important;
}

.nav .readonly {
    opacity: 0.7;
    pointer-events: none;
    text-decoration: none;
    cursor: default;
}

.tooltip-inner {
    word-break: break-word;
}

.border-bottom-left-4radius {
    border-bottom-left-radius: 4px !important;
}

.form-group {
    margin-bottom: 5px !important
}

.selected-item {
    background-color: #c7ecfc !important;
    font-weight: bold;
}

.selected-item-red {
    font-weight: bold;
    color: #DA4453 !important;
}

/*.pl-0 {
    padding-left: 0px !important;
}*/

/*.fs12 {
    font-size: 12px !important;
}*/

/*.f-w600 {
    font-weight: 600 !important;
}*/

.content-wrapper {
    background-color: white !important;
}

.pt23 {
    padding-top: 23px;
}

.text-underline {
    text-decoration: underline !important;
}

/*.pt-0 {
    padding-top: 0 !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}*/

/*.pl-0 {
    padding-left: 0 !important;
}*/

/*.mr13 {
    margin-right: 13px !important;
}*/
.text-dark {
    color: darkgray;
}
/*.pf15 {
    padding-left: 15px !important;
}*/

/*.pf20 {
    padding-left: 20px !important;
}*/

/*.ml-0 {
    margin-left: 0px !important;
}*/

/*.mr-0 {
    margin-right: 0px !important;
}*/

/*.w250 {
    width: 250px !important;
}*/

/*.w650 {
    width: 650px !important;
}*/
.input-search {
    /*background-image: linear-gradient(#edf2f5, #e6e6e6);*/
    background: #eef1f5 !important;
    display: block;
    border-radius: 5px;
    padding: 0px 0px 0px 15px !important;
}

.close-input-search {
    margin: -10px -15px;
    position: relative;
    z-index: 10;
}

/*.pr-0 {
    padding-right: 0 !important;
}*/

/*.d-flex {
    display: inline-flex;
}*/
.image-default {
    background-image: url("../../../images/romooc/no_image.png");
    background-size: 100% 100%;
}

.image-upload {
    background-image: url("../../../images/default/uploadimg.png");
    background-size: 100% 100%;
}

.custom-tooltip {
    position: relative;
}

    .custom-tooltip .custom-tooltiptext {
        visibility: hidden;
        width: 120px;
        text-align: center;
        font-size: 13px;
        font-weight: 600;
        height: auto;
        border-radius: 11px;
        box-shadow: 0px 1px 5px #D4CBCB;
        position: absolute;
        z-index: 5;
        bottom: 100%;
        left: 50%;
        margin-left: -60px;
        color: #ffffff;
        text-shadow: 1px 0px 1px #1C4780;
        background: #05b533;
        border: 2px solid #DBDBDB;
        padding: 10px;
    }

        .custom-tooltip .custom-tooltiptext:before {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -12px;
            width: 0;
            height: 0;
            border-top: 12px solid #DBDBDB;
            border-right: 12px solid transparent;
            border-left: 12px solid transparent;
        }

        .custom-tooltip .custom-tooltiptext:after {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -8px;
            width: 0;
            height: 0;
            border-top: 8px solid #05b533;
            border-right: 8px solid transparent;
            border-left: 8px solid transparent;
        }

    .custom-tooltip:hover .custom-tooltiptext {
        visibility: visible;
    }

.badge-customer {
    /*right: 15px;*/
    font-size: 85%;
    text-align: center;
    vertical-align: baseline;
    border-radius: .21rem;
    line-height: 1;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    color: #fff;
}

.badge-customer-success {
    background-color: #61bd4f;
}

.badge-customer-danger {
    background-color: #ff6b81;
}

.badge-customer-warning {
    background-color: #ffb822;
}
.badge-customer-primary {
    background-color: #337ab7;
}

/*.-ml5 {
    margin-left: -5px;
}*/

.time {
    padding: 4px 9px 5px 4px;
    text-align: right;
    font-style: italic;
    color: #c1cbd0;
}

.require::after {
    content: '*';
    margin-left: 5px;
    color: red;
}

.help-block {
    font-size: 12px;
    display: inline !important;
}

.label-color {
    color: #e73d4a;
}

.validation-message {
    font-size: 12px;
}

/*.f-s25 {
    font-size: 25px !important;
}*/

/*.float-right {
    float: right;
}*/

/*.close {
    background-image: none !important;
}*/

.border {
    border: 1px solid #c2cad8 !important;
}


/*.br4 {
    border-radius: 4px !important;
}*/

/*.br-none {
    border-radius: 0 !important;
}*/

.show-password {
    position: absolute;
    right: 20px;
    top: 10px;
}

.wiggle {
    display: inline-block;
    animation: wiggle 0.5s infinite;
}

.authority {
    margin-top: 2px;
    box-shadow: 0 2px 10px 0 rgba(255,60,95,0.45) !important;
}

.group-user {
    font-weight: 600;
    text-decoration: underline;
    font-style: italic;
    color: indianred;
    font-size: 10px;
}
/*@media (min-width: 1200px) {
    .notification {
        margin-right: 25px;
    }
}*/

.notification {
    font-size: 9px !important;
    font-weight: bold !important;
    line-height: 17px !important;
    min-width: 17px !important;
    /* height: 17px !important; */
    /* text-align: center; */
    padding: 0 4px !important;
    border-radius: 50% !important;
    /* top: 11px !important; */
    /* right: 0 !important; */
    float: right;
    /* top: 13px; */
    /* padding-bottom: 13px; */
    margin-top: 2px;
    -ms-user-select: none;
    box-shadow: 0 2px 10px 0 rgba(255,60,95,0.45) !important;
    background-color: #E63C5F;
}

.btn-round {
    border-radius: 25px !important;
}

.long {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 1px;
}
/*.br-5 {
    border-radius: 5px !important;
}*/

@media (min-width: 768px) {
    #monthly-revenue-graph {
        width: 635px;
    }
}

/*.dataTable > thead > tr th {
    text-decoration: underline;
}*/

.pink {
    color: #E91E63 !important;
}

.opacityQrCode {
    opacity: 0.1;
}
/*---------------------------textEditor tinymce----------------------------*/
button .mce-txt {
    font-family: "Open Sans", sans-serif !important;
    font-size: 13px !important;
}

.mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
    white-space: normal !important;
}

.bs-calltoaction {
    position: relative;
    width: 40%;
    padding: 15px 25px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

    .bs-calltoaction > .row {
        display: table;
        width: calc(100% + 30px);
    }

        .bs-calltoaction > .row > [class^="col-"],
        .bs-calltoaction > .row > [class*=" col-"] {
            float: none;
            display: table-cell;
            vertical-align: middle;
        }

.cta-contents {
    padding-top: 10px;
    padding-bottom: 10px;
}

.cta-title {
    margin: 0 auto 15px;
    padding: 0;
}

.cta-desc {
    padding: 0;
}

    .cta-desc p:last-child {
        margin-bottom: 0;
    }

.cta-button {
    padding-top: 10px;
    padding-bottom: 10px;
}

.bs-calltoaction.bs-calltoaction-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.bs-calltoaction.bs-calltoaction-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.bs-calltoaction.bs-calltoaction-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.bs-calltoaction.bs-calltoaction-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.bs-calltoaction.bs-calltoaction-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.bs-calltoaction.bs-calltoaction-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

    .bs-calltoaction.bs-calltoaction-primary .cta-button .btn,
    .bs-calltoaction.bs-calltoaction-info .cta-button .btn,
    .bs-calltoaction.bs-calltoaction-success .cta-button .btn,
    .bs-calltoaction.bs-calltoaction-warning .cta-button .btn,
    .bs-calltoaction.bs-calltoaction-danger .cta-button .btn {
        border-color: #fff;
    }





/*---------------------- ui-select,input group--------------------------------*/
.ui-select-match-text > span {
    width: 80% !important;
    overflow: hidden !important;
    text-overflow: ellipsis;
    position: absolute !important;
}

.ui-select-toggle {
    border-radius: 0 !important;
    border-bottom-left-radius: 4px !important;
    border-top-left-radius: 4px !important;
}

.ui-select-bootstrap .ui-select-choices-row > a {
    white-space: normal;
    word-break: break-word;
}

.input-group-btn button {
    border-bottom-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
    height: 34px;
}

.ui-select-placeholder {
    position: absolute;
}

.ui-select-multiple.ui-select-bootstrap {
    border: 1px solid #ccc;
    padding: 0 0 9px !important;
}

.ui-select-match-close {
    text-indent: initial !important;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-search {
    padding-left: 15px;
    padding-top: 10px;
    height: 1.9em !important;
}

input, textarea, .ui-select-toggle, .ui-select-toggle:hover {
    /*border: 1px solid #ccc !important;*/
    font-size: 12px !important;
}

.form-control.ui-select-search.ng-pristine.ng-valid.ng-empty.ng-touched, .table td, .table th {
    font-size: 12px;
}

.ui-select-multiple .ui-select-search {
    border: none !important;
}

.form-group input, .ui-select-toggle {
    font-size: 12px;
}

.form-control.ui-select-search.ng-pristine.ng-valid.ng-empty.ng-touched {
    width: 100% !important;
}

.form-control.ui-select-search.ng-pristine.ng-valid.ng-empty.ng-touched, .table td, .table th {
    font-size: 12px !important;
}

.ui-select-bootstrap-right-radius .ui-select-toggle {
    border-bottom-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
}
/*end input group*/






/*.sidebar-menu > li {
    padding: 3px !important;
}

.portlet {
    border-radius: 4px !important;
}*/


/*.table-toolbar h1 {
    margin-bottom: 0;
    font-weight: bold;
}*/






/*--------------------scrollbar-----------------------*/
.scrollbar-sm::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

.scrollbar-sm::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #fff;
}

.scrollbar-sm::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #fff;
}

.scrollbar-sm::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #ccc;
}

.scroller-sm-fade::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.scroller-sm-fade::-webkit-scrollbar-track {
    background: transparent;
}

.scroller-sm-fade::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 4px;
}

.scroller-sm-fade:hover::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 4px;
    -webkit-transition: all .5s;
    opacity: 0;
}

.scroller-sm-fade::-webkit-scrollbar-thumb:horizontal:hover,
.scroller-sm-fade::-webkit-scrollbar-thumb:vertical:hover {
    background: #999 !important;
}

.scroller-sm-fade::-webkit-scrollbar-thumb:horizontal:active,
.scroller-sm-fade::-webkit-scrollbar-thumb:vertical:active {
    background: #777 !important;
}

.scrollbar-lg::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

.scrollbar-lg::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #fff;
}

.scrollbar-lg::-webkit-scrollbar {
    width: 10px;
    background-color: #ccc;
}

.scrollbar-lg::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
/*end scrollbar*/







/*--------------------checkbox-----------------------*/
.checkbox-default label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
}

.checkbox-default .checkbox-circle::before {
    border-radius: 50%;
}

.checkbox-default label::before {
    border-radius: 2px;
    cursor: pointer;
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid darkgray;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox-default label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #999;
}

.checkbox-default input[type="checkbox"] {
    opacity: 0;
}

    .checkbox-default input[type="checkbox"]:focus + label::before {
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
        outline: 0;
    }

    .checkbox-default input[type="checkbox"]:hover + label::before {
        background: #eee;
    }

    .checkbox-default input[type="checkbox"]:checked + label::after {
        font-family: 'FontAwesome';
        content: "\f00c";
    }

    .checkbox-default input[type="checkbox"]:disabled + label {
        opacity: 0.65;
    }

        .checkbox-default input[type="checkbox"]:disabled + label::before {
            background-color: #eeeeee;
            cursor: not-allowed;
        }
/*end checkbox*/






/*---------------------------button-----------------------------*/
.btn-red {
    border-radius: 4px !important;
    background-color: #E63C5F;
    color: #fff !important;
    background: #E63C5F;
    background-image: none;
    border-color: #E63C5F;
    box-shadow: 0px 5px 10px 2px rgba(255, 69, 121, 0.2) !important;
}

    .btn-red:hover {
        color: white !important;
    }

    .btn-red:focus {
        color: white !important;
    }


.btn-blue {
    border-radius: 4px !important;
    background-color: #55A8FD !important;
    color: white;
    -webkit-box-shadow: 0 5px 10px 0 rgba(85,168,253,0.45) !important;
    box-shadow: 0 5px 10px 0 rgba(85,168,253,0.45) !important;
}

    .btn-blue:hover {
        color: white !important;
    }

    .btn-blue:focus {
        color: white !important;
        background-color: #3e5c9a !important;
    }

.btn-violet {
    border-radius: 4px !important;
    background-color: #156dda !important;
    color: white;
    -webkit-box-shadow: 0 5px 10px 0 rgba(85,168,253,0.45) !important;
    box-shadow: 0 5px 10px 0 rgba(85,168,253,0.45) !important;
}

.btn-blue:hover {
    color: white !important;
}

.btn-blue:focus {
    color: white !important;
}


.btn-accent {
    border-radius: 4px !important;
    color: #fff;
    background-color: #00c5dc;
    border-color: #00c5dc;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(0,197,220,0.19) !important;
    box-shadow: 0px 5px 10px 2px rgba(0,197,220,0.19) !important;
}


    .btn-accent:hover {
        color: white !important;
    }

    .btn-accent:focus {
        color: white !important;
    }

.btn-export {
    border-radius: 4px !important;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(31,128,118,0.19) !important;
    background: #4db3a2;
    color: white !important;
}

    .btn-export:hover {
        color: white !important;
    }

    .btn-export:focus {
        color: white !important;
    }

.btn-green {
    background-color: #E63C5F;
    color: #fff !important;
    background: #2395D7;
    border-color: #2395D7;
    border-radius: 4px !important;
    box-shadow: 0px 5px 10px 2px rgb(197, 214, 224) !important;
}

    .btn-green:hover {
        color: white !important;
    }

    .btn-green:focus {
        color: white !important;
    }

.btn-drak-green {
    background: #006132;
    box-shadow: 0 1px 20px 1px rgb(255, 255, 255) !important;
    border-radius: 4px !important;
    color: #fff !important;
}

    .btn-drak-green:hover {
        color: white !important;
    }

    .btn-drak-green:focus {
        color: white !important;
    }

.btn-edit {
    background-color: #c29d0b;
    color: white;
    box-shadow: 0px 5px 10px 2px rgba(0,112,35,0.19) !important;
}

    .btn-edit:hover {
        color: white !important;
    }

.btn-card {
    border-radius: 4px !important;
    background-color: #E63C5F;
    color: #fff !important;
    background: #E63C5F;
    background-image: none;
    border-color: #E63C5F;
    box-shadow: 0px 5px 10px 2px rgba(255, 69, 121, 0.2) !important;
}

.btn-board {
    background-image: linear-gradient(45deg,#079637,#22cc5b);
    color: white;
    user-select: none;
    border: 1px solid transparent;
    border-color: #1abb50 !important;
    box-shadow: 0 1px 20px 1px rgb(112, 218, 147);
}

    .btn-board:hover {
        border-color: #1abb50 !important;
        background-image: linear-gradient(45deg,#079637,#22cc5b);
        color: #FFF !important;
    }


.btn-card:hover {
    color: white !important;
}

.btn-card:focus {
    color: white !important;
}

.btn-round-red {
    /*margin-top: -3px;*/
    height: 25px !important;
    width: 25px;
    padding: 5px !important;
    border: none;
    color: white !important;
    background: #E63C5F;
    box-shadow: 0 2px 10px 0 rgba(255,60,95,0.45) !important;
}

.btn-edit:focus {
    color: white !important;
}

.btn-primary {
    background-image: none !important;
    border-color: #428bca !important;
}
/*end button*/









.input-group-addon {
    background: none !important;
    cursor: pointer;
}






.panel-heading {
    background: none !important;
}

.boder-table {
    border: 1px solid #e7ecf1 !important;
}





.pac-container, .pac-item {
    z-index: 2147483647 !important;
}

/*css fa fa upload*/
.input-group .fa-upload {
    left: 0;
}





.btn-choose {
    background: none;
    box-shadow: none !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

.input-file .fa-upload {
    position: absolute;
    z-index: 10;
    padding: 10px;
}

/*.glyphicon-remove, .fa-times {
    color: #656565;
}*/
/*.modal {
    overflow: hidden !important ;
}*/

/*.modal-body {
    overflow: auto !important;
}*/








/* Mầu modal header */
/*.modal-header.no-color {
    background-color: #4872BB !important;
}*/




.form .form-body, .portlet-form .form-body {
    padding-bottom: 5px;
}

.modal-content {
    /*margin-top: -10px;*/
    border-radius: 4px !important;
}

.portlet.light .portlet-body {
    padding-top: 0px;
}

/*.m-btn-cancel {
    border-radius: 4px !important;
    background-color: #E63C5F;
    color: #fff !important;
    background: #E63C5F;
    background-image: none;
    border-color: #E63C5F;
    box-shadow: 0px 5px 10px 2px rgba(255, 69, 121, 0.2) !important;
}

    .m-btn-cancel:hover {
        color: white !important;
    }

    .m-btn-cancel:focus {
        color: white !important;
    }*/

.modal-body {
    padding-top: 10px;
    padding-bottom: 30px;
}

.modal-footer {
    padding-bottom: 10px !important;
}

/*.navbar-default {
    background: transparent url(../pictures/avatar/background-top.png) repeat-x 0 0 !important;
}*/


/*Class người dùng tạo*/
/*Vùng form các thông tin header*/
.userFormAreaHeader {
    border-radius: 4px !important;
    border: 1px solid #e7ecf1 !important;
    box-shadow: 0 2px 3px 2px rgba(0,0,0,.03) !important;
    padding-top: 5px;
    margin-bottom: 5px;
    background: #fffef6;
}


    .userFormAreaHeader > i {
        color: black !important;
    }

    .userFormAreaHeader > label {
        color: black !important;
    }

.modal .modal-body {
    padding-top: 0px !important;
}

/*.tab-content {
    margin-top: -5px !important;
}*/


/* Mờ chữ của place holder trong ui select */
.ui-select-placeholder {
    color: #cccccc !important;
}

/*event fullcalendar */
.fc-event-event-default {
    background-color: #999 !important;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px hsla(0,0%,60%,.4);
    border: none !important;
}


.fc-event-event-pink {
    background-color: #e91e63 !important;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(233,30,99,.4);
    border: none !important;
}

.fc-event-event-azure {
    background-color: #00bcd4 !important;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0,188,212,.4);
    border: none !important;
}

.fc-event-event-green {
    background-color: #4caf50 !important;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(76,175,80,.4);
    border: none !important;
}

.fc-event-event-orange {
    background-color: #ff9800 !important;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255,152,0,.4);
    border: none !important;
}

/*css progress(Biểu đồ gantt)*/
.status_line {
    background-color: #0ca30a !important;
}

.status_today {
    background-color: #ff0000 !important;
}

.gantt_task_progress {
    padding-left: 12px;
    /*box-sizing: border-box;*/
    color: white;
    font-weight: bold;
}

/*CSS giống như Tags-Input*/
.tags-custom {
    margin: 2px;
    padding: 0 5px;
    display: inline-block;
    float: left;
    font: 14px "Helvetica Neue",Helvetica,Arial,sans-serif;
    /*height: 26px;*/
    height: auto;
    line-height: 25px;
    border: 1px solid #acacac;
    border-radius: 3px;
    background: -webkit-linear-gradient(top,#f0f9ff 0,#cbebff 47%,#a1dbff 100%);
    background: linear-gradient(to bottom,#f0f9ff 0,#cbebff 47%,#a1dbff 100%);
}

.ic-remove {
    padding-top: 6px;
    font-size: 11px;
    cursor: pointer;
    color: #585858;
}

.pt3 {
    padding-top: 3px !important;
}

.boder-box {
    padding: 1px;
    word-wrap: break-word;
    cursor: text;
    background-color: #fff;
    border: 1px solid #ccc;
    height: 100%;
    border-radius: 4px;
}

    .boder-box button {
        height: auto;
    }

.h-95-srcoll {
    overflow: auto;
    max-height: 95px !important;
    height: 95px !important;
}

.h-100-srcoll {
    overflow: auto;
    max-height: 100px !important;
    height: 100px !important;
}

.h-200-srcoll {
    overflow: auto;
    max-height: 200px !important;
    height: 150px !important;
}

.boder-box-custom {
    padding: 1px;
    overflow: hidden;
    word-wrap: break-word;
    cursor: text;
    background-color: #fff;
    border: 1px solid #ccc;
    height: 100%;
    border-radius: 4px;
    max-height: 200px;
    height: 150px;
}

.btn-print-qrCode {
    color: #fff;
    background: #3498db;
    width: 100%;
    height: 30px;
    border-radius: 0px 0px 5px 5px !important;
}

    .btn-print-qrCode:hover {
        background: #e67e22;
        color: #ecf0f1 !important;
    }

.label-red {
    color: red;
    font-size: 11px;
}

.gold-custom {
    border-color: #E87E04;
    color: #fff !important;
    background: #E87E04;
}

.blue-custom {
    border-color: #3598dc;
    color: #fff !important;
    background: #3598dc;
}

.green-type1-custom {
    border-color: #39a7af;
    color: #fff !important;
    background: #39a7af;
}

.green-custom {
    border-color: #009432;
    color: #fff !important;
    background: #009432;
}

.red-custom {
    border-color: #e7505a;
    color: #fff !important;
    background: #e7505a;
}

.pink-custom {
    border-color: #ff6b81;
    color: #fff !important;
    background: #ff6b81;
}

.yellow-custom {
    border-color: #FFC312;
    color: #fff !important;
    background: #FFC312;
}

.purple-custom {
    border-color: #8e44ad;
    color: #fff !important;
    background: #8e44ad;
}

.btn-upload {
    position: absolute;
    display: block;
    top: 0;
    height: 50px;
    opacity: 0;
}

.text-blue {
    color: #009432;
}

.pre {
    white-space: pre-wrap;
}

.bg-white {
    background-color: #ffffff !important;
}
/*Zoom ảnh*/
.zoom {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.zoom1 {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    cursor: none !important;
}

.zoom:hover,
.zoom:active,
.zoom:focus {
    /**adjust scale to desired size,
    add browser prefixes**/
    -ms-transform: scale(3);
    -moz-transform: scale(3);
    -webkit-transform: scale(3);
    -o-transform: scale(3);
    transform: scale(3);
    position: fixed;
    z-index: 100;
}

.zoom1:hover,
.zoom1:active,
.zoom1:focus {
    /**adjust scale to desired size,
    add browser prefixes**/
    -ms-transform: scale(3);
    -moz-transform: scale(3);
    -webkit-transform: scale(3);
    -o-transform: scale(3);
    transform: scale(3);
    position: fixed;
    z-index: 100;
}
/*End zoom ảnh*/

/*Đặt modal ra giữa màn hình*/
.modal-center {
    padding-top: 5%;
}
.top-10 {
    padding-top: 10%;
}

/*CSS lại log view*/
.jsoneditor-menu {
    display: none !important;
}

div.jsoneditor {
    border: none !important;
}

.nav-tabs .actions {
    margin-top: -3px;
}

.text-limit {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
