/* CSS Sprite Generator */

.sprite-add2-16x16, .sprite-addcontact-16x16, .sprite-addfile-16x16, .sprite-addfooter-16x16, .sprite-addgroupfooter-16x16,
.sprite-addgroupheader-16x16, .sprite-addheader-16x16, .sprite-additem-16x16, .sprite-addnewdatasource-16x16, .sprite-add-16x16,
.sprite-alarminfo-16x16, .sprite-aligncenter-16x16, .sprite-alignhorizontalbottom2-16x16, .sprite-alignhorizontalbottom-16x16, .sprite-alignhorizontalcenter2-16x16,
.sprite-alignhorizontalcenter-16x16, .sprite-alignhorizontaltop2-16x16, .sprite-alignhorizontaltop-16x16, .sprite-alignjustify-16x16, .sprite-alignleft-16x16,
.sprite-alignright-16x16, .sprite-alignverticalcenter2-16x16, .sprite-alignverticalcenter-16x16, .sprite-alignverticalleft2-16x16, .sprite-alignverticalleft-16x16,
.sprite-alignverticalright2-16x16, .sprite-alignverticalright-16x16, .sprite-announcement-16x16, .sprite-apply-16x16, .sprite-area-16x16,
.sprite-article-16x16, .sprite-assigntome-16x16, .sprite-assignto-16x16, .sprite-attach-16x16, .sprite-attachment-16x16,
.sprite-backward-16x16, .sprite-bank-16x16, .sprite-bar-16x16, .sprite-barcode-16x16, .sprite-behindtext-16x16,
.sprite-bold-16x16, .sprite-breakingchange-16x16, .sprite-bringforward-16x16, .sprite-bringtofrontoftext-16x16, .sprite-bringtofront-16x16,
.sprite-bubble-16x16, .sprite-bugreport-16x16, .sprite-build-16x16, .sprite-csharp-16x16, .sprite-calendar2-16x16,
.sprite-calendar-16x16, .sprite-camera-16x16, .sprite-cancel-16x16, .sprite-cards-16x16, .sprite-cellsautoheight-16x16,
.sprite-changefontstyle-16x16, .sprite-chartyaxissettings-16x16, .sprite-chart-16x16, .sprite-chartsrotate-16x16, .sprite-chartsshowlegend-16x16,
.sprite-checkbox-16x16, .sprite-clearfilter-16x16, .sprite-clearformatting-16x16, .sprite-clear-16x16, .sprite-clip-16x16,
.sprite-clock-16x16, .sprite-close-16x16, .sprite-colors-16x16, .sprite-columns-16x16, .sprite-comment-16x16,
.sprite-contact-16x16, .sprite-contentarrangeincolums-16x16, .sprite-contentarrangeinrows-16x16, .sprite-contentautoarrange-16x16, .sprite-content-16x16,
.sprite-converttoparagraphs-16x16, .sprite-convert-16x16, .sprite-copy-16x16, .sprite-country-16x16, .sprite-crossdatasourcefiltering-16x16,
.sprite-currency-16x16, .sprite-customer-16x16, .sprite-customization-16x16, .sprite-customizegrid-16x16, .sprite-cut-16x16,
.sprite-database-16x16, .sprite-dayview-16x16, .sprite-deletedatasource-16x16, .sprite-deletefooter-16x16, .sprite-deletegroupfooter-16x16,
.sprite-deletegroupheader-16x16, .sprite-deleteheader-16x16, .sprite-deletelist2-16x16, .sprite-deletelist-16x16, .sprite-delete-16x16,
.sprite-design-16x16, .sprite-devices-16x16, .sprite-docexcel-16x16, .sprite-doctext-16x16, .sprite-documentmap-16x16,
.sprite-documents-16x16, .sprite-dollar-16x16, .sprite-doublefirst-16x16, .sprite-doublelast-16x16, .sprite-doublenext-16x16,
.sprite-doubleprev-16x16, .sprite-download-16x16, .sprite-drilldownonarguments-chart-16x16, .sprite-drilldownonarguments-pie-16x16, .sprite-drilldownonseries-chart-16x16,
.sprite-drilldownonseries-pie-16x16, .sprite-drilldown-16x16, .sprite-editcontact-16x16, .sprite-editdatasource-16x16, .sprite-editfeed-16x16,
.sprite-editpagehf-16x16, .sprite-edittask-16x16, .sprite-editwrappoints-16x16, .sprite-edit-16x16, .sprite-emailtemplate-16x16,
.sprite-employee-16x16, .sprite-emptyparagraphseparator-16x16, .sprite-emptytablerowseparator-16x16, .sprite-example-16x16, .sprite-exportfile-16x16,
.sprite-exporttocsv-16x16, .sprite-exporttodocx-16x16, .sprite-exporttodoc-16x16, .sprite-exporttoepub-16x16, .sprite-exporttohtml-16x16,
.sprite-exporttoimg-16x16, .sprite-exporttomht-16x16, .sprite-exporttoodt-16x16, .sprite-exporttopdf-16x16, .sprite-exporttortf-16x16,
.sprite-exporttotxt-16x16, .sprite-exporttoxlsx-16x16, .sprite-exporttoxls-16x16, .sprite-exporttoxml-16x16, .sprite-exporttoxps-16x16,
.sprite-export-16x16, .sprite-feature-16x16, .sprite-fillbackground-16x16, .sprite-filterbyargument-chart-16x16, .sprite-filterbyargument-pie-16x16,
.sprite-filterbyseries-chart-16x16, .sprite-filterbyseries-pie-16x16, .sprite-filter-16x16, .sprite-findbyid-16x16, .sprite-findcustomers-16x16,
.sprite-find-16x16, .sprite-first-16x16, .sprite-fontsizedecrease-16x16, .sprite-fontsizeincrease-16x16, .sprite-fontsize-16x16,
.sprite-forcetesting-16x16, .sprite-forward-16x16, .sprite-fullstackedarea-16x16, .sprite-fullstackedbar-16x16, .sprite-fullstackedline-16x16,
.sprite-fullstackedsplinearea-16x16, .sprite-gaugestylefullcircular-16x16, .sprite-gaugestylehalfcircular-16x16, .sprite-gaugestyleleftquartercircular-16x16, .sprite-gaugestylelinearhorizontal-16x16,
.sprite-gaugestylelinearvertical-16x16, .sprite-gaugestylerightquartercircular-16x16, .sprite-gaugestylethreeforthcircular-16x16, .sprite-grid-16x16, .sprite-groupfieldcollection-16x16,
.sprite-groupfooter-16x16, .sprite-groupheader-16x16, .sprite-group-16x16, .sprite-hiddentext-16x16, .sprite-hide-16x16,
.sprite-highlowclose-16x16, .sprite-highlightactiveelements-16x16, .sprite-highlightfield-16x16, .sprite-historyitem-16x16, .sprite-home-16x16,
.sprite-ide-16x16, .sprite-ignoremasterfilter-16x16, .sprite-image-16x16, .sprite-importimage-16x16, .sprite-infrontoftext-16x16,
.sprite-inlinewithtext-16x16, .sprite-indentdecrease-16x16, .sprite-indentincrease-16x16, .sprite-index-16x16, .sprite-info-16x16,
.sprite-insertfooter-16x16, .sprite-insertheader-16x16, .sprite-insertpagebreak-16x16, .sprite-insertrangefilter-16x16, .sprite-insert-16x16,
.sprite-invoice-16x16, .sprite-issue-16x16, .sprite-italic-16x16, .sprite-kpi-16x16, .sprite-knowledgebasearticle-16x16,
.sprite-language-16x16, .sprite-last-16x16, .sprite-line-16x16, .sprite-listbullets-16x16, .sprite-listmultilevel-16x16,
.sprite-listnumbers-16x16, .sprite-loadfrom-16x16, .sprite-loadpagesetup-16x16, .sprite-location-16x16, .sprite-mail-16x16,
.sprite-masterfilter-16x16, .sprite-merge-16x16, .sprite-mobile-16x16, .sprite-money-16x16, .sprite-monthview-16x16,
.sprite-morelayoutoptions-16x16, .sprite-movedown-16x16, .sprite-moveup-16x16, .sprite-multiplepages-16x16, .sprite-navigationbar-16x16,
.sprite-newcontact-16x16, .sprite-newfeed-16x16, .sprite-newmail-16x16, .sprite-newtask-16x16, .sprite-new-16x16,
.sprite-nextarrows-16x16, .sprite-next-16x16, .sprite-none-16x16, .sprite-notes-16x16, .sprite-openhighlowclosecandlestick-16x16,
.sprite-openhighlowclosestock-16x16, .sprite-open-16x16, .sprite-operatingsyste-16x16, .sprite-packageproduct-16x16, .sprite-pagemargins-16x16,
.sprite-pageorientation-16x16, .sprite-pagesetup-16x16, .sprite-palette-16x16, .sprite-papersize-16x16, .sprite-parameters-16x16,
.sprite-paste-16x16, .sprite-percent-16x16, .sprite-phone-16x16, .sprite-pictureshapefillcolor-16x16, .sprite-pictureshapeoutlinecolor-16x16,
.sprite-pielabelsdatalabels-16x16, .sprite-pielabelstooltips-16x16, .sprite-piestyledonut-16x16, .sprite-piestylepie-16x16, .sprite-pie-16x16,
.sprite-pivot-16x16, .sprite-point-16x16, .sprite-prev-16x16, .sprite-previewchart-16x16, .sprite-preview-16x16,
.sprite-previous-16x16, .sprite-printdialog-16x16, .sprite-printviapdf-16x16, .sprite-print-16x16, .sprite-product-16x16,
.sprite-programminglanguage-16x16, .sprite-projectdirectory-16x16, .sprite-projectfile-16x16, .sprite-project-16x16, .sprite-properties-16x16,
.sprite-publicfix-16x16, .sprite-publish-16x16, .sprite-question-16x16, .sprite-rangearea-16x16, .sprite-rangebar-16x16,
.sprite-rating-16x16, .sprite-recurrence-16x16, .sprite-redo-16x16, .sprite-refresh2-16x16, .sprite-refresh-16x16,
.sprite-removeitem-16x16, .sprite-remove-16x16, .sprite-replace-16x16, .sprite-report-16x16, .sprite-role-16x16,
.sprite-saveall-16x16, .sprite-saveandclose-16x16, .sprite-saveandnew-16x16, .sprite-saveas-16x16, .sprite-savedialog-16x16,
.sprite-savepagesetup-16x16, .sprite-saveto-16x16, .sprite-save-16x16, .sprite-scripts-16x16, .sprite-selectall-16x16,
.sprite-sendbackward-16x16, .sprite-sendbehindtext-16x16, .sprite-sendcsv-16x16, .sprite-sendimg-16x16, .sprite-sendmht-16x16,
.sprite-sendpdf-16x16, .sprite-sendrtf-16x16, .sprite-sendtxt-16x16, .sprite-sendtoback-16x16, .sprite-sendxlsx-16x16,
.sprite-sendxls-16x16, .sprite-send-16x16, .sprite-separator-16x16, .sprite-showhidden-16x16, .sprite-showtestreport-16x16,
.sprite-showworktimeonly-16x16, .sprite-show-16x16, .sprite-sidebysiderangebar-16x16, .sprite-snaptocells-16x16, .sprite-social-facebook-16x16,
.sprite-social-googleplus-16x16, .sprite-social-skype-16x16, .sprite-social-twitter-16x16, .sprite-solution-16x16, .sprite-sortasc-16x16,
.sprite-sortdesc-16x16, .sprite-spellcheckasyoutype-16x16, .sprite-splinearea-16x16, .sprite-spline-16x16, .sprite-splitappointment-16x16,
.sprite-sqare-16x16, .sprite-squeeze-16x16, .sprite-stackedarea-16x16, .sprite-stackedbar-16x16, .sprite-stackedline-16x16,
.sprite-stackedsplinearea-16x16, .sprite-status-16x16, .sprite-steparea-16x16, .sprite-stepline-16x16, .sprite-stretch-16x16,
.sprite-strikeoutdouble-16x16, .sprite-strikeout-16x16, .sprite-subscript-16x16, .sprite-suggestion-16x16, .sprite-summary-16x16,
.sprite-superscript-16x16, .sprite-switchtimescalesto-16x16, .sprite-tag-16x16, .sprite-task-16x16, .sprite-team-16x16,
.sprite-technology-16x16, .sprite-template-16x16, .sprite-textbox-16x16, .sprite-through-16x16, .sprite-tight-16x16,
.sprite-timelineview-16x16, .sprite-time-16x16, .sprite-today-16x16, .sprite-topandbuttom-16x16, .sprite-underlinedouble-16x16,
.sprite-underlineword-16x16, .sprite-underline-16x16, .sprite-undo-16x16, .sprite-up-16x16, .sprite-usergroup-16x16,
.sprite-vb-16x16, .sprite-version-16x16, .sprite-video-16x16, .sprite-viewonweb-16x16, .sprite-watermark-16x16,
.sprite-weekend-16x16, .sprite-weekview-16x16, .sprite-windows-16x16, .sprite-withtextwrapping-bottomcenter-16x16, .sprite-withtextwrapping-bottomleft-16x16,
.sprite-withtextwrapping-bottomright-16x16, .sprite-withtextwrapping-centercenter-16x16, .sprite-withtextwrapping-centerleft-16x16, .sprite-withtextwrapping-centerright-16x16, .sprite-withtextwrapping-topcenter-16x16,
.sprite-withtextwrapping-topleft-16x16, .sprite-withtextwrapping-topright-16x16, .sprite-wizard-16x16, .sprite-workweekview-16x16, .sprite-wraptext-16x16,
.sprite-zoom100-16x16, .sprite-zoom2-16x16, .sprite-zoomin-16x16, .sprite-zoomout-16x16, .sprite-zoom-16x16 {
    margin-bottom: -3px;
    display: inline-block;
    background: url('../images/sprite-dev-16.png') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
}

.sprite-add2-16x16 { background-position: -1px -0px; width: 16px; height: 16px; }
.sprite-addcontact-16x16 { background-position: -18px -0px; width: 16px; height: 16px; }
.sprite-addfile-16x16 { background-position: -35px -0px; width: 16px; height: 16px; }
.sprite-addfooter-16x16 { background-position: -52px -0px; width: 16px; height: 16px; }
.sprite-addgroupfooter-16x16 { background-position: -69px -0px; width: 16px; height: 16px; }
.sprite-addgroupheader-16x16 { background-position: -86px -0px; width: 16px; height: 16px; }
.sprite-addheader-16x16 { background-position: -103px -0px; width: 16px; height: 16px; }
.sprite-additem-16x16 { background-position: -120px -0px; width: 16px; height: 16px; }
.sprite-addnewdatasource-16x16 { background-position: -137px -0px; width: 16px; height: 16px; }
.sprite-add-16x16 { background-position: -154px -0px; width: 16px; height: 16px; }
.sprite-alarminfo-16x16 { background-position: -171px -0px; width: 16px; height: 16px; }
.sprite-aligncenter-16x16 { background-position: -188px -0px; width: 16px; height: 16px; }
.sprite-alignhorizontalbottom2-16x16 { background-position: -205px -0px; width: 16px; height: 16px; }
.sprite-alignhorizontalbottom-16x16 { background-position: -222px -0px; width: 16px; height: 16px; }
.sprite-alignhorizontalcenter2-16x16 { background-position: -239px -0px; width: 16px; height: 16px; }
.sprite-alignhorizontalcenter-16x16 { background-position: -256px -0px; width: 16px; height: 16px; }
.sprite-alignhorizontaltop2-16x16 { background-position: -273px -0px; width: 16px; height: 16px; }
.sprite-alignhorizontaltop-16x16 { background-position: -290px -0px; width: 16px; height: 16px; }
.sprite-alignjustify-16x16 { background-position: -307px -0px; width: 16px; height: 16px; }
.sprite-alignleft-16x16 { background-position: -324px -0px; width: 16px; height: 16px; }
.sprite-alignright-16x16 { background-position: -1px -17px; width: 16px; height: 16px; }
.sprite-alignverticalcenter2-16x16 { background-position: -18px -17px; width: 16px; height: 16px; }
.sprite-alignverticalcenter-16x16 { background-position: -35px -17px; width: 16px; height: 16px; }
.sprite-alignverticalleft2-16x16 { background-position: -52px -17px; width: 16px; height: 16px; }
.sprite-alignverticalleft-16x16 { background-position: -69px -17px; width: 16px; height: 16px; }
.sprite-alignverticalright2-16x16 { background-position: -86px -17px; width: 16px; height: 16px; }
.sprite-alignverticalright-16x16 { background-position: -103px -17px; width: 16px; height: 16px; }
.sprite-announcement-16x16 { background-position: -120px -17px; width: 16px; height: 16px; }
.sprite-apply-16x16 { background-position: -137px -17px; width: 16px; height: 16px; }
.sprite-area-16x16 { background-position: -154px -17px; width: 16px; height: 16px; }
.sprite-article-16x16 { background-position: -171px -17px; width: 16px; height: 16px; }
.sprite-assigntome-16x16 { background-position: -188px -17px; width: 16px; height: 16px; }
.sprite-assignto-16x16 { background-position: -205px -17px; width: 16px; height: 16px; }
.sprite-attach-16x16 { background-position: -222px -17px; width: 16px; height: 16px; }
.sprite-attachment-16x16 { background-position: -239px -17px; width: 16px; height: 16px; }
.sprite-backward-16x16 { background-position: -256px -17px; width: 16px; height: 16px; }
.sprite-bank-16x16 { background-position: -273px -17px; width: 16px; height: 16px; }
.sprite-bar-16x16 { background-position: -290px -17px; width: 16px; height: 16px; }
.sprite-barcode-16x16 { background-position: -307px -17px; width: 16px; height: 16px; }
.sprite-behindtext-16x16 { background-position: -324px -17px; width: 16px; height: 16px; }
.sprite-bold-16x16 { background-position: -1px -34px; width: 16px; height: 16px; }
.sprite-breakingchange-16x16 { background-position: -18px -34px; width: 16px; height: 16px; }
.sprite-bringforward-16x16 { background-position: -35px -34px; width: 16px; height: 16px; }
.sprite-bringtofrontoftext-16x16 { background-position: -52px -34px; width: 16px; height: 16px; }
.sprite-bringtofront-16x16 { background-position: -69px -34px; width: 16px; height: 16px; }
.sprite-bubble-16x16 { background-position: -86px -34px; width: 16px; height: 16px; }
.sprite-bugreport-16x16 { background-position: -103px -34px; width: 16px; height: 16px; }
.sprite-build-16x16 { background-position: -120px -34px; width: 16px; height: 16px; }
.sprite-csharp-16x16 { background-position: -137px -34px; width: 16px; height: 16px; }
.sprite-calendar2-16x16 { background-position: -154px -34px; width: 16px; height: 16px; }
.sprite-calendar-16x16 { background-position: -171px -34px; width: 16px; height: 16px; }
.sprite-camera-16x16 { background-position: -188px -34px; width: 16px; height: 16px; }
.sprite-cancel-16x16 { background-position: -205px -34px; width: 16px; height: 16px; }
.sprite-cards-16x16 { background-position: -222px -34px; width: 16px; height: 16px; }
.sprite-cellsautoheight-16x16 { background-position: -239px -34px; width: 16px; height: 16px; }
.sprite-changefontstyle-16x16 { background-position: -256px -34px; width: 16px; height: 16px; }
.sprite-chartyaxissettings-16x16 { background-position: -273px -34px; width: 16px; height: 16px; }
.sprite-chart-16x16 { background-position: -290px -34px; width: 16px; height: 16px; }
.sprite-chartsrotate-16x16 { background-position: -307px -34px; width: 16px; height: 16px; }
.sprite-chartsshowlegend-16x16 { background-position: -324px -34px; width: 16px; height: 16px; }
.sprite-checkbox-16x16 { background-position: -1px -51px; width: 16px; height: 16px; }
.sprite-clearfilter-16x16 { background-position: -18px -51px; width: 16px; height: 16px; }
.sprite-clearformatting-16x16 { background-position: -35px -51px; width: 16px; height: 16px; }
.sprite-clear-16x16 { background-position: -52px -51px; width: 16px; height: 16px; }
.sprite-clip-16x16 { background-position: -69px -51px; width: 16px; height: 16px; }
.sprite-clock-16x16 { background-position: -86px -51px; width: 16px; height: 16px; }
.sprite-close-16x16 { background-position: -103px -51px; width: 16px; height: 16px; }
.sprite-colors-16x16 { background-position: -120px -51px; width: 16px; height: 16px; }
.sprite-columns-16x16 { background-position: -137px -51px; width: 16px; height: 16px; }
.sprite-comment-16x16 { background-position: -154px -51px; width: 16px; height: 16px; }
.sprite-contact-16x16 { background-position: -171px -51px; width: 16px; height: 16px; }
.sprite-contentarrangeincolums-16x16 { background-position: -188px -51px; width: 16px; height: 16px; }
.sprite-contentarrangeinrows-16x16 { background-position: -205px -51px; width: 16px; height: 16px; }
.sprite-contentautoarrange-16x16 { background-position: -222px -51px; width: 16px; height: 16px; }
.sprite-content-16x16 { background-position: -239px -51px; width: 16px; height: 16px; }
.sprite-converttoparagraphs-16x16 { background-position: -256px -51px; width: 16px; height: 16px; }
.sprite-convert-16x16 { background-position: -273px -51px; width: 16px; height: 16px; }
.sprite-copy-16x16 { background-position: -290px -51px; width: 16px; height: 16px; }
.sprite-country-16x16 { background-position: -307px -51px; width: 16px; height: 16px; }
.sprite-crossdatasourcefiltering-16x16 { background-position: -324px -51px; width: 16px; height: 16px; }
.sprite-currency-16x16 { background-position: -1px -68px; width: 16px; height: 16px; }
.sprite-customer-16x16 { background-position: -18px -68px; width: 16px; height: 16px; }
.sprite-customization-16x16 { background-position: -35px -68px; width: 16px; height: 16px; }
.sprite-customizegrid-16x16 { background-position: -52px -68px; width: 16px; height: 16px; }
.sprite-cut-16x16 { background-position: -69px -68px; width: 16px; height: 16px; }
.sprite-database-16x16 { background-position: -86px -68px; width: 16px; height: 16px; }
.sprite-dayview-16x16 { background-position: -103px -68px; width: 16px; height: 16px; }
.sprite-deletedatasource-16x16 { background-position: -120px -68px; width: 16px; height: 16px; }
.sprite-deletefooter-16x16 { background-position: -137px -68px; width: 16px; height: 16px; }
.sprite-deletegroupfooter-16x16 { background-position: -154px -68px; width: 16px; height: 16px; }
.sprite-deletegroupheader-16x16 { background-position: -171px -68px; width: 16px; height: 16px; }
.sprite-deleteheader-16x16 { background-position: -188px -68px; width: 16px; height: 16px; }
.sprite-deletelist2-16x16 { background-position: -205px -68px; width: 16px; height: 16px; }
.sprite-deletelist-16x16 { background-position: -222px -68px; width: 16px; height: 16px; }
.sprite-delete-16x16 { background-position: -239px -68px; width: 16px; height: 16px; }
.sprite-design-16x16 { background-position: -256px -68px; width: 16px; height: 16px; }
.sprite-devices-16x16 { background-position: -273px -68px; width: 16px; height: 16px; }
.sprite-docexcel-16x16 { background-position: -290px -68px; width: 16px; height: 16px; }
.sprite-doctext-16x16 { background-position: -307px -68px; width: 16px; height: 16px; }
.sprite-documentmap-16x16 { background-position: -324px -68px; width: 16px; height: 16px; }
.sprite-documents-16x16 { background-position: -1px -85px; width: 16px; height: 16px; }
.sprite-dollar-16x16 { background-position: -18px -85px; width: 16px; height: 16px; }
.sprite-doublefirst-16x16 { background-position: -35px -85px; width: 16px; height: 16px; }
.sprite-doublelast-16x16 { background-position: -52px -85px; width: 16px; height: 16px; }
.sprite-doublenext-16x16 { background-position: -69px -85px; width: 16px; height: 16px; }
.sprite-doubleprev-16x16 { background-position: -86px -85px; width: 16px; height: 16px; }
.sprite-download-16x16 { background-position: -103px -85px; width: 16px; height: 16px; }
.sprite-drilldownonarguments-chart-16x16 { background-position: -120px -85px; width: 16px; height: 16px; }
.sprite-drilldownonarguments-pie-16x16 { background-position: -137px -85px; width: 16px; height: 16px; }
.sprite-drilldownonseries-chart-16x16 { background-position: -154px -85px; width: 16px; height: 16px; }
.sprite-drilldownonseries-pie-16x16 { background-position: -171px -85px; width: 16px; height: 16px; }
.sprite-drilldown-16x16 { background-position: -188px -85px; width: 16px; height: 16px; }
.sprite-editcontact-16x16 { background-position: -205px -85px; width: 16px; height: 16px; }
.sprite-editdatasource-16x16 { background-position: -222px -85px; width: 16px; height: 16px; }
.sprite-editfeed-16x16 { background-position: -239px -85px; width: 16px; height: 16px; }
.sprite-editpagehf-16x16 { background-position: -256px -85px; width: 16px; height: 16px; }
.sprite-edittask-16x16 { background-position: -273px -85px; width: 16px; height: 16px; }
.sprite-editwrappoints-16x16 { background-position: -290px -85px; width: 16px; height: 16px; }
.sprite-edit-16x16 { background-position: -307px -85px; width: 16px; height: 16px; }
.sprite-emailtemplate-16x16 { background-position: -324px -85px; width: 16px; height: 16px; }
.sprite-employee-16x16 { background-position: -1px -102px; width: 16px; height: 16px; }
.sprite-emptyparagraphseparator-16x16 { background-position: -18px -102px; width: 16px; height: 16px; }
.sprite-emptytablerowseparator-16x16 { background-position: -35px -102px; width: 16px; height: 16px; }
.sprite-example-16x16 { background-position: -52px -102px; width: 16px; height: 16px; }
.sprite-exportfile-16x16 { background-position: -69px -102px; width: 16px; height: 16px; }
.sprite-exporttocsv-16x16 { background-position: -86px -102px; width: 16px; height: 16px; }
.sprite-exporttodocx-16x16 { background-position: -103px -102px; width: 16px; height: 16px; }
.sprite-exporttodoc-16x16 { background-position: -120px -102px; width: 16px; height: 16px; }
.sprite-exporttoepub-16x16 { background-position: -137px -102px; width: 16px; height: 16px; }
.sprite-exporttohtml-16x16 { background-position: -154px -102px; width: 16px; height: 16px; }
.sprite-exporttoimg-16x16 { background-position: -171px -102px; width: 16px; height: 16px; }
.sprite-exporttomht-16x16 { background-position: -188px -102px; width: 16px; height: 16px; }
.sprite-exporttoodt-16x16 { background-position: -205px -102px; width: 16px; height: 16px; }
.sprite-exporttopdf-16x16 { background-position: -222px -102px; width: 16px; height: 16px; }
.sprite-exporttortf-16x16 { background-position: -239px -102px; width: 16px; height: 16px; }
.sprite-exporttotxt-16x16 { background-position: -256px -102px; width: 16px; height: 16px; }
.sprite-exporttoxlsx-16x16 { background-position: -273px -102px; width: 16px; height: 16px; }
.sprite-exporttoxls-16x16 { background-position: -290px -102px; width: 16px; height: 16px; }
.sprite-exporttoxml-16x16 { background-position: -307px -102px; width: 16px; height: 16px; }
.sprite-exporttoxps-16x16 { background-position: -324px -102px; width: 16px; height: 16px; }
.sprite-export-16x16 { background-position: -1px -119px; width: 16px; height: 16px; }
.sprite-feature-16x16 { background-position: -18px -119px; width: 16px; height: 16px; }
.sprite-fillbackground-16x16 { background-position: -35px -119px; width: 16px; height: 16px; }
.sprite-filterbyargument-chart-16x16 { background-position: -52px -119px; width: 16px; height: 16px; }
.sprite-filterbyargument-pie-16x16 { background-position: -69px -119px; width: 16px; height: 16px; }
.sprite-filterbyseries-chart-16x16 { background-position: -86px -119px; width: 16px; height: 16px; }
.sprite-filterbyseries-pie-16x16 { background-position: -103px -119px; width: 16px; height: 16px; }
.sprite-filter-16x16 { background-position: -120px -119px; width: 16px; height: 16px; }
.sprite-findbyid-16x16 { background-position: -137px -119px; width: 16px; height: 16px; }
.sprite-findcustomers-16x16 { background-position: -154px -119px; width: 16px; height: 16px; }
.sprite-find-16x16 { background-position: -171px -119px; width: 16px; height: 16px; }
.sprite-first-16x16 { background-position: -188px -119px; width: 16px; height: 16px; }
.sprite-fontsizedecrease-16x16 { background-position: -205px -119px; width: 16px; height: 16px; }
.sprite-fontsizeincrease-16x16 { background-position: -222px -119px; width: 16px; height: 16px; }
.sprite-fontsize-16x16 { background-position: -239px -119px; width: 16px; height: 16px; }
.sprite-forcetesting-16x16 { background-position: -256px -119px; width: 16px; height: 16px; }
.sprite-forward-16x16 { background-position: -273px -119px; width: 16px; height: 16px; }
.sprite-fullstackedarea-16x16 { background-position: -290px -119px; width: 16px; height: 16px; }
.sprite-fullstackedbar-16x16 { background-position: -307px -119px; width: 16px; height: 16px; }
.sprite-fullstackedline-16x16 { background-position: -324px -119px; width: 16px; height: 16px; }
.sprite-fullstackedsplinearea-16x16 { background-position: -1px -136px; width: 16px; height: 16px; }
.sprite-gaugestylefullcircular-16x16 { background-position: -18px -136px; width: 16px; height: 16px; }
.sprite-gaugestylehalfcircular-16x16 { background-position: -35px -136px; width: 16px; height: 16px; }
.sprite-gaugestyleleftquartercircular-16x16 { background-position: -52px -136px; width: 16px; height: 16px; }
.sprite-gaugestylelinearhorizontal-16x16 { background-position: -69px -136px; width: 16px; height: 16px; }
.sprite-gaugestylelinearvertical-16x16 { background-position: -86px -136px; width: 16px; height: 16px; }
.sprite-gaugestylerightquartercircular-16x16 { background-position: -103px -136px; width: 16px; height: 16px; }
.sprite-gaugestylethreeforthcircular-16x16 { background-position: -120px -136px; width: 16px; height: 16px; }
.sprite-grid-16x16 { background-position: -137px -136px; width: 16px; height: 16px; }
.sprite-groupfieldcollection-16x16 { background-position: -154px -136px; width: 16px; height: 16px; }
.sprite-groupfooter-16x16 { background-position: -171px -136px; width: 16px; height: 16px; }
.sprite-groupheader-16x16 { background-position: -188px -136px; width: 16px; height: 16px; }
.sprite-group-16x16 { background-position: -205px -136px; width: 16px; height: 16px; }
.sprite-hiddentext-16x16 { background-position: -222px -136px; width: 16px; height: 16px; }
.sprite-hide-16x16 { background-position: -239px -136px; width: 16px; height: 16px; }
.sprite-highlowclose-16x16 { background-position: -256px -136px; width: 16px; height: 16px; }
.sprite-highlightactiveelements-16x16 { background-position: -273px -136px; width: 16px; height: 16px; }
.sprite-highlightfield-16x16 { background-position: -290px -136px; width: 16px; height: 16px; }
.sprite-historyitem-16x16 { background-position: -307px -136px; width: 16px; height: 16px; }
.sprite-home-16x16 { background-position: -324px -136px; width: 16px; height: 16px; }
.sprite-ide-16x16 { background-position: -1px -153px; width: 16px; height: 16px; }
.sprite-ignoremasterfilter-16x16 { background-position: -18px -153px; width: 16px; height: 16px; }
.sprite-image-16x16 { background-position: -35px -153px; width: 16px; height: 16px; }
.sprite-importimage-16x16 { background-position: -52px -153px; width: 16px; height: 16px; }
.sprite-infrontoftext-16x16 { background-position: -69px -153px; width: 16px; height: 16px; }
.sprite-inlinewithtext-16x16 { background-position: -86px -153px; width: 16px; height: 16px; }
.sprite-indentdecrease-16x16 { background-position: -103px -153px; width: 16px; height: 16px; }
.sprite-indentincrease-16x16 { background-position: -120px -153px; width: 16px; height: 16px; }
.sprite-index-16x16 { background-position: -137px -153px; width: 16px; height: 16px; }
.sprite-info-16x16 { background-position: -154px -153px; width: 16px; height: 16px; }
.sprite-insertfooter-16x16 { background-position: -171px -153px; width: 16px; height: 16px; }
.sprite-insertheader-16x16 { background-position: -188px -153px; width: 16px; height: 16px; }
.sprite-insertpagebreak-16x16 { background-position: -205px -153px; width: 16px; height: 16px; }
.sprite-insertrangefilter-16x16 { background-position: -222px -153px; width: 16px; height: 16px; }
.sprite-insert-16x16 { background-position: -239px -153px; width: 16px; height: 16px; }
.sprite-invoice-16x16 { background-position: -256px -153px; width: 16px; height: 16px; }
.sprite-issue-16x16 { background-position: -273px -153px; width: 16px; height: 16px; }
.sprite-italic-16x16 { background-position: -290px -153px; width: 16px; height: 16px; }
.sprite-kpi-16x16 { background-position: -307px -153px; width: 16px; height: 16px; }
.sprite-knowledgebasearticle-16x16 { background-position: -324px -153px; width: 16px; height: 16px; }
.sprite-language-16x16 { background-position: -1px -170px; width: 16px; height: 16px; }
.sprite-last-16x16 { background-position: -18px -170px; width: 16px; height: 16px; }
.sprite-line-16x16 { background-position: -35px -170px; width: 16px; height: 16px; }
.sprite-listbullets-16x16 { background-position: -52px -170px; width: 16px; height: 16px; }
.sprite-listmultilevel-16x16 { background-position: -69px -170px; width: 16px; height: 16px; }
.sprite-listnumbers-16x16 { background-position: -86px -170px; width: 16px; height: 16px; }
.sprite-loadfrom-16x16 { background-position: -103px -170px; width: 16px; height: 16px; }
.sprite-loadpagesetup-16x16 { background-position: -120px -170px; width: 16px; height: 16px; }
.sprite-location-16x16 { background-position: -137px -170px; width: 16px; height: 16px; }
.sprite-mail-16x16 { background-position: -154px -170px; width: 16px; height: 16px; }
.sprite-masterfilter-16x16 { background-position: -171px -170px; width: 16px; height: 16px; }
.sprite-merge-16x16 { background-position: -188px -170px; width: 16px; height: 16px; }
.sprite-mobile-16x16 { background-position: -205px -170px; width: 16px; height: 16px; }
.sprite-money-16x16 { background-position: -222px -170px; width: 16px; height: 14px; }
.sprite-monthview-16x16 { background-position: -239px -170px; width: 16px; height: 16px; }
.sprite-morelayoutoptions-16x16 { background-position: -256px -170px; width: 16px; height: 16px; }
.sprite-movedown-16x16 { background-position: -273px -170px; width: 16px; height: 16px; }
.sprite-moveup-16x16 { background-position: -290px -170px; width: 16px; height: 16px; }
.sprite-multiplepages-16x16 { background-position: -307px -170px; width: 16px; height: 16px; }
.sprite-navigationbar-16x16 { background-position: -324px -170px; width: 16px; height: 16px; }
.sprite-newcontact-16x16 { background-position: -222px -185px; width: 16px; height: 16px; }
.sprite-newfeed-16x16 { background-position: -1px -187px; width: 16px; height: 16px; }
.sprite-newmail-16x16 { background-position: -239px -187px; width: 16px; height: 16px; }
.sprite-newtask-16x16 { background-position: -18px -187px; width: 16px; height: 16px; }
.sprite-new-16x16 { background-position: -256px -187px; width: 16px; height: 16px; }
.sprite-nextarrows-16x16 { background-position: -35px -187px; width: 16px; height: 16px; }
.sprite-next-16x16 { background-position: -273px -187px; width: 16px; height: 16px; }
.sprite-none-16x16 { background-position: -52px -187px; width: 16px; height: 16px; }
.sprite-notes-16x16 { background-position: -290px -187px; width: 16px; height: 16px; }
.sprite-openhighlowclosecandlestick-16x16 { background-position: -69px -187px; width: 16px; height: 16px; }
.sprite-openhighlowclosestock-16x16 { background-position: -307px -187px; width: 16px; height: 16px; }
.sprite-open-16x16 { background-position: -86px -187px; width: 16px; height: 16px; }
.sprite-operatingsyste-16x16 { background-position: -324px -187px; width: 16px; height: 16px; }
.sprite-packageproduct-16x16 { background-position: -103px -187px; width: 16px; height: 16px; }
.sprite-pagemargins-16x16 { background-position: -120px -187px; width: 16px; height: 16px; }
.sprite-pageorientation-16x16 { background-position: -137px -187px; width: 16px; height: 16px; }
.sprite-pagesetup-16x16 { background-position: -154px -187px; width: 16px; height: 16px; }
.sprite-palette-16x16 { background-position: -171px -187px; width: 16px; height: 16px; }
.sprite-papersize-16x16 { background-position: -188px -187px; width: 16px; height: 16px; }
.sprite-parameters-16x16 { background-position: -205px -187px; width: 16px; height: 16px; }
.sprite-paste-16x16 { background-position: -222px -202px; width: 16px; height: 16px; }
.sprite-percent-16x16 { background-position: -1px -204px; width: 16px; height: 16px; }
.sprite-phone-16x16 { background-position: -239px -204px; width: 16px; height: 16px; }
.sprite-pictureshapefillcolor-16x16 { background-position: -18px -204px; width: 16px; height: 16px; }
.sprite-pictureshapeoutlinecolor-16x16 { background-position: -256px -204px; width: 16px; height: 16px; }
.sprite-pielabelsdatalabels-16x16 { background-position: -35px -204px; width: 16px; height: 16px; }
.sprite-pielabelstooltips-16x16 { background-position: -273px -204px; width: 16px; height: 16px; }
.sprite-piestyledonut-16x16 { background-position: -52px -204px; width: 16px; height: 16px; }
.sprite-piestylepie-16x16 { background-position: -290px -204px; width: 16px; height: 16px; }
.sprite-pie-16x16 { background-position: -69px -204px; width: 16px; height: 16px; }
.sprite-pivot-16x16 { background-position: -307px -204px; width: 16px; height: 16px; }
.sprite-point-16x16 { background-position: -86px -204px; width: 16px; height: 16px; }
.sprite-prev-16x16 { background-position: -324px -204px; width: 16px; height: 16px; }
.sprite-previewchart-16x16 { background-position: -103px -204px; width: 16px; height: 16px; }
.sprite-preview-16x16 { background-position: -120px -204px; width: 16px; height: 16px; }
.sprite-previous-16x16 { background-position: -137px -204px; width: 16px; height: 16px; }
.sprite-printdialog-16x16 { background-position: -154px -204px; width: 16px; height: 16px; }
.sprite-printviapdf-16x16 { background-position: -171px -204px; width: 16px; height: 16px; }
.sprite-print-16x16 { background-position: -188px -204px; width: 16px; height: 16px; }
.sprite-product-16x16 { background-position: -205px -204px; width: 16px; height: 16px; }
.sprite-programminglanguage-16x16 { background-position: -222px -219px; width: 16px; height: 16px; }
.sprite-projectdirectory-16x16 { background-position: -1px -221px; width: 16px; height: 16px; }
.sprite-projectfile-16x16 { background-position: -239px -221px; width: 16px; height: 16px; }
.sprite-project-16x16 { background-position: -18px -221px; width: 16px; height: 16px; }
.sprite-properties-16x16 { background-position: -256px -221px; width: 16px; height: 16px; }
.sprite-publicfix-16x16 { background-position: -35px -221px; width: 16px; height: 16px; }
.sprite-publish-16x16 { background-position: -273px -221px; width: 16px; height: 16px; }
.sprite-question-16x16 { background-position: -52px -221px; width: 16px; height: 16px; }
.sprite-rangearea-16x16 { background-position: -290px -221px; width: 16px; height: 16px; }
.sprite-rangebar-16x16 { background-position: -69px -221px; width: 16px; height: 16px; }
.sprite-rating-16x16 { background-position: -307px -221px; width: 16px; height: 16px; }
.sprite-recurrence-16x16 { background-position: -86px -221px; width: 16px; height: 16px; }
.sprite-redo-16x16 { background-position: -324px -221px; width: 16px; height: 16px; }
.sprite-refresh2-16x16 { background-position: -103px -221px; width: 16px; height: 16px; }
.sprite-refresh-16x16 { background-position: -120px -221px; width: 16px; height: 16px; }
.sprite-removeitem-16x16 { background-position: -137px -221px; width: 16px; height: 16px; }
.sprite-remove-16x16 { background-position: -154px -221px; width: 16px; height: 16px; }
.sprite-replace-16x16 { background-position: -171px -221px; width: 16px; height: 16px; }
.sprite-report-16x16 { background-position: -188px -221px; width: 16px; height: 16px; }
.sprite-role-16x16 { background-position: -205px -221px; width: 16px; height: 16px; }
.sprite-saveall-16x16 { background-position: -222px -236px; width: 16px; height: 16px; }
.sprite-saveandclose-16x16 { background-position: -1px -238px; width: 16px; height: 16px; }
.sprite-saveandnew-16x16 { background-position: -239px -238px; width: 16px; height: 16px; }
.sprite-saveas-16x16 { background-position: -18px -238px; width: 16px; height: 16px; }
.sprite-savedialog-16x16 { background-position: -256px -238px; width: 16px; height: 16px; }
.sprite-savepagesetup-16x16 { background-position: -35px -238px; width: 16px; height: 16px; }
.sprite-saveto-16x16 { background-position: -273px -238px; width: 16px; height: 16px; }
.sprite-save-16x16 { background-position: -52px -238px; width: 16px; height: 16px; }
.sprite-scripts-16x16 { background-position: -290px -238px; width: 16px; height: 16px; }
.sprite-selectall-16x16 { background-position: -69px -238px; width: 16px; height: 16px; }
.sprite-sendbackward-16x16 { background-position: -307px -238px; width: 16px; height: 16px; }
.sprite-sendbehindtext-16x16 { background-position: -86px -238px; width: 16px; height: 16px; }
.sprite-sendcsv-16x16 { background-position: -324px -238px; width: 16px; height: 16px; }
.sprite-sendimg-16x16 { background-position: -103px -238px; width: 16px; height: 16px; }
.sprite-sendmht-16x16 { background-position: -120px -238px; width: 16px; height: 16px; }
.sprite-sendpdf-16x16 { background-position: -137px -238px; width: 16px; height: 16px; }
.sprite-sendrtf-16x16 { background-position: -154px -238px; width: 16px; height: 16px; }
.sprite-sendtxt-16x16 { background-position: -171px -238px; width: 16px; height: 16px; }
.sprite-sendtoback-16x16 { background-position: -188px -238px; width: 16px; height: 16px; }
.sprite-sendxlsx-16x16 { background-position: -205px -238px; width: 16px; height: 16px; }
.sprite-sendxls-16x16 { background-position: -222px -253px; width: 16px; height: 16px; }
.sprite-send-16x16 { background-position: -1px -255px; width: 16px; height: 16px; }
.sprite-separator-16x16 { background-position: -239px -255px; width: 16px; height: 16px; }
.sprite-showhidden-16x16 { background-position: -18px -255px; width: 16px; height: 16px; }
.sprite-showtestreport-16x16 { background-position: -256px -255px; width: 16px; height: 16px; }
.sprite-showworktimeonly-16x16 { background-position: -35px -255px; width: 16px; height: 16px; }
.sprite-show-16x16 { background-position: -273px -255px; width: 16px; height: 16px; }
.sprite-sidebysiderangebar-16x16 { background-position: -52px -255px; width: 16px; height: 16px; }
.sprite-snaptocells-16x16 { background-position: -290px -255px; width: 16px; height: 16px; }
.sprite-social-facebook-16x16 { background-position: -69px -255px; width: 16px; height: 16px; }
.sprite-social-googleplus-16x16 { background-position: -307px -255px; width: 16px; height: 16px; }
.sprite-social-skype-16x16 { background-position: -86px -255px; width: 16px; height: 16px; }
.sprite-social-twitter-16x16 { background-position: -324px -255px; width: 16px; height: 16px; }
.sprite-solution-16x16 { background-position: -103px -255px; width: 16px; height: 16px; }
.sprite-sortasc-16x16 { background-position: -120px -255px; width: 16px; height: 16px; }
.sprite-sortdesc-16x16 { background-position: -137px -255px; width: 16px; height: 16px; }
.sprite-spellcheckasyoutype-16x16 { background-position: -154px -255px; width: 16px; height: 16px; }
.sprite-splinearea-16x16 { background-position: -171px -255px; width: 16px; height: 16px; }
.sprite-spline-16x16 { background-position: -188px -255px; width: 16px; height: 16px; }
.sprite-splitappointment-16x16 { background-position: -205px -255px; width: 16px; height: 16px; }
.sprite-sqare-16x16 { background-position: -222px -270px; width: 16px; height: 16px; }
.sprite-squeeze-16x16 { background-position: -1px -272px; width: 16px; height: 16px; }
.sprite-stackedarea-16x16 { background-position: -239px -272px; width: 16px; height: 16px; }
.sprite-stackedbar-16x16 { background-position: -18px -272px; width: 16px; height: 16px; }
.sprite-stackedline-16x16 { background-position: -256px -272px; width: 16px; height: 16px; }
.sprite-stackedsplinearea-16x16 { background-position: -35px -272px; width: 16px; height: 16px; }
.sprite-status-16x16 { background-position: -273px -272px; width: 16px; height: 16px; }
.sprite-steparea-16x16 { background-position: -52px -272px; width: 16px; height: 16px; }
.sprite-stepline-16x16 { background-position: -290px -272px; width: 16px; height: 16px; }
.sprite-stretch-16x16 { background-position: -69px -272px; width: 16px; height: 16px; }
.sprite-strikeoutdouble-16x16 { background-position: -307px -272px; width: 16px; height: 16px; }
.sprite-strikeout-16x16 { background-position: -86px -272px; width: 16px; height: 16px; }
.sprite-subscript-16x16 { background-position: -324px -272px; width: 16px; height: 16px; }
.sprite-suggestion-16x16 { background-position: -103px -272px; width: 16px; height: 16px; }
.sprite-summary-16x16 { background-position: -120px -272px; width: 16px; height: 16px; }
.sprite-superscript-16x16 { background-position: -137px -272px; width: 16px; height: 16px; }
.sprite-switchtimescalesto-16x16 { background-position: -154px -272px; width: 16px; height: 16px; }
.sprite-tag-16x16 { background-position: -171px -272px; width: 16px; height: 16px; }
.sprite-task-16x16 { background-position: -188px -272px; width: 16px; height: 16px; }
.sprite-team-16x16 { background-position: -205px -272px; width: 16px; height: 16px; }
.sprite-technology-16x16 { background-position: -222px -287px; width: 16px; height: 16px; }
.sprite-template-16x16 { background-position: -1px -289px; width: 16px; height: 16px; }
.sprite-textbox-16x16 { background-position: -239px -289px; width: 16px; height: 16px; }
.sprite-through-16x16 { background-position: -18px -289px; width: 16px; height: 16px; }
.sprite-tight-16x16 { background-position: -256px -289px; width: 16px; height: 16px; }
.sprite-timelineview-16x16 { background-position: -35px -289px; width: 16px; height: 16px; }
.sprite-time-16x16 { background-position: -273px -289px; width: 16px; height: 16px; }
.sprite-today-16x16 { background-position: -52px -289px; width: 16px; height: 16px; }
.sprite-topandbuttom-16x16 { background-position: -290px -289px; width: 16px; height: 16px; }
.sprite-underlinedouble-16x16 { background-position: -69px -289px; width: 16px; height: 16px; }
.sprite-underlineword-16x16 { background-position: -307px -289px; width: 16px; height: 16px; }
.sprite-underline-16x16 { background-position: -86px -289px; width: 16px; height: 16px; }
.sprite-undo-16x16 { background-position: -324px -289px; width: 16px; height: 16px; }
.sprite-up-16x16 { background-position: -103px -289px; width: 16px; height: 16px; }
.sprite-usergroup-16x16 { background-position: -120px -289px; width: 16px; height: 16px; }
.sprite-vb-16x16 { background-position: -137px -289px; width: 16px; height: 16px; }
.sprite-version-16x16 { background-position: -154px -289px; width: 16px; height: 16px; }
.sprite-video-16x16 { background-position: -171px -289px; width: 16px; height: 16px; }
.sprite-viewonweb-16x16 { background-position: -188px -289px; width: 16px; height: 16px; }
.sprite-watermark-16x16 { background-position: -205px -289px; width: 16px; height: 16px; }
.sprite-weekend-16x16 { background-position: -222px -304px; width: 16px; height: 16px; }
.sprite-weekview-16x16 { background-position: -1px -306px; width: 16px; height: 16px; }
.sprite-windows-16x16 { background-position: -239px -306px; width: 16px; height: 16px; }
.sprite-withtextwrapping-bottomcenter-16x16 { background-position: -18px -306px; width: 16px; height: 16px; }
.sprite-withtextwrapping-bottomleft-16x16 { background-position: -256px -306px; width: 16px; height: 16px; }
.sprite-withtextwrapping-bottomright-16x16 { background-position: -35px -306px; width: 16px; height: 16px; }
.sprite-withtextwrapping-centercenter-16x16 { background-position: -273px -306px; width: 16px; height: 16px; }
.sprite-withtextwrapping-centerleft-16x16 { background-position: -52px -306px; width: 16px; height: 16px; }
.sprite-withtextwrapping-centerright-16x16 { background-position: -290px -306px; width: 16px; height: 16px; }
.sprite-withtextwrapping-topcenter-16x16 { background-position: -69px -306px; width: 16px; height: 16px; }
.sprite-withtextwrapping-topleft-16x16 { background-position: -307px -306px; width: 16px; height: 16px; }
.sprite-withtextwrapping-topright-16x16 { background-position: -86px -306px; width: 16px; height: 16px; }
.sprite-wizard-16x16 { background-position: -324px -306px; width: 16px; height: 16px; }
.sprite-workweekview-16x16 { background-position: -103px -306px; width: 16px; height: 16px; }
.sprite-wraptext-16x16 { background-position: -120px -306px; width: 16px; height: 16px; }
.sprite-zoom100-16x16 { background-position: -137px -306px; width: 16px; height: 16px; }
.sprite-zoom2-16x16 { background-position: -154px -306px; width: 16px; height: 16px; }
.sprite-zoomin-16x16 { background-position: -171px -306px; width: 16px; height: 16px; }
.sprite-zoomout-16x16 { background-position: -188px -306px; width: 16px; height: 16px; }
.sprite-zoom-16x16 { background-position: -205px -306px; width: 16px; height: 16px; }
