@using ESEIM.Utils
@{
    ViewData["Title"] = "Tỷ giá";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";

}
<div id="contentMain" ng-app="App_ESEIM" ng-controller="Ctrl_ESEIM">
    <div  ng-view></div>
</div>
<script src="~/views/admin/fundExchagRate/controller.js" type="text/javascript"></script>
